@import "compass";
@import "../../../../_theme_variables";

/**************************************************************************
		        Style TM Products Slider
**************************************************************************/

#tm-products-slider {
  clear: both;
  .bx-wrapper {
    margin: 0 auto;
    #product-slider {
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        overflow: hidden;
        padding: 51px 0 130px;
        position: relative;
        @media (min-width: $screen-sm-min) {
          padding: 15px 0;
        }
        .slide-wrapper {
          text-align: center;
          .slide-image {
            display: inline-block;
            width: 53%;
            min-width: 290px;
          }
        }
        .slide-info {
          .left-info {
            margin-bottom: 20px;
          }
          .right-info {
            position: absolute;
            bottom: 50px;
            right: 0;
            width: 100%;
            @media (max-width: $screen-xs-max) {
              display: flex;
              justify-content: space-between;
            }
          }
          @media (min-width: $screen-sm-min) {
            .left-info {
              position: absolute;
              top: 13.6%;
              left: 2px;
              max-width: 27%;
            }
            .right-info {
              bottom: auto;
              top: 21.2%;
              text-align: right;
              width: auto;
            }
          }
        }
        .on-sale {
          text-transform: uppercase;
          color: #f00;
          display: inline-block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        .product-name {
          margin: 0 0 26px 0;
          font-size: 34px;
          font-weight: 700;
          line-height: (46 / 34);
          letter-spacing: 0.04em;
          color: $dark-text-color;
          text-transform: uppercase;
          @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
            font-size: 20px;
          }
        }
        .slide-description {
          font: $font-midheading;
          font-style: italic;
          padding-right: 10%;
        }
        .product-price {
          padding-bottom: 15px;
          font-size: 30px;
          font-weight: 700;
          color: $dark-text-color;
          letter-spacing: 0.02em;
          margin: 0;
          @media (min-width: $screen-sm-min) {
            font-size: 36px;
            margin-bottom: 15px;
          }
          @media (min-width: $screen-md-min) {
            margin-bottom: 30px;
            font-size: 40px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 58px;
          }
        }
        .old-product-price {
          display: block;
          text-decoration: line-through;
          font-size: 17px;
          color: $base-text-color;
          font-weight: 400;
          margin-bottom: 0;
          padding-bottom: 5px;
          @media (min-width: $screen-lg-min) {
            font-size: 20px;
            margin-bottom: 9px;
            padding-bottom: 15px;
          }
        }
        .product-price-reduction {
          color: #f00;
          border: 1px solid #f00;
          display: inline-block;
          padding: 2px 3px;
          font-style: italic;
        }
        .button {
          height: 50px;
          @media (max-width: $screen-xs-max) {
            min-width: 170px;
          }
        }
        .product-features {
          background: #fff;
          border: 1px solid #ccc;
          width: 300px;
          padding: 10px;
          margin-bottom: 10px;
          small {
            display: block;
            padding-bottom: 5px;
          }
        }
      }
    }
    .bx-controls {
      margin: 0;
      overflow: hidden;
      .bx-pager {
        overflow: hidden;
        border: 1px solid #ccc;
        float: left;
        margin-right: 5px;
        position: static;
        padding: 0;
        width: auto;
        .bx-pager-item {
          float: left;
          .bx-pager-link {
            float: left;
            display: block;
            padding: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            text-indent: 0;
            border-radius: 0;
            margin: 0;
            background: none;
            &.active,
            &:hover {
              color: #fff;
              background: #333;
              text-decoration: none;
            }
          }
        }
      }
      .bx-controls-direction {
        @media (min-width: $screen-sm-min) {
          position: absolute;
          left: -5px;
          bottom: 50px;
          z-index: 99;
        }
        @media (min-width: $screen-md-min) {
          bottom: auto;
          top: 53.2%;
        }
        a {
          display: block;
          float: left;
          line-height: 1;
          padding: 0 5px;
          position: static;
          margin: 0;
          background: none;
          text-indent: 0;
          height: auto;
          width: auto;
          z-index: 99;
          &:before {
            font-size: 33px;
            color: $dark-text-color;
            @include transition(0.3s all ease);
          }
          &.bx-prev {
            &:before {
              content: '\f104';
            }
          }
          &.bx-next {
            margin-left: 34px;
            &:before {
              content: '\f105';
            }
          }
          &:hover {
            &:before {
              color: $primary-text-color;
            }
          }
          @media (max-width: $screen-xs-max) {
            position: absolute;
            top: auto;
            bottom: 265px;
            &.bx-prev {
              left: 0;
            }
            &.bx-next {
              right: 0;
            }
          }
        }
      }
      .bx-controls-auto {
        float: left;
        position: static;
        width: auto;
        .bx-controls-auto-item {
          float: left;
          a {
            display: block;
            width: 22px;
            height: 22px;
            text-align: center;
            background: none;
            text-indent: 0;
            margin: 0 auto;
            text-decoration: none;
            &:before {
              font-family: 'FontAwesome';
            }
            &.bx-start {
              &:before {
                content: '\f04b';
              }
            }
            &.bx-stop {
              &:before {
                content: '\f04c';
              }
            }
            &.active {
              color: #333;
            }
          }
        }
      }
    }
  }
}
