/*  modified theme by Prestashop  */
/*  2016 (c) design by stoupa.bat | musil jan | www.stoupabat.cz */
/*  www.prodej-cocek.cz */

/* menu */
.top_menu > ul > li > ul.is-simplemenu, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu {
    top: 22px;
}

/* home */
#homepage-slider #homeslider {
    padding-top: 16px;
}
