@import '../../../_theme_variables';
@import "../../../_elements_variables";
@import "../../../_header_modules_variables";
@import "../../../bootstrap_lib/mixins/_gradients";

.sdsarticleCat, #sdsblogArticle, #articleComments, #articleRelated {
  .title_block {
    &:after {
      display: none;
    }
  }

  .post-image {
    display: block;
    position: relative;
    overflow: hidden;
    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      @include gradient-directional(rgba($primary-background, 0.27), rgba($light-background, 0), -30deg);
      opacity: 0;
      @include transition(0.5s all ease);
      z-index: 1;
    }
    img {
      @include transition(.5s);
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

/****************************** Blog blocks styles ********************************/

#latestComments, #blogPopular, #recent_article_smart_blog_block_left {
  .title_block {
    margin-bottom: 0;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  ul {
    li {
      &.last_item {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      a img {
        display: none;
      }
    }
  }
}

#blogPopular,
#recent_article_smart_blog_block_left,
#latestComments,
#articleRelated {
  .info {
    display: block;
    font-style: italic;
    font-size: 12px;
  }
}

#blogPopular#blogPopular {
  .product-content {
    padding-top: 15px;

    .info {
      font-size: 12px;
    }
    p {
      padding-top: 10px;
      font: $font-midheading;
      color: $color-grey-darken;
    }
    h5 > a.post-name {
      font: $font;
    }
  }
}

#latestComments#latestComments {
  .product-content {
    padding-top: 15px;
    a {
      color: $color-grey-darken;
      font-style: italic;
      font-family: $font-primary;
      font-size: 14px;
      &:hover {
        color: $color-dark;
      }
    }

    span.author_comment {
      padding-top: 10px;
      display: block;
      color: $color-primary;
      font: normal 14px/22px $font-custom;
    }
  }
}

/*************************** end Blog blocks styles *******************************/

/*************************** articles listing styles ******************************/

.title_block_exclusive {
  padding: 0 0 0 0;
  margin: 0 0 13px 0;
}

#sdsblogCategory {
  margin-bottom: 30px;
  .imageFeatured {
    float: left;
    margin: 0 20px 10px 0;
  }
}

#smartblogcat {
  margin-bottom: 0;
  padding: 0;

  .sdsarticleCat {
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min) {
      &:nth-child(2n + 1) {
        clear: left;
      }
    }
    .title_block_exclusive {
      font: $font-heading;
      a {
        color: $dark-text-color;
        &:hover {
          color: $primary-text-color;
        }
      }
    }

    .articleContent {

      .post-image {
        @include post-image;

        img {
          width: 100%;
        }
      }

      .sdsarticle-des {
        font: $font-midheading;
        color: $color-grey-darken;
        margin-bottom: 20px;
        p {
          margin-bottom: 7px;
        }
        a.read-more {
          display: inline-block;
          position: relative;
          font-family: $font-custom;
          font-size: 14px;
          color: $primary-text-color;
          text-decoration: none;
          &:before {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            opacity: 0;
            height: 1px;
            background: $primary-background;
            @include transition(0.3s all ease);
          }
          &:hover {
            color: $dark-text-color;
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.articleHeader {
  overflow: hidden;
  margin-bottom: 30px;
  .postInfo {
    font-style: italic;
    font-size: 12px;
    > span {
      padding-right: 10px;
      padding-bottom: 3px;
      display: inline-block;
      font-style: italic;
      font-size: 12px;
      &:first-child {
        padding-left: 10px;
      }
    }
    a {
      font-size: 12px;
      font-style: italic;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

a.read-more {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.post-count {
  float: left;
  padding: 5px 0 0 0;
  font-size: 12px;
  font-style: italic;
}

/*********************** end articles listing styles ******************************/

/************************** article info styles ***********************************/

#sdsblogArticle {

  h1.title_block_exclusive {
    $font: $font-maxheading;
    color: $color-dark;
    font-weight: 600;
    padding-bottom: 15px;
  }
  .post-image {
    @include post-image;
    img {
      width: 100%;
    }
  }

  .sdsarticle-des {
    margin-bottom: 30px;
    font: $font-midheading;
    color: $color-grey-darken;
  }

  .sdstags-update {
    margin-bottom: 30px;
  }

  .block-addthis {
    margin-bottom: 30px;
  }
  @media (max-width: $screen-xs - 1) {
    .addthis_default_style .addthis_counter {
      clear: left;
    }
    .at-share-tbx-element a.at300b, .at-share-tbx-element a.at300b {
      clear: left;
      display: block;
      margin-bottom: 10px;
      width: auto;
    }
  }
}

/************************ end of article info styles ******************************/

#sdsblogArticle .attention img {
  margin: 0 10px;
}

/*************************************** Blog comments *****************************/
#comments #commentTitle {
  display: none;
}

#comments {
  img.avatar {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  li li {
    .well {
      margin-top: 10px;
    }
  }
}

#respond {
  background: #fff;
}

#respond {
  background: #fff;
  h4#reply-title {
    font: $font-heading;
    text-transform: none;
    &:after {
      display: none !important;
    }
    position: relative;
    #cancel-comment-reply-link {
      font-size: 0;
      &:before {
        content: '\f00d';
        font-family: $font-icon;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        right: 20px;
        margin-top: 1px;
      }
    }
  }
}

#respond {
  padding-bottom: 100px;
  width: 66%;
  @media (max-width: $screen-lg) {
    width: 100%;
  }
  #commentInput {
    background: #fff;

    #commentform {
      label {
        position: relative;
        display: inline-block;
        width: 48.4%;
        float: left;
        font-size: 14px;
        .form-control {
          height: 40px;
          padding-left: 15px;
        }

        & + label {
          margin-left: 3.2%;
          @media (max-width: $screen-lg) {
            margin-left: 3%;
          }
        }

        @media (max-width: 479px) {
          width: 100%;
          & + label {
            margin-left: 0;
            margin-top: 5px;
          }
        }
      }

      label.textarea {
        width: 100%;
        margin-left: 0;

        .form-control {
          padding: 15px;
          min-height: 140px;
        }
      }

      div.submit {
        #submitComment.btn {
          margin-top: 25px;
          min-width: 170px;
          font-size: 13px;
          letter-spacing: 0.52px;
        }
      }
    }
  }

  #replyTitle {
    display: none;
  }

  .smartblogcaptcha {
    width: 100px;
  }

  .note {
    color: #888888;
    display: block;
    font-size: 10px;
  }
}

#sdssearch_block_top {
  padding-top: 0;
  @include search-box-style;
  #searchbox {
    @include box-shadow (0px 4px 35px 0px rgba(0, 0, 0, 0.06));
    .btn.button-search {
      left: 15px;
      color: $color-primary;
      &:hover {
        color: $color-dark;
      }
    }
  }
}

ul.commentList ul {
  padding-left: 98px;
  @media (max-width: $screen-lg) {
    padding-left: 15px;
  }
}

#comments .commentList {

  .well {
    background: #fff;
    border: none;
    padding: 0;
    margin-bottom: 10px;

    .comment-content.box {
      background: $color-light;
      border: none;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 10px;

      .box_aside {
        float: left;
        img.avatar {
          border: none;
        }
      }

      .box_cnt__no_flow {
        overflow: hidden;

        .name {
          color: $color-grey-darken;
          padding-right: 20px;
          font-size: 16px;
        }

        .created {
          font-size: 12px;
          font-style: italic;
        }

        .created, .name {
          margin-bottom: 8px;
          display: inline-block;
        }

        .content_comment {
          font: $font-midheading;
          font-size: 16px;
          font-style: italic;
          color: $color-grey-darken;
        }

        .reply {
          margin-top: 15px;
          .btn.comment-reply-link {
            font-size: 14px;
            line-height: 15px;
            color: $color-primary;
            background: none;
            font-weight: 300;
            text-transform: none;
            padding-left: 0;
            padding-right: 0;

            span.fa {
              display: inline-block;
              margin-right: 6px;
            }

            &:hover, &:active, &:focus {
              span {
                color: $color-grey-darken;
              }
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      position: relative;
    }
  }
}

#articleRelated {
  margin-bottom: 15px;

  .block_content {
    ul li {
      p {
        font: $font-midheading;
        color: $color-grey-darken;
      }

    }
  }
  li {
    padding-bottom: 15px;
    .products-block-image {
      @include product-image;
    }
    @media only screen and (min-width: $screen-md-min) {
      &.first-in-line {
        clear: left;
      }
    }
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
    @media only screen and (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      width: 50%;
      float: left;
      text-align: center;
      &.first-item-of-mobile-line {
        clear: left;
      }
    }
    @media only screen and (max-width: $screen-xs-max) {
      .img-responsive {
        width: 100%;
      }
    }
  }
  .products-block-image {
    margin-bottom: 10px;
    display: block;
  }
}





