@import "../../_theme_variables";
@import "../../_elements_variables";

.star {
  display: block;
  position: relative;
  float: left;
  width: 14px;
  overflow: hidden;
  font-size: 13px;
  font-weight: normal;
  a {
    display: block;
    position: absolute;
    text-indent: -5000px;
  }
  &:after {
    @include addIcon('\f005');
    color: darken($light-text-color, 18.04%);
  }
  &.star_on {
    &:after {
      @include addIcon('\f005');
      color: $color-star;
    }
  }
  &.star.star_hover {
    cursor: pointer;
    &:after {
      @include addIcon('\f005');
      color: $dark-text-color;
    }
  }
  & + .star {
    margin-left: 2px;
  }
}

#product_comments_block_extra {
  .comments_note {
    margin-top: 12px;
    margin-bottom: 5px;
    span {
      font-size: 14px;
      color: $dark-text-color;
      margin-right: 10px;
    }
  }
  .comments_note span,
  .star_content {
    float: left;
  }
  .star_content {
    margin-top: 1px;
  }
  .comments_advices {
    clear: both;
  }
}

.comments_advices {
  padding-top: 3px;
  li {
    line-height: 30px;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      //min 768px max 991px
      display: block;
      line-height: 20px;
    }
    & + li {
      margin-top: 6px;
    }
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: $dark-text-color;
    position: relative;
    margin-right: 8px;
    line-height: 30px;
    padding: 0;
    display: inline-block;
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      //min 768px max 991px
      float: none;
      line-height: 20px;
    }
    &:before {
      color: $dark-text-color;
      font-size: 15px;
      font-weight: normal;
      height: 30px;
      line-height: 30px;
      margin-right: 6px;
      text-align: center;
      width: 30px;
      @include transition(0.3s all ease);
      /*max 1199px*/
      @media (max-width: $screen-md-max) {
        display: none;
      }
    }
    &.reviews:before {
      @include addIcon('\f0e5');
    }
    &.open-comment-form:before {
      @include addIcon('\f040');
    }
    &:hover {
      color: $primary-text-color;
      &:before {
        color: $primary-text-color;
      }
    }
    &.reviews {
      padding-right: 30px;
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
        // min 768 max 991
        padding: 0;
      }
    }
  }
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
  width: 585px;
}

#fancybox-content {
  width: 585px;
  border-width: 0;
}

#new_comment_form {
  overflow: hidden;
  color: $base-text-color;
  text-align: left;
  h2 {
    margin-bottom: 10px;
  }
  .title {
    padding: 10px;
    font-size: 13px;
    color: $light-text-color;
    text-transform: uppercase;
    background: $dark-background;
  }
  ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0;
    li {
      width: 50%;
    }
    span {
      display: inline-block;
      padding: 0 10px;
      width: 150px;
      font-weight: bold;
    }
    .cancel {
      margin-right: 5px;
    }
  }
  .product {
    padding: 15px 30px 15px 15px;
    @media (max-width: $screen-xs-max) {
      padding-right: 15px;
    }
    img {
      border: $main_border;
      margin-bottom: 20px;
    }
  }
  .new_comment_form_content {
    @include box-style;
    margin-left: -15px;
    @media (max-width: $screen-xs-max) {
      //max 767px
      padding-left: 35px;
      padding-right: 35px;
      margin-left: 0;
    }
    .intro_form {
      padding-bottom: 10px;
      font-weight: bold;
      font-size: 12px;
    }
  }
  label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
  }
  input,
  textarea {
    width: 100%;
    background: $light-background;
  }
  textarea {
    height: 80px;
  }
  .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right;
  }

  #criterions_list {
    border-bottom: $main_border;
    padding-bottom: 15px;
    list-style-type: none;
    li {
      margin-bottom: 10px;
    }
    label {
      display: inline;
      float: left;
      margin: 0 10px 0 0;
    }
    .star_content {
      float: left;
    }
  }
  #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
  }
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
  margin: 0 0 20px 0;
  padding-left: 3px;
  padding-right: 3px;
  div.comment {
    margin: 0 0 14px;
    padding-top: 20px;
    &:first-child {
      padding: 0;
      border: none;
    }
    .comment_author {
      padding: 0;
      line-height: 18px;
      @include clearfix;
      .author_name {
        display: inline-block;
        float: left;
        font-size: 16px;
        font-weight: 400;
        color: $dark-text-color;
        margin-right: 17px;
      }
      .star_content {
        display: inline-block;
        float: left;
        vertical-align: middle;
        margin: 0 0 0 5px;
      }
      .date_published {
        float: right;
        font-family: $font-primary;
        font-size: 12px;
        font-style: italic;
        @media (max-width: $screen-xs-min - 1) {
          float: left;
          clear: left;
          margin-top: 10px;
        }
      }
    }
    .comment_details {
      overflow: hidden;
      margin-top: 10px;
      font-size: 14px;
      .title_block {
        font-weight: 700;
        margin-bottom: 5px;
      }
      .usefulness_btn, .report_btn {
        background: none;
        border: none;
        color: $primary-text-color;
        text-decoration: underline;
        @include transition(0.3s all ease);
        &:hover {
          color: $dark-text-color;
        }
      }
      h6, p {
        font-family: $font-primary;
        font-style: italic;
        line-height: (22 / 14);
        color: $color-grey-darken;
      }
      ul {
        li + li {
          margin-top: 5px;
        }
      }
    }
  }
  .comment_author_infos {
    clear: both;
    padding-top: 14px;
  }
  a {
    text-decoration: none;
    font-weight: bold;
  }

  span.report_btn {
    cursor: pointer;
  }
  span.report_btn:hover {
    text-decoration: underline;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}
