@import "../../_theme_variables";
@import "../../_elements_variables";

#left_column #layered_block_left {
  .title_block {
    &:after {
      display: none;
    }
  }
}

#layered_block_left {
  margin-bottom: 16px;
  .title_block {
    margin-bottom: 18px;
    font-size: 24px;
    &:after {
      display: none;
    }
  }
  #layered_form {
    .layered_subtitle {
      font-size: 16px;
      letter-spacing: 0.02em;
      color: $dark-text-color;
    }
    #enabled_filters {
      padding: 24px 31px 14px 28px;
      margin-bottom: 35px;
      @include box-shadow (0px 4px 35px 0px rgba(0, 0, 0, 0.06));
      @media (max-width: $screen-xs-max) {
        margin: -33px -28px 35px;
      }
      ul {
        padding: 9px 0;
        li {
          padding: 4px 0;
          font-size: 14px;
          span {
            color: $primary-text-color;
          }
          a {
            float: right;
            cursor: pointer;
            color: $color-warning;
            &:hover {
              color: $dark-text-color;
            }
          }
        }
      }
    }
    .layered_filter {
      margin-top: 17px;
      overflow: hidden;
      margin-bottom: 15px;
      .layered_filter_ul.color-group {
        @include color-pick-list;
        padding-top: 19px;
        padding-left: 3px;
        li {
          border-radius: 50%;
          padding: 0;
          position: relative;
          > input {
            z-index: 2;
            padding: 0;
          }
          &:after {
            display: block;
            position: absolute;
            content: '';
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            border: 1px solid $color-gray;
            border-radius: 50%;
            @include transition(0.2s all ease);
            z-index: 1;
          }
          &.on, &:hover {
            &:after {
              top: -3px;
              left: -3px;
              bottom: -3px;
              right: -3px;
            }
          }
        }
      }
    }
    .layered_price {
      margin: 0 -30px;
      > * {
        padding-left: 30px;
        padding-right: 40px;
      }
      ul {
        li.layered_list {
          float: left;
          clear: left;
        }
      }
    }
    ul {
      clear: both;
      padding: 9px 0;
      margin: 0;
      max-height: 250px;
      outline: none;

      li {
        padding: 3px 0;
        list-style-type: none;
        font-size: 14px;
        label {
          margin-bottom: 1px;
        }
        a {
          font-size: 14px;
          color: inherit;
          &:hover {
            color: $primary-text-color;
          }
        }
        &.disabled {
          color: #666;
        }
        &.layered_list {
          display: block;
          cursor: pointer;
          &.layered_list_selected, &:hover {
            font-weight: bold;
          }
        }
        .form-group {
          display: inline-block;
          &.first-item {
            margin-right: 9px;
          }
          .form-label {
            margin-right: 3px;
          }
          .form-control {
            display: inline-block;
            width: 80px;
            height: 40px;
          }
        }
      }
      .selector {
        margin-bottom: 15px;
      }
      .layered_slider_container {
        position: relative;
        padding-bottom: 30px;
        margin: 18px 0 6px 10px;
        width: 89%;
        .ui-widget-content {
          border: none;
          background: darken($light-background, 6.667%);
          height: 8px;
          border-radius: 2px;
          .ui-widget-header {
            background: $primary-background;
            border-radius: 2px;
          }
          .ui-state-default {
            border: 4px solid $color-light;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            background: $primary-background;
            @include box-shadow(0px 2px 7px 0px rgba(0, 0, 0, 0.16));
          }
        }
        .layered_slider {
          margin-top: 5px;
        }
        > span {
          display: inline-block;
          position: absolute;
          bottom: 0;
          background: $light-background;
          @include translate(-50%, 0);
          font-size: 14px;
          @include transition(0.3s all ease);
        }
        @media (max-width: $screen-xs-max) {
          padding-bottom: 40px;
          .ui-widget-content {
            .ui-state-default {
              width: 36px;
              height: 36px;
              border-width: 8px;
              top: -15px;
            }
          }
        }
      }
    }
    .form-group {
      margin-top: 15px;
      margin-bottom: 0;
      &:first-child {
        margin-top: 0;
      }
      .form-label {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
    .hide-action {
      text-align: right;
      display: block;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
  #layered_ajax_loader p {
    margin: 20px 0;
    text-align: center;
  }
  #filter-toggle {
    @media (min-width: $screen-sm-min) {
      display: none;
    }
  }
  @media (max-width: $screen-xs-max) {
    .title_block {
      display: none;
    }
    #filter-toggle {
      display: inline-block;
      position: absolute;
      top: -14px;
      left: 10px;
      cursor: pointer;
      @include transition(0.3s all ease);
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding: 2px 15px;
      min-width: 135px;
      text-align: center;
      color: $dark-text-color;
      border: 2px solid $primary-border-color;
      border-radius: $border-radius-base;
      &:hover {
        color: $light-text-color;
        background: $primary-background;
      }

      &:after {
        content: '';
        @include popup-overlay-style;
        cursor: default;
        @include transition(0.3s all ease);
        visibility: hidden;
        opacity: 0;
      }
      .filter-close {
        display: block;
        visibility: hidden;
        &:before {
          display: block;
          position: fixed;
          left: 286px;
          top: 50px;
          content: "\e00a";
          font-family: 'fl-free-chaos';
          font-size: 18px;
          line-height: 1;
          font-weight: 400;
          font-style: normal;
          color: $light-text-color;
          z-index: 99991;
          cursor: pointer;
          opacity: 0;
          @include transition(0.3s ease);
          transition-property: color, opacity;
          -webkit-transition-delay: 0s, 0.6s;
          transition-delay: 0s, 0.6s;
        }
        &:hover {
          &:before {
            color: $primary-text-color;
          }
        }
      }
      &.active {
        &:after {
          visibility: visible;
          opacity: 1;
        }
        .filter-close {
          visibility: visible;
          &:before {
            opacity: 1;
          }
        }
      }
    }
    .block_content {
      display: block;
      width: 270px;
      z-index: 99999;
      position: fixed;
      left: -270px;
      top: 0;
      background: $light-background;
      text-align: left;
      padding: 33px 28px;
      height: 100vh;
      overflow-y: scroll;
      @include transition(0.7s left ease);
      &.active {
        left: 0;
      }
    }
  }
}