@import "../../_theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
  .form-group {
    margin-bottom: 0;
    .form-control {
      max-width: 100%;
      display: block;
      margin-right: 6px;
      margin-bottom: 10px;
    }
    &.email-error {
      .form-control {
        border-color: #f00;
      }
    }
    &.email-valid {
      .form-control {
        border-color: #0C3;
      }
    }
  }
  .success_inline, .warning_inline {
    text-align: left;
    padding: 1px 0 0 0;
    margin-bottom: -19px;
  }
  .success_inline {
    color: $color-succes;
  }
  .warning_inline {
    color: $color-warning;
  }
}

/* Block newsletter footer */
#footer {
  #newsletter_block_left {
    overflow: hidden;
    margin-top: 64px;
    margin-bottom: 0;
    @media (max-width: $screen-xs-max) { // max 767px 
      margin-top: 18px;
    }

    h4 {
      margin-bottom: 16px;
      &:after {
        display: none;
      }
    }
    p {
      font: $font-midheading;
      letter-spacing: 0;
      margin-bottom: 16px;
    }

    .block_content {
      overflow: hidden;
      max-width: 500px;
    }

    .form-group {
      margin-bottom: 0;
      position: relative;
      .form-control {
        height: 50px;
        line-height: 30px;
        background: none;
        border: 1px solid darken($color-light, 7.84%);
        border-radius: $border-radius-base;
        padding: 5px 12px;
        display: block;
        text-align: center;
      }
      .btn-sm {
        display: block;
        color: $light-text-color;
        background: $primary-background;
        position: relative;
        overflow: hidden;
        padding: 17px 20px;
        margin-top: 4px;
        width: 100%;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        border-radius: $border-radius-base;
        text-align: center;
        @include transition(0.5s all ease);
        z-index: 1;
        &:before,
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 0 0;
          position: absolute;
          @include transition(0.5s all ease);
          z-index: -1;
        }
        &:before {
          border-color: transparent transparent transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
          bottom: 0;
          left: 0;
        }
        &:after {
          border-color: transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
          top: 0;
          right: 0;
        }
        &:hover {
          &:before {
            border-width: 290px 0 0 290px;
          }
          &:after {
            border-width: 0 290px 290px 0;
          }
        }
      }
    }
    .warning_inline {
      display: block;
      color: $color-warning;
      font-size: 13px;
      line-height: 26px;
      clear: both;
      @media (min-width: $screen-lg) { // min 1200px
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none;
      }
    }
    .form-group {
      &.email-error .form-control {
        border-color: #f00;
      }
      &.email-valid .form-control {
        border-color: #0C3;
      }
    }
  }
}

#newsletter_block_left {
  p.alert {
    margin: 10px 0;
    padding-left: 35px;
    &:before {
      display: none;
    }
    .close {
      font-size: 21px;
      position: absolute;
      left: 10px;
      top: 13px;
      font-weight: normal;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
      color: $color-warning;
    }
    &.alert-success {
      .close {
        color: $color-succes;
      }
    }
  }
}