@import "../../_theme_variables";
@import "../../_header_modules_variables";
@import "../../_elements_variables";

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/

#header {
  .shopping_cart_block {
    float: right;
    @media (max-width: $screen-xs-max) {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      line-height: 1;
      width: 25%;
      padding-top: 30px;
      text-align: center;
      .shopping_cart {
        display: inline-block;
        float: none;
        padding: 0;
        > a:first-child {
          color: inherit;
          &:hover {
            color: $primary-text-color;
          }
        }
      }
      > * {
        text-align: left;
      }
    }
  }
  .shopping_cart {
    position: relative;
    float: right;
    padding-top: 10px;
  }
  .cart_block {
    margin-top: 13px;
    @include hm-drop-down-box;
    padding: 0;
    .cart_block_list {
      padding: 0;
    }
  }
  .block_content {
    margin-bottom: 0;
  }
}

/*******************************************************************
					Cart Block(MAIN) Styles
********************************************************************/

.shopping_cart {
  > a:first-child {
    display: block;
    font: $font-subheading;
    overflow: hidden;
    border: none;
    color: $dark-text-color;
    line-height: 1;
    span.ajax_cart_product_txt, span.ajax_cart_product_txt_s {
      @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
        display: none !important;
      }
    }
    b {
      padding-right: 5px;
    }
    &:before {
      @include addFlIcon('\e04f', 28px);
      line-height: 1;
    }
    &:hover, &:focus {
      color: $primary-text-color;
    }
  }
  .ajax_cart_total {
    display: none !important;
  }
  .block_cart_expand, .block_cart_collapse {
    &:after {
      @include addIcon('\f0d7');
      float: right;
    }
  }
  .block_cart_collapse {
    &:after {
      @include addIcon('\f0d8');
    }
  }
  &.active {
    > a:first-child {
      color: $primary-text-color;
    }
  }
}

/*******************************************************************
					Cart Block(Drop Down Box) Styles
********************************************************************/

.cart_block {
  @include hm-drop-down-box;
  width: 270px !important;
  position: static;
  display: block;
  padding: 0;
  .cart_block_list {
    padding: 15px;
    dl {
      margin: 0;
      a {
        color: $base-text-color;
        &:hover {
          color: $primary-text-color;
        }
      }
    }
    dt {
      border-bottom: 1px solid $base-border-color;
      &.first_item {
        background: none;
      }
    }
    .remove_link {
      font-size: 14px;
      line-height: 1;
      position: absolute;
      right: 15px;
      top: 19px;
    }
    .remove_link a,
    .ajax_cart_block_remove_link {
      color: $color-gray;
      &:before {
        @include addIcon('\f1f8');
      }
      &:hover {
        color: $primary-text-color;
      }
    }
    .product-atributes {
      padding-top: 2px;
      font-size: 11px;
    }
  }
  .price {
    margin-top: 0;
  }
  .cart-images {
    @include product-image;
    float: left;
    margin-right: 16px;
    max-width: 23%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 30px;
    .quantity-formated {
      display: inline-block;
    }
    .price {
      font-size: 14px;
      line-height: 1.7;
    }
  }
  dt {
    font-weight: normal;
    overflow: hidden;
    position: relative;
    padding: 17px;
    .product-name {
      color: $hm-text-color-primary;
      font-family: $font-custom;
      font-size: 13px;
      line-height: 16px;
      padding-bottom: 1px;
      a {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  dd {
    position: relative;
    .cart_block_customizations {
      border: 1px solid $hm-lighten-secondary;
      margin-top: 10px;
      li {
        padding: 10px 20px;
        .deleteCustomizableProduct {
          position: absolute;
          right: 10px;
        }
      }
    }
  }
  .cart_block_no_products {
    margin: 0;
    padding: 10px 20px;
  }
  .cart-prices {
    padding: 10px 20px 8px;
    color: $dark-text-color;
    font-size: 15px;
    .cart-prices-line {
      overflow: hidden;
      padding: 5px 0;
      &.last-line {
        border: none;
      }
    }
    .price {
      font-size: 15px;
      line-height: 1.5;
    }
  }
  .cart-buttons {
    overflow: hidden;
    padding: 0 20px 20px;
    margin: 0;
    .btn {
      width: 100%;
      padding: 17px 15px;
      letter-spacing: 0.04em;
      position: relative;
      overflow: hidden;
      @include transition(0.5s all ease);
      &:before,
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0 0;
        position: absolute;
        @include transition(0.5s all ease);
        z-index: -1;
      }
      &:before {
        border-color: transparent transparent transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
        bottom: 0;
        left: 0;
      }
      &:after {
        border-color: transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
        top: 0;
        right: 0;
      }
      &:hover {
        &:before {
          border-width: 250px 0 0 250px;
        }
        &:after {
          border-width: 0 250px 250px 0;
        }
      }
    }
  }
  .cart_block_shipping_cost,
  .cart_block_tax_cost,
  .cart_block_total,
  .cart_block_wrapping_cost {
    float: right
  }
  table.vouchers {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    tr td {
      padding: 2px;
      &.quantity {
        margin-right: 5px;
        min-width: 18px
      }
      &.delete {
        padding-left: 0;
        padding-right: 0;
        text-align: right;
        width: 15px;
      }
    }
  }
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  @include popup-overlay-style;
  display: none;
}

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  @include opacity(.20)
}

#layer_cart {
  @include popup-box-style;
  display: none;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  width: 90%;
  max-width: 971px;
  overflow: hidden;
  > div {
    position: relative;
  }
  .layer_cart_product {
    padding: 30px 30px 35px 40px;
    overflow: hidden;
    position: static;
    .title {
      display: block;
      font-size: 24px;
      line-height: (34 / 24);
      color: $dark-text-color;
      margin: 0 0 15px;
      @media (max-width: $screen-xs-max) { // max 767px
        font-size: 18px;
        padding-right: 0;
        line-height: normal;
      }
    }
    .product-image-container {
      @include product-image;
      padding: 5px 25%;
      float: left;
      max-width: 100%;
      margin-bottom: 10px;
      @media (max-width: $screen-xs) { // max 480px
        float: none;
        margin-right: 0;
      }
      @media (min-width: $screen-md-min) {
        padding: 5px 14%;
      }
    }
    .layer_cart_product_info {
      padding: 38px 0 0 0;
      #layer_cart_product_title {
        display: block;
        padding-bottom: 5px;
      }
      #layer_cart_product_attributes {
        display: inline-block;
        font-family: $font-primary;
        font-size: 12px;
        font-style: italic;
        margin-bottom: 16px;
      }
      > div {
        strong {
          display: inline-block;
          padding-right: 5px;
          color: $dark-text-color;
          font-size: 14px;
          font-weight: 400;
          min-width: 103px;
        }
        span {
          font-size: 14px;
          font-weight: 700;
          color: $dark-text-color;
        }
      }
    }
  }
  .layer_cart_cart {
    padding: 30px 39px 170px 40px;
    position: relative;
    background: darken($light-background, 3.922%);
    @media (min-width: $screen-xs-min) {
      padding-bottom: 130px;
    }
    @media (min-width: $screen-md-min) {
      position: absolute;
      width: 50%;
      top: 0;
      right: 0;
      bottom: 0;
    }
    @media (min-width: $screen-lg) { // min 1200px
      min-height: 350px;
    }
    @media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
      min-height: 360px;
    }
    .title {
      display: block;
      font-size: 24px;
      line-height: (34 / 24);
      color: $dark-text-color;
      padding-bottom: 19px;
      @media (max-width: $screen-xs-max) { // max 767px
        font-size: 18px;
      }
      .ajax_cart_quantity {
        color: $primary-text-color;
      }
    }
    .layer_cart_row {
      padding: 0;
      display: flex;
      justify-content: space-between;
      strong {
        padding-right: 10px;
      }
      strong, span {
        font-size: 14px;
        font-weight: 400;
        color: $dark-text-color;
      }
      span {
        font-weight: 700;
      }
    }
    .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 40px 29px;
      text-align: center;
      @media (min-width: $screen-xs-min) {
        display: flex;
        justify-content: space-between;
      }
      .btn {
        font-size: 13px;
        letter-spacing: 0.04em;
        margin-bottom: 10px;
        padding: 17px 12px;
        background: none;
        position: relative;
        overflow: hidden;
        border: none;
        box-shadow: inset 0 0 0 2px lighten(desaturate(adjust_hue($color-primary, -20.915), 36.222%), 36.274%);
        min-width: 46%;
        @include transition(0.3s);
        &:before,
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
          @include transition(0.3s);
          z-index: -1;
        }
        &:before {
          border-width: 165px 0 0 165px;
        }
        &:after {
          border-width: 0 165px 165px 0;
        }
        &:before {
          border-color: transparent transparent transparent $color-primary;
          bottom: 0;
          left: 0;
        }
        &:after {
          border-color: transparent $color-primary transparent transparent;
          top: 0;
          right: 0;
        }
        &:hover {
          color: $primary-text-color;
          &:before,
          &:after {
            border-width: 0 0 0 0;
          }
        }
        &.continue {
          background: none;
          color: $primary-text-color;
          &:before,
          &:after {
            border-width: 0 0 0 0;
          }
          &:hover {
            color: $light-text-color;
            &:before {
              border-width: 165px 0 0 165px;
            }
            &:after {
              border-width: 0 165px 165px 0;
            }
          }
        }
      }
      span.btn-md {
        margin-right: 5px;
      }
    }
  }
  .cross {
    @include popup-close-button;
  }
  p {
    padding: 0;
  }
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart {
  .crossseling {
    .crossseling-content {
      border-top: 1px solid $base-border-color;
      padding: 26px 30px 40px 30px;
      position: relative;
    }
    h2 {
      font: $font-heading;
      color: $base-text-color;
      margin-bottom: 25px;
    }
    #blockcart_list {
      max-width: 773px;
      width: 84%;
      margin: 0 auto;
      overflow: hidden;
      ul {
        display: block;
        li {
          float: left;
          width: 178px;
          margin: 0 0 0 0;
          .product-image-container {
            border: 1px solid $base-border-color;
            text-align: center;
            padding: 5px;
            margin-bottom: 15px;

            img {
              width: 100%;
            }
          }
          .product-name {
            padding-bottom: 5px;
          }
        }
      }
      a.bx-prev,
      a.bx-next {
        display: block;
        font-family: $font-icon;
        font-size: 20px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        color: $base-text-color;
        text-indent: -5000px;
        position: absolute;
        top: 45%;
        margin-top: -20px;
        &:after {
          display: block;
          text-indent: 0;
        }
        &:hover {
          color: $dark-text-color;
        }
        &.disabled {
          display: none;
        }
      }
      a.bx-prev {
        left: 5%;
        &:after {
          @include addIcon('\f137');
        }
      }
      a.bx-next {
        right: 5%;
        &:after {
          @include addIcon('\f138');
        }
      }
      .bx-controls {
        overflow: hidden;
      }
    }
  }
}