
                                                                                    <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td align="center" style="padding:7px 0;">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;"><a title="{shop_name}" style="color:#337ff1;" href="{shop_url}"> <img alt="{shop_name}" src="{shop_logo}" /></a></td>
</tr><tr><td align="center" class="titleblock" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Dobrý den {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">děkujeme vám za nákup na {shop_name}!</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">objednávka {order_name} - očekává platbu</p>
<span style="color:#777;"> Vaše objednávka č. <span style="color:#333;"><strong>{order_name}</strong></span> byla úspěšně přijata a <strong>bude odeslána jakmile obdržíme Vaši platbu.</strong> </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Zvolili jste platbu.</p>
<span style="color:#777;"> Podklady pro paltbu:<br /><span style="color:#333;"><strong>Částka:</strong></span> {total_paid}<br /><span style="color:#333;"><strong>Payable to the order of:</strong></span> {cheque_name}<br /><span style="color:#333;"><strong>Please mail your check to:</strong></span> {cheque_address_html} </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> You can review your order and download your invoice from the <a style="color:#337ff1;" href="{history_url}">"Order history"</a> section of your customer account by clicking <a style="color:#337ff1;" href="{my_account_url}">"My account"</a> on our shop. </span> </span></td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> </span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> powered by <a style="color:#337ff1;" href="http://www.prestashop.com/">PrestaShop™</a></span></td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table><p></p>




















