
                                                                <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td align="center" style="padding:7px 0;">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;"><a title="{shop_name}" style="color:#337ff1;" href="{shop_url}"> <img alt="{shop_name}" src="{shop_logo}" /></a></td>
</tr><tr><td align="center" class="titleblock" style="padding:7px 0;"><span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Dobrý den {firstname} {lastname},</span></td>
</tr><tr><td class="linkbelow" style="padding:7px 0;">{message}</td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> powered by <a style="color:#337ff1;" href="http://www.prestashop.com/">PrestaShop™</a></span></td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table>