
                                                                                                            <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td align="center" style="padding:7px 0;">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;"><a title="{shop_name}" style="color:#337ff1;" href="{shop_url}"> <img alt="{shop_name}" src="{shop_logo}" /></a></td>
</tr><tr><td align="center" class="titleblock" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Dobrý den {firstname} {lastname},</span><br /><span class="subtitle" style="font-weight:500;font-size:16px;text-transform:uppercase;line-height:25px;">Děkujeme Vám za nákup na {shop_name}!</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">SHRNUTÍ OBJEDNÁV</p>
<span style="color:#777;"> <span style="color:#333;"><strong>Objednávka:</strong></span> {id_order} z {date}<br /><br /><span style="color:#333;"><strong>Platba:</strong></span> {payment} </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<table class="table table-recap" style="width:100%;border-collapse:collapse;" bgcolor="#ffffff"><!-- Title --><tbody><tr><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">Kód</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">x</th><th width="17%" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">Jedn. cena</th><th style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">Počet</th><th width="17%" style="border:1px solid #D6D4D4;background-color:#fbfbfb;color:#333;font-family:Arial;font-size:13px;padding:10px;" bgcolor="#f8f8f8">Celková cena</th></tr><tr><td style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;" colspan="5">  {products}</td>
</tr><tr><td style="border:1px solid #D6D4D4;text-align:center;color:#777;padding:7px 0;" colspan="5">  {discounts}</td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Produkty</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td align="right" style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_products} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Sleva</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_discounts} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Dárkové balení</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_wrapping} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Doručení</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_shipping} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Celková daň</strong></span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> {total_tax_paid} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr><tr class="conf_body"><td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <strong>Celkem zaplaceno</strong> </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
<td style="border:1px solid #D6D4D4;color:#333;padding:7px 0;" bgcolor="#f8f8f8" colspan="4">
<table class="table" style="width:100%;border-collapse:collapse;"><tbody><tr><td width="10" style="color:#333;padding:0;"> </td>
<td align="right" style="color:#333;padding:0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:large;"> {total_paid} </span></td>
<td width="10" style="color:#333;padding:0;"> </td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Doručení</p>
<span style="color:#777;"> <span style="color:#333;"><strong>Dopravce:</strong></span> {carrier}<br /><br /><span style="color:#333;"><strong>Platba:</strong></span> {payment} </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td style="padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="310" class="box address" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">Doručovací adresa:</p>
<span style="color:#777;"> {delivery_block_html} </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
<td width="20" class="space_address" style="padding:7px 0;"> </td>
<td width="310" class="box address" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">FAKTURČNÍ ADREsA</p>
<span style="color:#777;"> {invoice_block_html} </span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> Zde si můžete prohlédnout Vaši objednávku v sekci  <a style="color:#337ff1;" href="{history_url}">"Historie objednávek"</a> svého zákaznického účtu <a style="color:#337ff1;" href="{my_account_url}">"Můj účet"</a> v našem eshopu. </span> </span></td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> </span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> powered by <a style="color:#337ff1;" href="http://www.prestashop.com/">PrestaShop™</a></span></td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table><p></p>


























