
                            <table class="table table-mail" style="width:100%;margin-top:10px;"><tbody><tr><td class="space" style="width:20px;padding:7px 0;"> </td>
<td align="center" style="padding:7px 0;">
<table class="table" style="width:100%;" bgcolor="#ffffff"><tbody><tr><td align="center" class="logo" style="border-bottom:4px solid #333333;padding:7px 0;"><a title="{shop_name}" style="color:#337ff1;" href="{shop_url}"> <img alt="{shop_name}" src="{shop_logo}" /></a></td>
</tr><tr><td align="center" class="titleblock" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span class="title" style="font-weight:500;font-size:28px;text-transform:uppercase;line-height:33px;">Dobrý den {firstname} {lastname},</span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="box" style="border:1px solid #D6D4D4;background-color:#f8f8f8;padding:7px 0;">
<table class="table" style="width:100%;"><tbody><tr><td width="10" style="padding:7px 0;"> </td>
<td style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> </span>
<p style="border-bottom:1px solid #D6D4D4;margin:3px 0 7px;text-transform:uppercase;font-weight:500;font-size:18px;padding-bottom:10px;">objednávka {order_name} - chyba při zpracování platby</p>
<span style="color:#777;">Problém s platbou pro <strong><span style="color:#333;">{shop_name}</span></strong> k objednávce č. <strong><span style="color:#333;">{order_name}</span></strong>. <span class="short_text" id="result_box" lang="cs" xml:lang="cs"><span>Prosím, kontaktujte nás</span> <span>co nejdříve</span><span>. </span></span><span class="trans-verified-button goog-toolbar-button" id="t-served-community-button"><span class="jfk-button-img"></span></span><span lang="cs" xml:lang="cs"><span>Nemůžeme</span> poslat<span> Vaši objednávku</span><span>, dokud neobdržíme</span> <span>vaši platbu.</span></span><span class="trans-verified-button goog-toolbar-button"><span class="jfk-button-img"></span></span><br /></span></td>
<td width="10" style="padding:7px 0;"> </td>
</tr></tbody></table></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> Zde si můžete prohlédnout Vaši objednávku v sekci <a style="color:#337ff1;" href="{history_url}">"Historie objednávek"</a> svého zákaznického účtu kliknutím na <a style="color:#337ff1;" href="{my_account_url}">"Můj účet"</a> v našem eshopu. </span> </span></td>
</tr><tr><td class="linkbelow" style="padding:7px 0;"><span style="color:#555454;font-family:'Open-sans', sans-serif;font-size:small;"> <span> </span> </span></td>
</tr><tr><td class="space_footer" style="padding:0;"> </td>
</tr><tr><td class="footer" style="border-top:4px solid #333333;padding:7px 0;"><span><a style="color:#337ff1;" href="{shop_url}">{shop_name}</a> powered by <a style="color:#337ff1;" href="http://www.prestashop.com/">PrestaShop™</a></span></td>
</tr></tbody></table></td>
<td class="space" style="width:20px;padding:7px 0;"> </td>
</tr></tbody></table><p></p>






