@import "../../../_theme_variables";

/* Top hook CSS */
#htmlcontent_top {
  margin-bottom: 30px;
  ul {
    li {
      margin-top: 6px;
      @media (max-width: $screen-xs-min - 1) {
        width: 100%;
      }
      > div {
        display: block;
        padding-bottom: 79.64%;
        position: relative;
        overflow: hidden;
        @media (min-width: $screen-lg-min) and (max-width: 1239px) {
          height: 202px;
        }
        .item-img {
          position: absolute;
          left: 50%;
          top: 50%;
          @include translate(-50%, -50%);
          height: 100%;
          width: auto;
        }
        .item-html {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          line-height: 1.2;
          color: $dark-text-color;
          padding: 29px 38px;
          @media (min-width: $screen-md-min) and (max-width: 1510px), (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
            padding: 13px 20px;
          }
          .block-center {
            text-align: center;
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            @include translate(0, -50%);
          }
          .white-text {
            color: $light-text-color;
            a {
              color: $light-text-color;
            }
          }
          h2 {
            font-size: 78px;
            font-weight: 700;
            letter-spacing: 0.04em;
            line-height: 1;
            text-transform: uppercase;
            margin: 0;
          }
          h3 {
            font-size: 47px;
            font-weight: 400;
            margin-top: 13px;
            color: $color-dark;
          }
          h4 {
            font-size: 16px;
            font-family: $font-primary;
            font-style: italic;
            line-height: 1.4;
            color: $color-dark;
          }
          p {
            font-size: 24px;
            font-family: $font-primary;
            font-style: italic;
            margin-bottom: 22px;
          }
          @media (min-width: $screen-md-min) and (max-width: 1849px), (min-width: $screen-xs-min) and (max-width: $screen-xs-max), (max-width: $screen-xs-min - 1) {
            p {
              font-size: 20px;
              margin-bottom: 10px;
            }
            h2 {
              font-size: 64px;
            }
            h3 {
              font-size: 32px;
            }
            h4 {
              font-size: 14px;
            }
          }
          @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            h3 {
              font-size: 28px;
            }
          }
          @media (min-width: $screen-xs-min) and (max-width: 500px) {
            h3 {
              font-size: 22px;
            }
          }
          a {
            display: inline-block;
            position: relative;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $color-dark;
            padding-right: 14px;
            margin-top: 8px;
            @include transition(0.3s all ease);
            &:before {
              @include addIcon('\f105');
              position: absolute;
              top: -1px;
              right: 0;
              @include transition(0.3s right ease);
            }
            &:hover {
              &:before {
                right: -5px;
              }
            }
          }
        }
      }

      &.htmlcontent-item-4 {
        > div .item-html {
          h3,
          h4 {
            color: $color-light
          }
          a {
            color: $color-light
          }
        }
      }
    }
    @media (min-width: $screen-lg-min) {
      margin-top: -6px;
    }
  }
}

/* Left hook CSS */
#htmlcontent_left {
}

/* Right hook CSS */
#htmlcontent_right {
}

/* Home hook CSS */
#htmlcontent_home {
  ul {
    background: darken($light-background, 20%);
    margin: 0;
    li {
      .item-html {
        display: block;
        padding: 14% 10%;
        color: $color-light;
        position: relative;
        @media (max-width: 579px) {
          color: $color-light;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($light-background, 0.5);
            z-index: -1;
          }
        }
        @media (min-width: 580px) {
          padding-left: 10%;
          padding-right: 45%;
        }
        @media (min-width: $screen-sm-min) {
          padding: 11% 40% 13% 15%;
        }
        @media (min-width: $screen-lg-min) {
          padding: 188px 40% 201px 20%;
        }
        h4 {
          font-size: 26px;
          font-family: $font-primary;
          font-style: italic;
          line-height: 1.4;
          letter-spacing: 0;
          margin-bottom: 2px;
          color: $color-dark;
        }
        h2 {
          font-size: 52px;
          font-weight: 400;
          letter-spacing: 0.04em;
          line-height: 1.2;
          margin-top: 0;
          margin-bottom: 38px;
          text-transform: uppercase;
          color: $color-dark;
          @media (max-width: $screen-xs - 1) { // max 479px
            font-size: 45px;
          }

          small {
            display: block;
            font-size: 24px;
            line-height: 1.5;
            font-weight: 400;
            letter-spacing: 0.04em;
            margin-top: 10px;
            color: $color-dark;
          }
        }
        @media (min-width: $screen-md-min) {
          h4 {
            font-size: 26px;
          }
          h2 {
            font-size: 52px;
            small {
              font-size: 24px;
            }
          }
        }
        a {
          display: inline-block;
          color: $light-text-color;
          background: $primary-background;
          position: relative;
          overflow: hidden;
          padding: 14px 20px;
          min-width: 170px;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          border-radius: $border-radius-base;
          text-align: center;
          @include transition(0.5s all ease);
          z-index: 1;
          &:before,
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 0 0;
            position: absolute;
            @include transition(0.5s all ease);
            z-index: -1;
          }
          &:before {
            border-color: transparent transparent transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
            bottom: 0;
            left: 0;
          }
          &:after {
            border-color: transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
            top: 0;
            right: 0;
          }
          &:hover {
            &:before {
              border-width: 170px 0 0 170px;
            }
            &:after {
              border-width: 0 170px 170px 0;
            }
          }
        }
      }
    }
  }
}

/* Footer hook CSS */
#htmlcontent_footer {
}