@import "../../../_theme_variables";
@import "../../../bootstrap_lib/mixins/_gradients";

$theme-color: #f48b34;

body {
  a:hover {
    color: $theme-color;
  }

  header .nav {
    @media (max-width: $screen-xs-max) {
      #nav-toggle {
        &:hover {
          color: $theme-color;
        }
        .nav-close {
          &:hover {
            &:before {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  .block .title_block a,
  .block h4 a {
    &:hover {
      color: $theme-color;
    }
  }

  .footer-container .bottom-footer a {
    &:hover {
      color: $theme-color;
    }
  }

  .footer-container #footer {
    a {
      color: $theme-color;
    }
    h4 a {
      color: $dark-text-color;
      &:hover {
        color: $theme-color;
      }
    }

    #block_contact_infos ul li {
      a[href^="tel:"] {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .jspDrag {
    background: $theme-color;
  }

  a {
    &:hover, &:focus, &:active {
      color: $theme-color;
    }
  }

  .label, .label-success, .label-danger, .label-warning {
    &.label-warning {
      background: $theme-color;
    }
  }

  input[type=checkbox]:checked + label:after,
  input[type=checkbox]:checked + .label label:after {
    background-color: $theme-color;
  }

  .product-name a:hover {
    color: $theme-color;
  }

  a.product-name {
    &:hover {
      color: $theme-color;
    }
  }

  .new-label {
    background: $theme-color;
  }

  #habla_window_div {
    #habla_topbar_div {
      background: $theme-color !important;
    }
  }

  #home-page-tabs > li a {
    color: $theme-color;
    &:after {
      background: $theme-color;
    }
  }

  .block {
    .title_block,
    h4 a:hover {
      color: $theme-color;
    }
  }

  #left_column .block .block_content ul li a {
    color: $theme-color;
  }

  .breadcrumb li a {
    &.home {
      color: $theme-color;
    }
  }

  .content_sortPagiBar {
    .sortPagiBar {
      .nbrItemPage {
        #uniform-nb_item {
          span {
            &:after {
              color: $theme-color;
            }
          }
        }
      }
    }
    .display,
    .display_m {
      li {
        &.selected a i {
          color: $theme-color;
        }
      }
    }
  }

  #page {
    div.selector {
      span {
        &:after {
          color: $theme-color;
        }
      }
    }
  }

  .bottom-pagination-content {
    ul.pagination {
      li {
        > span, > a {
          &:before {
            background: $theme-color;
          }
        }
        &.pagination_previous,
        &.pagination_next {
          > span, > a {
            color: $theme-color;
          }
        }
        &.disabled {
          > span, > a {
            color: $base-text-color;
          }
        }
      }
    }
    .showall {
      button {
        color: $theme-color;
      }
    }
  }

  ul.step {
    li {
      &.step_current {
        span {
          text-shadow: 1px 1px darken($theme-color, 30);
        }
      }
    }
  }

  #cart_summary {
    tfoot {
      td {
        &#total_price_container {
          color: $theme-color;
        }
      }
    }
  }

  table#cart_summary .gift-icon {
    background: $theme-color;
  }

  #customizationForm, div.uploader {
    span.action {
      background: $theme-color;
    }
  }

  #crossselling_list,
  .accessories-block .block_content,
  #productscategory_list,
  .related-block {
    .bx-wrapper .bx-controls-direction a:hover {
      &:before {
        color: $theme-color;
      }
    }
  }

  .btn-default {
    background: $theme-color;
    &:hover {
      background: lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
    }
  }

  .btn-primary {
    color: $theme-color;
    border-color: $theme-color;
    &:hover {
      background: $theme-color;
      border-color: $theme-color;
    }
    &:active, &:focus {
      border-color: lighten($theme-color, 10%);
      background: lighten($theme-color, 10%);
    }
  }

  .btn.ajax_add_to_cart_button, .btn.ajax_add_to_cart_product_button, .btn.customization {
    background: $theme-color;

    &:before {
      border-color: transparent transparent transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
    }

    &:after {
      border-color: transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
    }
  }

  .content_scene_cat {
    a {
      &.lnk_more {
        color: $theme-color;
        &:before {
          background: $theme-color;
        }
      }
    }
  }

  #subcategories ul li .subcategory-name {
    &:hover {
      color: $theme-color;
    }
  }

  &#cms {
    #center_column {
      .list-accordion {
        > li {
          > h3 {
            &:hover, &.active {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  &#my-account {
    ul.myaccount-link-list {
      li {
        a {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }

  .pb-left-column {
    #prev-img, #next-img {
      &:before {
        color: $theme-color;
      }
    }
  }

  #view_scroll_left,
  #view_scroll_right {
    &:hover:before {
      color: $theme-color;
    }
  }

  #usefull_link_block {
    li {
      a {
        &:hover {
          color: $theme-color;
          &:before {
            color: $theme-color;
          }
        }
      }
    }
  }

  .pb-right-column {
    .product-info-line {
      #product_condition {
        .editable {
          color: $theme-color;
        }
      }
    }
  }

  #attributes {
    .attribute_list {
      div.selector {
        span {
          &:after {
            color: $theme-color;
          }
        }
      }
    }
  }

  .product-information {
    .product-info-tabs {
      > li {
        a {
          color: $theme-color;
          &:after {
            background: $theme-color;
          }
        }
      }
    }
    .tab-content {
      .accordion {
        &:before {
          color: $theme-color;
        }
        a {
          color: $theme-color;
          &:after {
            background: $theme-color;
          }
        }
      }
    }
  }

  ul.product_list {
    .product-image-container {

      .quick-view {
        color: $theme-color;
      }
    }
    .functional-buttons {
      > div {
        a, label {
          color: $theme-color;
        }
      }
    }
  }

  ul.product_list.grid {
    > li {
      .product-container {
        .product-image-container {
          .button-container {
            @media (max-width: $screen-md-max) {
              .ajax_add_to_cart_button, .btn.customization {
                &.responsive-btn {
                  &:hover {
                    &:before {
                      color: $theme-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .functional-buttons {
        > div {
          @media (max-width: $screen-md-max) {
            a {
              &:hover {
                &:before {
                  color: $theme-color;
                }
              }
            }
          }
        }
      }
    }
  }

  ul.product_list.list {
    > li {
      .right-block {
        .right-block-content {
          .button-container {
            .ajax_add_to_cart_button, .btn.customization {
              @media (max-width: $screen-sm-max) {
                &.responsive-btn {
                  &:hover {
                    &:before {
                      color: $theme-color;
                    }
                  }
                }
              }
            }
          }
          .functional-buttons {
            @media (max-width: $screen-sm-max) {
              > div {
                a {
                  &:hover {
                    &:before {
                      color: $theme-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #header {
    .shopping_cart_block {
      @media (max-width: $screen-xs-max) {
        .shopping_cart {
          > a:first-child {
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  .shopping_cart {
    > a:first-child {
      &:hover, &:focus {
        color: $theme-color;
      }
    }
    &.active {
      > a:first-child {
        color: $theme-color;
      }
    }
  }

  .cart_block {
    .cart_block_list {
      dl {
        a {
          &:hover {
            color: $theme-color;
          }
        }
      }
      .remove_link a,
      .ajax_cart_block_remove_link {
        &:hover {
          color: $theme-color;
        }
      }
    }
    .cart-buttons {
      .btn {
        &:before {
          border-color: transparent transparent transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
        }
        &:after {
          border-color: transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
        }
      }
    }
  }

  #layer_cart {
    .layer_cart_cart {
      .title {
        .ajax_cart_quantity {
          color: $theme-color;
        }
      }
      .button-container {
        .btn {
          box-shadow: inset 0 0 0 2px lighten(desaturate(adjust_hue($theme-color, -20.915), 36.222%), 20.274%);
          &:before {
            border-color: transparent transparent transparent $theme-color;
          }
          &:after {
            border-color: transparent $theme-color transparent transparent;
          }
          &:hover {
            color: $theme-color;
          }
          &.continue {
            color: $theme-color;
          }
        }
      }
    }
    .cross:hover {
      color: $theme-color;
    }
  }

  #categories_block_left, #left_column #categories_block_left {
    .block_content > ul {
      li {
        span.grower {
          &.OPEN,
          &.CLOSE {
            &:before {
              color: $theme-color;
            }
          }
        }
        a:hover {
          color: $theme-color;
        }
        ul li a {
          color: $theme-color;
        }
      }
    }
  }

  #currencies-block-top {
    div.current {
      &:hover, &.active {
        &, &:after {
          color: $theme-color;
        }
      }
    }
    ul {
      li {
        &.selected, &.selected a, a:hover, a:focus {
          color: $theme-color;
        }
      }
    }
  }

  #languages-block-top {
    div.current {
      &:hover, &.active {
        &, &:after {
          color: $theme-color;
        }
      }
    }
    ul li {
      &.selected, &.selected a, a:hover, a:focus {
        color: $theme-color;
      }
    }
  }

  #layered_block_left {
    #layered_form {
      #enabled_filters ul li span {
        color: $theme-color;
      }

      ul {
        li a {
          &:hover {
            color: $theme-color;
          }
        }
        .layered_slider_container .ui-widget-content {
          .ui-widget-header {
            background: $theme-color;
          }
          .ui-state-default {
            background: $theme-color;
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      #filter-toggle {
        border: 2px solid $theme-color;
        &:hover {
          background: $theme-color;
        }
        .filter-close {
          &:hover {
            &:before {
              color: $theme-color;
            }
          }
        }
      }
    }
  }

  #new-products_block_right .block_content ul li .product-content a {
    color: $dark-text-color;
    &:hover {
      color: $theme-color;
    }
  }

  #manufacturers_list,
  #suppliers_list {
    h3 {
      a:hover {
        color: $theme-color;
      }
    }
    .product-counter {
      a {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  #footer #newsletter_block_left .form-group .btn-sm {
    background: $theme-color;
    &:before {
      border-color: transparent transparent transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
    }
    &:after {
      border-color: transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
    }
  }

  ul#header_links li a {
    &:hover, &.active {
      color: $theme-color;
    }
  }

  #wishlist_button, #wishlist_button_nopop {
    color: $theme-color;
  }

  #wishlist_block .cart_block_product_name {
    color: $theme-color;
  }

  #homepage-slider .bx-wrapper .bx-controls-direction a {
    &:hover {
      color: $theme-color;
      &:before {
        color: $theme-color;
      }
    }
  }

  .comments_advices a {
    &:hover {
      color: $theme-color;
      &:before {
        color: $theme-color;
      }
    }
  }

  #product_comments_block_tab div.comment .comment_details {
    .usefulness_btn, .report_btn {
      color: $theme-color;
    }
  }

  .sdsarticleCat, #sdsblogArticle, #articleComments, #articleRelated .post-image {
    &:before {
      @include gradient-directional(rgba($theme-color, 0.27), rgba($light-background, 0), -30deg);
    }
  }

  #latestComments#latestComments .product-content span.author_comment {
    color: $theme-color;
  }

  #smartblogcat .sdsarticleCat {
    .title_block_exclusive a {
      &:hover {
        color: $theme-color;
      }
    }
    .articleContent .sdsarticle-des a.read-more {
      color: $theme-color;
      &:before {
        background: $theme-color;
      }
    }
  }

  #sdssearch_block_top #searchbox .btn.button-search {
    color: $theme-color;
  }

  #comments .commentList .well .comment-content.box .box_cnt__no_flow .reply .btn.comment-reply-link {
    color: $theme-color;
  }

  .blog-image a {
    &:before {
      @include gradient-directional(rgba($theme-color, 0.27), rgba($light-background, 0), -30deg);
    }
  }

  #homepage-blog {
    .title_block a {
      &:hover {
        color: $theme-color;
      }
    }
    .block_content {
      h5 a {
        &:hover {
          color: $theme-color;
        }
      }
      .read-more-link {
        color: $theme-color;
        &:before {
          background: $theme-color;
        }
      }
    }
  }

  #tags_blog_block_left .block_content a {
    border: 1px solid $theme-color;
    background: $theme-color;
    &:hover {
      color: $theme-color;
    }
  }

  .btn.btn-facebook,
  .btn.btn-twitter,
  .btn.btn-google-plus,
  .btn.btn-pinterest {
    &:hover, &:focus {
      &:before {
        color: $theme-color;
      }
    }
  }

  #htmlcontent_home ul li .item-html a {
    background: $theme-color;
    &:before {
      border-color: transparent transparent transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
    }
    &:after {
      border-color: transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
    }
  }

  .category-block .bx-controls-direction a:hover {
    &:before {
      color: $theme-color;
    }
  }

  #header-login {
    .header_user_info {
      &.current {
        &.active a, a:hover {
          color: $theme-color;
        }
      }
    }
    .btn {
      box-shadow: inset 0 0 0 2px lighten(desaturate(adjust_hue($theme-color, -20.915), 36.222%), 20.274%);
      &:before {
        border-color: transparent transparent transparent $theme-color;
      }
      &:after {
        border-color: transparent $theme-color transparent transparent;
      }
      &:hover {
        color: $theme-color;
      }
      &.create {
        color: $theme-color;
      }
    }
  }

  #header-login-content {
    a:not(.btn):hover, a:focus:not(.btn) {
      color: $theme-color;
    }
  }

  .tab-content .bx-wrapper .bx-controls {
    .bx-pager {
      .bx-pager-item {
        a {
          &.active,
          &:hover {
            background: $theme-color;
          }
        }
      }
    }
    .bx-controls-direction a:hover {
      &:before {
        color: $theme-color;
      }
    }
  }

  #tmhtmlcontent_topColumn ul li .item-html a {
    color: $theme-color;
  }

  #tmhtmlcontent_home {
    ul li .item-html a {
      background: $theme-color;
      &:before {
        border-color: transparent transparent transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
      }
      &:after {
        border-color: transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
      }
    }
  }

  .top_menu, .top_menu .stickUpHolder {
    > ul > li > a {
      &:after {
        background: $theme-color;
      }
    }
    @media (min-width: $screen-sm-min) {
      &:hover {
        > span.menu-mobile-grover:before {
          color: $theme-color;
        }
      }
    }

    li li {
      a {
        &:hover {
          color: $theme-color;
        }
      }
      @media (min-width: $screen-sm-min) {
        a {
          color: $theme-color;
          &:hover {
            color: $dark-text-color;
          }
        }
      }
    }

    .is-megamenu {
      ul.content > li > a:hover {
        color: $theme-color;
      }
      .product-info .product-name a {
        &:hover {
          color: $theme-color;
        }
      }
    }
    .menu-title {
      &:hover {
        color: $theme-color;
      }
      .menu-close {
        &:hover {
          &:before {
            color: $theme-color;
          }
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      > ul {
        li a {
          &:hover {
            color: $theme-color;
          }
        }
        .is-megamenu ul.content > li.category ul li {
          a {
            color: $theme-color;
          }
        }
      }
      .menu-mobile-grover {
        #back-link {
          &:hover {
            color: $theme-color;
          }
        }
        &:hover {
          &:before {
            color: $theme-color;
          }
        }
      }
    }
  }

  .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
    .tmnewsletter-footer {
      .btn {
        background: $theme-color;
        &:before {
          border-color: transparent transparent transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
        }
        &:after {
          border-color: transparent lighten(saturate(adjust_hue($theme-color, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
        }
      }
    }
    .icon.tmnewsletter-close:hover {
      color: $theme-color;
    }
  }

  #headeraccount-popup .popup-box #popup-close:hover {
    color: $theme-color;
  }

  .fancybox-wrap .fancybox-skin .fancybox-close:hover {
    color: $theme-color;
  }

  #tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a {
    &:hover {
      &:before {
        color: $theme-color;
      }
    }
  }

  #tmsearch {
    #search-toggle {
      &:hover {
        color: $theme-color;
      }
    }
    @media (max-width: $screen-xs-max) {
      #tmsearchbox {
        .btn.button-search {
          color: $theme-color;
        }
        .search-close {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
    #tmsearchbox, #searchbox .btn.button-search:hover {
      color: $theme-color;
    }
  }

  .instagram-widget .data a {
    &:before {
      @include gradient-directional(rgba($theme-color, 0.5), rgba($light-background, 0), -30deg);
    }
  }

  .ui-to-top {
    &:hover {
      background: rgba($theme-color, 0.3);
    }
  }

  .btn-default:active,
  .btn-default:focus {
    background: $theme-color;
  }

  ul.step li.step_current {
    background: $theme-color;
    border-color: darken($theme-color, 5);
  }

  ul.step li.step_current span:after {
    background: $theme-color;
    border-top: 1px solid darken($theme-color, 5);
    border-right: 1px solid darken($theme-color, 5);
  }

  #categories_block_left .block_content > ul li a,
  #left_column #categories_block_left .block_content > ul li a {
    color: $theme-color;

    &:hover {
      color: $color-dark;
    }
  }

  a.add_to_compare.checked:before {
    color: $color-dark;
  }

  ul.product_list.grid > li .functional-buttons > div a.add_to_compare.checked:before,
  ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.add_to_compare.checked:before {
    color: $theme-color;
  }
}