<p class="payment_module">
	<a href="{$this_path_ssl}validation.php" title="{l s='Cash on delivery (COD)' mod='cashondeliverywithfee'}">
		<img src="{$this_path}logo.png" alt="{l s='Cash on delivery (COD)' mod='cashondeliverywithfee'}" />
		{l s='Cash on delivery: + ' mod='cashondeliverywithfee'}{convertPrice price=$fee}.
	</a>
</p>
