.star {
    display: block;
    position: relative;
    float: left;
    width: 14px;
    overflow: hidden;
    font-size: 13px;
    font-weight: normal;
}

.star a {
    display: block;
    position: absolute;
    text-indent: -5000px;
}

.star:after {
    font-family: "FontAwesome";
    content: "\f005";
    display: inline-block;
    font-weight: normal;
    color: #d1d1d1;
}

.star.star_on:after {
    font-family: "FontAwesome";
    content: "\f005";
    display: inline-block;
    font-weight: normal;
    color: #ffc841;
}

.star.star.star_hover {
    cursor: pointer;
}

.star.star.star_hover:after {
    font-family: "FontAwesome";
    content: "\f005";
    display: inline-block;
    font-weight: normal;
    color: #263238;
}

.star + .star {
    margin-left: 2px;
}

#product_comments_block_extra .comments_note {
    margin-top: 12px;
    margin-bottom: 5px;
}

#product_comments_block_extra .comments_note span {
    font-size: 14px;
    color: #263238;
    margin-right: 10px;
}

#product_comments_block_extra .comments_note span,
#product_comments_block_extra .star_content {
    float: left;
}

#product_comments_block_extra .star_content {
    margin-top: 1px;
}

#product_comments_block_extra .comments_advices {
    clear: both;
}

.comments_advices {
    padding-top: 3px;
}

.comments_advices li {
    line-height: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .comments_advices li {
        display: block;
        line-height: 20px;
    }
}

.comments_advices li + li {
    margin-top: 6px;
}

.comments_advices a {
    text-decoration: none;
    font-size: 14px;
    color: #263238;
    position: relative;
    margin-right: 8px;
    line-height: 30px;
    padding: 0;
    display: inline-block;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .comments_advices a {
        float: none;
        line-height: 20px;
    }
}

.comments_advices a:before {
    color: #263238;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin-right: 6px;
    text-align: center;
    width: 30px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    /*max 1199px*/
}

@media (max-width: 1199px) {
    .comments_advices a:before {
        display: none;
    }
}

.comments_advices a.reviews:before {
    font-family: "FontAwesome";
    content: "\f0e5";
    display: inline-block;
    font-weight: normal;
}

.comments_advices a.open-comment-form:before {
    font-family: "FontAwesome";
    content: "\f040";
    display: inline-block;
    font-weight: normal;
}

.comments_advices a:hover {
    color: #07a3e0;
}

.comments_advices a:hover:before {
    color: #07a3e0;
}

.comments_advices a.reviews {
    padding-right: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .comments_advices a.reviews {
        padding: 0;
    }
}

/* pop-in add grade/advice ********************************************************************* */
#fancybox-wrap {
    width: 585px;
}

#fancybox-content {
    width: 585px;
    border-width: 0;
}

#new_comment_form {
    overflow: hidden;
    color: #5d5d5d;
    text-align: left;
}

#new_comment_form h2 {
    margin-bottom: 10px;
}

#new_comment_form .title {
    padding: 10px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    background: #263238;
}

#new_comment_form ul.grade_content {
    list-style-type: none;
    margin: 0 0 20px 0;
}

#new_comment_form ul.grade_content li {
    width: 50%;
}

#new_comment_form ul.grade_content span {
    display: inline-block;
    padding: 0 10px;
    width: 150px;
    font-weight: bold;
}

#new_comment_form ul.grade_content .cancel {
    margin-right: 5px;
}

#new_comment_form .product {
    padding: 15px 30px 15px 15px;
}

@media (max-width: 767px) {
    #new_comment_form .product {
        padding-right: 15px;
    }
}

#new_comment_form .product img {
    border: 1px solid whitesmoke;
    margin-bottom: 20px;
}

#new_comment_form .new_comment_form_content {
    background: white;
    border: 1px solid whitesmoke;
    padding: 14px 18px 13px;
    margin: 0 0 30px 0;
    font: normal 13px/23px "Arimo", sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: -15px;
}

@media (max-width: 767px) {
    #new_comment_form .new_comment_form_content {
        padding-left: 35px;
        padding-right: 35px;
        margin-left: 0;
    }
}

#new_comment_form .new_comment_form_content .intro_form {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

#new_comment_form label {
    display: block;
    margin: 12px 0 4px 0;
    font-weight: bold;
    font-size: 12px;
}

#new_comment_form input,
#new_comment_form textarea {
    width: 100%;
    background: white;
}

#new_comment_form textarea {
    height: 80px;
}

#new_comment_form .submit {
    margin-top: 20px;
    padding: 0;
    font-size: 13px;
    text-align: right;
}

#new_comment_form #criterions_list {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 15px;
    list-style-type: none;
}

#new_comment_form #criterions_list li {
    margin-bottom: 10px;
}

#new_comment_form #criterions_list label {
    display: inline;
    float: left;
    margin: 0 10px 0 0;
}

#new_comment_form #criterions_list .star_content {
    float: left;
}

#new_comment_form #new_comment_form_footer {
    margin-top: 20px;
    font-size: 12px;
}

/* TAB COMMENTS ******************************************************************************** */
#product_comments_block_tab {
    margin: 0 0 20px 0;
    padding-left: 3px;
    padding-right: 3px;
}

#product_comments_block_tab div.comment {
    margin: 0 0 14px;
    padding-top: 20px;
}

#product_comments_block_tab div.comment:first-child {
    padding: 0;
    border: none;
}

#product_comments_block_tab div.comment .comment_author {
    padding: 0;
    line-height: 18px;
    overflow: hidden;
    *zoom: 1;
}

#product_comments_block_tab div.comment .comment_author .author_name {
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 400;
    color: #263238;
    margin-right: 17px;
}

#product_comments_block_tab div.comment .comment_author .star_content {
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

#product_comments_block_tab div.comment .comment_author .date_published {
    float: right;
    font-family: "Merriweather", serif;
    font-size: 12px;
    font-style: italic;
}

@media (max-width: 479px) {
    #product_comments_block_tab div.comment .comment_author .date_published {
        float: left;
        clear: left;
        margin-top: 10px;
    }
}

#product_comments_block_tab div.comment .comment_details {
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
}

#product_comments_block_tab div.comment .comment_details .title_block {
    font-weight: 700;
    margin-bottom: 5px;
}

#product_comments_block_tab div.comment .comment_details .usefulness_btn, #product_comments_block_tab div.comment .comment_details .report_btn {
    background: none;
    border: none;
    color: #07a3e0;
    text-decoration: underline;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#product_comments_block_tab div.comment .comment_details .usefulness_btn:hover, #product_comments_block_tab div.comment .comment_details .report_btn:hover {
    color: #263238;
}

#product_comments_block_tab div.comment .comment_details h6, #product_comments_block_tab div.comment .comment_details p {
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.57143;
    color: #5d5d5d;
}

#product_comments_block_tab div.comment .comment_details ul li + li {
    margin-top: 5px;
}

#product_comments_block_tab .comment_author_infos {
    clear: both;
    padding-top: 14px;
}

#product_comments_block_tab a {
    text-decoration: none;
    font-weight: bold;
}

#product_comments_block_tab span.report_btn {
    cursor: pointer;
}

#product_comments_block_tab span.report_btn:hover {
    text-decoration: underline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
