/*
 * jQuery Growl
 * Copyright 2013 Kevin Sylvestre
 * 1.1.4
 */

$namespace: "growl"
$duration: 0.4s

#growls
  z-index: 50000
  position: fixed

  &.default
    top: 100px
    @include right(10px)
  &.tl
    top: 10px
    @include left(10px)
  &.tr
    top: 10px
    @include right(10px)
  &.bl
    bottom: 10px
    @include left(10px)
  &.br
    bottom: 10px
    @include right(10px)

.growl
  opacity: 1
  position: relative
  @include border-radius(4px)
  @include transition(all $duration ease-in-out)

  &.#{$namespace}-incoming
    opacity: 0.0

  &.#{$namespace}-outgoing
    opacity: 0.0

  &.#{$namespace}-small
    width: 200px
    padding: 5px
    margin: 5px
  &.#{$namespace}-medium
    width: 250px
    padding: 10px
    margin: 10px
  &.#{$namespace}-large
    width: 300px
    padding: 15px
    margin: 15px

  &.#{$namespace}-default
    color: #FFF
    background: gray
  &.#{$namespace}-error
    color: white
    background: rgba($brand-danger, 0.8)
  &.#{$namespace}-notice
    color: white
    background: rgba($brand-success, 0.8)
  &.#{$namespace}-warning
    color: white
    background: rgba($brand-warning, 0.8)
  .#{$namespace}-close
    cursor: pointer
    font-size: 14px
    line-height: 18px
    font-weight: normal
    font-family: helvetica, verdana, sans-serif
    @include float(right)
  .#{$namespace}-title
    font-size: 18px
    line-height: 24px
  .#{$namespace}-message
    font-size: 14px
    line-height: 18px