.page-head
  width: 100%
  height: 100px
  padding: 0
  margin: 0
  position: fixed
  top: 36px
  z-index: 499
  background-color: white
  border-bottom: #DFDFDF 1px solid
  color: #363A41
  @include left(0)
  h2.page-title
    @include float(left)
    position: relative
    margin: 0
    font: 20pt $font-family-sans-serif
    color: #363A41
    white-space: nowrap
    @include padding(26px, 0, 0, ($widthSidebarNav+20px))
    @media (max-width: $screen-tablet)
      @include padding(26px, 0, 0, 70px)
    a
      border-bottom: dotted 1px white
      &:hover
        color: black
        border-color: black
  a
    color: white
    text-decoration: none
  h4.page-subtitle
    @include float(left)
    position: absolute
    margin-top: 60px
    @include left($widthSidebarNav+20px)
    font-family: $url-font-content-name
    @media (max-width: $screen-tablet)
      @include left(70px)
  .toolbarBox
    position: absolute
    background-color: transparent !important
    @include right(0)
    @media (max-width: $screen-sm)
    #toolbar-nav
      border: none
    .btn-toolbar
      margin: 0
      @include padding(3px, 0, 0, 0)
      .toolbar_btn
        position: relative
        padding: 20px 5px !important
        font-size: 12px
        line-height: 8px
        color: $main-color
        text-align: center
        text-shadow: none
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        @include margin(0, 3px, 2px, 0)
        @media (max-width: $screen-desktop)
          width: 46px
          font-size: 11px
        i
          color: $toolbar-buttons-color
          &:hover
            color: $toolbar-buttons-hover-color
        div
          padding-top: 10px
      .dropdown-toolbar
        display: none
        @include float(right)
        @include border-radius(3px)
        @media (max-width: $screen-sm)
          display: block
  ul.page-breadcrumb
    position: absolute
    list-style: none
    margin: 0
    padding: 0
    top: 4px
    height: 20px
    line-height: 20px
    color: black
    font-size: 12px
    color: rgba(black, 0.5)
    background: transparent !important
    border: none !important
    white-space: nowrap
    @include border-radius(0)
    @include left($widthSidebarNav+20px)
    @media (max-width: $screen-tablet)
      @include left(70px)
    li
      i
        font-size: 10px
      &.breadcrumb-container i, &.breadcrumb-current i
        position: absolute
        top: 2px
        font-size: 42px
        color: darken($secondary-color, 15%)
        @include padding-right(5px)
        @include border-right(solid 1px darken($secondary-color, 15%))
        @include left(-60px)
      &:before
        color: darken($secondary-color, 15%)
      a
        color: #363A41
        &:hover
          color: #363A41

.page-header-toolbar-back
  border: none !important
  display: inline-block
