/**************************************************************************
		        Style TM Products Slider
**************************************************************************/
#tm-products-slider {
    clear: both;
}

#tm-products-slider .bx-wrapper {
    margin: 0 auto;
}

#tm-products-slider .bx-wrapper #product-slider {
    margin: 0;
    padding: 0;
}

#tm-products-slider .bx-wrapper #product-slider li {
    width: 100%;
    overflow: hidden;
    padding: 51px 0 130px;
    position: relative;
}

@media (min-width: 768px) {
    #tm-products-slider .bx-wrapper #product-slider li {
        padding: 15px 0;
    }
}

#tm-products-slider .bx-wrapper #product-slider li .slide-wrapper {
    text-align: center;
}

#tm-products-slider .bx-wrapper #product-slider li .slide-wrapper .slide-image {
    display: inline-block;
    width: 53%;
    min-width: 290px;
}

#tm-products-slider .bx-wrapper #product-slider li .slide-info .left-info {
    margin-bottom: 20px;
}

#tm-products-slider .bx-wrapper #product-slider li .slide-info .right-info {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 100%;
}

@media (max-width: 767px) {
    #tm-products-slider .bx-wrapper #product-slider li .slide-info .right-info {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    #tm-products-slider .bx-wrapper #product-slider li .slide-info .left-info {
        position: absolute;
        top: 13.6%;
        left: 2px;
        max-width: 27%;
    }

    #tm-products-slider .bx-wrapper #product-slider li .slide-info .right-info {
        bottom: auto;
        top: 21.2%;
        text-align: right;
        width: auto;
    }
}

#tm-products-slider .bx-wrapper #product-slider li .on-sale {
    text-transform: uppercase;
    color: #f00;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

#tm-products-slider .bx-wrapper #product-slider li .product-name {
    margin: 0 0 26px 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.35294;
    letter-spacing: 0.04em;
    color: #263238;
    text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1199px) {
    #tm-products-slider .bx-wrapper #product-slider li .product-name {
        font-size: 20px;
    }
}

#tm-products-slider .bx-wrapper #product-slider li .slide-description {
    font: normal 14px/24px "Merriweather", serif;
    font-style: italic;
    padding-right: 10%;
}

#tm-products-slider .bx-wrapper #product-slider li .product-price {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #263238;
    letter-spacing: 0.02em;
    margin: 0;
}

@media (min-width: 768px) {
    #tm-products-slider .bx-wrapper #product-slider li .product-price {
        font-size: 36px;
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    #tm-products-slider .bx-wrapper #product-slider li .product-price {
        margin-bottom: 30px;
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    #tm-products-slider .bx-wrapper #product-slider li .product-price {
        font-size: 58px;
    }
}

#tm-products-slider .bx-wrapper #product-slider li .old-product-price {
    display: block;
    text-decoration: line-through;
    font-size: 17px;
    color: #5d5d5d;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 5px;
}

@media (min-width: 1200px) {
    #tm-products-slider .bx-wrapper #product-slider li .old-product-price {
        font-size: 20px;
        margin-bottom: 9px;
        padding-bottom: 15px;
    }
}

#tm-products-slider .bx-wrapper #product-slider li .product-price-reduction {
    color: #f00;
    border: 1px solid #f00;
    display: inline-block;
    padding: 2px 3px;
    font-style: italic;
}

#tm-products-slider .bx-wrapper #product-slider li .button {
    height: 50px;
}

@media (max-width: 767px) {
    #tm-products-slider .bx-wrapper #product-slider li .button {
        min-width: 170px;
    }
}

#tm-products-slider .bx-wrapper #product-slider li .product-features {
    background: #fff;
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

#tm-products-slider .bx-wrapper #product-slider li .product-features small {
    display: block;
    padding-bottom: 5px;
}

#tm-products-slider .bx-wrapper .bx-controls {
    margin: 0;
    overflow: hidden;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-pager {
    overflow: hidden;
    border: 1px solid #ccc;
    float: left;
    margin-right: 5px;
    position: static;
    padding: 0;
    width: auto;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
    float: left;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
    float: left;
    display: block;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-indent: 0;
    border-radius: 0;
    margin: 0;
    background: none;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active, #tm-products-slider .bx-wrapper .bx-controls .bx-pager .bx-pager-item .bx-pager-link:hover {
    color: #fff;
    background: #333;
    text-decoration: none;
}

@media (min-width: 768px) {
    #tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction {
        position: absolute;
        left: -5px;
        bottom: 50px;
        z-index: 99;
    }
}

@media (min-width: 992px) {
    #tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction {
        bottom: auto;
        top: 53.2%;
    }
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a {
    display: block;
    float: left;
    line-height: 1;
    padding: 0 5px;
    position: static;
    margin: 0;
    background: none;
    text-indent: 0;
    height: auto;
    width: auto;
    z-index: 99;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a:before {
    font-size: 33px;
    color: #263238;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
    content: '\f104';
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
    margin-left: 34px;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
    content: '\f105';
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a:hover:before {
    color: #07a3e0;
}

@media (max-width: 767px) {
    #tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a {
        position: absolute;
        top: auto;
        bottom: 265px;
    }

    #tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
        left: 0;
    }

    #tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
        right: 0;
    }
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-auto {
    float: left;
    position: static;
    width: auto;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item {
    float: left;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a {
    display: block;
    width: 22px;
    height: 22px;
    text-align: center;
    background: none;
    text-indent: 0;
    margin: 0 auto;
    text-decoration: none;
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a:before {
    font-family: 'FontAwesome';
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-start:before {
    content: '\f04b';
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-stop:before {
    content: '\f04c';
}

#tm-products-slider .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.active {
    color: #333;
}
