.header_user_info {
    float: right;
    border-left: 1px solid #515151;
    border-right: 1px solid #515151;
}

.header_user_info a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 8px 9px 11px 8px;
    cursor: pointer;
}

@media (max-width: 479px) {
    .header_user_info a {
        font-size: 11px;
    }
}

.header_user_info a:hover, .header_user_info a.active {
    background: #2b2b2b;
}

.header_user_info + .header_user_info {
    border-right: none;
}

.user_info {
    text-align: right;
    margin: 20px 0 0 0;
}

.user_info li {
    display: inline-block;
    padding-right: 15px;
}

.user_info li a {
    text-decoration: none;
}

.user_info li a:hover {
    text-decoration: underline;
}
