.sociallogininfo .social-avatar {
    float: left;
    max-width: 150px;
    margin: 10px 15px 15px 0;
}

.btn.btn-login-facebook, .btn.btn-login-google, .btn.btn-login-vk {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#header-login .btn.btn-login-facebook, #header-login .btn.btn-login-google, #header-login .btn.btn-login-vk {
    font-size: 0;
    height: 38px;
    width: 30%;
    margin: 0;
    border: none;
}

#header-login .btn.btn-login-facebook + .btn, #header-login .btn.btn-login-google + .btn, #header-login .btn.btn-login-vk + .btn {
    margin-left: 8px;
}

#header-login .btn.btn-login-facebook:before, #header-login .btn.btn-login-google:before, #header-login .btn.btn-login-vk:before {
    display: block;
    left: 50%;
    top: 50%;
    width: auto;
    height: 38px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    font-size: 20px;
    line-height: 38px;
    padding: 0;
}

#header-login .btn.btn-login-facebook:after, #header-login .btn.btn-login-google:after, #header-login .btn.btn-login-vk:after {
    display: none;
}

.btn.btn-login-facebook:before, .btn.btn-login-google:before, .btn.btn-login-vk:before {
    font-family: 'FontAwesome';
    padding-right: 5px;
    font-size: 15px;
    vertical-align: middle;
}

body #page .btn.btn-login-facebook {
    background: #3b5998;
}

body #page .btn.btn-login-facebook:before {
    content: '\f09a';
}

body #page .btn.btn-login-facebook:hover {
    background: #3d77b8;
    color: white;
}

body #page .btn.btn-login-google {
    background: #df4a32;
}

body #page .btn.btn-login-google:before {
    content: '\f1a0';
}

body #page .btn.btn-login-google:hover {
    background: #ff4a32;
    color: white;
}

body #page .btn.btn-login-vk {
    background: #6d8fb3;
}

body #page .btn.btn-login-vk:before {
    content: '\f189';
}

body #page .btn.btn-login-vk:hover {
    background: #7fa1c6;
    color: white;
}

#account-creation_form .btn.btn-login-facebook, #account-creation_form .btn.btn-login-google, #account-creation_form .btn.btn-login-vk {
    display: block;
    white-space: normal;
    margin-right: 0;
}

@media (min-width: 480px) {
    #account-creation_form .btn.btn-login-facebook, #account-creation_form .btn.btn-login-google, #account-creation_form .btn.btn-login-vk {
        min-width: 400px;
        width: 50%;
    }
}
