#currencies-block-top {
    float: right;
    position: relative;
}

@media (max-width: 767px) {
    #currencies-block-top {
        float: none;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        margin-top: 12px;
    }
}

#currencies-block-top span.firstWord {
    display: none;
}

#currencies-block-top .cur-label {
    display: inline-block;
}

#currencies-block-top div.current {
    display: inline-block;
    color: #263238;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#currencies-block-top div.current strong {
    font-weight: 400;
    margin-left: 7px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#currencies-block-top div.current:hover {
    cursor: pointer;
}

#currencies-block-top div.current:hover, #currencies-block-top div.current:hover:after, #currencies-block-top div.current.active, #currencies-block-top div.current.active:after {
    color: #07a3e0;
}

#currencies-block-top div.current:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 20px;
    padding-left: 4px;
    font-weight: normal;
    color: #263238;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#currencies-block-top div.current.active:after {
    content: "\f106";
}

#currencies-block-top ul {
    display: none;
    width: 185px;
    padding: 15px 25px;
    position: absolute;
    right: 0;
    top: 115%;
    z-index: 2;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
}

#currencies-block-top ul li {
    padding: 5px;
}

#currencies-block-top ul li + li {
    margin-top: 2px;
}

#currencies-block-top ul li.selected, #currencies-block-top ul li.selected a, #currencies-block-top ul li a:hover, #currencies-block-top ul li a:focus {
    color: #07a3e0;
}

@media (max-width: 767px) {
    #currencies-block-top ul {
        position: static;
        width: auto;
        box-shadow: none;
        padding: 10px 20px 10px 7px;
    }

    #currencies-block-top ul li {
        font-size: 16px;
    }
}
