.blog-image {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .blog-image {
        margin-bottom: 24px;
    }
}

.blog-image a {
    display: block;
    position: relative;
}

.blog-image a:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-30deg, rgba(7, 163, 224, 0.27), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-30deg, rgba(7, 163, 224, 0.27), rgba(255, 255, 255, 0));
    background-image: linear-gradient(-30deg, rgba(7, 163, 224, 0.27), rgba(255, 255, 255, 0));
    opacity: 0;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
}

.blog-image a:hover:before {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .blog-image a img {
        width: 100%;
    }
}

#homepage-blog {
    margin-top: 55px;
    margin-bottom: 18px;
    padding: 0;
}

@media (min-width: 992px) {
    #homepage-blog {
        margin-top: 88px;
    }
}

#homepage-blog .title_block {
    margin-bottom: 28px;
}

#homepage-blog .title_block a:hover {
    color: #07a3e0;
}

#homepage-blog .title_block:after {
    display: none;
}

#homepage-blog .block_content h5 {
    margin-bottom: 9px;
}

#homepage-blog .block_content h5 a {
    line-height: 1.375;
    background-size: 100%, 20px;
    background-origin: content-box;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#homepage-blog .block_content h5 a:hover {
    color: #07a3e0;
}

#homepage-blog .block_content .post-descr {
    font: normal 14px/24px "Merriweather", serif;
    letter-spacing: 0;
    margin-bottom: 15px;
}

#homepage-blog .block_content .read-more-link {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #07a3e0;
}

#homepage-blog .block_content .read-more-link:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    opacity: 0;
    height: 1px;
    background: #07a3e0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#homepage-blog .block_content .read-more-link:hover {
    color: #263238;
}

#homepage-blog .block_content .read-more-link:hover:before {
    opacity: 1;
}

#homepage-blog li {
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    #homepage-blog li.first-in-line {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #homepage-blog li.first-item-of-tablet-line {
        clear: left;
    }
}

@media only screen and (max-width: 767px) {
    #homepage-blog li.first-item-of-mobile-line {
        clear: left;
    }
}
