@import "../../../../_theme_variables";

.sociallogininfo .social-avatar {
  float: left;
  max-width: 150px;
  margin: 10px 15px 15px 0;
}

.btn.btn-login-facebook, .btn.btn-login-google, .btn.btn-login-vk {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#header-login {
  .btn.btn-login-facebook, .btn.btn-login-google, .btn.btn-login-vk {
    font-size: 0;
    height: 38px;
    width: 30%;
    margin: 0;
    border: none;
    & + .btn {
      margin-left: 8px;
    }
    &:before {
      display: block;
      left: 50%;
      top: 50%;
      width: auto;
      height: 38px;
      @include translate(-50%, -50%);
      background: none;
      border: none;
      font-size: 20px;
      line-height: 38px;
      padding: 0;
    }
    &:after {
      display: none;
    }
  }
}

.btn.btn-login-facebook:before, .btn.btn-login-google:before, .btn.btn-login-vk:before {
  font-family: 'FontAwesome';
  padding-right: 5px;
  font-size: 15px;
  vertical-align: middle;
}

body #page {
  .btn.btn-login-facebook {
    background: #3b5998;
    &:before {
      content: '\f09a';
    }
    &:hover {
      background: #3d77b8;
      color: $light-text-color;
    }
  }

  .btn.btn-login-google {
    background: #df4a32;
    &:before {
      content: '\f1a0';
    }
    &:hover {
      background: #ff4a32;
      color: $light-text-color;
    }
  }

  .btn.btn-login-vk {
    background: #6d8fb3;
    &:before {
      content: '\f189';
    }
    &:hover {
      background: #7fa1c6;
      color: $light-text-color;
    }
  }
}

#account-creation_form {
  .btn.btn-login-facebook, .btn.btn-login-google, .btn.btn-login-vk {
    display: block;
    white-space: normal;
    margin-right: 0;
    @media (min-width: $screen-xs-min) {
      min-width: 400px;
      width: 50%;
    }
  }
}