#tmsearch {
    padding-top: 20px;
}

#tmsearch #tmsearchbox {
    float: left;
    width: 100%;
    border: 1px solid #d6d4d4;
    position: relative;
    background: #fbfbfb;
    padding-right: 50px;
}

#tmsearch .btn.button-search {
    background: #333333;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    border: none;
    color: white;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0;
}

#tmsearch .btn.button-search span {
    display: none;
}

#tmsearch .btn.button-search:before {
    content: "\f002";
    display: block;
    font-family: "FontAwesome";
    font-size: 17px;
    width: 100%;
    text-align: center;
}

#tmsearch .btn.button-search:hover {
    color: #6f6f6f;
}

#tmsearch #tm_search_query {
    display: inline-block;
    padding: 12px 10px 13px 13px;
    height: 43px;
    border: none;
    background: none;
}

body .ac_results {
    background: white;
    border: 1px solid #d6d4d4;
    width: 271px;
    margin-top: -1px;
}

body .ac_results li {
    padding: 5px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px;
}

.ac_results li.ac_odd {
    background: white;
}

.ac_results li:hover, .ac_results li.ac_over {
    background: #fbfbfb;
}

.ac_results .pull-left {
    margin-right: 20px;
}

.ac_results .content {
    overflow: hidden;
}

.ac_results span.reference, .ac_results span.manufacturer {
    display: block;
    margin: 0 0 5px;
    font-size: 12px;
    color: #3a3939;
    line-height: 15px;
    font-style: italic;
}

.ac_results span.product-name {
    font-size: 13px;
    line-height: 19px;
    display: inline-block;
    font-weight: 600;
}

.ac_results strong {
    color: #f00;
}

.ac_results .description {
    font-size: 11px;
    line-height: 15px;
}

.ac_results .price {
    padding-right: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ac_results .content {
        float: left;
        clear: both;
    }
}

form#tmsearchbox {
    position: relative;
}

form#tmsearchbox label {
    color: #333333;
}

form#tmsearchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left;
}

form#tmsearchbox .btn.btn-sm {
    float: left;
}

form#tmsearchbox .btn.btn-sm i {
    margin-right: 0;
}