@import "../../_theme_variables";

#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
  .sf-menu {
    position: relative;
    > li {
      position: static;
      > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px;
        > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px;
        }
        > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%;
          img {
            display: inline-block;
            width: 33%;
          }
        }
      }
      h4 {
        a {
          font-size: 1.1em;
          &:before {
            display: none;
          }
        }
      }
      .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0;
      }
    }
    .category_thumb {
      display: none;
    }
  }
}

#categories_block_left, #left_column #categories_block_left {
  padding-top: 10px;
  .block_content > ul {
    li {
      position: relative;
      padding: 0 25px 0 0;
      a {
        color: $color-primary;
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        padding: 5px;
        @include transition(0.3s all ease);

        &:hover {
          color: $color-dark;
        }
      }
      span.grower {
        display: block;
        position: absolute;
        right: 18px;
        top: 8px;
        cursor: pointer;
        font-family: $font-icon;
        font-size: 16px;
        &.OPEN,
        &.CLOSE {
          &:before {
            content: "\f106";
            display: block;
            vertical-align: middle;
            width: auto;
            height: auto;
            color: $primary-text-color;
            line-height: 1;
            text-align: center;
            @include transition(0.3s all ease);
          }
          &:hover {
            &:before {
              color: $dark-text-color;
            }
          }
        }
        &.CLOSE:before {
          content: "\f107";
        }
      }

      ul {
        margin-top: 14px;
        margin-bottom: 19px;
        padding-left: 6px;
        li {
          a {
            color: $primary-text-color;
            font-size: 14px;
            padding: 2px;
          }
          span.grower {
            top: 4px;
          }
          & + li {
            margin-top: 6px;
          }
        }
      }
      & + li {
        margin-top: 9px;
      }
    }
  }
}