@import "../../_theme_variables";

/******************************************************************************
						Home Page Slider
*******************************************************************************/
$minHeight: 409px;
$ratio: 0.335858;
$ratioImg: 0.4576;
#homepage-slider {
  overflow: hidden;
  position: relative;
  #homeslider {
    margin: 0 auto;
    padding: 0;
    padding-bottom: (100% * $ratio);
    min-height: $minHeight;
    .homeslider-container {
      position: relative;
      height: 100%;
      .homeslider-image {
        position: absolute;
        left: 0;
        top: 0;
      }
      .homeslider-description {
        padding: 30px 1% 30px 3%;
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 123px;
        max-width: 900px;
        width: 100%;
        color: $dark-text-color;
        h2 {
          position: relative;
          font-size: 45px;
          line-height: (84 / 76);
          font-weight: 400;
          letter-spacing: 0.04em;
          margin-top: 7px;
          text-transform: uppercase;
          @media (max-width: $screen-xs - 1) { // max 479px
            font-size: 35px;
          }
        }
        p {
          position: relative;
          font-family: $font-primary;
          font-style: italic;
          font-size: 18px;
          line-height: 1.2;
          margin-bottom: 0;
        }
        @media (min-width: $screen-xs-min) {
          padding: 30px 15% 30px 65px;
        }
        @media (min-width: 550px) {
          padding-right: 32%;
        }
        @media (min-width: $screen-sm-min) {
          bottom: auto;
          left: 50%;
          top: 50%;
          @include translate(-50%, -50%);
          padding-right: 33%;
          h2 {
            font-size: 60px;
            margin-top: 12px;
          }
          p {
            font-size: 26px;
          }
        }
        @media (min-width: $screen-md-min) {
          padding-right: 260px;
          padding-bottom: 73px;
          h2 {
            font-size: 76px;
          }
        }
        button {
          position: relative;
        }
      }
    }
  }
}

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
//RESET AND LAYOUT
#homepage-slider {
  .bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
    a {
      display: block;
    }
    img {
      display: block;
      width: 100.2%;
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      min-height: $minHeight;
      min-width: ceil($minHeight / $ratioImg);
      max-width: 100.2%;
      @media (max-width: $screen-xs-min - 1) {
        left: 44%;
      }
    }
  }
  // THEME
  .bx-wrapper {
    .bx-viewport {
      width: 100%;
      padding-bottom: (100% * $ratio);
      min-height: $minHeight;
    }
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 999;
  }
  //LOADER
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat $light-background;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
  //PAGER
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: $font-family;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
  }
  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: none;
    border: 3px solid #fff;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
  }
  //DIRECTION CONTROLS (NEXT / PREV)
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: auto;
    bottom: 119px;
    left: 2%;
    width: 20px;
    height: auto;
    outline: 0;
    margin: 0;
    z-index: 999;
    &:before {
      @include addIcon('\f104');
      font-size: 33px;
      color: $dark-text-color;
      @include transition(0.3s all ease);
    }
    &.bx-next {
      left: 19%;
      &:before {
        @include addIcon('\f105');
      }
    }
    @media (min-width: $screen-xs-min) {
      bottom: auto;
      top: 50%;
      left: 20px;
      @include transform (translate(0, -50%));
      &.bx-next {
        left: auto;
        right: 20px;
      }
    }
    @media (min-width: $screen-lg-min) {
      left: 13%;
      &.bx-next {
        right: 13%;
      }
    }
    @media (min-width: 1600px) {
      left: 20.5%;
      &.bx-next {
        right: 20.5%;
      }
    }
    &:hover {
      color: $primary-text-color;
      &:before {
        color: $primary-text-color;
      }
    }
  }
  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }
  //AUTO CONTROLS (START / STOP)
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    width: 10px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
    &:before {
      content: '';
      font-family: $font-icon;
      color: #fff;
    }
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    width: 9px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
    &:before {
      content: '';
      font-family: $font-icon;
      color: #fff;
    }
  }
  //PAGER WITH AUTO-CONTROLS HYBRID LAYOUT
  .bx-wrapper .bx-controls .bx-controls-auto {
    right: 15px;
    width: 35px;
    top: 15px;
    z-index: 998;
  }
  //IMAGE CAPTIONS
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9
  ;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
  .bx-wrapper .bx-caption span {
    color: $light-text-color;
    font-family: $font-family;
    display: block;
    font-size: .85em;
    padding: 10px;
  }
}

#bx-pager-thumb {
  text-align: center;
  padding: 10px 0;
  a {
    display: inline-block;
    max-width: 150px;
    width: 31%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}