@import 'compass';
@import "../../../../_theme_variables";
@import "../../../../_elements_variables";

.newsletter-overlay {
  @include popup-overlay-style;
  #newsletter_popup {
    @include popup-box-style;
    margin: 0 auto;
    max-width: 630px;
    min-width: 290px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform (translate(-50%, -50%));
    .tmnewsletter-inner {
      position: relative;
      padding: 20px 5px;
      @media (min-width: $screen-sm-min) {
        padding: 36px;
      }
      text-align: center;
      .icon.tmnewsletter-close {
        @include popup-close-button;
      }
      .tmnewsletter-header {
        margin-left: auto;
        margin-right: auto;
        max-width: 476px;
        padding: 10px 15px;
        h4 {
          font-size: 22px;
          font-weight: 700;
          letter-spacing: 0.08em;
          color: $dark-text-color;
          margin: 0 0 12px;
          text-transform: uppercase;
        }
        .description {
          font-family: $font-primary;
          font-size: 13px;
          line-height: (24 / 14);
          margin-bottom: 48px;
        }
        .form-group {
          margin: 0;
          padding: 0 5px;
          &.email-error {
            .form-control {
              border-color: $color-warning;
            }
          }
          &.email-valid {
            .form-control {
              border-color: $color-succes;
            }
          }
          .form-control {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
          }
        }
      }
      .tmnewsletter-content {
        padding: 10px 15px 0;
        .form-control.error {
          border-color: $color-warning;
        }
      }
      .tmnewsletter-footer {
        padding: 0 20px;
        overflow: hidden;
        .btn {
          display: block;
          color: $light-text-color;
          background: $primary-background;
          position: relative;
          overflow: hidden;
          padding: 17px 20px;
          margin-top: 4px;
          width: 100%;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          border-radius: $border-radius-base;
          text-align: center;
          @include transition(0.5s all ease);
          z-index: 1;
          &:before,
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 0 0;
            position: absolute;
            @include transition(0.5s all ease);
            z-index: -1;
          }
          &:before {
            border-color: transparent transparent transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
            bottom: 0;
            left: 0;
          }
          &:after {
            border-color: transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
            top: 0;
            right: 0;
          }
          &:hover {
            &:before {
              border-width: 290px 0 0 290px;
            }
            &:after {
              border-width: 0 290px 290px 0;
            }
          }
        }
        .checkbox {
          float: left;
          .checker {
            display: inline-block;
            vertical-align: -1px;
            .checked:before {
              left: 0;
            }
          }
          input {
            display: block;
          }
        }
      }
    }
  }
}