@import "compass";
@import "theme_variables";

/********************************************************
			Right to Left Styles
********************************************************/

* {
  direction: rtl !important;
}

#page {
  text-align: right !important;
}