/* block top links */
ul#header_links {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

ul#header_links li {
    text-transform: capitalize;
    padding: 0 30px 0 0;
}

@media (min-width: 992px) {
    ul#header_links li {
        padding-right: 41px;
    }
}

ul#header_links li:first-child {
    border: none;
}

ul#header_links li a {
    color: #5d5d5d;
    text-decoration: none;
}

ul#header_links li a:hover, ul#header_links li a.active {
    color: #07a3e0;
}

@media (max-width: 767px) {
    ul#header_links li {
        margin-bottom: 7px;
    }

    ul#header_links li a {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }
}

@media (min-width: 768px) {
    ul#header_links {
        float: left;
    }

    ul#header_links li {
        float: left;
    }
}

/*block permanent links right and left columns*/
#permanent_links div {
    border-bottom: 1px dotted #eeeeee;
}

#permanent_links div a {
    display: block;
    padding: 7px 11px 5px 22px;
    background: url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links {
    clear: both;
    text-align: center;
    padding-bottom: 6px;
}

ul#footer_links li {
    display: inline;
    padding: 0 10px;
}
