.ui-to-top {
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 46px;
    color: #263238;
    background: none;
    border-radius: 3px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 999;
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
}

.ui-to-top:hover {
    color: #263238;
    text-decoration: none;
    background: rgba(7, 163, 224, 0.3);
}

.ui-to-top.active {
    color: #263238;
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.mobile .ui-to-top,
.tablet .ui-to-top {
    display: none !important;
}

@media (min-width: 480px) {
    .ui-to-top {
        right: 40px;
        bottom: 40px;
    }
}
