/*
Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */
div.selector, div.selector span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: url("../../img/jquery/uniform/sprite.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}

div.selector, div.checker, div.button, div.radio, div.uploader {
    vertical-align: middle;
    /* Keeping this as :focus to remove browser styles */
}

div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0;
}

div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
    margin: 0;
    padding: 0;
}

.highContrastDetect {
    background: url("../../../img/jquery/uniform/bg-input.png") repeat-x 0 0;
    width: 0;
    height: 0;
}

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    padding: 3px;
    background: white;
    outline: 0;
}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Select */
div.selector {
    line-height: 50px;
    height: 50px;
    padding: 0 0 0 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid whitesmoke;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
}

div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background: none;
    height: 48px;
    line-height: 48px;
    padding-right: 50px;
    cursor: pointer;
    width: 100%;
    display: block;
    color: #5d5d5d;
}

div.selector span:after {
    font-family: "FontAwesome";
    content: "\f0d7";
    display: inline-block;
    font-weight: normal;
    position: absolute;
    right: 1px;
    top: 1px;
    border: 1px solid whitesmoke;
    text-align: center;
    height: 46px;
    width: 46px;
    font-size: 23px;
    line-height: 44px;
    color: #5d5d5d;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.selector.fixedWidth {
    width: 190px;
}

div.selector.fixedWidth span {
    width: 150px;
}

div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
}

div.selector.active span:after {
    color: #1d1d1d;
    top: 1px;
}

div.selector.hover span:after, div.selector.focus span:after {
    color: #1d1d1d;
    top: 1px;
}

div.selector.hover.active span:after, div.selector.focus.active span:after {
    color: #1d1d1d;
    top: 1px;
}

div.selector.disabled span:after, div.selector.disabled.active span:after {
    color: #1d1d1d;
    top: 1px;
}

/* Checkbox */
div.checker {
    position: relative;
}

div.checker, div.checker span {
    width: 15px;
    height: 15px;
}

div.checker input {
    position: relative;
    left: -1px;
    top: -3px;
    width: 15px;
    height: 14px !important;
    padding: 0;
    cursor: pointer;
}

div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    border: 1px solid whitesmoke;
    overflow: hidden;
    background: #fff;
}

div.checker span.checked:before {
    content: '\f00c';
    font-family: "FontAwesome";
    position: absolute;
    left: auto;
    top: auto;
    padding: 0 0 0 1px;
    text-align: center;
    width: 13px;
    height: 13px;
    line-height: 14px;
    font-size: 12px;
    background: white;
}

div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

div.checker.active span {
    background-position: -15px -257px;
}

div.checker.active span.checked {
    background-position: -15px -257px;
}

div.checker.hover span, div.checker.focus span {
    background: white;
}

div.checker.hover span.checked, div.checker.focus span.checked {
    background: white;
}

div.checker.disabled, div.checker.disabled.active {
    background-position: 0 -257px;
}

div.checker.disabled span.checked, div.checker.disabled.active span.checked {
    background-position: 0 -257px;
}

/* Radio */
div.radio {
    position: relative;
    display: inline;
}

div.radio, div.radio span, div.radio input {
    width: 13px;
    height: 13px;
}

div.radio span {
    width: 14px;
    height: 14px;
}

div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid whitesmoke;
}

div.radio span.checked:before {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #727272;
    position: absolute;
    z-index: 1;
    left: 2px;
    top: 2px;
    display: block;
    text-indent: -5000px;
    content: '*';
}

div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
}

div.radio.hover span, div.radio.focus span {
    background-color: #f7f7f7;
}

/* Uploader */
div.uploader {
    background: none;
    height: 27px;
    width: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

div.uploader span.action {
    background-position: 0 -378px;
    height: 27px;
    line-height: 27px;
    width: 94px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer;
}

div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 27px;
    margin: 0 0 0 0;
    line-height: 27px;
    width: 172px;
    padding: 0 10px;
}

div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%;
}

/* Buttons */
div.button {
    background-position: 0 -634px;
    height: 30px;
    cursor: pointer;
    position: relative;
    /* Keep buttons barely visible so they can get focus */
}

div.button a, div.button button, div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 30px;
    text-align: center;
    background-position: right -514px;
    height: 30px;
    margin-left: 13px;
    padding: 0;
}

div.button.active {
    background-position: 0 -664px;
}

div.button.active span {
    background-position: right -544px;
    cursor: default;
}

div.button.hover, div.button.focus {
    background-position: 0 -694px;
}

div.button.hover span, div.button.focus span {
    background-position: right -574px;
}

div.button.disabled, div.button.disabled.active {
    background-position: 0 -724px;
}

div.button.disabled span, div.button.disabled.active span {
    background-position: right -604px;
    cursor: default;
}

/* INPUT & TEXTAREA */
/* ************************************************************************************************
		uniform
************************************************************************************************ */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    font-size: 13px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 18px;
    color: #777;
    border: solid 1px #d6d4d4;
}

input.uniform-input.hover, input.uniform-input.focus,
select.uniform-multiselect.hover,
select.uniform-multiselect.focus,
textarea.uniform.hover,
textarea.uniform.focus {
    border-color: #cbcaca;
}

/* PRESENTATION */
/* Buttons */
div.button span {
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

div.button.hover span, div.button.focus span {
    color: #555;
}

div.button.disabled span, div.button.disabled.active span {
    color: #bbb;
}

/* Select */
#compare_shipping .form-group label {
    display: block;
}

.checker span input {
    margin: 0 !important;
    position: relative;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin: 0 !important;
}

.radio-inline,
.checkbox-inline {
    cursor: default;
}

/* Checker */
div.checker {
    cursor: pointer;
    margin-right: 5px;
}

div.checker span {
    position: relative;
    top: 1px;
}

#layered_form div.checker {
    display: inline;
    cursor: default;
}

/* Radio */
div.radio {
    margin-right: 3px;
}

div.radio span {
    position: relative;
}

/* Uploader */
div.uploader span.action {
    text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

div.uploader span.filename {
    color: #777;
    border: solid 1px #d6d4d4;
    font-size: 13px;
    background: #fbfbfb;
    margin-right: 2px;
}

div.uploader.disabled span.action, div.uploader.disabled.active span.action {
    color: #aaa;
}

div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
    border-color: #ddd;
    color: #aaa;
}

input.uniform-input, input.uniform-input:focus {
    background-color: #fff;
}
