@import "../../../../_theme_variables";
@import "../../../../_header_modules_variables";
@import "../../../../_elements_variables";

#tmsearch {
  @include search-box-style;
  #tmsearchbox {
    background: $light-text-color;
    @include transition(0.4s all ease);
    #tm_search_query {
      font-family: $font-custom;
      letter-spacing: 0.02em;
    }
    .button-search {
      max-width: none;
      @include transition(0.3s all ease);
    }
  }
  #search-toggle {
    display: inline-block;
    color: $dark-text-color;
    line-height: 1;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    @include transition(0.3s all ease);
    &:before {
      @include addFlIcon('\e032', 28px);
    }
    &:hover {
      color: $primary-text-color;
    }
  }
  @media (min-width: $screen-sm-min) {
    float: left;
    #tmsearchbox {
      width: 0;
      height: 50px;
      #tm_search_query {
        padding-left: 0;
        padding-right: 0;
        @include transition(0.2s all ease);
        opacity: 0;
      }
      .button-search {
        opacity: 0;
      }
      .search-close {
        display: none;
      }
    }
    #search-toggle {
      position: absolute;
      top: 50%;
      left: 19px;
      @include translate(0, -50%);
    }
    &.active-search {
      #tmsearchbox {
        width: 100%;
        #tm_search_query {
          padding-left: 57px;
          padding-right: 15px;
          opacity: 1;
        }
        .button-search {
          opacity: 1;
          left: 16px;
        }
      }
      #search-toggle {
        opacity: 0;
        z-index: -1;
        left: 31px;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    left: 25%;
    display: inline-block;
    line-height: 1;
    width: 25%;
    padding-top: 30px;
    text-align: center;
    > * {
      text-align: left;
    }
    #tmsearchbox {
      position: fixed;
      top: -100px;
      left: 0;
      width: 100%;
      z-index: 10;
      #tm_search_query {
        font-size: 18px;
        height: 90px;
        padding: 20px 77px;
      }
      .btn.button-search {
        left: 30px;
        color: $primary-text-color;
        &:hover {
          color: $dark-text-color;
        }
      }
      .search-close {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        padding: 15px;
        @include translate(0, -50%);
        cursor: pointer;
        line-height: 1;
        color: $color-gray;
        @include transition(0.3s all ease);
        &:before {
          content: "\e00a";
          display: block;
          font-family: 'fl-free-chaos';
          font-size: 18px;
          font-weight: 400;
          font-style: normal;
          line-height: 1;
        }
        &:hover {
          color: $primary-text-color;
        }
      }
    }
    #search-toggle {
      color: inherit;
      &:after {
        display: block;
        content: '';
        @include popup-overlay-style;
        z-index: 10;
        cursor: default;
        @include transition(0.3s all ease);
        visibility: hidden;
        opacity: 0;
      }
    }
    &.active-search {
      #tmsearchbox {
        top: 0;
      }
      #search-toggle {
        &:after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

body .ac_results {
  @include hm-drop-down-box;
  padding: 0;
  border: none;
  z-index: 9999;
  @media (max-width: $screen-sm-max) {
    position: fixed !important;
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
  }
  li {
    padding: 10px;
    margin-top: 10px;
    border-radius: $border-radius-base;
    cursor: pointer;
    @include transition(0.3s all ease);
    &:first-child {
      margin-top: 0;
    }
    &.ac_odd {
      background: lighten($hm-light, 4%);
    }
    &:hover, &.ac_over {
      background: $hm-light;
      color: $hm-text-color-secondary;
    }
  }
  .pull-left {
    margin-right: 20px;
  }
  .content {
    overflow: hidden;
  }
  span.reference, span.manufacturer {
    display: block;
    margin: 0 0 5px;
    font-style: italic;
  }
  span.product-name {
    font: $font;
    display: inline-block;
    color: $hm-text-color-primary;
  }
  strong {
    color: $color-warning;
  }
  .description {
    font-size: 11px;
    line-height: 15px;
  }
  .price {
    padding-right: 5px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .content {
      float: left;
      clear: both;
    }
  }
}