<!-- MODULE WishList -->
<li class="lnk_wishlist">
    <a href="{$link->getModuleLink('blockwishlist', 'mywishlist', array(), true)|escape:'html':'UTF-8'}" title="{l s='My wishlists' mod='blockwishlist'}">
        <i class="fa fa-heart"></i> <span>{l s='My wishlists' mod='blockwishlist'}</span> </a>
</li><!-- END : MODULE WishList -->