#header-login {
    position: relative;
}

@media (min-width: 768px) {
    #header-login {
        float: left;
    }
}

#header-login .header_user_info.current a {
    color: #5d5d5d;
}

@media (max-width: 767px) {
    #header-login .header_user_info.current a {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }
}

#header-login .header_user_info.current.active a, #header-login .header_user_info.current a:hover {
    color: #07a3e0;
}

#header-login .logout {
    overflow: hidden;
    padding-top: 10px;
    margin: 0;
}

#header-login .btn {
    width: 100%;
    padding: 17px 22px;
    background: none;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 2px #b5ebe7;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#header-login .btn:before, #header-login .btn:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

#header-login .btn:before {
    border-width: 165px 0 0 165px;
}

#header-login .btn:after {
    border-width: 0 165px 165px 0;
}

#header-login .btn:before {
    border-color: transparent transparent transparent #07a3e0;
    bottom: 0;
    left: 0;
}

#header-login .btn:after {
    border-color: transparent #07a3e0 transparent transparent;
    top: 0;
    right: 0;
}

#header-login .btn:hover {
    color: #07a3e0;
}

#header-login .btn:hover:before, #header-login .btn:hover:after {
    border-width: 0 0 0 0;
}

#header-login .btn.create {
    color: #07a3e0;
}

#header-login .btn.create:before, #header-login .btn.create:after {
    border-width: 0 0 0 0;
}

#header-login .btn.create:hover {
    color: white;
}

#header-login .btn.create:hover:before {
    border-width: 165px 0 0 165px;
}

#header-login .btn.create:hover:after {
    border-width: 0 165px 165px 0;
}

#header-login .submit, #header-login .logout {
    margin-top: 10px;
}

#header-login .submit .btn i, #header-login .logout .btn i {
    display: none;
}

#header-login-content {
    display: none;
    width: 185px;
    padding: 15px 25px;
    position: absolute;
    right: 0;
    top: 115%;
    z-index: 2;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    right: 50%;
    -moz-transform: translate(50%, 0);
    -ms-transform: translate(50%, 0);
    -o-transform: translate(50%, 0);
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
    width: 270px;
}

#header-login-content li {
    padding: 5px;
}

#header-login-content li + li {
    margin-top: 2px;
}

#header-login-content label {
    color: #5d5d5d;
}

#header-login-content a:not(.btn):hover, #header-login-content a:focus:not(.btn) {
    color: #07a3e0;
}

#header-login-content li ul li a i {
    display: none;
}

@media (max-width: 767px) {
    #header-login-content {
        position: static;
        width: auto;
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        box-shadow: none;
        padding: 7px 0 10px 7px;
    }

    #header-login-content li {
        padding: 0 3px;
        font-size: 16px;
        line-height: 1.3;
    }

    #header-login-content li + li {
        margin-top: 10px;
    }

    #header-login-content .btn {
        width: auto;
        padding: 10px 20px;
    }
}

#create_header_account_error {
    padding: 8px;
}

#create_header_account_error ol {
    margin-bottom: 0;
}

#headeraccount-popup {
    display: none;
    animation: 0.2s ease-in-out 0s normal none 1 fadeIn;
    -webkit-animation: 0.2s ease-in-out 0s normal none 1 fadeIn;
    background: rgba(38, 50, 56, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    overflow: hidden;
}

#headeraccount-popup .popup-box {
    background: white;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 99999;
    padding-top: 27px;
    margin: 0 auto;
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#headeraccount-popup .popup-box .popup-body {
    padding: 20px 30px;
    border-bottom: 1px solid whitesmoke;
}

#headeraccount-popup .popup-box .popup-footer {
    padding: 29px 30px 20px;
}

#headeraccount-popup .popup-box h2 {
    padding: 0 30px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #263238;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#headeraccount-popup .popup-box .form-group {
    margin-bottom: 5px;
}

#headeraccount-popup .popup-box .form-group .form-control {
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
}

#headeraccount-popup .popup-box #popup-close {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #d1d1d1;
    text-align: center;
    background: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#headeraccount-popup .popup-box #popup-close:before {
    content: "\e00a";
    display: block;
    font-family: 'fl-free-chaos';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#headeraccount-popup .popup-box #popup-close:hover {
    color: #07a3e0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
