.newsletter-overlay {
    background: rgba(38, 50, 56, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    overflow: hidden;
}

.newsletter-overlay #newsletter_popup {
    background: white;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 99999;
    margin: 0 auto;
    max-width: 630px;
    min-width: 290px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner {
    position: relative;
    padding: 20px 5px;
    text-align: center;
}

@media (min-width: 768px) {
    .newsletter-overlay #newsletter_popup .tmnewsletter-inner {
        padding: 36px;
    }
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #d1d1d1;
    text-align: center;
    background: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:before {
    content: "\e00a";
    display: block;
    font-family: 'fl-free-chaos';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:hover {
    color: #07a3e0;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header {
    margin-left: auto;
    margin-right: auto;
    max-width: 476px;
    padding: 10px 15px;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header h4 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: #263238;
    margin: 0 0 12px;
    text-transform: uppercase;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header .description {
    font-family: "Merriweather", serif;
    font-size: 13px;
    line-height: 1.71429;
    margin-bottom: 48px;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header .form-group {
    margin: 0;
    padding: 0 5px;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header .form-group.email-error .form-control {
    border-color: #fa505d;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header .form-group.email-valid .form-control {
    border-color: #00b06c;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-header .form-group .form-control {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content {
    padding: 10px 15px 0;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-content .form-control.error {
    border-color: #fa505d;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer {
    padding: 0 20px;
    overflow: hidden;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn {
    display: block;
    color: white;
    background: #07a3e0;
    position: relative;
    overflow: hidden;
    padding: 17px 20px;
    margin-top: 4px;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 3px;
    text-align: center;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:before, .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: -1;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:before {
    border-color: transparent transparent transparent #0abaff;
    bottom: 0;
    left: 0;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:after {
    border-color: transparent #0abaff transparent transparent;
    top: 0;
    right: 0;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:hover:before {
    border-width: 290px 0 0 290px;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:hover:after {
    border-width: 0 290px 290px 0;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox {
    float: left;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker {
    display: inline-block;
    vertical-align: -1px;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox .checker .checked:before {
    left: 0;
}

.newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .checkbox input {
    display: block;
}
