.related-block .bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
}

@media only screen and (min-width: 991px) {
    .related-block .bx-wrapper {
        margin: 0 !important;
    }
}

.related-block .bx-wrapper img {
    max-width: 100%;
    display: block;
}

.related-block .bx-wrapper .bx-pager,
.related-block .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.related-block .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
}

.related-block .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.related-block .bx-wrapper .bx-pager .bx-pager-item,
.related-block .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.related-block .bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #000;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.related-block .bx-wrapper .bx-pager.bx-default-pager a:hover,
.related-block .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

.related-block .bx-wrapper .bx-controls-direction a {
    margin-top: 38px;
    height: 20px;
    width: 20px;
    line-height: 0;
    position: absolute;
    top: 40%;
    margin-top: -10px;
    font-size: 0;
    overflow: hidden;
}

.related-block .bx-wrapper .bx-controls-direction a:before {
    padding-left: 2px;
    color: #c0c0c0;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 22px;
}

.related-block .bx-wrapper .bx-controls-direction a:hover:before {
    color: #333333;
}

.related-block .bx-next {
    right: 10px;
}

.related-block .bx-next:before {
    content: "\f138";
}

.related-block .bx-prev {
    left: 10px;
}

.related-block .bx-prev:before {
    content: "\f137";
}

.related-block .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

.related-block .bx-wrapper .bx-controls-auto {
    text-align: center;
}

.related-block .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.related-block .bx-wrapper .bx-controls-auto .bx-start:hover,
.related-block .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.related-block .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.related-block .bx-wrapper .bx-controls-auto .bx-stop:hover,
.related-block .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

.related-block .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.related-block .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

.related-block .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.related-block .bx-wrapper .bx-caption span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: .85em;
    padding: 10px;
}