#tmhtmlcontent_topColumn {
    margin-top: 3px;
}

@media (min-width: 480px) {
    #tmhtmlcontent_topColumn {
        margin-top: 30px;
    }
}

#tmhtmlcontent_topColumn ul li {
    margin-top: 20px;
}

#tmhtmlcontent_topColumn ul li:before {
    display: block;
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    background: #ebebeb;
    top: 16px;
    bottom: 5px;
    left: -1px;
}

@media (max-width: 1200px) {
    #tmhtmlcontent_topColumn ul li:before {
        display: none;
    }
}

#tmhtmlcontent_topColumn ul li:first-child:before {
    display: none;
}

@media (max-width: 479px) {
    #tmhtmlcontent_topColumn ul li {
        width: 100%;
    }
}

#tmhtmlcontent_topColumn ul li .item-html {
    text-align: center;
    letter-spacing: 0.02em;
}

#tmhtmlcontent_topColumn ul li .item-html h4 {
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
}

#tmhtmlcontent_topColumn ul li .item-html h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #263238;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}

#tmhtmlcontent_topColumn ul li .item-html a {
    font-size: 14px;
    color: #07a3e0;
}

#tmhtmlcontent_topColumn ul li .item-html a:hover {
    color: #263238;
}

@media (min-width: 480px) and (max-width: 991px) {
    #tmhtmlcontent_topColumn ul li .item-html h4 {
        font-size: 16px;
    }

    #tmhtmlcontent_topColumn ul li .item-html h3 {
        font-size: 24px;
    }
}

#tmhtmlcontent_home {
    margin-top: 40px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    #tmhtmlcontent_home {
        margin-top: 0;
    }
}

#tmhtmlcontent_home ul {
    background: #e6e6e6;
    margin: 0;
}

#tmhtmlcontent_home ul li .item-html {
    display: block;
    padding: 14% 10%;
    color: #263238;
    position: relative;
}

@media (max-width: 579px) {
    #tmhtmlcontent_home ul li .item-html:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
        z-index: -1;
    }
}

@media (min-width: 580px) {
    #tmhtmlcontent_home ul li .item-html {
        padding-left: 50%;
    }
}

@media (min-width: 768px) {
    #tmhtmlcontent_home ul li .item-html {
        padding: 11% 8% 13% 55%;
    }
}

@media (min-width: 1200px) {
    #tmhtmlcontent_home ul li .item-html {
        padding: 176px 8% 184px 56%;
    }
}

#tmhtmlcontent_home ul li .item-html h4 {
    font-size: 18px;
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 2px;
    will-change: transform;
}

#tmhtmlcontent_home ul li .item-html h2 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 38px;
    will-change: transform;
}

#tmhtmlcontent_home ul li .item-html h2 small {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    color: #263238;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #tmhtmlcontent_home ul li .item-html h4 {
        font-size: 26px;
    }

    #tmhtmlcontent_home ul li .item-html h2 {
        font-size: 76px;
    }

    #tmhtmlcontent_home ul li .item-html h2 small {
        font-size: 24px;
    }
}

#tmhtmlcontent_home ul li .item-html a {
    display: inline-block;
    color: white;
    background: #07a3e0;
    position: relative;
    overflow: hidden;
    padding: 14px 20px;
    min-width: 170px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 3px;
    text-align: center;
    will-change: transform;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
}

#tmhtmlcontent_home ul li .item-html a:before, #tmhtmlcontent_home ul li .item-html a:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: -1;
}

#tmhtmlcontent_home ul li .item-html a:before {
    border-color: transparent transparent transparent #0abaff;
    bottom: 0;
    left: 0;
}

#tmhtmlcontent_home ul li .item-html a:after {
    border-color: transparent #0abaff transparent transparent;
    top: 0;
    right: 0;
}

#tmhtmlcontent_home ul li .item-html a:hover:before {
    border-width: 170px 0 0 170px;
}

#tmhtmlcontent_home ul li .item-html a:hover:after {
    border-width: 0 170px 170px 0;
}
