#translations_form
  .translations-email-panel
    padding: 8px 12px
    @include margin(0, 0, 8px, 20px)
  .block-mail
    iframe, textarea
      width: 100%
      height: 500px
  .panel-group
    display: none
  a.panel-title
    i
      display: none
    &:hover
      text-decoration: none
      i
        display: inline-block
  .mails_field
    border-bottom: 1px solid #eee
    padding-bottom: 8px
    margin-bottom: 16px
    ul.nav-pills
      margin-bottom: 5px
    h4 .badge
      font-size: 12px
      &.badge-danger
        color: $brand-danger
        border: solid 2px $brand-danger
        background-color: transparent
    .panel-footer
      margin: 0 -15px