.row.full-width {
    margin-left: auto;
    margin-right: auto;
}

.container.col-lg-12 {
    max-width: 1170px;
    float: none;
}

.row.container {
    margin-left: auto;
    margin-right: auto;
}

.row.container > [class*='col-'] {
    padding: 0;
}

@media (min-width: 1200px) {
    .slider-wrapper #homepage-slider #homeslider {
        padding-bottom: 56.84%;
    }

    .slider-wrapper #homepage-slider #homeslider .homeslider-container .homeslider-description {
        padding-bottom: 11px;
        max-width: none;
        width: 100%;
        padding-right: 350px;
        padding-left: 114px;
    }

    .slider-wrapper #homepage-slider .bx-wrapper .bx-viewport {
        padding-bottom: 56.84%;
    }

    .slider-wrapper #homepage-slider .bx-wrapper .bx-viewport img {
        width: auto;
        height: 100%;
        max-width: none;
    }

    .slider-wrapper #homepage-slider .bx-wrapper .bx-controls-direction a {
        top: 50%;
        left: 45px;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .slider-wrapper #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
        left: auto;
        right: 45px;
    }
}

@media (min-width: 1200px) and (max-width: 1699px) {
    .slider-wrapper #homepage-slider #homeslider .homeslider-container .homeslider-description {
        padding-right: 35%;
    }

    .slider-wrapper #homepage-slider #homeslider .homeslider-container .homeslider-description h2 {
        font-size: 48px;
    }
}

.row-gutter, .row-gutter .row {
    margin-left: -3px;
    margin-right: -3px;
}

.row-gutter > [class*='col-'], .row-gutter .row > [class*='col-'] {
    padding-left: 3px;
    padding-right: 3px;
}

.banner-wrapper #htmlcontent_top ul li .item-link {
    padding-bottom: 67.21%;
}

@media (min-width: 1200px) {
    .banner-wrapper #htmlcontent_top ul {
        margin-top: 0;
    }

    .banner-wrapper #htmlcontent_top ul li {
        width: 25%;
    }
}

.gray-background {
    background: #f4f4f4;
}

.offset-top {
    margin-top: 25px;
}

.home-blog-wrapper #homepage-blog {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 16px;
}

.home-blog-wrapper #homepage-blog .title_block {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .home-blog-wrapper #homepage-blog .title_block {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .home-blog-wrapper #homepage-blog .title_block {
        max-width: 1170px;
    }
}

@media (min-width: 1200px) {
    .home-blog-wrapper #homepage-blog .block_content .blog-image a {
        position: relative;
        padding-bottom: 38.87%;
        overflow: hidden;
    }

    .home-blog-wrapper #homepage-blog .block_content .blog-image a img {
        position: absolute;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .banner-background #tmhtmlcontent_home .item-html {
        will-change: transform;
    }

    .banner-background #tmhtmlcontent_home .item-html:before {
        content: '';
        position: absolute;
        top: -100px;
        right: 0;
        bottom: -100px;
        width: 50%;
        background: #f2f2f2;
        z-index: -1;
        will-change: transform;
    }

    .banner-background #tmhtmlcontent_home .rd-parallax-layer[data-type="media"] {
        left: -8%;
        right: 8%;
    }
}

#footer > .wrapper:first-child {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 23px;
    padding-top: 20px;
}

@media (min-width: 768px) {
    #footer > .wrapper:first-child {
        padding-bottom: 46px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #footer .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}

#index #footer > .wrapper:first-child {
    padding-top: 0;
}

#index #footer .border-top {
    position: relative;
    margin-top: 14px;
    padding-top: 24px;
}

#index #footer .border-top:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    right: -50%;
    border-top: 1px solid #ebebeb;
}

@media (min-width: 1200px) {
    .row-slider-extra #homepage-slider .bx-wrapper .bx-viewport {
        max-height: 500px;
        padding-bottom: 26%;
    }

    .row-slider-extra #homepage-slider .bx-wrapper .bx-viewport #homeslider .homeslider-container .homeslider-description {
        padding-bottom: 140px;
    }
}

.banner-row-extra #htmlcontent_top ul li > div {
    padding-bottom: 70%;
}
