@import 'compass';
@import 'bootstrap_lib/_variables';

$color-style1: #719f41;
$color1-style1: #333;
$color2-style1: #b7b7b7;

body {
  background: $color1-style1
}

.header-container,
.columns-container {
  background: white
}

$color-shadow: 0 1px #567931;

//-------- HEADER
#header {
  background: none;
  .header-row {
    background: $color1-style1;
    .shop-phone {
      color: #777;
      i,
      strong {
        color: $color-style1
      }

    }
  }

  #currencies-block-top,
  #languages-block-top,
  .header-row .header_user_info {
    border-color: #515151;
  }

  #currencies-block-top div.current,
  #languages-block-top div.current,
  .header-row .header_user_info a {
    color: white;
    &:hover, &.active {
      background: #2b2b2b;
      color: white
    }

  }
  #currencies-block-top div.current,
  #languages-block-top div.current {
    strong {
      color: $color-style1;
    }
  }

  #currencies-block-top div.current,
  #languages-block-top div.current {
    &:after {
      color: white
    }

  }

  #currencies-block-top div.current,
  #languages-block-top div.current {
    &:hover,
    &.active {
      strong,
      &:after {
        color: white
      }
    }
  }

  #contact-link {
    border-color: #515151;
    a {
      color: white;
      &:hover, &.active {
        background: #2b2b2b;
        color: white
      }
    }
  }

}

#search_block_top .btn.button-search {
  background: $color-style1;
  text-shadow: $color-shadow;
  &:hover {
    color: white;
    background: $color1-style1;
    text-shadow: 0 1px #333;
  }
}

#search_block_top #search_query_top {
  color: #686666
}

#header_user #shopping_cart a {
  background: $color-style1;
  color: white;
  text-shadow: $color-shadow;
  &:after {
    color: white
  }
  &:hover {
    color: white;
    text-shadow: 0 1px #333;
    background: $color1-style1
  }
}

.sf-menu {
  background: #f6f6f6;
  border-bottom: 3px solid #e9e9e9;
  > li {
    border-right: 1px solid #d6d4d4;
    > a {
      border-bottom: 3px solid #e9e9e9;
    }
    &.sfHover > a, > a:hover, &.sfHoverForce > a {
      color: #fff;
      background: $color-style1;
      border-bottom-color: #598b24;
    }
  }
}

//-------- columns-container

#home-page-tabs {
  background: white;
  > li.active a,
  > li a:hover {
    background: $color-style1;
    color: white
  }

}

.new,
.sale {
  background: $color-style1;
  &:before,
  &:after {
    border-color: #719f41 transparent transparent transparent;
  }
}

ul.product_list.grid > li .product-container {
  background: white;
  .product-image-container {
    background: white;
    .product_img_link {
      background: white;
      img {
        background: white;
      }
    }
  }
}

.price.product-price {
  color: $color-style1;
}

.price-percent-reduction {
  background: $color-style1;
  border-color: $color-style1
}

.button.lnk_view {
  text-shadow: none;
  padding: 0;
  border: none;
  span {
    border: none;
    padding: 12px 16px;
    background: $color1-style1;
    color: white;
  }

  &:hover {
    span {
      background: $color-style1;
    }
  }
}

#cmsinfo_block em {
  background: $color-style1;
  text-shadow: $color-shadow;
}

#facebook_block, #cmsinfo_block {
  background: #e8e8e8
}

#cmsinfo_block,
#cmsinfo_block > div + div {
  border-color: #d0d0d0;
}

.footer-container #footer #social_block {
  background: #3f3f3f;
  padding-bottom: 15px;
}

.footer-container {
  background: #3f3f3f;
  @media (min-width: $screen-sm) { // min 768px
    background: url(../img/footer-bg.gif) repeat-x;
  }
}

.footer-container #footer #social_block ul li a:hover {
  color: $color-style1;
}

#footer #newsletter_block_left .form-group {
  .form-control {
    background: #3f3f3f;
  }

}

#footer #newsletter_block_left h4,
.footer-container #footer #social_block h4 {
  color: #fff
}

.footer-container #footer h4,
.footer-container #footer h4 a {
  color: $color-style1;
}

.footer-container #footer .bottom-footer {
  color: $color-style1;
  a {
    color: $color-style1;
    &:hover {
      color: #fff
    }
  }
}
		
	