@import 'compass';
@import 'bootstrap_lib/_variables';

$header-background: #545454;
$color-style1: #666;
$color1-style1: #333;
$color2-style1: #b7b7b7;

body {
  background: #232323
}

.header-container,
.columns-container {
  background: $color1-style1
}

//-------- HEADER
#header {
  background: none;
  .header-row {
    background: $header-background;
    .shop-phone {
      color: white;
      text-shadow: 0 1px #404040;
      i,
      strong {
        color: #aaaaaa;
        text-shadow: 0 1px #404040;
      }

    }
  }

  #currencies-block-top,
  #languages-block-top,
  .header-row .header_user_info {
    border-color: #656565;
  }

  #currencies-block-top div.current,
  #languages-block-top div.current,
  .header-row .header_user_info a {
    color: white;
    &:hover, &.active {
      color: white
    }

  }
  #currencies-block-top div.current,
  #languages-block-top div.current {
    padding-bottom: 11px;
    strong,
    &:after {
      color: white;
    }
  }

  #currencies-block-top div.current,
  #languages-block-top div.current {
    &:hover,
    &.active {
      strong,
      &:after {
        background: #2b2b2b;
        color: white
      }
    }
  }

  #contact-link {
    border-color: #656565;
    a {
      color: white;
      &:hover, &.active {
        background: #2b2b2b;
        color: white
      }
    }
  }

}

#search_block_top .btn.button-search {
  background: $color-style1;

  &:hover {
    color: white;
    background: $color1-style1
  }

}

#search_block_top #search_query_top {
  background: white;
  color: $color1-style1
}

#header_user #shopping_cart a {
  background: $color-style1;
  color: white;
  &:after {
    color: white
  }
  &:hover {
    color: white;
    background: $color1-style1
  }
}

.sf-menu {
  background: white;
  border: 1px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  > li {
    border-right: 1px solid #d6d4d4;
    a {
      border-bottom: 3px solid #f2f2f2;
    }
    &.sfHover > a, > a:hover, &.sfHoverForce > a {
      color: #fff;
      background: $color-style1;
      border-bottom-color: $color-style1;
    }
  }
}

//-------- columns-container

#home-page-tabs {
  background: white;
  > li.active a,
  > li a:hover {
    background: $color1-style1;
    color: white
  }

}

.new,
.sale {
  background: #f44051;
  &:before,
  &:after {
    border-color: #f44051 transparent transparent transparent;
  }
}

ul.product_list.grid > li .product-container {
  background: white;
  .product-image-container {
    background: #474747;
    .product_img_link {
      background: #474747;
      img {
        background: #474747;
      }
    }
  }
}

ul.product_list.grid > li:hover .product-container {
  background: #5c5c5c;
  .product-name {
    color: #aaa
  }
  .functional-buttons div a, ul.product_list.grid > li .product-container .functional-buttons div label {
    color: #aaa;

    &:hover {
      color: #fff
    }
  }

}

#cmsinfo_block em {
  background: $color-style1;
}

#facebook_block, #cmsinfo_block {
  background: #454545;
  h4 {
    color: white
  }

}

#cmsinfo_block h3,
#cmsinfo_block .dark {
  color: white
}

#cmsinfo_block,
#cmsinfo_block > div + div {
  border-color: #1b1b1b;
}

.footer-container {
  background: #1b1b1b;
  @media (min-width: $screen-sm) { // min 768px
    background: url(../img/footer-bg1.gif) repeat-x;
  }
}

.footer-container #footer #social_block {
  background: #1b1b1b;
}

#footer #newsletter_block_left .form-group {
  .form-control {
    background: #1b1b1b;
  }
  .button-small {
    color: $color-style1;
  }
}

.footer-container #footer #social_block ul li a:hover {
  color: white;
}
	
	