@import 'compass';
@import 'bootstrap_lib/_variables';

$header-background: #333333;
$color-style1: #eea200;
$color1-style1: #fff;
$color2-style1: #b7b7b7;

body {
  background: #282828
}

.header-container,
.columns-container {
  background: #f7f5eb
}

//-------- HEADER
#header {
  background: none;
  .header-row {
    background: $header-background;
    .shop-phone {
      color: $color1-style1;
      i,
      strong {
        color: $color-style1
      }

    }
  }

  #currencies-block-top,
  #languages-block-top,
  .header-row .header_user_info {
    border-color: #515151;
  }

  #currencies-block-top div.current,
  #languages-block-top div.current,
  .header-row .header_user_info a {
    color: $color1-style1;
    &:hover, &.active {
      background: $color2-style1;
      color: white
    }

  }
  #currencies-block-top div.current,
  #languages-block-top div.current {
    strong {
      color: $color1-style1;
    }
  }

  #currencies-block-top div.current,
  #languages-block-top div.current {
    &:hover,
    &.active {
      strong,
      &:after {
        background: $color2-style1;
        color: white
      }
    }
  }

  #contact-link {
    border-color: #515151;
    a {
      color: $color1-style1;
      &:hover, &.active {
        background: $color2-style1;
        color: white
      }
    }
  }

}

#search_block_top .btn.button-search {
  background: $color-style1;
  &:hover {
    color: white;
    background: $color2-style1
  }
}

#header_user #shopping_cart a {
  background: $color-style1;
  color: white;
  &:after {
    color: white
  }
  &:hover {
    color: white;
    background: $color2-style1
  }
}

.sf-menu {
  background: #fffef6;
  border-bottom: 3px solid #e2dec8;
  > li {
    border-right: 1px solid #e2dec8;
    a {
      border-bottom: 3px solid #e2dec8;
    }
    &.sfHover > a, > a:hover, &.sfHoverForce > a {
      color: #fff;
      background: $color-style1;
      border-bottom-color: #da9400;
    }
  }
}

//-------- columns-container

#home-page-tabs {
  background: none;
  > li.active a,
  > li a:hover {
    background: $color-style1;
    color: white
  }

}

.new,
.sale {
  background: $color-style1;
  &:before,
  &:after {
    border-color: $color-style1 transparent transparent transparent;
  }
}

ul.product_list.grid > li .product-container {
  background: none;
  .product-image-container {
    background: white;
    .product_img_link {
      background: #f1e8e3;
      img {
        background: #f1e8e3;
      }
    }
  }
}

.button.lnk_view {
  text-shadow: none;
  padding: 0;
  border: none;
  span {
    border: 1px solid #9a9a9a;
    padding: 12px 16px;
    background: #f2f2f2;
    color: white;
  }

  &:hover {
    span {
      background: $color2-style1;
    }
  }
}

#cmsinfo_block em {
  background: $color-style1;
}

#facebook_block, #cmsinfo_block {
  background: #f0eee1
}

#cmsinfo_block,
#cmsinfo_block > div + div {
  border-color: #e9e6d6;
}

.footer-container #footer #social_block {
  background: none;
  padding-bottom: 15px;
}

.footer-container {
  background: #3f3f3f;
  @media (min-width: $screen-sm) { // min 768px
    background: url(../img/footer-bg.gif) repeat-x;
  }
}

#footer #newsletter_block_left .form-group {
  .form-control {
    background: #3c3c3c;
  }
  .button-small {
    color: $color-style1;
  }
}

.footer-container #footer #social_block ul li a:hover {
  color: $color-style1;
}
	
	