#header-login {
    position: relative;
    float: right;
}

#header-login div.current a {
    background: #333333;
}

#header-login div.current a:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 18px;
    color: #686666;
    vertical-align: -2px;
    padding-left: 12px;
}

#header-login div.current.active a:after {
    content: "\f0d8";
}

#header-login-content {
    display: none;
    width: 270px;
    padding: 15px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 37px;
    z-index: 1;
    background: #333;
    color: #fff;
}

#header-login-content label {
    color: #fff;
}

#header-login-content li {
    margin: 0;
    padding: 0;
}

#header-login-content li ul {
    margin: 0 0 10px 0;
}

#header-login-content li ul li {
    display: block;
    border-top: 1px solid #515151;
    line-height: 35px;
}

#header-login-content li li:first-child {
    border: none;
}

#header-login-content li li a {
    font-weight: bold;
    color: #fff;
    padding: 0 10px 0 10px;
    display: block;
}

#header-login-content li li a:hover {
    background: #484848;
}

#header-login-content li li a i {
    display: none;
}

#header-login .logout {
    overflow: hidden;
    margin-bottom: 0;
}

#create_header_account_error {
    padding: 8px;
}