/* BLOCK #reinsurance_block ******************************************************************** */
#reinsurance_block {
    background: url(../blockreinsurance/img/bg_reinsurance_block.gif) repeat-x 0 0 #c3c7cb
}

#reinsurance_block li {
    float: left;
    padding: 15px 10px !important;
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff
}

#reinsurance_block .width1 li {
    width: 960px
}

#reinsurance_block .width2 li {
    width: 470px
}

#reinsurance_block .width3 li {
    width: 305px
}

#reinsurance_block .width4 li {
    width: 224px
}

#reinsurance_block .width5 li {
    width: 175px
}

#reinsurance_block li img {
    float: left;
    margin-right: 10px;
}

#reinsurance_block li span {
    float: left;
    padding-top: 12px;
    width: 65%;
}