@import "../../../../_theme_variables";

.category-block {
  margin-top: 70px;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    margin-top: 54px;
  }

  ul.product_list.grid {
    > li {
      padding-left: 0;
      padding-right: 0;
      &.first-in-line, &.first-item-of-mobile-line, &.first-item-of-tablet-line {
        clear: none !important;
      }
    }
  }
  .bx-viewport > ul {
    margin: 0;
  }

  .title_block {
    display: none;
  }

  .bx-controls-direction {
    a {
      display: block;
      width: 30px;
      height: 30px;
      text-align: center;
      z-index: 10;
      background: none;
      margin-top: -12px;
      &:before {
        font-size: 33px;
        color: $dark-text-color;
        @include transition(0.3s all ease);
      }
      &:hover {
        &:before {
          color: $primary-text-color;
        }
      }
      &.bx-prev {
        left: -9px;
        &:before {
          content: '\f104';
        }
      }
      &.bx-next {
        right: -9px;
        &:before {
          content: '\f105';
        }
      }
    }
  }
  .bx-pager {
    position: absolute;
    bottom: -10px;
    z-index: 10;
    .bx-pager-item {
      a {
        background: $color-base;
        &:hover, &.active {
          background: $primary-background;
        }
      }
    }

  }
}