/*******************************************************
				Addresses Styles
********************************************************/
#addresses #center_column .page-heading {
    margin: 0 0 22px;
}

#addresses #center_column p {
    margin: 0 0 13px;
}

#addresses #center_column p.p-indent {
    margin: 0 0 27px;
}

.address li.address_update {
    margin: 14px 0 6px 0;
}

.address li.address_update a {
    margin: 0 10px 0 0;
}

/*# sourceMappingURL=addresses.css.map */
