/********************************************************
			Right to Left Styles
********************************************************/
* {
    direction: rtl !important;
}

#page {
    text-align: right !important;
}

/*# sourceMappingURL=rtl.css.map */
