<div class="error_customerprivacy" style="color:red;"></div>
<fieldset class="account_creation customerprivacy">
    <h3 class="page-subheading">
        {l s='Customer data privacy' mod='blockcustomerprivacy'}
    </h3>
    <div style="width:21px; float:left;" class="input_without_label">
        <div class="required checkbox">
            <input type="checkbox" value="1" id="customer_privacy" name="customer_privacy" autocomplete="off"/>
        </div>
    </div>
    <div style="width: 92%; float: left; margin-top: 8px;">
        <label for="customer_privacy" style="font-weight: normal;">{$privacy_message}</label>
    </div>
</fieldset>