@import "compass";
@import "../../../../_theme_variables";

/**************************************************************************
		        Style TM Homepage Products Carousel
**************************************************************************/

.tab-content {
  > ul {
    display: none !important;
  }
  .bx-wrapper {
    margin: 0 !important;
    #homepage-carousel {
      margin-bottom: 0;
      overflow: hidden;
      li {
        padding-left: 0 !important;
        padding-right: 0 !important;
        clear: none;
      }
    }
    .bx-controls {
      a {
        &:before {
          font-family: 'FontAwesome';
        }
      }
      .bx-pager {
        padding: 0;
        overflow: hidden;
        bottom: -5px;
        z-index: 1;
        .bx-pager-item {
          text-align: center;
          & + .bx-pager-item {
            margin-left: 10px;
          }
          a {
            display: inline-block;
            font-size: 0;
            text-indent: 0;
            margin: 0;
            text-decoration: none;
            color: #fff;
            background: $color-base;
            &.active,
            &:hover {
              background: $primary-background;
            }
          }
        }
      }
      .bx-controls-direction {
        float: left;
        overflow: hidden;
        a {
          display: block;
          width: 30px;
          height: 30px;
          text-align: center;
          z-index: 10;
          background: none;
          margin-top: -12px;
          &:before {
            font-size: 33px;
            color: $dark-text-color;
            @include transition(0.3s all ease);
          }
          &:hover {
            &:before {
              color: $primary-text-color;
            }
          }
          &.bx-prev {
            left: -9px;
            &:before {
              content: '\f104';
            }
          }
          &.bx-next {
            right: -9px;
            &:before {
              content: '\f105';
            }
          }
        }
      }
      .bx-controls-auto {
        .bx-controls-auto-item {
          float: left;
          margin-right: 0;
          text-align: center;
          a {
            display: block;
            width: 17px;
            height: 17px;
            text-indent: 0;
            background: none;
            text-decoration: none;
            margin: 0;
            &.bx-start {
              &:before {
                content: '\f04b';
              }
            }
            &.bx-stop {
              &:before {
                content: '\f04c';
              }
            }
          }
        }
      }
    }
  }
}