/* block top search */
#search_block_top {
    position: absolute;
    right: 26%;
    top: 34px;
}

#search_block_top p {
    padding: 0;
}

#search_block_top #search_query_top {
    padding: 0 5px;
    height: 23px;
    width: 300px; /* 310 */
    border: 1px solid #666;
    border-right: 0 !important;
    color: #666;
    background: url(img/bg_search_input.png) repeat-x 0 0 #fff;
    float: left;
}

#search_block_top .button {
    border: none;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    background: url(img/bg_search_submit.png) repeat-x 0 0 #101010;
    float: left;
    height: 25px;
}

form#searchbox {
    padding-top: 5px
}

form#searchbox label {
    color: #333;
    margin-bottom: 1px
}

form#searchbox input#search_query_block {
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    height: 18px;
    margin-top: 10px;
}

form#searchbox input#search_button {
    padding: 1px 4px;
}

