@import "../_theme_variables";

.ui-to-top {
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 46px;
  color: $dark-text-color;
  background: none;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 999;
  @include translate(0, 100px);

  &:hover {
    color: $dark-text-color;
    text-decoration: none;
    background: rgba($primary-background, 0.3);
  }

  &.active {
    color: $dark-text-color;
    @include translate(0, 0);
  }
}

.mobile .ui-to-top,
.tablet .ui-to-top {
  display: none !important;
}

@media (min-width: $screen-xs-min) {
  .ui-to-top {
    right: 40px;
    bottom: 40px;
  }
}


