#tags_blog_block_left .block_content a {
    display: inline-block;
    border: 1px solid #07a3e0;
    float: left;
    font-size: 14px;
    margin: 0 3px 3px 0;
    padding: 6px 11px 7px;
    background: #07a3e0;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-transform: capitalize;
}

#tags_blog_block_left .block_content a:hover {
    background: transparent;
    color: #07a3e0;
}
