#mailalerts_block_account {
  li {
    &.last_item {
      border-bottom: none;
      margin-bottom: 0;
    }
    .products-block-image {
      float: left;
      margin-right: 19px;
    }
    .remove {
      float: right;
      i {
        cursor: pointer;
      }
    }
  }
}