@charset "UTF-8";
/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
    overflow: hidden;
    position: relative;
}

#homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0;
    padding-bottom: 33.5858%;
    min-height: 409px;
}

#homepage-slider #homeslider .homeslider-container {
    position: relative;
    height: 100%;
}

#homepage-slider #homeslider .homeslider-container .homeslider-image {
    position: absolute;
    left: 0;
    top: 0;
}

#homepage-slider #homeslider .homeslider-container .homeslider-description {
    padding: 30px 1% 30px 3%;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 123px;
    max-width: 900px;
    width: 100%;
    color: #263238;
}

#homepage-slider #homeslider .homeslider-container .homeslider-description h2 {
    position: relative;
    font-size: 45px;
    line-height: 1.10526;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-top: 7px;
    text-transform: uppercase;
}

@media (max-width: 479px) {
    #homepage-slider #homeslider .homeslider-container .homeslider-description h2 {
        font-size: 35px;
    }
}

#homepage-slider #homeslider .homeslider-container .homeslider-description p {
    position: relative;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 0;
}

@media (min-width: 480px) {
    #homepage-slider #homeslider .homeslider-container .homeslider-description {
        padding: 30px 15% 30px 65px;
    }
}

@media (min-width: 550px) {
    #homepage-slider #homeslider .homeslider-container .homeslider-description {
        padding-right: 32%;
    }
}

@media (min-width: 768px) {
    #homepage-slider #homeslider .homeslider-container .homeslider-description {
        bottom: auto;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding-right: 33%;
    }

    #homepage-slider #homeslider .homeslider-container .homeslider-description h2 {
        font-size: 60px;
        margin-top: 12px;
    }

    #homepage-slider #homeslider .homeslider-container .homeslider-description p {
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    #homepage-slider #homeslider .homeslider-container .homeslider-description {
        padding-right: 260px;
        padding-bottom: 73px;
    }

    #homepage-slider #homeslider .homeslider-container .homeslider-description h2 {
        font-size: 76px;
    }
}

#homepage-slider #homeslider .homeslider-container .homeslider-description button {
    position: relative;
}

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
#homepage-slider .bx-wrapper {
    position: relative;
    padding: 0;
    *zoom: 1;
}

#homepage-slider .bx-wrapper a {
    display: block;
}

#homepage-slider .bx-wrapper img {
    display: block;
    width: 100.2%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 409px;
    min-width: 894px;
    max-width: 100.2%;
}

@media (max-width: 479px) {
    #homepage-slider .bx-wrapper img {
        left: 44%;
    }
}

#homepage-slider .bx-wrapper .bx-viewport {
    width: 100%;
    padding-bottom: 33.5858%;
    min-height: 409px;
}

#homepage-slider .bx-wrapper .bx-pager,
#homepage-slider .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 999;
}

#homepage-slider .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

#homepage-slider .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: none;
    border: 3px solid #fff;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
}

#homepage-slider .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: auto;
    bottom: 119px;
    left: 2%;
    width: 20px;
    height: auto;
    outline: 0;
    margin: 0;
    z-index: 999;
}

#homepage-slider .bx-wrapper .bx-controls-direction a:before {
    font-family: "FontAwesome";
    content: "\f104";
    display: inline-block;
    font-weight: normal;
    font-size: 33px;
    color: #263238;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
    left: 19%;
}

#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:before {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    font-weight: normal;
}

@media (min-width: 480px) {
    #homepage-slider .bx-wrapper .bx-controls-direction a {
        bottom: auto;
        top: 50%;
        left: 20px;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
        left: auto;
        right: 20px;
    }
}

@media (min-width: 1200px) {
    #homepage-slider .bx-wrapper .bx-controls-direction a {
        left: 13%;
    }

    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
        right: 13%;
    }
}

@media (min-width: 1600px) {
    #homepage-slider .bx-wrapper .bx-controls-direction a {
        left: 20.5%;
    }

    #homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
        right: 20.5%;
    }
}

#homepage-slider .bx-wrapper .bx-controls-direction a:hover {
    color: #07a3e0;
}

#homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
    color: #07a3e0;
}

#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

#homepage-slider .bx-wrapper .bx-controls-auto {
    text-align: center;
}

#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    width: 10px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
}

#homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff;
}

#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    width: 9px;
    height: 11px;
    outline: 0;
    margin: 0 3px;
}

#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff;
}

#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto {
    right: 15px;
    width: 35px;
    top: 15px;
    z-index: 998;
}

#homepage-slider .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

#homepage-slider .bx-wrapper .bx-caption span {
    color: white;
    font-family: "Arimo", sans-serif;
    display: block;
    font-size: .85em;
    padding: 10px;
}

#bx-pager-thumb {
    text-align: center;
    padding: 10px 0;
}

#bx-pager-thumb a {
    display: inline-block;
    max-width: 150px;
    width: 31%;
}

#bx-pager-thumb a img {
    max-width: 100%;
    height: auto;
}
