/* -------*--------------------------------------------------------------------------------------------------------
										 Social Sharing 
------------------------------------------------------------------------------------------------------------------- */
.btn.btn-facebook,
.btn.btn-twitter,
.btn.btn-google-plus,
.btn.btn-pinterest {
    border: none;
    margin-bottom: 3px;
    padding: 0;
    margin-right: 24px;
    font-size: 16px;
    background: none;
}

.btn.btn-facebook:before,
.btn.btn-twitter:before,
.btn.btn-google-plus:before,
.btn.btn-pinterest:before {
    color: #d1d1d1;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.btn.btn-facebook:hover:before, .btn.btn-facebook:focus:before,
.btn.btn-twitter:hover:before,
.btn.btn-twitter:focus:before,
.btn.btn-google-plus:hover:before,
.btn.btn-google-plus:focus:before,
.btn.btn-pinterest:hover:before,
.btn.btn-pinterest:focus:before {
    color: #07a3e0;
}

.btn.btn-facebook span,
.btn.btn-twitter span,
.btn.btn-google-plus span,
.btn.btn-pinterest span {
    display: none;
}

.btn.btn-facebook i,
.btn.btn-twitter i,
.btn.btn-google-plus i,
.btn.btn-pinterest i {
    display: none;
}

.socialsharing_product button {
    margin-bottom: 3px;
}
