/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .shopping_cart_block {
    float: right;
}

@media (max-width: 767px) {
    #header .shopping_cart_block {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        line-height: 1;
        width: 25%;
        padding-top: 30px;
        text-align: center;
    }

    #header .shopping_cart_block .shopping_cart {
        display: inline-block;
        float: none;
        padding: 0;
    }

    #header .shopping_cart_block .shopping_cart > a:first-child {
        color: inherit;
    }

    #header .shopping_cart_block .shopping_cart > a:first-child:hover {
        color: #07a3e0;
    }

    #header .shopping_cart_block > * {
        text-align: left;
    }
}

#header .shopping_cart {
    position: relative;
    float: right;
    padding-top: 10px;
}

#header .cart_block {
    margin-top: 13px;
    display: none;
    width: 185px;
    padding: 15px 25px;
    position: absolute;
    right: 0;
    top: 115%;
    z-index: 2;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    padding: 0;
}

#header .cart_block li {
    padding: 5px;
}

#header .cart_block li + li {
    margin-top: 2px;
}

#header .cart_block .cart_block_list {
    padding: 0;
}

#header .block_content {
    margin-bottom: 0;
}

/*******************************************************************
					Cart Block(MAIN) Styles
********************************************************************/
.shopping_cart > a:first-child {
    display: block;
    font: bold 18px/24px "Arimo", sans-serif;
    overflow: hidden;
    border: none;
    color: #263238;
    line-height: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
    .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
        display: none !important;
    }
}

.shopping_cart > a:first-child b {
    padding-right: 5px;
}

.shopping_cart > a:first-child:before {
    font-family: "fl-outicons";
    content: "\e04f";
    display: inline-block;
    font-weight: normal;
    font-size: 28px;
    line-height: 1;
}

.shopping_cart > a:first-child:hover, .shopping_cart > a:first-child:focus {
    color: #07a3e0;
}

.shopping_cart .ajax_cart_total {
    display: none !important;
}

.shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    font-family: "FontAwesome";
    content: "\f0d7";
    display: inline-block;
    font-weight: normal;
    float: right;
}

.shopping_cart .block_cart_collapse:after {
    font-family: "FontAwesome";
    content: "\f0d8";
    display: inline-block;
    font-weight: normal;
}

.shopping_cart.active > a:first-child {
    color: #07a3e0;
}

/*******************************************************************
					Cart Block(Drop Down Box) Styles
********************************************************************/
.cart_block {
    display: none;
    width: 185px;
    padding: 15px 25px;
    position: absolute;
    right: 0;
    top: 115%;
    z-index: 2;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    width: 270px !important;
    position: static;
    display: block;
    padding: 0;
}

.cart_block li {
    padding: 5px;
}

.cart_block li + li {
    margin-top: 2px;
}

.cart_block .cart_block_list {
    padding: 15px;
}

.cart_block .cart_block_list dl {
    margin: 0;
}

.cart_block .cart_block_list dl a {
    color: #5d5d5d;
}

.cart_block .cart_block_list dl a:hover {
    color: #07a3e0;
}

.cart_block .cart_block_list dt {
    border-bottom: 1px solid whitesmoke;
}

.cart_block .cart_block_list dt.first_item {
    background: none;
}

.cart_block .cart_block_list .remove_link {
    font-size: 14px;
    line-height: 1;
    position: absolute;
    right: 15px;
    top: 19px;
}

.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #d1d1d1;
}

.cart_block .cart_block_list .remove_link a:before,
.cart_block .cart_block_list .ajax_cart_block_remove_link:before {
    font-family: "FontAwesome";
    content: "\f1f8";
    display: inline-block;
    font-weight: normal;
}

.cart_block .cart_block_list .remove_link a:hover,
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #07a3e0;
}

.cart_block .cart_block_list .product-atributes {
    padding-top: 2px;
    font-size: 11px;
}

.cart_block .price {
    margin-top: 0;
}

.cart_block .cart-images {
    display: block;
    position: relative;
    background: white;
    float: left;
    margin-right: 16px;
    max-width: 23%;
}

.cart_block .cart-images img {
    max-width: 100%;
    height: auto;
}

.cart_block .cart-info {
    overflow: hidden;
    position: relative;
    padding-right: 30px;
}

.cart_block .cart-info .quantity-formated {
    display: inline-block;
}

.cart_block .cart-info .price {
    font-size: 14px;
    line-height: 1.7;
}

.cart_block dt {
    font-weight: normal;
    overflow: hidden;
    position: relative;
    padding: 17px;
}

.cart_block dt .product-name {
    color: #5d5d5d;
    font-family: "Arimo", sans-serif;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 1px;
}

.cart_block dt .product-name a {
    font-size: 13px;
    line-height: 16px;
}

.cart_block dd {
    position: relative;
}

.cart_block dd .cart_block_customizations {
    border: 1px solid #304047;
    margin-top: 10px;
}

.cart_block dd .cart_block_customizations li {
    padding: 10px 20px;
}

.cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
    position: absolute;
    right: 10px;
}

.cart_block .cart_block_no_products {
    margin: 0;
    padding: 10px 20px;
}

.cart_block .cart-prices {
    padding: 10px 20px 8px;
    color: #263238;
    font-size: 15px;
}

.cart_block .cart-prices .cart-prices-line {
    overflow: hidden;
    padding: 5px 0;
}

.cart_block .cart-prices .cart-prices-line.last-line {
    border: none;
}

.cart_block .cart-prices .price {
    font-size: 15px;
    line-height: 1.5;
}

.cart_block .cart-buttons {
    overflow: hidden;
    padding: 0 20px 20px;
    margin: 0;
}

.cart_block .cart-buttons .btn {
    width: 100%;
    padding: 17px 15px;
    letter-spacing: 0.04em;
    position: relative;
    overflow: hidden;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.cart_block .cart-buttons .btn:before, .cart_block .cart-buttons .btn:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: -1;
}

.cart_block .cart-buttons .btn:before {
    border-color: transparent transparent transparent #0abaff;
    bottom: 0;
    left: 0;
}

.cart_block .cart-buttons .btn:after {
    border-color: transparent #0abaff transparent transparent;
    top: 0;
    right: 0;
}

.cart_block .cart-buttons .btn:hover:before {
    border-width: 250px 0 0 250px;
}

.cart_block .cart-buttons .btn:hover:after {
    border-width: 0 250px 250px 0;
}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
    float: right;
}

.cart_block table.vouchers {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cart_block table.vouchers tr td {
    padding: 2px;
}

.cart_block table.vouchers tr td.quantity {
    margin-right: 5px;
    min-width: 18px;
}

.cart_block table.vouchers tr td.delete {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    width: 15px;
}

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
    background: rgba(38, 50, 56, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    overflow: hidden;
    display: none;
}

* html .layer_cart_overlay {
    position: absolute;
    left: 0;
    margin-left: -160px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
}

#layer_cart {
    background: white;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 99999;
    display: none;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    width: 90%;
    max-width: 971px;
    overflow: hidden;
}

#layer_cart > div {
    position: relative;
}

#layer_cart .layer_cart_product {
    padding: 30px 30px 35px 40px;
    overflow: hidden;
    position: static;
}

#layer_cart .layer_cart_product .title {
    display: block;
    font-size: 24px;
    line-height: 1.41667;
    color: #263238;
    margin: 0 0 15px;
}

@media (max-width: 767px) {
    #layer_cart .layer_cart_product .title {
        font-size: 18px;
        padding-right: 0;
        line-height: normal;
    }
}

#layer_cart .layer_cart_product .product-image-container {
    display: block;
    position: relative;
    background: white;
    padding: 5px 25%;
    float: left;
    max-width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    #layer_cart .layer_cart_product .product-image-container {
        float: none;
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    #layer_cart .layer_cart_product .product-image-container {
        padding: 5px 14%;
    }
}

#layer_cart .layer_cart_product .layer_cart_product_info {
    padding: 38px 0 0 0;
}

#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
    display: block;
    padding-bottom: 5px;
}

#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_attributes {
    display: inline-block;
    font-family: "Merriweather", serif;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 16px;
}

#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
    display: inline-block;
    padding-right: 5px;
    color: #263238;
    font-size: 14px;
    font-weight: 400;
    min-width: 103px;
}

#layer_cart .layer_cart_product .layer_cart_product_info > div span {
    font-size: 14px;
    font-weight: 700;
    color: #263238;
}

#layer_cart .layer_cart_cart {
    padding: 30px 39px 170px 40px;
    position: relative;
    background: whitesmoke;
}

@media (min-width: 480px) {
    #layer_cart .layer_cart_cart {
        padding-bottom: 130px;
    }
}

@media (min-width: 992px) {
    #layer_cart .layer_cart_cart {
        position: absolute;
        width: 50%;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

@media (min-width: 1200px) {
    #layer_cart .layer_cart_cart {
        min-height: 350px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #layer_cart .layer_cart_cart {
        min-height: 360px;
    }
}

#layer_cart .layer_cart_cart .title {
    display: block;
    font-size: 24px;
    line-height: 1.41667;
    color: #263238;
    padding-bottom: 19px;
}

@media (max-width: 767px) {
    #layer_cart .layer_cart_cart .title {
        font-size: 18px;
    }
}

#layer_cart .layer_cart_cart .title .ajax_cart_quantity {
    color: #07a3e0;
}

#layer_cart .layer_cart_cart .layer_cart_row {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#layer_cart .layer_cart_cart .layer_cart_row strong {
    padding-right: 10px;
}

#layer_cart .layer_cart_cart .layer_cart_row strong, #layer_cart .layer_cart_cart .layer_cart_row span {
    font-size: 14px;
    font-weight: 400;
    color: #263238;
}

#layer_cart .layer_cart_cart .layer_cart_row span {
    font-weight: 700;
}

#layer_cart .layer_cart_cart .button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 40px 29px;
    text-align: center;
}

@media (min-width: 480px) {
    #layer_cart .layer_cart_cart .button-container {
        display: flex;
        justify-content: space-between;
    }
}

#layer_cart .layer_cart_cart .button-container .btn {
    font-size: 13px;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
    padding: 17px 12px;
    background: none;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: inset 0 0 0 2px #b5ebe7;
    min-width: 46%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#layer_cart .layer_cart_cart .button-container .btn:before, #layer_cart .layer_cart_cart .button-container .btn:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

#layer_cart .layer_cart_cart .button-container .btn:before {
    border-width: 165px 0 0 165px;
}

#layer_cart .layer_cart_cart .button-container .btn:after {
    border-width: 0 165px 165px 0;
}

#layer_cart .layer_cart_cart .button-container .btn:before {
    border-color: transparent transparent transparent #07a3e0;
    bottom: 0;
    left: 0;
}

#layer_cart .layer_cart_cart .button-container .btn:after {
    border-color: transparent #07a3e0 transparent transparent;
    top: 0;
    right: 0;
}

#layer_cart .layer_cart_cart .button-container .btn:hover {
    color: #07a3e0;
}

#layer_cart .layer_cart_cart .button-container .btn:hover:before, #layer_cart .layer_cart_cart .button-container .btn:hover:after {
    border-width: 0 0 0 0;
}

#layer_cart .layer_cart_cart .button-container .btn.continue {
    background: none;
    color: #07a3e0;
}

#layer_cart .layer_cart_cart .button-container .btn.continue:before, #layer_cart .layer_cart_cart .button-container .btn.continue:after {
    border-width: 0 0 0 0;
}

#layer_cart .layer_cart_cart .button-container .btn.continue:hover {
    color: white;
}

#layer_cart .layer_cart_cart .button-container .btn.continue:hover:before {
    border-width: 165px 0 0 165px;
}

#layer_cart .layer_cart_cart .button-container .btn.continue:hover:after {
    border-width: 0 165px 165px 0;
}

#layer_cart .layer_cart_cart .button-container span.btn-md {
    margin-right: 5px;
}

#layer_cart .cross {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #d1d1d1;
    text-align: center;
    background: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#layer_cart .cross:before {
    content: "\e00a";
    display: block;
    font-family: 'fl-free-chaos';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#layer_cart .cross:hover {
    color: #07a3e0;
}

#layer_cart p {
    padding: 0;
}

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
    border-top: 1px solid whitesmoke;
    padding: 26px 30px 40px 30px;
    position: relative;
}

#layer_cart .crossseling h2 {
    font: 400 24px/30px "Arimo", sans-serif;
    color: #5d5d5d;
    margin-bottom: 25px;
}

#layer_cart .crossseling #blockcart_list {
    max-width: 773px;
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
}

#layer_cart .crossseling #blockcart_list ul {
    display: block;
}

#layer_cart .crossseling #blockcart_list ul li {
    float: left;
    width: 178px;
    margin: 0 0 0 0;
}

#layer_cart .crossseling #blockcart_list ul li .product-image-container {
    border: 1px solid whitesmoke;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}

#layer_cart .crossseling #blockcart_list ul li .product-image-container img {
    width: 100%;
}

#layer_cart .crossseling #blockcart_list ul li .product-name {
    padding-bottom: 5px;
}

#layer_cart .crossseling #blockcart_list a.bx-prev,
#layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #5d5d5d;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px;
}

#layer_cart .crossseling #blockcart_list a.bx-prev:after,
#layer_cart .crossseling #blockcart_list a.bx-next:after {
    display: block;
    text-indent: 0;
}

#layer_cart .crossseling #blockcart_list a.bx-prev:hover,
#layer_cart .crossseling #blockcart_list a.bx-next:hover {
    color: #263238;
}

#layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
#layer_cart .crossseling #blockcart_list a.bx-next.disabled {
    display: none;
}

#layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%;
}

#layer_cart .crossseling #blockcart_list a.bx-prev:after {
    font-family: "FontAwesome";
    content: "\f137";
    display: inline-block;
    font-weight: normal;
}

#layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%;
}

#layer_cart .crossseling #blockcart_list a.bx-next:after {
    font-family: "FontAwesome";
    content: "\f138";
    display: inline-block;
    font-weight: normal;
}

#layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden;
}
