@import "../../_theme_variables";
@import "../../_header_modules_variables";

.shop-phone {
  float: left;
  padding: 5px 0 10px;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  i {
    font-size: 21px;
    line-height: 21px;
    color: $hm-text-color-primary;
    padding-right: 7px;
  }
  strong {
    color: $hm-text-color-primary;
  }
  a {
    &:hover {
      color: $hm-text-color-primary;
    }
  }
}

#contact-link {
  float: right;
  a {
    @include hm-indent;
    border-left: none;
    &:hover, &.active {
      background: $hm-darken-secondary;
    }
  }
}

#contact_block {
  @media (max-width: $screen-xs-max) { // max 767px
    margin-bottom: 20px;
  }
  .label {
    display: none
  }
  .block_content {
    color: #888888;
  }
  p {
    margin-bottom: 4px;
  }
  p.tel {
    font: 400 17px/21px $font-family;
    color: $base-text-color;
    margin-bottom: 6px;
    i {
      font-size: 25px;
      vertical-align: -2px;
      padding-right: 10px;
    }
  }
}
