<div id="gear-right">
    <i class="fa fa-cogs icon-2x icon-light"></i>
</div>
<form action="" method="post">
    <div id="tool_customization">
        <p>
            {l s='The customization tool allows you to make color and font changes in your theme.' mod='themeconfigurator'}
            <br/><br/> <span>
        {l s='Only you can see this tool, because as you are currently connected to your back-office as an admin; your visitors will not see it.' mod='themeconfigurator'}
      </span>
        </p>
        <div class="list-tools">
            <p id="theme-title">
                {l s='Theme color' mod='themeconfigurator'}
                <i class="fa fa-caret-down pull-right"></i>
            </p>
        </div>
        {if isset($themes)}
            <ul id="color-box">
                {foreach $themes as $theme}
                    <li class="{$theme|escape:'htmlall':'UTF-8'}">
                        <div class="color-theme1 color1"></div>
                        <div class="color-theme2 color2"></div>
                    </li>
                {/foreach}
            </ul>
        {/if}
        <div class="list-tools">
            <p id="font-title">
                {l s='Font' mod='themeconfigurator'}
                <i class="fa fa-caret-down pull-right"></i>
            </p>
        </div>
        <div id="font-box">
            <p>{l s='Title font' mod='themeconfigurator'}</p>
            <select name="font" id="font" class="font-list">
                <option value="">{l s='Choose a font' mod='themeconfigurator'}</option>
                {foreach $fonts as $key => $font}
                    <option value="{$key|escape:'htmlall':'UTF-8'}"{if $key == $theme_font} selected="selected"{/if}>{$font|escape:'htmlall':'UTF-8'}</option>
                {/foreach}
            </select>
        </div>
        <div class="btn-tools">
            <button type="button" class="btn btn-1" id="reset" name="resetLiveConfigurator">{l s='Reset' mod='themeconfigurator'}</button>
            <button type="submit" class="btn btn-2" name="submitLiveConfigurator">{l s='Save' mod='themeconfigurator'}</button>
        </div>
        <div id="block-advertisement2">
            <a href="http://www.templatemonster.com/prestashop-themes.php" onclick="return !window.open(this.href)">
                <img src="{$img_dir}advertisement.png" alt="{l s='Prestashop themes from templatemonster.com' mod='themeconfigurator'}"/>
            </a>
        </div>
    </div>
</form>