@import "../../_theme_variables";

#new-products_block_right {
  .block_content {
    ul {
      margin-bottom: 15px;
      li {
        .product-content {
          a {
            color: $dark-text-color;
            &:hover {
              color: $primary-text-color;
            }
          }
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
          & + li {
            margin-top: 25px;
          }
        }
      }
    }
  }
}