#tmsearch #tmsearchbox, #tmsearch #searchbox {
    float: left;
    width: 100%;
    border: none;
    position: relative;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

#tmsearch #tmsearchbox .btn.button-search, #tmsearch #searchbox .btn.button-search {
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    padding: 0;
    border: none;
    color: #263238;
    background: none;
    line-height: 1;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#tmsearch #tmsearchbox .btn.button-search span, #tmsearch #searchbox .btn.button-search span {
    display: none;
}

#tmsearch #tmsearchbox .btn.button-search:before, #tmsearch #searchbox .btn.button-search:before {
    font-family: "fl-outicons";
    content: "\e032";
    display: inline-block;
    font-weight: normal;
    font-size: 28px;
}

#tmsearch #tmsearchbox .btn.button-search:hover, #tmsearch #searchbox .btn.button-search:hover {
    color: #07a3e0;
}

#tmsearch #tmsearchbox #tm_search_query, #tmsearch #tmsearchbox #search_query_top, #tmsearch #searchbox #tm_search_query, #tmsearch #searchbox #search_query_top {
    display: block;
    padding: 12px 15px 13px 57px;
    height: 50px;
    border: none;
    background: none;
}

#tmsearch #tmsearchbox {
    background: white;
    -moz-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
}

#tmsearch #tmsearchbox #tm_search_query {
    font-family: "Arimo", sans-serif;
    letter-spacing: 0.02em;
}

#tmsearch #tmsearchbox .button-search {
    max-width: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#tmsearch #search-toggle {
    display: inline-block;
    color: #263238;
    line-height: 1;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#tmsearch #search-toggle:before {
    font-family: "fl-outicons";
    content: "\e032";
    display: inline-block;
    font-weight: normal;
    font-size: 28px;
}

#tmsearch #search-toggle:hover {
    color: #07a3e0;
}

@media (min-width: 768px) {
    #tmsearch {
        float: left;
    }

    #tmsearch #tmsearchbox {
        width: 0;
        height: 50px;
    }

    #tmsearch #tmsearchbox #tm_search_query {
        padding-left: 0;
        padding-right: 0;
        -moz-transition: 0.2s all ease;
        -o-transition: 0.2s all ease;
        -webkit-transition: 0.2s all ease;
        transition: 0.2s all ease;
        opacity: 0;
    }

    #tmsearch #tmsearchbox .button-search {
        opacity: 0;
    }

    #tmsearch #tmsearchbox .search-close {
        display: none;
    }

    #tmsearch #search-toggle {
        position: absolute;
        top: 50%;
        left: 19px;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    #tmsearch.active-search #tmsearchbox {
        width: 100%;
    }

    #tmsearch.active-search #tmsearchbox #tm_search_query {
        padding-left: 57px;
        padding-right: 15px;
        opacity: 1;
    }

    #tmsearch.active-search #tmsearchbox .button-search {
        opacity: 1;
        left: 16px;
    }

    #tmsearch.active-search #search-toggle {
        opacity: 0;
        z-index: -1;
        left: 31px;
    }
}

@media (max-width: 767px) {
    #tmsearch {
        position: absolute;
        top: 0;
        left: 25%;
        display: inline-block;
        line-height: 1;
        width: 25%;
        padding-top: 30px;
        text-align: center;
    }

    #tmsearch > * {
        text-align: left;
    }

    #tmsearch #tmsearchbox {
        position: fixed;
        top: -100px;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    #tmsearch #tmsearchbox #tm_search_query {
        font-size: 18px;
        height: 90px;
        padding: 20px 77px;
    }

    #tmsearch #tmsearchbox .btn.button-search {
        left: 30px;
        color: #07a3e0;
    }

    #tmsearch #tmsearchbox .btn.button-search:hover {
        color: #263238;
    }

    #tmsearch #tmsearchbox .search-close {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        padding: 15px;
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        line-height: 1;
        color: #d1d1d1;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

    #tmsearch #tmsearchbox .search-close:before {
        content: "\e00a";
        display: block;
        font-family: 'fl-free-chaos';
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
    }

    #tmsearch #tmsearchbox .search-close:hover {
        color: #07a3e0;
    }

    #tmsearch #search-toggle {
        color: inherit;
    }

    #tmsearch #search-toggle:after {
        display: block;
        content: '';
        background: rgba(38, 50, 56, 0.4);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 9999;
        overflow: hidden;
        z-index: 10;
        cursor: default;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        visibility: hidden;
        opacity: 0;
    }

    #tmsearch.active-search #tmsearchbox {
        top: 0;
    }

    #tmsearch.active-search #search-toggle:after {
        visibility: visible;
        opacity: 1;
    }
}

body .ac_results {
    display: none;
    width: 185px;
    padding: 15px 25px;
    position: absolute;
    right: 0;
    top: 115%;
    z-index: 2;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    padding: 0;
    border: none;
    z-index: 9999;
}

body .ac_results li {
    padding: 5px;
}

body .ac_results li + li {
    margin-top: 2px;
}

@media (max-width: 991px) {
    body .ac_results {
        position: fixed !important;
        max-height: calc(100vh - 90px);
        overflow-y: scroll;
    }
}

body .ac_results li {
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

body .ac_results li:first-child {
    margin-top: 0;
}

body .ac_results li.ac_odd {
    background: #f0f0f0;
}

body .ac_results li:hover, body .ac_results li.ac_over {
    background: #e6e6e6;
    color: #5d5d5d;
}

body .ac_results .pull-left {
    margin-right: 20px;
}

body .ac_results .content {
    overflow: hidden;
}

body .ac_results span.reference, body .ac_results span.manufacturer {
    display: block;
    margin: 0 0 5px;
    font-style: italic;
}

body .ac_results span.product-name {
    font: normal 16px/22px "Arimo", sans-serif;
    display: inline-block;
    color: #5d5d5d;
}

body .ac_results strong {
    color: #fa505d;
}

body .ac_results .description {
    font-size: 11px;
    line-height: 15px;
}

body .ac_results .price {
    padding-right: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body .ac_results .content {
        float: left;
        clear: both;
    }
}
