@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- MAIN BUTTON STYLES -------

$font-button: $font;
$button-text-color: $link-hover-color;

// ------- Grid/List vars -------

$GL-text-color: $base-body-color;
$GL-icon-color: $dark-text-color;
$GL-icon-color-hover: $primary-text-color;

/*
* @subsection   Buttons
*/
$btn-xs-height: 30px;
$btn-xs-size: 13px;

$btn-sm-height: $btn-xs-height * 1.15;
$btn-sm-size: 13px;

$btn-md-height: $btn-sm-height * 1.2;
$btn-md-size: $btn-sm-size * 1.12;

$btn-lg-height: $btn-md-height * 1.33;
$btn-lg-size: $btn-md-size * 1.12;

$btn-xl-height: $btn-lg-height * 1.125;
$btn-xl-size: $btn-lg-size * 1.26;

// Button General Styles
.btn {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-decoration: none;
  border: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &.icon-right {
    span {
      display: block;
      padding-right: 20px;
      position: relative;
      &:after {
        @include addIcon('\f054');
        position: absolute;
        top: 50%;
        right: 0;
        @include transform (translate(0, -50%));
      }
    }
  }
  &.icon-left {
    span {
      display: block;
      padding-left: 20px;
      position: relative;
      &:before {
        @include addIcon('\f053');
        position: absolute;
        top: 50%;
        left: 0;
        @include transform (translate(0, -50%));
      }
    }
  }
  span {
    vertical-align: middle;
    i {
      &.left {
        vertical-align: 0;
        margin: 0 5px 0 0;
        display: inline-block;
      }
      &.right {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    box-shadow: none;
    outline: none;
    color: $light-text-color;
    text-decoration: none;
  }
}

// Button Layout Styles
.btn-xs {
  border-width: 1px;
  padding: ceil(($btn-xs-height - ($btn-xs-size * 1.2) - 2) / 2) 10px;
  font-size: ceil($btn-xs-size);
}

.btn-sm {
  border-width: 1px;
  padding: ceil(($btn-sm-height - ($btn-sm-size * 1.2) - 2) / 2) 18px;
  font-size: ceil($btn-sm-size);
}

.btn-md {
  border-width: 1px;
  padding: ceil(($btn-md-height - ($btn-md-size * 1.2) - 2) / 2) 25px;
  font-size: ceil($btn-md-size);
}

.btn-lg {
  border-width: 1px;
  padding: ceil(($btn-lg-height - ($btn-lg-size * 1.2) - 2) / 2) 30px;
  font-size: ceil($btn-lg-size);
}

.btn-xl {
  border-width: 1px;
  padding: ceil(($btn-xl-height - ($btn-xl-size * 1.2) - 2) / 2) 40px;
  font-size: ceil($btn-xl-size);
}

// Button Appearance Styles
.btn-default {
  color: $light-text-color;
  background: $primary-background;
  border: none;
  font-size: 13px;
  @include transition(0.3s all ease);
  &:hover {
    color: $light-text-color;
    background: lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
  }

  &:active, &:focus {
    color: $light-text-color;
    background: $primary-background;
  }
}

.btn-primary {
  color: $primary-text-color;
  background: $light-background;
  border-color: $primary-border-color;
  &:hover {
    background: $primary-background;
    color: $light-text-color;
    border-color: $primary-border-color;
  }
  &:active, &:focus {
    border-color: lighten($primary-border-color, 10%);
    background: lighten($primary-background, 10%);
    color: $light-text-color;
  }
}

.bt_compare {
  font-size: 13px;
  font-weight: 700;
  padding: 7px 15px;
  min-width: 135px;
}

.btn.ajax_add_to_cart_button, .btn.ajax_add_to_cart_product_button, .btn.customization {
  color: $light-text-color;
  background: $primary-background;
  border: none;
  position: relative;
  overflow: hidden;
  padding: 16px 20px;
  @include transition(0.5s all ease);
  @media (min-width: $screen-md-min) {
    min-width: 170px;
  }
  &:before,
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    @include transition(0.5s all ease);
    z-index: -1;
  }

  &:before {
    border-color: transparent transparent transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
    bottom: 0;
    left: 0;
  }

  &:after {
    border-color: transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
    top: 0;
    right: 0;
  }

  &:hover {
    &:before {
      border-width: 250px 0 0 250px;
    }

    &:after {
      border-width: 0 250px 250px 0;
    }
  }
  @media (min-width: $screen-xs-min) {
    &:hover {
      &:before {
        border-width: 180px 0 0 180px;
      }

      &:after {
        border-width: 0 180px 180px 0;
      }
    }
  }
}

.btn.button-plus,
.btn.button-minus {
  font-size: ceil($btn-md-size);
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  height: $input-label-button-size;
  width: $input-label-button-size;
  span {
    line-height: 38px;
  }
}

.link-button {
  font-weight: bold;
  i {
    margin-right: 5px;
    &.large {
      font-size: 26px;
      line-height: 26px;
      vertical-align: -3px;
    }
  }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn, .pagination > li.disabled > span {
  cursor: not-allowed !important;
  background: #92989b;
  opacity: 1;
  &:hover {
    background: #92989b;
  }
}

.ajax_add_to_cart_button {
  .btn.disabled,
  .btn[disabled] {
    display: none;
  }
}

.pagination > li.disabled > span:hover {
  color: inherit !important;
}