@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- Pagination Buttons --- +/- Buttons and Input --- Pagination Buttons --------
// width and height for input, buttons, line-height for label

$input-label-button-size: 50px;

// ------- BOX ELEMENTS ON SUB PAGES -------

@mixin box-style {
  background: $base-box-bg;
  border: $main_border;
  padding: 14px 18px 13px;
  margin: 0 0 30px 0;
  font: normal 13px/23px $font-custom;
  @include border-radius($border-radius-base);
}

// ------- PopUp Elements(layered cart, newsletter, quick view ... ) -------

@mixin popup-box-style {
  background: $light-background;
  @include box-shadow (0px 4px 35px 0px rgba(0, 0, 0, 0.06));
  border: none;
  @include border-radius($border-radius-base);
  z-index: 99999;
}

@mixin popup-overlay-style {
  background: rgba($dark-background, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;
}

@mixin popup-close-button {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: $color-gray;
  text-align: center;
  background: none;
  @include transition(0.3s all ease);
  @include border-radius(100%);
  &:before {
    content: "\e00a";
    display: block;
    font-family: 'fl-free-chaos';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform (translate(-50%, -50%));
  }
  &:hover {
    color: $primary-text-color;
  }
}

// ------- PRODUCT ELEMENTS -------

// ------- Product name -------

$product-font: normal 16px/22px $font-custom;
$product-name-color: $dark-text-color;
$product-name-hover-color: $primary-text-color;

// ------- Product price -------

$price-font: bold 20px/25px $font-custom;
$price-color: $dark-text-color;
$product-price-color: $primary-text-color;
$product-special-price-color: $dark-text-color;
$product-old-price-color: darken($light-text-color, 20%);

@mixin price-large {
  font: $font-heading;
  font-weight: 700;
  color: $price-color;
  &.new-price {
    color: $color-warning;
  }
}

// ------- Image vars -------

@mixin product-image {
  display: block;
  position: relative;
  background: $light-background;
}

@mixin products-block-image {
  display: block;
  background: $light-background;
}

@mixin post-category-image {
  @include product-image;
  float: left;
  margin: 0 20px 10px 0;
}

@mixin post-image {
  display: block;
  margin-bottom: 30px;
}

// ------- Color picker list -------

@mixin color-pick-list {
  list-style-type: none;
  margin: 0 -2px;
  padding-top: 11px;
  padding-left: 2px;
  line-height: 24px;
  li {
    display: inline-block;
    margin: 0 2px 4px;
    padding: 1px;
    @include border-radius(50%);
    clear: none;
    width: auto;
    float: none;
    position: relative;
    > a, > input {
      display: block;
      height: 20px;
      width: 20px;
      cursor: pointer;
      margin: 0;
      border: none;
      @include border-radius(50%);
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 1px solid $color-gray;
        border-radius: 50%;
        @include transition(0.3s all ease);
      }
      &.on, &:hover {
        &:after {
          top: -3px;
          left: -3px;
          bottom: -3px;
          right: -3px;
        }
      }
      &.on {
        + label, + input + label {
          span {
            display: none;
          }
          a:before {
            @include addIcon('\f00c');
            color: $color-warning;
          }
        }
      }
    }
    &.selected {
      > a {
        &:after {
          top: -4px;
          left: -4px;
          bottom: -4px;
          right: -4px;
        }
      }
    }
  }
}