@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- COLORS -------

$hm-text-color-primary: $base-text-color;
$hm-text-color-secondary: $color-base;
$hm-text-hover-color-secondary: $hm-text-color-primary;
$hm-dark-background: $color-dark;
$hm-light: darken($color-light, 10%);
$hm-darken-secondary: darken($color-dark, 5%);
$hm-lighten-secondary: lighten($color-dark, 5%);

// ------- Header Modules Indents -------

@mixin hm-indent {
  border-left: 1px solid $hm-darken-secondary;
  border-right: 1px solid $hm-darken-secondary;
  padding: 10px 15px;
  position: relative;
  display: block;
  color: $hm-text-color-primary;
  font-weight: bold;
  cursor: pointer;
}

// ------- Header Modules Icons -------

@mixin hm-icon {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 14px;
  line-height: 20px;
  padding-left: 4px;
  font-weight: normal;
  color: $dark-text-color;
  @include transition(0.3s all ease);
}

@mixin hm-icon-hover {
  content: "\f106";
}

// ------- Header Modules Drop Down Box -------

@mixin hm-drop-down-box {
  display: none;
  width: 185px;
  padding: 15px 25px;
  position: absolute;
  right: 0;
  top: 115%;
  z-index: 2;
  overflow: hidden;
  background: $light-background;
  border-radius: $border-radius-base;
  @include box-shadow(0px 4px 35px 0px rgba(0, 0, 0, 0.06));
  li {
    padding: 5px;
    & + li {
      margin-top: 2px;
    }
  }
}

// ------- SEARCH bLOCK IN HEADER AND BLOG SEARCH IN LEFT COLUMN -------

@mixin search-box-style {
  #tmsearchbox, #searchbox {
    float: left;
    width: 100%;
    border: none;
    position: relative;
    @include box-shadow(0px 4px 35px 0px rgba(0, 0, 0, 0.06));
    border-radius: $border-radius-base;
    .btn.button-search {
      display: block;
      position: absolute;
      top: 50%;
      left: 4px;
      padding: 0;
      border: none;
      color: $dark-text-color;
      background: none;
      line-height: 1;
      @include translate(0, -50%);
      span {
        display: none;
      }
      &:before {
        @include addFlIcon('\e032', 28px);
      }
      &:hover {
        color: $primary-text-color;
      }
    }
    #tm_search_query, #search_query_top {
      display: block;
      padding: 12px 15px 13px 57px;
      height: 50px;
      border: none;
      background: none;
    }
  }
}