@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- FONTS -------

$font-custom: 'Arimo', sans-serif;
$font-family: $font-custom;
$font-primary: 'Merriweather', serif;
$font: normal 16px/22px $font-custom;
$font-heading: 400 24px/30px $font-custom;
$font-maxheading: bold 34px/46px $font-custom;
$font-subheading: bold 18px/24px $font-custom;
$font-midheading: normal 14px/24px $font-primary;
$fa-font-path: "../fonts";
$font-icon: "FontAwesome";

// ------- MAIN ICON MIXIN -------

@mixin addIcon($content) {
  font-family: $font-icon;
  content: $content;
  display: inline-block;
  font-weight: normal;
}

@mixin addFlIcon($content, $font-size: inherit) {
  font-family: "fl-outicons";
  content: $content;
  display: inline-block;
  font-weight: normal;
  font-size: $font-size;
}

// ------- MAIN COLORS --------

$color-base: #5d5d5d;
$color-primary: #07a3e0;
$color-dark: #263238;
$color-light: #FFFFFF;
$color-succes: #00b06c;
$color-warning: #fa505d;
$color-star: #ffc841;
$color-box: #f5f5f5;
$color-gray: #d1d1d1;
$color-grey-darken: #5d5d5d;

// ------- BORDERS ---------

$base-border-color: $color-box;
$table-border-color: $base-border-color;
$main_border: 1px solid $base-border-color;
$dark-border-color: $color-dark;
$light-border-color: $color-light;
$primary-border-color: $color-primary;

// ------- BACKGROUNDS -------

$base-box-bg: lighten($color-box, 10);
$table-background: $base-box-bg;
$dark-background: $color-dark;
$light-background: $color-light;
$primary-background: $color-primary;
$olark-heading-bg: $primary-background;

// ------- COLORS -------

$base-body-color: $color-base;
$base-text-color: $color-base;
$light-text-color: $color-light;
$dark-text-color: $color-dark;
$primary-text-color: $color-primary;

$base-heading-color: $color-dark;
$base-title-color: $base-text-color;

$link-color: $color-base;
$link-hover-color: $dark-text-color;

// ------- Cart Steps On Page Checkout --------

$cs-border-radius: 0;
$step-todo-bg: $base-box-bg;
$step-todo-border-color: darken($step-todo-bg, 15);
$step-current-bg: $primary-background;
$step-current-border-color: darken($step-current-bg, 15);
$step-done-bg: $dark-background;
$step-done-border-color: darken($step-done-bg, 15);
$step-hover-bg: darken($step-done-bg, 15);
$step-hover-border-color: darken($step-hover-bg, 15);

// ------- Border radius on --inputs--selects--buttons--itc----------

$border-radius-base: 3px;
$border-radius-small: 3px;