@import "_theme_variables";
@import "_elements_variables";

/*
* @section   Categories Page Styles
*/
.content_scene_cat {
  background: darken($light-background, 8.824%);
  line-height: 19px;
  margin: 0 0 26px 0;
  position: relative;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  .content_scene_cat_bg {
    padding: 0;
  }
  span.category-name {
    font: $font-maxheading;
    letter-spacing: 0.04em;
    color: $base-heading-color;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 0;
  }
  .cat_desc {
    padding-top: 72px;
    padding-bottom: 81px;
    p {
      font: $font-midheading;
    }
  }
  .category-parallax {
    height: 300px;
  }
  .category-image {
    position: relative;
    .cat-preloader {
      display: block;
      position: absolute;
      left: 0;
      top: 50px;
      right: 0;
      bottom: 0;
      background: url("../img/cat-loader.gif") no-repeat center;
      opacity: 0.7;
    }
  }
  .category-image-wrap {
    opacity: 0;
    @include transition(0.5s all ease);
  }
  a {
    &.lnk_more {
      display: inline-block;
      position: relative;
      font-size: 14px;
      color: $primary-text-color;
      margin-top: 20px;
      &:before {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        opacity: 0;
        height: 1px;
        background: $primary-background;
        @include transition(0.3s all ease);
      }
      &:hover {
        color: $dark-text-color;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .content_scene {
    color: $base-body-color;
    .cat_desc {
      padding-top: 20px;
      a {
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

/*
* @subsection   Sub Categories Styles
*/
#subcategories {
  padding: 15px 0 0 0;
  p.subcategory-heading {
    font: $font-heading;
    font-size: 20px;
    color: $dark-text-color;
    margin: 0 0 10px 0;
  }
  ul {
    margin: 0 0 50px -30px;
    @media (max-width: $screen-xs - 1) {
      // max 479px
      margin: 0;
      text-align: center;
    }
    li {
      float: left;
      width: 128px;
      margin: 0 0 13px 30px;
      text-align: center;
      @media (max-width: $screen-xs - 1) {
        // max 479px
        width: 45%;
        float: none;
        margin: 0 1% 13px;
        display: inline-block;
        vertical-align: top;
      }
      .subcategory-image {
        padding: 0 0 8px 0;
        a {
          display: block;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba($light-background, 0.38);
            z-index: 2;
            visibility: hidden;
            opacity: 0;
            @include transition(0.3s all ease);
          }
          @include product-image;
          img {
            max-width: 100%;
            vertical-align: top;
            height: auto;
          }
        }
      }
      h5 {
        margin: 0;
        position: relative;
        top: 0;
        @include transition(0.3s all ease);
      }
      .subcategory-name {
        color: $base-heading-color;
        &:hover {
          color: $primary-text-color;
        }
      }
      .cat_desc {
        display: none;
      }
      &:hover {
        .subcategory-image {
          a {
            &:before {
              visibility: visible;
              opacity: 1;
            }
          }
        }
        h5 {
          top: 5px;
        }
      }
    }
  }
}