@charset "UTF-8";
/*
* @package      Style
* @description  This package holds all common style declarations
*               of the site
*/
@import "compass/reset";
@import "_theme_variables";
@import "_elements_variables";
@import "bootstrap";
@import "font-awesome";
@import "fl-free-chaos";
@import "fl-outicons";
@import "_button_variables";

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

html {
  .old-ie {
    display: none;
  }
  &.lt-ie9, &.ie9 {
    .old-ie {
      display: block;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }
  }
}

body {
  min-width: 320px;
  height: 100%;
  line-height: 18px;
  font: $font;
  letter-spacing: 0.02em;
  color: $base-body-color;
  &.content_only {
    background: none;
    min-width: 0;
  }

  #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a,
  #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input,
  a {
    &.active,
    &.active:focus,
    &.active:hover,
    &:hover,
    &:active,
    &:active:focus,
    &:active:hover,
    &:focus,
    &:focus:hover {
      outline: none;
    }
  }
  a {
    color: $dark-text-color;
    &:hover {
      color: $primary-text-color;
    }
  }
}

/*
* @package      Page Layouts
* @description  This package holds all common style declarations
*               of the site
*/
#page {
  overflow: hidden;
  .columns-container {
    border-top: $main_border;
    background: $light-background;
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      margin-top: 10px;
    }
    #columns {
      position: relative;
      padding-bottom: 0;
      padding-top: 15px;
      .tab-content {
        margin-top: 26px;
      }
      #center_column {
        @media only screen and (min-width: $screen-xs-max) {
          float: right;
        }
      }
    }
    .home-column {
      margin-bottom: 30px;
    }
  }
}

.row-top {
  position: relative;

  @media (max-width: $screen-xs-max) { // max 767px  
    position: static;
  }

  &:before {
    content: '';
    width: 100%;
    border-top: $main_border;
    position: absolute;
    top: 56%;
    left: 0;

    @media (max-width: $screen-xs-max) { // max 767px  
      top: 53%;
    }
  }
}

#index {
  #page {
    .columns-container {
      border-top: none;
      margin-top: 0;
      #columns {
        #center_column {
          margin-top: 28px;
        }
      }
    }
  }
}

#products-comparison {
  .products_block {
    overflow-x: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: $screen-xs-max) {
  #category {
    .columns-container {
      #columns #center_column {
        padding-top: 70px;
      }
    }
  }
}

/*
* @section      Page Header
* @description  This section holds specific style redeclarations for some
*               of common elements in page header
*/
header {
  z-index: 5003;
  position: relative;
  background: $light-background;
  padding-bottom: 14px;
  @media (max-width: $screen-xs-max) {
    padding-top: 85px;
  }
  .banner {
    background: black;
    max-height: 100%;
    .row {
      margin: 0;
    }
  }
  .nav {
    margin-bottom: 21px;
    .row {
      margin: 0;
    }
    nav {
      width: 100%;
      font-size: 14px;
      line-height: 2;
      padding: 21px 0;
      letter-spacing: 0.02em;
    }
    #nav-toggle {
      display: none;
    }
    @media (max-width: $screen-xs-max) {
      position: absolute;
      top: 0;
      right: 25%;
      width: 25%;
      padding: 33px 15px 0;
      text-align: center;
      > * {
        text-align: left;
      }
      #nav-toggle {
        display: inline-block;
        position: relative;
        cursor: pointer;
        @include transition(0.3s all ease);
        &:before {
          @include addFlIcon('\e024', 28px);
        }
        &:hover {
          color: $primary-text-color;
        }
        &:after {
          content: '';
          @include popup-overlay-style;
          z-index: 10;
          cursor: default;
          @include transition(0.3s all ease);
          visibility: hidden;
          opacity: 0;
        }
        .nav-close {
          display: block;
          visibility: hidden;
          &:before {
            display: block;
            position: fixed;
            left: 286px;
            top: 50px;
            content: "\e00a";
            font-family: 'fl-free-chaos';
            font-size: 18px;
            line-height: 1;
            font-weight: 400;
            font-style: normal;
            color: $light-text-color;
            z-index: 11;
            cursor: pointer;
            opacity: 0;
            @include transition(0.3s ease);
            transition-property: color, opacity;
            -webkit-transition-delay: 0s, 0.6s;
            transition-delay: 0s, 0.6s;
          }
          &:hover {
            &:before {
              color: $primary-text-color;
            }
          }
        }
        &.active {
          &:after {
            visibility: visible;
            opacity: 1;
          }
          .nav-close {
            visibility: visible;
            &:before {
              opacity: 1;
            }
          }
        }
      }
      #nav-content {
        display: block;
        width: 270px;
        z-index: 10;
        position: fixed;
        left: -270px;
        top: 0;
        background: $light-background;
        text-align: left;
        padding: 33px 28px;
        height: 100vh;
        overflow-y: scroll;
        @include transition(0.7s left ease);
        &.active {
          left: 0;
        }
      }
    }
  }
  .row {
    @media (min-width: $screen-sm-min) {
      position: relative;
    }
    > .container {
      position: relative;
    }
    #header_logo {
      display: inline-block;
      padding-top: 3px;
      @media (min-width: $screen-sm-min) {
        position: absolute;
        left: 50%;
        top: -2px;
        @include translate(-50%, 0);
      }

      @media (max-width: $screen-xs-max) {
        display: block;
        text-align: center;
        a {
          display: inline-block;
          @media (max-width: $screen-xs - 1) { // max 479px
            display: block;
          }
        }
        img {
          margin: 0 auto;
        }
      }

    }
  }
}

/*
* @section      Page Footer
* @description  This section holds specific style redeclarations for some
*               of common elements in page footer
*/
.footer-container {
  padding: 0;
  position: relative;
  border-top: 1px solid darken($color-light, 7.84%);
  margin-top: 40px;
  @media (min-width: $screen-sm-min) {
    padding-top: 23px;
  }
  @media (max-width: $screen-xs-max) { // max 767px 
    margin: 0
  }
  #footer {
    a {
      font-size: 16px;
      color: $primary-text-color;
      @media (min-width: $screen-sm-min) {
        font-size: 14px;
      }
      &:hover {
        color: $dark-text-color;
      }
    }
    .footer-block {
      margin-top: 64px;
      @media (max-width: $screen-xs-max) {
        margin-top: 20px;
      }
      ul {
        margin-bottom: 19px;
        > li + li {
          margin-top: 8px;
          @media (min-width: $screen-sm-min) {
            margin-top: 7px;
          }
        }
      }
    }
    h4 {
      font: $font-heading;
      letter-spacing: 0.02em;
      color: $dark-text-color;
      margin: 0 0 18px 0;
      @media (max-width: $screen-xs-max) {
        position: relative;
        margin-bottom: 5px;
        padding-bottom: 0;
        padding-right: 25px;
        &:after {
          display: block;
          content: "\f055";
          font-family: $font-icon;
          position: absolute;
          right: 0;
          top: 0;
        }
        &.active:after {
          content: "\f056";
        }
      }
      a {
        font-size: inherit;
        color: $dark-text-color;
        &:hover {
          color: $primary-text-color;
        }
      }
    }
    #social_block {
      float: left;
      width: 50%;
      padding: 22px 15px 0 15px;
      @media (max-width: $screen-xs-max) {
        width: 100%;
        float: left;
        padding-top: 5px;
      }
      ul {
        float: right;
        @media (max-width: $screen-xs-max) {
          float: none;
        }
        li {
          float: left;
          width: 40px;
          text-align: center;
          @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            width: 30px;
          }
          a {
            display: inline-block;
            font-size: 28px;
            @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
              font-size: 20px;
            }
            span {
              display: none;
            }
            &:before {
              display: inline-block;
              vertical-align: -5px;
            }
          }
        }
      }
      h4 {
        float: right;
        margin-bottom: 0;
        font-size: 21px;
        line-height: 25px;
        text-transform: none;
        padding: 0 10px 0 0;
        @media (max-width: $screen-xs-max) {
          display: none;
          text-align: center;
        }
      }
    }

    #block_contact_infos {
      ul {
        li {
          font-size: 16px;
          @media (min-width: $screen-sm-min) {
            font-size: 14px;
          }
          a[href^="tel:"] {
            color: inherit;
            &:hover {
              color: $primary-text-color;
            }
          }
        }
      }
    }
  }
  .bottom-footer {
    padding-top: 39px;
    padding-bottom: 39px;
    @media (min-width: $screen-sm-min) {
      padding-top: 54px;
      padding-bottom: 54px;
    }
    a {
      color: $base-text-color;
      font-size: 14px;
      &:hover {
        color: $primary-text-color;
      }
    }
  }
  .blockcategories_footer ul ul {
    display: none !important;
  }
}

#index {
  .footer-container {
    border-top: none;
    margin-top: 0;
  }
}

/*
* @subsection   Facebook and Cmsinfo block
* @description  Themeconfigurator module
*/
#facebook_block, #cmsinfo_block {
  @media (max-width: $screen-sm-max) {
    width: 100%;
    > div {
      width: 100%;
    }
  }
  h4, h3 {
    font: $font-heading;
    margin: 0 0 15px;
    padding: 0;
  }
  @media (min-width: $screen-lg-min) {
    .box {
      min-height: 330px;
    }
  }
}

.fb-like-box,
.fb-like-box span,
.fb-like-box span iframe[style] {
  max-width: 100%;
}

.facebook-fanbox .fb-like-box iframe {
  @media (max-width: $screen-md-max) {
    overflow-y: scroll;
  }
}

#cmsinfo_block {
  em.fa {
    float: left;
    clear: both;
    width: 60px;
    height: 60px;
    margin: 3px 10px 0 0;
    font-size: 30px;
    color: $light-text-color;
    line-height: 60px;
    text-align: center;
    background: lighten($base-heading-color, 10%);
    @include border-radius(100%);
  }
  li {
    h3 {
      margin: 0;
    }
    p {
      margin-bottom: 20px;
    }
  }
}

/*
* @subsection   Typography and custom classes
* @description  Describes default font settings for basic html elements and
*               css classes
*/
a {
  color: $base-body-color;
  @include transition(0.3s all ease);
  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: none;
    color: $primary-text-color;
  }
}

.dark {
  color: $dark-text-color;
}

.unvisible {
  display: none;
}

.close {
  opacity: 1;
  &:hover {
    opacity: 1;
  }
}

#page .rte {
  background: transparent none repeat scroll 0 0;
}

.confirmation {
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #e6db55;
  font-size: 13px;
  background: none repeat scroll 0 0 lightyellow;
}

/*
* @subsection   Alerts
*/
.alert {
  font-weight: bold;
  position: relative;
  padding: 11px;
  padding-left: 40px;
  @include border-radius($border-radius-base);
  > p {
    padding: 0 0 5px 27px;
  }
  ul,
  ol {
    padding-left: 15px;
    margin-left: 27px;
    li {
      list-style-type: decimal;
      font-weight: normal;
    }
  }
  &.alert-success {
    &:before {
      @include addIcon('\f058');
      font-size: 21px;
      position: absolute;
      left: 10px;
      top: 11px;
    }
  }
  &.alert-danger {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    background-color: lighten($color-warning, 30);
    border-color: lighten($color-warning, 20);
    color: $color-warning;
    &:before {
      @include addIcon('\f057');
      font-size: 21px;
      position: absolute;
      left: 10px;
      top: 50%;
      @include translate(0, -50%);
    }
    .alert-link {
      color: $color-warning;
      &:hover {
        color: darken($color-warning, 20);
      }
    }
  }
}

#columns p.alert-danger, #columns p.alert-success {
  padding-left: 40px;
  &:before {
    top: 50%;
    @include transform (translate(0, -50%));
  }
}

/*
* @subsection   Forms
*/
.form-group {
  &.form-error {
    input,
    textarea {
      border: 1px solid $color-warning;
      color: $color-warning;
      background: url(../img/icon/form-error.png) 98% $input-label-button-size/2 - 9 no-repeat;
      background-color: lighten($color-warning, 40);
    }
    textarea {
      background-position: 98% 5px;
    }
  }
  &.form-ok {
    input,
    textarea {
      border: 1px solid $color-succes;
      color: $color-succes;
      background: url(../img/icon/form-ok.png) 98% $input-label-button-size/2 - 9 no-repeat;
      background-color: lighten($color-succes, 57);
    }
    textarea {
      background-position: 98% 5px;
    }
  }
  &.form-error,
  &.form-ok {
    .form-control {
      padding-right: 30px;
    }
  }
}

.form-control {
  padding: 3px 15px;
  height: $input-label-button-size;
  @include box-shadow(none);
  border: $main_border;
  color: $base-text-color;
  @include border-radius ($border-radius-base);
  &.grey {
  }
  &:active,
  &:focus {
    @include box-shadow(rgba(0, 0, 0, 0) 0 0);
    border-color: darken($base-border-color, 30);
  }
}

select.form-control {
  display: inline-block;
}

.label, .label-success, .label-danger, .label-warning {
  white-space: normal;
  display: inline-block;
  padding: 4px 11px;
  font-family: $font-primary;
  font-size: 12px;
  font-style: italic;
  color: $light-text-color;
  background: $color-succes;
  @include border-radius($border-radius-small);
  &.label-danger {
    background: $color-warning;
  }
  &.label-warning {
    background: $primary-background;
  }
}

label {
  color: $base-title-color;
  font-weight: normal;
  &.required {
    &:before {
      content: "*";
      color: $color-warning;
      font-size: 14px;
      position: relative;
      line-height: 12px;
    }
  }
}

.radio-inline {
  padding-left: 0;
}

.checkbox {
  line-height: 16px;
  label {
    color: $base-body-color;
  }
}

textarea {
  resize: none;
}

/*
* @subsection   Custom Checkbox and Radio
*/
$input_without_label: '.input_without_label';
input[type="radio"],
input[type="checkbox"] {
  display: none;
  #{$input_without_label} > & {
    display: inline-block;
  }
  &.attribute_radio {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    margin: 0 !important;
    cursor: pointer;
  }
}

label {
  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
  }
}

input[type="radio"] + label,
input[type="radio"] + .label label {
  cursor: pointer;
  position: relative;
  padding-left: 27px;
  text-transform: none;
  display: inline-block;
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    @include border-radius(50%);
    left: 0;
    top: 50%;
    @include transform (translate(0, -50%));
    background-color: $base-box-bg;
    border: solid 1px $base-border-color;
  }
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    @include border-radius(50%);
    width: 0;
    height: 0;
    left: 8px;
    top: 50%;
    @include transform (translate(0, -50%));
    @include transition (width .2s, height .2s, left .23s);
    background-color: $dark-background;
    box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  }
  &:hover {
    color: $dark-text-color;
  }
}

input[type=radio]:checked + .label label:after,
input[type=radio]:checked + label:after {
  width: 12px;
  height: 12px;
  left: 2px;
}

input[type="checkbox"] + label,
input[type="checkbox"] + .label label {
  display: inline-block;
  padding-left: 28px;
  position: relative;
  clear: both;
  cursor: pointer;
  text-transform: none;
  padding-bottom: 1px;
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 1px;
    top: 50%;
    @include transform (translate(0, -50%));
    background-color: $light-background;
    border: solid 1px $base-border-color;
    border-radius: 2px;
  }
  &:after {
    @include addIcon('\f00c');
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 0;
    text-align: center;
    left: 0;
    top: 50%;
    color: $light-text-color;
    @include transform (translate(0, -50%));
    @include transition (0.3s all ease);
    border-radius: 2px;
  }
  &:hover {
    color: $dark-text-color;
  }
}

input[type=checkbox]:checked + label:after,
input[type=checkbox]:checked + .label label:after {
  font-size: 8px;
  background-color: $primary-background;
}

.box {
  input[type="checkbox"] + label,
  input[type="checkbox"] + .label label,
  input[type="radio"] + label,
  input[type="radio"] + .label label {
    &:before {
      background-color: $light-background;
    }
  }
}

sup, .required {
  color: $color-warning;
}

/*
* @subsection   Custom Typography classes
* @description  Describes default font settings for custom titles
*/
.page-heading {
  font: $font-heading;
  color: $base-heading-color;
  padding: 0 0 17px 0;
  margin: 0 0 30px;
  overflow: hidden;
  span.heading-counter {
    font-size: 13px;
    float: right;
    color: $base-text-color;
    text-transform: none;
    @media (max-width: $screen-xs) {
      float: none;
      display: block;
      padding-top: 5px;
    }
  }
  span.lighter {
    color: lighten($base-heading-color, 30%);
  }
  &.bottom-indent {
    margin-bottom: 16px;
  }
  &.product-listing {
    border-bottom: none;
    margin-bottom: 0;
    &.mobile-heading {
      display: none;
    }
    @media (max-width: $screen-xs-max) {
      display: none;
      &.mobile-heading {
        display: block;
        padding: 21px 10px;
      }
    }
  }
  &#instant_search_results {
    a.close {
      font-size: 13px;
      opacity: 1;
      line-height: inherit;
      text-transform: none;
      font-family: $font-family;
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

.page-subheading {
  font: $font-subheading;
  color: $base-heading-color;
  text-transform: uppercase;
  margin: 0 0 15px;
}

h3.page-product-heading {
  font: $font-heading;
  color: $base-heading-color;
  padding: 14px 0px 0px;
  margin: 0 0 20px;
  position: relative;
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

p.info-title {
  font-weight: bold;
  color: $dark-text-color;
  margin-bottom: 25px;
}

/*
* @subsection   Fancybox
* @description  Our override fancybox styles
*/
body {
  .fancybox-overlay {
    @include popup-overlay-style;
  }
  .fancybox-wrap {
    @include popup-box-style;
    .fancybox-skin {
      background: none;
      .fancybox-close {
        @include popup-close-button;
      }
    }
  }
}

.fancybox-lock body .fancybox-overlay {
  overflow: hidden;
}

.fancybox-overlay-fixed {
  -webkit-transform: translateZ(0);
}

.fancybox-inner {
  .fancybox-error {
    white-space: normal;
    padding-right: 40px;
  }
  .button {
    @extend .btn;
    @extend .btn-default;
  }
}

/*
* @subsection   Table
*/
.table {
  margin-bottom: 30px;
  color: $dark-text-color;
  > thead {
    > tr {
      > th {
        @media only screen and (max-width: $screen-xs-max) {
          padding-left: 8px;
        }
        background: $table-background;
        border-bottom-width: 1px;
        color: $dark-text-color;
        vertical-align: middle;
      }
    }
  }
  td {
    @media only screen and (max-width: $screen-xs-max) {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }
    ul, ol {
      margin-bottom: 0 !important;
    }
    a.color-myaccount {
      color: $dark-text-color;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tfoot {
    tr {
      background: $table-background;
    }
  }
  @media (max-width: $screen-md-max) {
    .footable-row-detail-inner {
      border-spacing: 0 15px;
      border-collapse: separate;
      .footable-row-detail-row {
        &:last-child {
          display: block;
          > div {
            display: inline-block;
            padding: 0;
            .btn {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

/*
* @subsection   Social button icons
* @description  Used in footer, product page, compare
*/
#social_block, .socialsharing_product, #header_login_form {
  li, button, .form_content a.btn-default {
    &.facebook a, &.btn-facebook, &.btn-login-facebook {
      &:before {
        @include addIcon('\f09a');
      }
    }
    &.google-plus a, &.btn-google-plus, &.btn-login-google {
      &:before {
        @include addIcon('\f0d5');
      }
    }
    &.vk a, &.btn-vk, &.btn-login-vk {
      &:before {
        @include addIcon('\f099');
      }
    }
    &.twitter a, &.btn-twitter {
      &:before {
        @include addIcon('\f099');
      }
    }
    &.rss a, &.btn-rss {
      &:before {
        @include addIcon('\f09e');
      }
    }
    &.youtube a, &.btn-youtube {
      &:before {
        @include addIcon('\f167');
      }
    }
    &.pinterest a, &.btn-pinterest {
      &:before {
        @include addIcon('\f0d2');
      }
    }
    &.vimeo a, &.btn-vimeo {
      &:before {
        @include addIcon('\f194');
      }
    }
    &.instagram a, &.btn-instagram {
      &:before {
        @include addIcon('\f16d');
      }
    }
  }
}

/*
* @subsection   Product elements
* @description  Used in all product block
*/
.product-name {
  font: $product-font;
  color: $product-name-color;
  margin-bottom: 0;
  a {
    font: $product-font;
    color: $product-name-color;
    &:hover {
      color: $product-name-hover-color;
    }
  }
}

a.product-name {
  font: $product-font;
  color: $product-name-color;
  &:hover {
    color: $product-name-hover-color;
  }
}

.price {
  font: $price-font;
  color: $price-color;
  white-space: nowrap;
  margin-top: 2px;
  letter-spacing: 0.02em;
}

.old-price {
  color: $product-old-price-color;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: normal;
}

.old-price.product-price {
  font-size: 14px;
  margin-right: 11px;
}

.price-percent-reduction {
  font-size: 14px;
  color: $product-special-price-color;
  margin-left: 8px;
}

.product-price-new {
  color: $color-warning;
}

/*
* @subsection   Sale and New labels
*/
.new-box,
.sale-box {
  position: absolute;
  top: 0;
  z-index: 1;
  span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: $light-text-color;
    text-transform: uppercase;
    padding: 4px 10px;
    display: block;
    @include border-radius($border-radius-base);
  }
}

.product_list.list {
  .new-box,
  .sale-box {
    span {
      font-size: 10px;
      padding: 0 6px;
      @media (max-width: $screen-xs-min - 1) {
        font-size: 8px;
      }
    }
  }
}

.three-columns {
  .new-box,
  .sale-box {
    span {
      font-size: 12px;
      padding: 0 6px;
    }
  }
}

.new-box {
  left: 0;
}

.sale-box {
  right: 0;
}

.new-label {
  background: $primary-background;
}

.sale-label {
  background: $color-warning;
}

/*
* @section      Main Layout and Main Box Type
* @description  This section holds class declarations for elements indent creation
*/
.main-page-indent {
  margin-bottom: 30px;
}

ul.footer_links {
  padding: 20px 0 0 0;
  border-top: $main_border;
  overflow: hidden;
  li {
    float: left;
    margin-bottom: 10px;
    & + li {
      margin-left: 10px;
    }
  }
}

.box {
  @include box-style;
  p {
    margin-bottom: 0;
  }
  &.box-small {
    padding: 9px 10px 9px 20px;
    .dark {
      padding-top: 10px;
      padding-right: 20px;
      margin-bottom: 0;
      width: auto;
    }
  }
}

.product-box {
  width: 178px;
  float: left;
  @include box-sizing(border-box);
  .product-image {
    @include products-block-image;
    margin-bottom: 11px;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .s_title_block {
    p {
      display: none;
    }
  }
}

.page-product-box {
  padding-bottom: 10px;
  > div#productscategory_list, > div#crossselling_list {
    margin-bottom: 30px;
  }
  #tmrelatedproducts .price {
    display: block;
    padding: 5px 0;
  }
  .price-percent-reduction {
    display: none;
  }
}

.cart_navigation {
  margin: 0 0 20px;
  .icon-right {
    float: right;
  }
  .btn {
    margin-bottom: 10px;
  }
  @media (max-width: $screen-xs) {
    > span {
      display: block;
      width: 100%;
      padding-bottom: 15px;
    }
  }
}

#habla_window_div {
  -webkit-transform: translateZ(0);
  #habla_topbar_div {
    background: $olark-heading-bg !important;
  }
}

#reinsurance_block {
  clear: both !important;
}

/*
* @section      Homepage Tabs
*/
#home-tabs-title {
  display: inline-block;
  text-align: center;
  @media (max-width: $screen-xs-max) {
    display: block;
    margin-bottom: 15px;
  }
  a {
    font-size: 24px;
    letter-spacing: 0.02em;
    cursor: default;
    color: $dark-text-color;
  }
}

#home-page-tabs {
  border: none;
  background: none;
  float: right;
  margin-top: 5px;
  text-align: center;
  > li {
    margin: 0;
    a {
      position: relative;
      font-size: 20px;
      color: $primary-text-color;
      border: none;
      background: none;
      outline: none;
      margin: 0;
      letter-spacing: 0.02em;
      padding: 0 3px;
      @include transition(color 0.4s);
      @media (min-width: $screen-sm-min) {
        font-size: 14px;
      }
      &:after {
        content: '';
        position: absolute;
        left: 3px;
        right: 3px;
        bottom: 0;
        height: 1px;
        background: $primary-background;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
      }
    }
    & + li {
      margin-left: 44px;
    }
  }
  > li.active a,
  > li a:hover {
    color: $dark-text-color;
    &:after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
      transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }
  }
  @media (max-width: $screen-xs-max) {
    float: none;
    margin-left: -20px;
    margin-bottom: -10px;
    @include translate(0, -10px);
    > li {
      float: none;
      display: inline-block;
      margin-left: 20px;
      margin-top: 10px;
      & + li {
        margin-left: 20px;
      }
    }
  }
}

.three-columns {
  #home-tabs-title {
    display: block;
    margin-bottom: 15px;
  }

  #home-page-tabs {
    float: none;
    margin-left: -20px;
    margin-bottom: -10px;
    @include translate(0, -10px);
    > li {
      float: none;
      display: inline-block;
      margin-left: 20px;
      margin-top: 10px;
      & + li {
        margin-left: 20px;
      }
    }
  }
}

/*
* @section      Block
* @description  Block elements in colums and subsection in block
*/
.block {
  margin-bottom: 30px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }
  .block_content {
    > ul {
      margin-bottom: 0;
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}

.block {
  .title_block,
  h4 {
    font: $font-heading;
    color: $base-heading-color;
    margin: 0 0 18px 0;
    @media (max-width: $screen-xs-max) {
      position: relative;
      padding-right: 40px;
      &:after {
        display: block;
        font-family: $font-icon;
        content: "\f078";
        position: absolute;
        right: 0;
        top: 50%;
        font-weight: normal;
        @include transform (translate(0, -50%));
        color: $base-body-color;
      }
      &.active:after {
        content: "\f077";
      }
    }
    a {
      color: $base-heading-color;
      &:hover {
        color: $primary-text-color;
      }
    }
  }
  .list-block {
    li {
      padding: 5px 0;
      a {
        i {
          display: none;
        }
        &:hover {
          color: $link-hover-color;
        }
      }
    }
    .form-group {
      padding: 20px 0 10px;
      margin-bottom: 0;
      select {
        max-width: 157px;
        width: 157px;
      }
    }
    .btn {
      margin-top: 12px;
    }
  }
  .products-block {
    li {
      padding: 0 0 20px 0;
      .products-block-image {
        @include products-block-image;
        float: left;
        margin-right: 19px;
        @media (min-width: $screen-sm) {
          width: (100%)/3;
        }
        img {
          max-width: 100%;
          height: auto;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
          // min 768px max 991px
          float: none;
          display: inline-block;
          margin: 0 auto 10px;
          text-align: center;
          width: auto;
        }
      }
      .product-content {
        overflow: hidden;
        h5 {
          margin: 0 0 5px;
        }
      }
    }
    .product-description {
      margin-bottom: 14px;
    }
    .price-percent-reduction {
      display: none;
    }
  }
}

#left_column {
  .block {
    .block_content {
      ul {
        li {
          padding: 4px 0;
          a {
            font-size: 14px;
            color: $primary-text-color;
            &:hover {
              color: $dark-text-color;
            }
          }
        }
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    position: static;
    padding-bottom: 30px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .btn.btn-default {
      white-space: normal;
      font-size: 12px;
    }
  }
}

.informations_block_left {
  .block_content {
    padding-left: 5px;
  }
}

/*
* @subsection   Breadcrumbs
*/
.breadcrumb {
  background: none;
  padding: 13px 15px;
  margin-bottom: 35px;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  li {
    float: left;
    color: $dark-text-color;
    position: relative;
    font-size: 14px;
    a {
      color: $base-body-color;
      &:hover {
        color: $dark-text-color !important;
      }
      &.home {
        color: $primary-text-color;
      }
    }
    & + li {
      padding-left: 33px;
      margin-left: 25px;
      &:before {
        @include addIcon('\f105');
        position: absolute;
        left: 0;
        top: 0;
        color: darken($light-text-color, 18.04%);
      }
    }
    &.last {
      color: $base-text-color;
    }
  }
  .navigation-pipe {
    display: none;
  }
}

#category {
  .breadcrumb {
    margin-bottom: 4px;
  }
}

/*
* @subsection   Barre comparaison
*/
.content_sortPagiBar {
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 27px;
  @media (max-width: $screen-xs-max) {
    display: none;
    &.pagiBar_bottom {
      display: block;
    }
  }
  label {
    color: $dark-text-color;
    padding-top: 8px;
  }
  .sortPagiBar {
    clear: both;
    #productsSortForm {
      float: left;
      #uniform-selectProductSort {
        display: inline-block;
        width: 270px !important;
        span {
          width: 100% !important;
        }
      }
      label {
        display: inline-block;
        margin: 0 18px 0 0;
      }
      select {
        max-width: 268px;
        display: inline-block;
        @media (max-width: $screen-sm-max) {
          max-width: 180px;
        }
      }
    }
    .nbrItemPage {
      float: left;
      margin-left: 30px;
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-left: 0;
        margin-top: 15px;
        clear: left;
      }
      label {
        display: inline-block;
        margin: 0 8px 0 0;
      }
      .clearfix > span {
        display: inline-block;
        color: $dark-text-color;
        margin-left: 13px;
      }
      #uniform-nb_item {
        display: inline-block;
        width: 62px !important;
        span {
          padding-right: 28px;
          width: 100% !important;
          &:after {
            content: '\f107';
            font-size: 14px;
            border: none;
            background: none;
            color: $primary-text-color;
            cursor: pointer;
            height: 42px;
            width: 28px;
            line-height: 42px;
            @include transition(0.3s all ease);
          }
        }
        select {
          option {
            padding: 2px 5px;
          }
        }
        &:hover {
          span:after {
            color: $dark-text-color;
          }
        }
      }
    }
    &.instant_search {
      display: none;
    }
  }
  .display,
  .display_m {
    float: right;
    margin: 9px 0 0;
    li {
      display: inline-block;
      line-height: 1;
      a {
        color: $GL-text-color;
        cursor: pointer;
        font-size: 29px;
        i {
          color: darken($light-text-color, 18.04%);
          @include transition(0.3s all ease);
        }
        &:hover {
          i {
            color: $dark-text-color;
          }
        }
      }
      &.selected {
        a {
          cursor: default;
          i {
            color: $primary-text-color;
          }
        }
      }
      &.display-title {
        font-weight: bold;
        color: $base-text-color;
      }
      & + li {
        margin-left: 16px;
      }
    }
  }
}

.three-columns {
  .content_sortPagiBar {
    .sortPagiBar {
      .nbrItemPage {
        @media (min-width: $screen-sm-min) {
          margin-left: 0;
          margin-top: 15px;
          clear: left;
        }
      }
    }
  }
}

#page {
  div.selector {
    height: 45px;
    padding-left: 15px;
    span {
      height: 43px;
      font-size: 14px;
      line-height: 43px;
      &:after {
        content: '\f107';
        font-size: 14px;
        border: none;
        background: none;
        color: $primary-text-color;
        cursor: pointer;
        height: 42px;
        width: 30px;
        line-height: 42px;
        @include transition(0.3s all ease);
      }
    }
    &:hover {
      span:after {
        color: $dark-text-color;
      }
    }
    select {
      height: 45px;
      option {
        padding: 5px 10px;
      }
    }
  }
}

/*
* @subsection   Pagination
*
* @description  Describes style declarations for Pagination
*/
.bottom-pagination-content {
  padding-top: 22px;
  text-align: center;
  .pagination {
    margin: 1px 0 0;
  }
  ul.pagination {
    margin: 0 21px 0 0;
    li {
      display: inline-block;
      text-align: center;
      padding: 0 3px;
      > span, > a {
        display: inline-block;
        position: relative;
        border: none;
        float: none;
        margin: 0;
        padding: 0 3px;
        font-size: 14px;
        color: $base-text-color;
        background: none;
        &:before {
          content: '';
          position: absolute;
          height: 1px;
          bottom: 2px;
          left: 3px;
          right: 3px;
          background: $primary-background;
          opacity: 0;
        }
        &:hover {
          color: $dark-text-color;
          background: none;
        }
        i {
        }
      }
      &.active {
        > span, > a {
          color: $dark-text-color;
          &:before {
            opacity: 1;
          }
        }
      }
      &.pagination_previous,
      &.pagination_next {
        > span, > a {
          color: $primary-text-color;
          &:hover {
            color: $dark-text-color;
          }
        }
      }
      &.pagination_previous {
        margin-right: 11px;
        > span, > a {
          span {
            margin-left: 7px;
          }
        }
      }
      &.pagination_next {
        margin-left: 11px;
        > span, > a {
          span {
            margin-right: 7px;
          }
        }
      }
      &.disabled {
        > span, > a {
          color: $base-text-color;
        }
      }
    }
  }
  .showall, .compare-form, .product-count, ul.pagination {
    display: inline-block;
    margin-bottom: 30px;
  }
  .showall {
    button {
      padding: 0px;
      background: none;
      border: none;
      height: auto;
      outline: none;
      color: $primary-text-color;
      @include transition(0.3s all ease);

      &:hover,
      &:active:hover {
        padding: 0px;
        border: none;
        outline: none;
        color: $dark-text-color;
      }
    }
  }
  .product-count {
    float: left;
    font-family: $font-primary;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.02em;
  }
  .compare-form {
    float: right;
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      float: left;
      clear: left;
    }
  }
  @media (max-width: $screen-xs-max) {
    text-align: center;
    .product-count {
      display: none !important;
    }
    .compare-form {
      float: none;
      display: block;
      text-align: center;
    }
    div.pagination {
      .pagination {
        margin-right: 0;
        li {
          &.pagination_previous,
          &.pagination_next {
            > span, > a {
              span {
                display: none;
              }
            }
          }
        }
      }
      .showall {
        display: none;
      }
    }
  }
}

.bottom-pagination-content {
  border-top: $main_border;
}

/*
* @section   CART steps
*
* @description  Describes style declarations for check out - 5 steps
*/
ul.step {
  margin-bottom: 30px;
  overflow: hidden;
  @media (min-width: $screen-xs) {
    @include border-radius($cs-border-radius);
  }
  li {
    float: left;
    width: 20%;
    text-align: left;
    border: 1px solid;
    border-top-color: $step-todo-border-color;
    border-bottom-color: $step-todo-border-color;
    border-right-color: $step-todo-border-color;
    border-left-width: 0;
    @media (max-width: $screen-xs-max) {
      width: 100%;
      border-left-width: 1px;
      border-left-color: $step-todo-border-color;
    }
    a,
    span,
    &.step_current span,
    &.step_current_end span {
      display: block;
      padding: 13px 10px 14px 13px;
      color: $base-text-color;
      font-size: 17px;
      line-height: 21px;
      font-weight: bold;
      text-shadow: 1px 1px rgba($light-background, 1);
      position: relative;
      @media (max-width: $screen-md) {
        font-size: 15px;
      }
      @media (min-width: $screen-md) {
        &:after {
          content: ".";
          position: absolute;
          top: 6px;
          right: -18px;
          z-index: 0;
          text-indent: -5000px;
          display: block;
          width: 36px;
          height: 36px;
          margin-top: 0;
          @include rotate(45deg);
          @include transition(0.3s all ease);
        }
      }
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
    &.first {
      border-left-width: 1px;
      border-left-color: $step-todo-border-color;
      @media (min-width: $screen-xs) {
        @include border-top-left-radius($cs-border-radius);
        @include border-bottom-left-radius($cs-border-radius);
      }
      span,
      a {
        z-index: 5;
        padding-left: 13px !important;
        @media (min-width: $screen-xs) {
          @include border-top-left-radius($cs-border-radius);
          @include border-bottom-left-radius($cs-border-radius);
        }
      }
    }
    &.second {
      span,
      a {
        z-index: 4;
      }
    }
    &.third {
      span,
      a {
        z-index: 3;
      }
    }
    &.four {
      span,
      a {
        z-index: 2;
      }
    }
    &.last {
      span {
        z-index: 1;
      }
      @media (min-width: $screen-xs) {
        @include border-top-right-radius($cs-border-radius);
        @include border-bottom-right-radius($cs-border-radius);
        span {
          @include border-top-right-radius($cs-border-radius);
          @include border-bottom-right-radius($cs-border-radius);
        }
      }
    }
    &.step_current {
      font-weight: bold;
      background: $step-current-bg;
      border-color: $step-current-border-color;
      span {
        color: $light-text-color;
        text-shadow: 1px 1px darken($primary-background, 30);
        position: relative;
        @media (min-width: $screen-md) {
          padding-left: 38px;
          &:after {
            background: $step-current-bg;
            border-top: 1px solid $step-current-border-color;
            border-right: 1px solid $step-current-border-color;
          }
        }
      }
    }
    &.step_current_end {
      font-weight: bold;
    }
    &.step_todo {
      background: $step-todo-bg;
      span {
        display: block;
        color: $base-text-color;
        position: relative;
        @media (min-width: $screen-md) {
          padding-left: 38px;
          &:after {
            background: $step-todo-bg;
            border-top: 1px solid $step-todo-border-color;
            border-right: 1px solid $step-todo-border-color;
          }
        }
      }
    }
    &.step_done {
      border-color: $step-done-border-color;
      background: $step-done-bg;
      a {
        color: $light-text-color;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
        @media (min-width: $screen-md) {
          padding-left: 38px;
          &:after {
            background: $step-done-bg;
            border-top: 1px solid $step-done-border-color;
            border-right: 1px solid $step-done-border-color;
          }
        }
      }
    }
    &.step_done.step_done_last {
      @media (min-width: $screen-md) {
        a:after {
          background: $step-done-bg;
          border-top: 1px solid $step-done-border-color;
          border-right: 1px solid $step-done-border-color;
        }
      }
    }
    &#step_end {
      span {
        @media (min-width: $screen-md) {
          &:after {
            display: none;
          }
        }
      }
    }
    em {
      font-style: normal;
      @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  a {
    &:hover {
      background: $step-hover-bg;
      border-color: $step-hover-border-color;
      &:after {
        border-top-color: $step-hover-border-color !important;
        border-right-color: $step-hover-border-color !important;
        background: $step-hover-bg !important;
      }
    }
  }
}

.one-column {
  ul.step {
    li {
      em {
        display: inline;
        @media (max-width: $screen-md-max) {
          display: none;
        }
      }
      a,
      span,
      &.step_current span,
      &.step_current_end span {
        font-size: 17px;
        line-height: 21px;
        font-weight: bold;
        padding-top: 13px;
        padding-bottom: 14px;
        @media (max-width: $screen-md-max) {
          padding-left: 15px;
          font-size: 14px;
        }
        &:after {
          height: 36px;
          right: -18px;
          top: 6px;
          width: 36px;
          @media (max-width: $screen-md-max) {
            display: none;
          }
        }
      }
    }
  }
}

.two-columns {
  ul.step {
    li {
      em {
        display: none;
      }
      a,
      span,
      &.step_current span,
      &.step_current_end span {
        font: $font;
        padding-top: 11px;
        padding-bottom: 11px;
        &:after {
          height: 32px;
          right: -17px;
          top: 6px;
          width: 32px;
        }
      }
    }
  }
  #order-detail-content.table-responsive {
    @media only screen and (max-width: $screen-sm-max) {
      overflow-x: scroll;
    }
  }
}

.three-columns {
  ul.step {
    li {
      width: 100%;
      border-top-width: 0;
      &:first-child {
        border-top-width: 1px;
      }
      em {
        display: none;
      }
      a,
      span,
      &.step_current span,
      &.step_current_end span {
        font: $font;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: 15px;
        &:after {
          display: none;
        }
      }
    }
  }
}

/*
* @subsection   CART step 1
*/
.cart_last_product {
  display: none;
}

.cart_quantity .cart_quantity_input {
  height: $input-label-button-size;
  line-height: $input-label-button-size;
  padding: 0;
  text-align: center;
  width: ($input-label-button-size*2)+4;
}

.cart_gift_quantity .cart_quantity_input {
  height: $input-label-button-size;
  line-height: $input-label-button-size;
  padding: 0;
  text-align: center;
  width: ($input-label-button-size*2)+4;
}

.table {
  tbody > tr > td {
    vertical-align: middle;
    &.cart_quantity {
      padding-left: 5px;
      padding-right: 5px;
      width: 84px;
      @media (max-width: $screen-xs-max) {
        // max 767px
        text-align: left;
        input {
          margin-top: 5px;
        }
      }
      .cart_quantity_button {
        margin-top: 4px;
        display: block !important;
        a {
          float: left;
          margin-right: 4px;
          & + a {
            margin-right: 0;
          }
        }
      }
    }
    &.cart_delete,
    &.price_discount_del {
      padding: 5px;
    }
  }
  tfoot > tr > td {
    vertical-align: middle;
  }
}

.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
  font-size: 23px;
  color: $base-text-color;
  &:hover {
    color: silver;
  }
}

#cart_summary {
  border-left: none;
  border-bottom: none;
  border-color: $base-border-color;
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    border-color: $base-border-color;
  }
  tbody {
    td {
      &.cart_product {
        padding: 19px;
        width: 137px;
        img {
          @include products-block-image;
        }
      }
      &.cart_unit {
        .price {
          span {
            display: block;
            &.price-percent-reduction {
              margin: 5px auto;
              display: inline-block;
            }
            &.old-price {
              text-decoration: line-through;
            }
          }
        }
      }
      &.cart_description {
        width: 480px;
        small {
          display: block;
          padding: 5px 0 0 0;
        }
      }
      &.cart_avail {
      }
    }
  }
  tfoot {
    tr {
      border-bottom: none;
    }
    td {
      &.text-right {
        font-weight: bold;
        color: $base-text-color;
      }
      &.price {
        text-align: right;
      }
      &.total_price_container {
        span {
          font: $font-heading;
          color: $base-title-color;
          text-transform: uppercase;
        }
        @media (max-width: $screen-xs - 1) {
          // max 479px
          padding-left: 0;
          span {
            font-size: 18px;
          }
        }
      }
      &#total_price_container {
        font: $font-heading;
        color: $product-price-color;
        @media (min-width: $screen-sm) {
          background: $light-background;
        }
        #total_price {
          @include price-large;
        }
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #order-detail-content {
    #cart_summary {
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        overflow: hidden;
        border-bottom: 1px solid $base-border-color;
      }
      td {
        border: none;
        position: relative;
        width: 50%;
        float: left;
        white-space: normal;
        &.cart_product {
        }
        &.cart_description {
        }
        &.cart_avail {
          clear: both;
        }
        &.cart_unit {
        }
        &.cart_quantity {
          clear: both;
          padding: 9px 8px 11px 18px;
        }
        &.cart_total {
        }
        &.cart_delete {
          width: 100%;
          clear: both;
          text-align: right;
          &:before {
            display: inline-block;
            padding-right: 0.5em;
            position: relative;
            top: -3px;
          }
        }
        div {
          display: inline;
        }
      }
      td:before {
        content: attr(data-title);
        display: block;
      }
      tfoot {
        td {
          float: none;
          width: 100%;
          &:before {
            display: inline;
          }
        }
        tr {
          .text-right, .price {
            display: block;
            float: left;
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  #order-detail-content {
    #cart_summary {
      tbody {
        td {
          .price {
            text-align: left;
          }
        }
      }
    }
  }
}

.cart_voucher {
  vertical-align: top !important;
  padding: 0 !important;
  background: #fff;
  border-left: none !important;
  border-bottom: none !important;
  #voucher {
    padding: 10px;
  }
  h4 {
    font: $font-subheading;
    color: $base-heading-color;
    text-transform: uppercase;
    padding: 7px 0 10px 0;
  }
  .title-offers {
    color: $base-text-color;
    font-weight: bold;
    margin-bottom: 6px;
  }
  fieldset {
    margin-bottom: 10px;
    #discount_name {
      float: left;
      width: 219px;
      margin-right: 11px;
    }
  }
  #display_cart_vouchers {
    span {
      font-weight: bold;
      cursor: pointer;
      color: $link-color;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  #voucher {
    #discount_name {
      height: 30px;
    }
  }
}

.enable-multishipping {
  margin: -13px 0 17px;
  label {
    font-weight: normal;
  }
}

#HOOK_SHOPPING_CART {
  #loyalty {
    i {
      font-size: 26px;
      line-height: 26px;
      color: $dark-text-color;
    }
  }
}

#order_carrier {
  clear: both;
  margin-top: 20px;
  border: 1px solid $base-border-color;
  background: $light-background;
}

.order_carrier_logo {
  max-width: 65px;
  max-height: 65px;
}

#order_carrier .title_block {
  padding: 0 15px;
  height: 29px;
  font-weight: bold;
  line-height: 29px;
  color: $light-text-color;
  font-weight: bold;
  text-transform: uppercase;
  background: url(../img/bg_table_th.png) repeat-x 0 -10px $base-box-bg;
}

#order_carrier span {
  display: block;
  padding: 15px;
  font-weight: bold;
}

.multishipping_close_container {
  text-align: center;
}

table#cart_summary .gift-icon {
  color: white;
  background: $primary-background;
  line-height: 20px;
  padding: 2px 5px;
  border-radius: 5px;
}

/*
* @subsection   CART step 3
*/
#multishipping_mode_box {
  padding-top: 12px;
  padding-bottom: 19px;
  .title {
    font-weight: bold;
    color: $base-text-color;
    margin-bottom: 15px;
  }
  .description_off {
    display: none;
    div {
      margin-bottom: 10px;
    }
  }
  .description_off a:hover,
  .description a:hover {
    background: $base-box-bg;
    border: 1px solid $base-border-color;
  }
}

#multishipping_mode_box.on .description_off {
  display: block;
}

.multishipping-cart {
  .cart_address_delivery {
    &.form-control {
      width: 198px;
    }
  }
}

#order .address_add.submit {
  margin-bottom: 20px;
}

#ordermsg {
  margin-bottom: 30px;
}

#id_address_invoice.form-control,
#id_address_delivery.form-control {
  width: 269px;
}

.addresses {
  .select label,
  .selector,
  .addresses .address_select {
    clear: both;
    float: left;
  }
  .waitimage {
    display: none;
    float: left;
    width: 24px;
    height: 24px;
    background-image: url("../../../img/loader.gif");
    background-repeat: no-repeat;
    position: relative;
    bottom: -2px;
    left: 10px;
  }
  .checkbox.addressesAreEquals {
    clear: both;
    float: left;
    margin: 15px 0 25px 0;
  }
}

/*
* @subsection   CART step 4
*/
#order .delivery_option,
#order-opc .delivery_option {
  > div {
    display: block;
    margin-bottom: 20px;
    font-weight: normal;
    > table {
      background: $light-background;
      margin-bottom: 0;
      &.resume {
        height: 53px;
        &.delivery_option_carrier {
          margin-top: 10px;
          width: 100%;
          background: $state-info-bg;
          color: $state-info-text;
          border: 1px solid $state-info-border;
          font-weight: bold;
          td {
            padding: 8px 11px 7px 11px;
            i {
              font-size: 20px;
              margin-right: 7px;
              vertical-align: -2px;
            }
          }
        }
        td {
          &.delivery_option_radio {
            width: 54px;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
          }
          &.delivery_option_logo {
            width: 97px;
            padding-left: 21px;
          }
          &.delivery_option_price {
            width: 162px;
          }
        }
      }
    }
  }
}

.order_carrier_content {
  line-height: normal;
  padding-bottom: 16px;
  .carrier_title {
    font-weight: bold;
    color: $base-text-color;
  }
  .checkbox {
    input {
      margin-top: 2px;
    }
  }
  .gift {
    label {
      .price {
        font: $font;
      }
    }
  }
  .delivery_options_address {
    .carrier_title {
      margin-bottom: 17px;
    }
  }
  & + div {
    padding-bottom: 15px;
  }
}

p.checkbox.gift {
  margin-bottom: 10px;
}

#gift_div {
  display: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

a.iframe {
  color: $base-text-color;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

/*
* @subsection   CART step 5
*/
p.payment_module {
  margin-bottom: 10px;
  a {
    display: block;
    border: 1px solid $base-border-color;
    @include border-radius(0);
    font: $font-subheading;
    color: $base-text-color;
    padding: 33px 40px 34px 99px;
    position: relative;
    &.bankwire {
      background: url(../img/bankwire.png) 15px 12px no-repeat $base-box-bg;
    }
    &.cheque {
      background: url(../img/cheque.png) 15px 15px no-repeat $base-box-bg;
    }
    &.cash {
      background: url(../img/cash.png) 15px 15px no-repeat $base-box-bg;
    }
    &.cheque,
    &.bankwire,
    &.cash {
      &:after {
        display: block;
        content: "\f054";
        position: absolute;
        right: 15px;
        margin-top: -11px;
        top: 50%;
        font-family: $font-icon;
        font-size: 25px;
        height: 22px;
        width: 14px;
        color: $link-color;
      }
    }
    &:hover {
      background-color: $light-background;
    }
    span {
      font-weight: bold;
      color: $base-body-color;
      font-size: 15px;
    }
  }
}

.payment_module.box {
  margin-top: 20px;
}

p.cheque-indent {
  margin-bottom: 9px;
}

.cheque-box {
  .form-group {
    .form-control {
      width: 250px;
    }
  }
}

.order-confirmation.box {
  line-height: 29px;
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

/*
* @subsection   One page check out
*/
.delivery_option_carrier td {
  width: 200px;
}

.delivery_option_carrier td + td {
  width: 280px;
}

.delivery_option_carrier td + td + td {
  width: 200px;
}

.delivery_option_carrier tr td {
  padding: 5px;
}

.delivery_option_carrier.selected {
  display: table;
}

.delivery_option_carrier.not-displayable {
  display: none;
}

/*
* @subsection   Lists in tinyMCE BO
*
* @description  Make sure lists are correctly displayed in tinyMCE BO edition mode too
*/
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {
  margin-left: 20px;
}

.rte ul {
  list-style-type: disc;
}

.rte ol {
  list-style-type: decimal;
}

.block_hidden_only_for_screen {
  display: none;
}

/*
* @subsection   Page Adresses, identity
*
* @description  Make sure lists are correctly displayed in tinyMCE BO edition mode too
*/
#address,
#identity,
#account-creation_form,
#new_account_form,
#opc_account_form,
#authentication {
  #center_column {
    .box {
    }
    p.required {
      color: red;
      margin: 9px 0 16px 0;
    }
    p.inline-infos {
      color: red;
    }
    .form-group {
      margin-bottom: 4px;
      .form-control {
        max-width: 271px;
        &#adress_alias {
          margin-bottom: 20px;
        }
      }
      &.phone-number {
        @media (min-width: $screen-lg) {
          // min 1200px
          float: left;
          width: 270px;
          margin-right: 13px;
        }
        + p {
          @media (min-width: $screen-lg) {
            padding: 23px 0 0 0;
            margin-bottom: 0;
          }
        }
      }
    }
    .gender-line {
      margin-bottom: 4px;
      padding-top: 4px;
      > label {
        margin-right: 10px;
        margin-bottom: 0;
      }
      .radio-inline {
        label {
          font-weight: normal;
          color: $base-body-color;
        }
      }
    }
  }
}

#identity,
#authentication,
#order-opc {
  #center_column {
    form.std {
      .row {
        margin-left: -5px;
        margin-right: -5px;
        .col-xs-4 {
          padding-left: 5px;
          padding-right: 5px;
          max-width: 94px;
          .form-control {
            max-width: 84px;
          }
        }
      }
    }
    .footer_links {
      border: none;
      padding-top: 0;
    }
  }
}

#new_account_form .box {
  line-height: 20px;
  .date-select {
    padding-bottom: 10px;
  }
  .top-indent {
    padding-top: 10px;
  }
  .customerprivacy {
    padding-top: 15px;
  }
}

/*
* @subsection   Password
*/
#password {
  .box {
    p {
      margin-bottom: 9px;
    }
    .form-group {
      margin-bottom: 20px;
      .form-control {
        width: 263px;
      }
    }
  }
  .footer_links {
  }
  padding-top: 0;
  border: none;
}

/*
* @subsection   Manufacturers and Suppliers
*/
#manufacturers_list,
#suppliers_list {
  h3 {
    @extend .product-name;
  }
  .product-counter {
    a {
      @extend .product-name;
    }
  }
  &.list {
    li {
      .mansup-container {
        border-top: 1px solid $base-border-color;
        padding: 31px 0 30px 0;
        @media (max-width: $screen-xs-max) {
          text-align: center;
        }
      }
      .logo {
        @media only screen and (max-width: $screen-xs-max) {
          margin-bottom: 10px;
        }
      }
      &:first-child {
        .mansup-container {
          border-top: 0;
        }
      }
      .left-side {
        text-align: center;
      }
      h3 {
        margin: 0 0 0 0;
        padding-bottom: 8px;
      }
      .lnk_img, .logo {
        img {
          display: inline-block;
        }
      }
      .middle-side {
        padding-left: 0;
        @media (max-width: $screen-xs-max) {
          padding-right: 15px;
          padding-left: 15px;
        }
      }
      .right-side-content {
        border-left: 1px solid $base-border-color;
        padding: 0 0 32px 31px;
        min-height: 108px;
        @media (max-width: $screen-xs-max) {
          min-height: 1px;
          padding: 0;
          border: none;
        }
      }
    }
  }
  &.grid {
    li {
      text-align: center;
      .product-container {
        padding-top: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid $base-border-color;
        .left-side {
          padding-bottom: 42px;
        }
        h3 {
          padding-bottom: 10px;
        }
        .product-counter {
          margin-bottom: 12px;
        }
      }
    }
    @media (min-width: $screen-lg) {
      li.first-in-line {
        clear: left;
      }
      li.last-line {
        .product-container {
          border-bottom: none;
        }
      }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      li.first-item-of-tablet-line {
        clear: left;
      }
      li.last-tablet-line {
        .product-container {
          border-bottom: none;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      li.item-last {
      }
      .product-container {
        border-bottom: none;
      }
    }
  }
}

#manufacturer,
#supplier {
  .description_box {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid $base-border-color;
    .hide_desc {
      display: none;
    }
  }
  .bottom-pagination-content,
  .top-pagination-content {
    min-height: 69px;
  }
  .top-pagination-content.bottom-line {
    border-bottom: 1px solid $base-border-color;
  }
}

/*
* @subsection   Customization form
*/
#customizationForm {
  color: $dark-text-color;
  .infoCustomizable {
    font: $font-midheading;
  }
}

body {
  #customizationForm, div.uploader {
    span.action {
      color: $light-text-color;
      background-image: none;
      background: $primary-background;
      border: none;
      font-size: 13px;
      @include transition(0.3s all ease);
      border-radius: $border-radius-base;
    }
  }
}

/*
* @subsection   Lists in tinyMCE BO   Discount page
*/
table.discount {
  i {
    font-size: 20px;
    line-height: 20px;
    vertical-align: -2px;
    &.icon-ok {
      color: $color-succes;
    }
    &.icon-remove {
      color: $color-warning;
    }
  }
}

/*
* @subsection   Guest tracking
*/
#guestTracking {
  .form-control {
    max-width: 271px;
  }
  @media (min-width: $screen-lg) {
    .form-group {
      overflow: hidden;
      i {
        padding-left: 10px;
      }
    }
    .form-control {
      float: left;
    }
    label {
      float: left;
      clear: both;
      width: 100%;
    }
  }
}

/*
* @subsection   Page 404
*/
#pagenotfound {
  .pagenotfound {
    max-width: 824px;
    margin: 0 auto;
    text-align: center;
    .img-404 {
      padding: 8px 0 27px 0;
      img {
        max-width: 100%;
      }
    }
    h1 {
      font: $font-heading;
      color: $base-text-color;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    p {
      font: $font-subheading;
      color: $base-body-color;
      text-transform: uppercase;
      border-bottom: 1px solid $base-border-color;
      padding-bottom: 19px;
      margin-bottom: 20px;
    }
    h3 {
      font-weight: bold;
      color: $base-text-color;
      font: $font;
      margin-bottom: 18px;
    }
    label {
      font-weight: normal;
      vertical-align: middle;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
    .form-control {
      max-width: 293px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      height: $input-label-button-size;
      @media (max-width: $screen-xs-max) {
        margin: 0 auto 15px auto;
        display: block;
      }
    }
    .buttons {
      padding: 48px 0 20px 0;
    }
  }
}

/*
* @subsection   Addon RerversoForm
*/
#account-creation_form fieldset.reversoform {
  padding: 10px !important;
}

#account-creation_form fieldset.reversoform .text label {
  display: block;
  padding: 0 0 10px 0;
  width: 100%;
  text-align: left;
}

#account-creation_form fieldset.reversoform .infos-sup {
  padding: 0 !important;
  font-size: 10px;
  font-style: italic;
  text-align: right;
}

#account-creation_form fieldset.customerprivacy label,
fieldset.customerprivacy label {
  cursor: pointer;
}

/*
* @subsection   Addon referralprogram
*/
.tab-content {
  margin-top: 20px;
  > ul {
    margin-bottom: 0;
  }
}

/*
* @subsection   CSS Modules
*
* @description  Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.
*/
.advertising_block {
  width: 191px;
  margin-bottom: 1em;
  text-align: center;
}

/*
* @subsection   Bx slider styles
*
* @description  Bx slider in product carousel module
*/
#crossselling_list,
.accessories-block .block_content,
#productscategory_list,
.related-block {
  .bx-wrapper {
    position: relative;
    padding: 0;
    margin: 0 auto !important;
    *zoom: 1;
    @media only screen and (min-width: $screen-sm-max) {
      margin: 0 !important
    }
  }
  .bx-wrapper img {
    max-width: 100%;
    display: block;
  }
  .bx-wrapper .bx-pager,
  .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
  .bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none
  }
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: $font-family;
    font-weight: bold;
    color: $base-body-color;
    padding-top: 20px;
  }
  .bx-wrapper .bx-pager .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: $dark-background;
    outline: 0;
    @include border-radius(5px);
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: $dark-background;
  }
  .bx-wrapper .bx-controls-direction a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 10;
    background: none;
    margin-top: -12px;
    @media (max-width: $screen-xs-max) {
      width: auto;
      height: auto;
      padding: 15px 5px 17px 25px;
      margin-top: -20px;
      &.bx-prev {
        padding-left: 5px;
        padding-right: 25px;
      }
    }
    &:before {
      font-size: 33px;
      color: $dark-text-color;
      @include transition(0.3s all ease);
    }
    &:hover {
      &:before {
        color: $primary-text-color;
      }
    }
    &.bx-prev {
      left: -9px;
      &:before {
        content: '\f104';
      }
    }
    &.bx-next {
      right: -9px;
      &:before {
        content: '\f105';
      }
    }
  }
  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-start:hover,
  .bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
  }
  .bx-wrapper .bx-controls-auto .bx-stop:hover,
  .bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
  }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
  }
  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
  }
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: lighten($dark-background, 10);
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
  .bx-wrapper .bx-caption span {
    color: $light-text-color;
    font-family: $font-family;
    display: block;
    font-size: .85em;
    padding: 10px;
  }
}

#productscategory_list,
#crossselling_list_car,
.related-block,
.accessories-block {
  li {
    position: relative;
    text-align: center;
    padding-bottom: 58px;
    .product_desc {
      .product-image {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba($light-background, 0.38);
          z-index: 2;
          visibility: hidden;
          opacity: 0;
          @include transition(0.3s all ease);
        }
      }
      .ajax_add_to_cart_button, .btn.customization {
        position: absolute;
        left: 50%;
        margin: 0;
        bottom: 0;
        @include translate(-50%, 0);
        @include transition(0.3s all ease);
        z-index: 3;
        @media (max-width: $screen-xs-max) {
          width: 100%;
        }
        @media (min-width: $screen-md-min) {
          opacity: 0;
          @include translate(-50%, -50%);
          top: 150%;
          bottom: auto;
        }
      }
    }
    @media (min-width: $screen-md-min) {
      padding-bottom: 0;
      .product_desc {
        overflow: hidden;
        position: relative;
      }
      &:hover {
        .ajax_add_to_cart_button, .btn.customization {
          opacity: 1;
          top: 50%;
        }
        .product-image {
          &:before {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  .product-name {
    margin-bottom: 5px;
  }
}

body {
  #fancybox-loading {
    background: none;

    div {
      background: url('../img/ajax-loader.gif') center center no-repeat;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}