@import "_theme_variables";
@import "_elements_variables";

/*
* @section      Page Product Styles
*/
.primary_block {
  margin-bottom: 10px;
}

.product-heading-h5 {
  font: $font-subheading;
}

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto;
}

/*
* @subsection     Left column in product block
*/
/* .pb-left-column ***************************************************************************** */
.pb-left-column {
  margin-bottom: 45px;
  position: relative;
  overflow: hidden;
  @media (max-width: $screen-xs-min - 1) {
    margin-bottom: 15px;
  }
  #prev-img, #next-img {
    display: block;
    position: absolute;
    top: 50%;
    padding: 17px 10px 20px 30px;
    text-align: center;
    z-index: 10;
    background: none;
    margin-top: -12px;
    cursor: pointer;
    &:before {
      display: block;
      font-size: 33px;
      font-family: $font-icon;
      color: $primary-text-color;
      @include transition(0.3s all ease);
    }
    &:hover {
      &:before {
        color: $dark-text-color;
      }
    }
    @media (min-width: $screen-xs-min) {
      display: none;
    }
  }
  #prev-img {
    left: 5px;
    padding-left: 10px;
    padding-right: 30px;
    &:before {
      content: '\f104';
    }
  }
  #next-img {
    right: 5px;
    &:before {
      content: '\f105';
    }
  }
  #image-block {
    position: relative;
    z-index: 1;
    img {
      width: 100%;
    }
    #view_full_size {
      display: block;
      cursor: pointer;
      .span_link {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -68px;
        display: block;
        padding: 10px 0;
        text-align: center;
        line-height: 22px;
        color: $base-text-color;
        width: 136px;
        font-weight: 700;
        background: rgba($light-background, 0.5);
        @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.16));
        &:after {
          font-family: $font-icon;
          color: $base-body-color;
          font-size: 20px;
          line-height: 22px;
          content: "\f00e";
          font-weight: normal;
          margin: 0 0 0 4px;
        }
        &:hover:after {
          color: $base-text-color
        }
      }
    }
    a.jqzoom {
      div div {
        img {
          width: auto;
          max-width: 10000px;
        }
        .zoomWrapper {
          border: none;
        }
      }
    }
    .zoomPad {
      z-index: auto !important;
    }
    .new-box,
    .sale-box {
      z-index: 50002
    }
  }

  #views_block {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
  }

  @media (max-width: $screen-xs-min - 1) {
    #image-block {
      margin-left: 0 !important;
    }
    #views_block {
      visibility: hidden;
    }
  }
}

#thumbs_list {
  overflow: hidden;
  width: 100%;
  ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    margin: -10px 0 0 0;
    width: 80px;
  }
  li {
    float: left;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
    line-height: 0;
    a {
      display: block;
      @include box-sizing(border-box);
      position: relative;
      @include transition(all 0.3s ease);
      @media (min-width: $screen-xs-min) {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba($light-background, 0.38);
          z-index: 2;
          visibility: hidden;
          opacity: 0;
          @include transition(0.3s all ease);
        }
        &:hover, &.zoomThumbActive {
          &:before {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      @include box-sizing(border-box);
    }
  }
}

.product_attributes {
  clear: left;
}

#view_scroll_left,
#view_scroll_right {
  display: inline-block;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: -33px;
  z-index: 1;
  text-align: center;
  @include translate(-50%, 0);
  &:before {
    color: $dark-text-color;
    font-family: $font-icon;
    font-size: 25px;
    line-height: 30px;
    @include transition(0.3s all ease);
  }
  &:hover:before {
    color: $primary-text-color;
  }
}

#view_scroll_right {
  top: auto;
  bottom: -33px;
  &:before {
    content: "\f107";
  }
}

#view_scroll_left {
  &:before {
    content: "\f106";
  }
}

.resetimg {
  padding: 0 15px 0 0;
  position: absolute;
  right: 15px;
  bottom: 0px;
  margin-bottom: 5px;
  z-index: 1;
  #resetImages i {
    margin-right: 6px;
  }
}

/*
* @subsection      Link list
*/
#usefull_link_block {
  overflow: hidden;
  margin-left: 6px;
  li {
    float: left;
    padding: 0 15px;
    border-left: 1px solid $base-border-color;
    margin-bottom: 5px;
    &:first-child {
      border-left: 0;
      padding-left: 0;
    }
    a {
      color: $dark-text-color;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      padding-left: 34px;
      line-height: 18px;
      display: inline-block;
      &:before {
        font-family: $font-icon;
        color: $dark-text-color;
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        top: 0;
        left: 1px;
        font-weight: normal;
        @include transition(0.3s all ease);
      }
      &:hover {
        color: $primary-text-color;
        &:before {
          color: $primary-text-color;
        }
      }
    }
    &.print {
      a:before {
        content: "\f02f";
      }
    }
    &.sendtofriend {
      a:before {
        content: "\f003";
      }
    }
    &#left_share_fb {
      a:before {
        content: "\f09a";
      }
    }
    &#favoriteproducts_block_extra_remove,
    &#favoriteproducts_block_extra_add,
    &#favoriteproducts_block_extra_removed,
    &#favoriteproducts_block_extra_added {
      cursor: pointer;
      position: relative;
      &:before {
        font-family: $font-icon;
        color: $base-text-color;
        font-size: 15px;
        line-height: 18px;
        position: absolute;
        top: 0;
        left: 12px;
        font-weight: normal;
        content: "\f08a";
      }
      &:hover {
        color: $link-hover-color;
      }
    }
    &#favoriteproducts_block_extra_removed:before {
      content: "\f004";
    }
  }
}

.two-columns {
  #usefull_link_block {
    li {
      clear: left;
      border: none;
      padding-left: 0;
      &#favoriteproducts_block_extra_add,
      &#favoriteproducts_block_extra_remove,
      &#favoriteproducts_block_extra_added,
      &#favoriteproducts_block_extra_removed {
        padding-left: 25px;
        &:before {
          left: 1px;
        }
      }
    }
  }
}

/*
* @subsection      Right column in product block
*/
.pb-right-column {
  .product-info-line {
    overflow: hidden;
    margin: 0 0 5px -47px;
    line-height: 24px;
    #product_reference, #product_condition {
      font-family: $font-primary;
      font-size: 12px;
      font-style: italic;
      letter-spacing: 0.02em;
      @media (max-width: $screen-xs-min - 1) {
        float: left;
        clear: left;
      }
    }
    #product_condition {
      .editable {
        color: $primary-text-color;
      }
    }
    > p {
      padding-left: 47px;
      margin-bottom: 5px;
      display: inline-block;
      vertical-align: middle;
      label {
        margin: 0;
        font-weight: normal;
        color: $base-body-color;
      }
    }
  }
  #product_payment_logos {
    clear: left;
  }
  #attributes {
    margin-bottom: 10px;
    .attribute_fieldset {
      margin-bottom: 15px;
    }
  }
  .mobile-hidden {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  h1 {
    padding-bottom: 14px;
    color: $product-name-color;
    margin: 0;
    font-size: 24px;
    line-height: (34 / 24);
    letter-spacing: 0.02em;
  }
  #short_description_block {
    #short_description_content {
      padding: 0 0 10px;
      word-wrap: break-word;
      p {
        line-height: 18px;
      }
    }
  }
}

.mobile-product-name {
  font-size: 34px;
  line-height: (44 / 34);
  color: $dark-text-color;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 30px;
  display: none;
  padding: 0 15px;
  @media (max-width: $screen-sm-max) {
    display: block;
  }
}

#product {
  .pb-right-column {
    padding-top: 22px;
    h1 {
      font-size: 34px;
      font-weight: 700;
      letter-spacing: 0;
    }
  }

  .pb-left-column {
    width: 100%;
  }
  .pb-right-column {
    width: 100%;
  }
  @media (min-width: $screen-md-min) {
    .pb-left-column {
      width: 66.67%;
    }
    .pb-right-column {
      width: 33.33%;
    }
  }

  p#loyalty {
    padding: 17px 0 15px 35px;
    border-bottom: $main_border;
    margin: 10px 0 0px;
    position: relative;
    b {
      color: $base-text-color
    }
    &:before {
      content: "\f024";
      font-family: $font-icon;
      color: #cfcccc;
      font-size: 26px;
      line-height: 28px;
      position: absolute;
      top: 16px;
      left: 0;
    }
  }

  &.three-columns {
    @media (min-width: $screen-md-min) {
      .pb-left-column {
        width: 100%;
      }
      .pb-right-column {
        width: 100%;
      }
    }
  }
}

#page .rte {
  word-wrap: break-word;
  p {
    margin-bottom: 0;
  }
}

#attributes {
  margin-bottom: 30px;
  fieldset {
    display: table;
    line-height: 45px;
    label {
      display: table-cell;
      vertical-align: top;
      font-size: 14px;
      font-weight: normal;
      color: $dark-text-color;
      line-height: 1.2;
      min-width: 100px;
      padding-right: 15px;
      padding-top: 14px;
    }
  }
  .attribute_list {
    display: table-cell;
    width: 100%;
    .form-control {
      option {
        background: $light-background;
        color: $base-text-color;
        padding: 3px 5px 3px 10px;
      }
    }
    ul {
      clear: both;
      li {
        position: relative;
        display: block;
        margin-top: 10px;
        label {
          padding-top: 0;
        }
      }
    }
    input.attribute_radio {
      float: left;
      margin-left: 3px;
    }
    div.selector {
      height: 45px;
      padding: 0 0 0 15px;
      span {
        height: 43px;
        width: 100% !important;
        &:after {
          content: '\f107';
          font-size: 14px;
          color: $primary-text-color;
          border: none;
          background: none;
          width: auto;
          height: auto;
          line-height: 1;
          padding: 3px;
          top: 50%;
          right: 15px;
          @include translate(0, -50%);
          cursor: pointer;
          @include transition(0.3s all ease);
        }
      }
      &:hover {
        span:after {
          color: $dark-text-color;
        }
      }
      select {
        height: 45px;
        width: 100%;
      }
    }
    div.radio,
    div.radio span,
    div.radio input {
      float: none;
      display: inline-block;
    }
    #color_to_pick_list {
      @include color-pick-list;
    }
  }
}

.box-cart-actions {
  .buttons_bottom_block {
    display: flex;
    align-items: center;
    min-height: 45px;
  }
}

.box-info-product {
  .ajax_add_to_cart_product_button {
    &.added {
      &:before {
        content: "\f00c";
      }
    }
  }
}

/*
* @subsection      Data sheet table
*/
.table-data-sheet, table.table-product-discounts {
  border: none;
  width: 100%;
  margin: 0 0 20px;
  border-collapse: separate;
  border-spacing: 2px;
  tr {
    border: none;
    td {
      padding: 14px 19px 14px;
      color: $dark-text-color;
      font-size: 14px;
      background: darken(saturate(adjust_hue($light-background, 192), 33.33%), 2.94%);
      &:first-child {
        background: darken(saturate(adjust_hue($light-background, 197.143), 36.84%), 3.7255%);
        border: none;
        width: 31.8%;
        font-weight: 700;
        color: $dark-text-color;
      }
    }
    th {
      color: $dark-text-color;
    }
  }
}

/*
* @subsection      Quantity wanted
*/
#quantity_wanted_p {
  overflow: hidden;
  float: left;
  margin-right: 20px;
  input {
    width: 50px;
    height: 45px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    float: left;
    border: $main_border;
    @include border-radius($border-radius-base);
    outline-width: 0;
  }
  .btn {
    float: left;
    margin-left: 3px
  }
  label {
    color: $dark-text-color;
    float: left;
    font-size: 14px;
    line-height: 45px;
    padding-right: 10px;
    min-width: 100px;
  }
}

#add_to_cart_product_page_button {
  margin-top: 15px;
  margin-bottom: 29px;
  #add_to_cart {
    margin-bottom: 0;
    .btn {
      width: 100%;
      padding: 18px 17px 16px;
      font-weight: 700;
      letter-spacing: 0.04em;
      max-width: 400px;
      &:hover {
        &:before {
          border-width: 240px 0 0 254px;
        }
        &:after {
          border-width: 0 240px 240px 0;
        }
      }
    }
  }
}

/*
* @subsection      Availability statut
*/
#availability_date_label {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}

#availability_date {
  margin: 0;
  + #oosHook {
    margin-bottom: 15px;
  }
}

#last_quantities, #availability_statut #availability_value.warning_inline {
  color: $light-text-color;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: $color-succes;
  border: 1px solid darken($color-succes, 20);
  @include border-radius($border-radius-small);
}

#last_quantities {
  background: $color-warning;
  border-color: darken($color-warning, 20);
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
}

#pQuantityAvailable {
  display: inline-block;
  font-family: $font-primary;
  font-style: italic;
  font-size: 12px;
  span#quantityAvailable {
    color: $base-text-color
  }
  @media (max-width: $screen-xs-min - 1) {
    float: left;
    clear: left;
  }
}

#availability_statut #availability_value.warning_inline {
  background: $color-warning;
  border-color: darken($color-warning, 20);
  text-shadow: 1px 1px darken($color-warning, 20);
  margin: 0;
}

.box-info-product {
  .content_prices {
    margin-bottom: 0;
    overflow: hidden;
    line-height: 30px;
    @media (max-width: $screen-xs-min - 1) {
      margin-top: 30px;
      margin-bottom: 18px;
    }
    .old-price-info {
      float: right;
      padding-top: 3px;
      padding-left: 10px;
      margin-bottom: 0;
    }
    #old_price, #old_price .price, #reduction_percent_display {
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      vertical-align: top;
      margin-left: 8px;
    }
    #old_price .price {
      margin-right: 5px;
    }
    #reduction_percent_display {
      margin-top: 0;
      display: inline-block;
      font-size: 15px;
      margin-left: 0;
    }
    .our_price_display {
      float: left;
      margin-bottom: 0;
      #our_price_display {
        font-size: 36px;
        color: $dark-text-color;
        letter-spacing: 0.02em;
      }
    }
    .discount {
      display: none;
    }
  }
}

.all-price-info {
  margin-bottom: 11px;
  @include clearfix;
  > p {
    display: inline-block;
    vertical-align: 0;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .tax-info {
    float: left;
    clear: left;
    line-height: 1;
  }
}

#old_price .price {
  text-decoration: line-through;
  color: $product-old-price-color;
  font: $font-subheading;
}

#reduction_percent,
#reduction_amount {
  font: $font-subheading;
  color: $product-special-price-color;
}

#our_price_display {
  @include price-large;
}

/*
* @subsection      Online only
*/
.pb-right-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left;
}

/*
* @subsection      Send to a Friend
*/
#send_friend_form {
  width: 555px;
  overflow: hidden;
  @media (max-width: $screen-xs-max) {
    // max 767px
    width: 280px;
  }
  .product {
    img {
      margin: 0 0 10px 0;
      border: 1px solid $base-border-color;
      max-width: 100%;
      height: auto;
    }
    p {
      padding: 0;
      color: $base-text-color;
      .product_name {
        font-size: 12px;
        color: $dark-text-color;
      }
    }
  }
  .form_container {
    padding: 10px 15px;
    border: 1px solid $base-border-color;
    background: $base-box-bg;
    p {
      &.intro_form {
        padding-bottom: 6px;
        font-weight: 700;
        font-size: 13px;
        color: $base-text-color;
      }
      &.txt_required {
        padding-bottom: 0;
        color: $base-text-color;
      }
    }
    .text {
      padding-bottom: 10px;
      label {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 12px;
      }
      input {
        padding: 0 5px;
        height: 22px;
        width: 100%;
        border: 1px solid $base-border-color;
        font-size: 12px;
        color: $base-text-color;
      }
    }
  }
  .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right;
  }
}

/*
* @subsection      Personnalisaton
*/
.product-information {
  margin-bottom: 25px;
  margin-top: 61px;
  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }
  .product-info-tabs {
    padding-right: 0;
    position: relative;
    z-index: 2;
    font-size: 0;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    > li {
      margin: 0;
      margin-top: 5px;
      z-index: 2;
      font-size: 24px;
      letter-spacing: 0.02em;
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 17px;
      }
      a {
        padding: 3px 3px;
        color: $primary-text-color;
        position: relative;
        border: none;
        background: none;
        outline: none;
        @include transition(color 0.4s);
        &:after {
          content: '';
          position: absolute;
          left: 3px;
          right: 3px;
          bottom: 0;
          height: 1px;
          background: $primary-background;
          -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
        }

        h3 {
          font: inherit;
          padding: 0;
          margin: 0;
          color: inherit;
          text-transform: none;
        }
      }
      &:hover, &.active {
        a {
          color: $dark-text-color;
          &:after {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
            transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
          }
        }
      }
    }
    @media (min-width: $screen-sm-min) {
      margin-left: -32px;
      > li {
        display: inline-block;
        margin-left: 32px;
      }
    }
  }
  .tab-content {
    position: relative;
    z-index: 1;
    padding: 13px 0;
    > div {
      padding-bottom: 15px;
    }
    .accordion {
      display: block;
      position: relative;
      font-size: 24px;
      padding: 5px 50px 5px 0;
      margin: 11px 0;
      &:before {
        position: absolute;
        top: 10px;
        right: 10px;
        @include addIcon('\f107');
        color: $primary-text-color;
        cursor: pointer;
        @include transition(0.3s all ease);
      }
      a {
        display: inline-block;
        padding: 3px 3px;
        color: $primary-text-color;
        position: relative;
        @include transition(color 0.4s);
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          right: 50%;
          bottom: 0;
          height: 1px;
          background: $primary-background;
          @include transition(0.3s all ease);
        }
        h3 {
          font: inherit;
          padding: 0;
          margin: 0;
          color: inherit;
          text-transform: none;
        }
      }
      &:hover {
        &:before {
          color: $dark-text-color;
        }
      }
      &:hover, &.active {
        a {
          color: $dark-text-color;
          &:after {
            left: 3px;
            right: 3px;
          }
        }
      }
      &.active {
        &:before {
          content: '\f106';
        }
      }
      @media (min-width: $screen-sm-min) {
        display: none;
      }
    }
    > .tab-pane {
      display: none;
      animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
      -webkit-animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
      &.active {
        display: block;
      }
    }
    .form-control {
      background: $light-background;
    }
    .video-name {
      font-size: 20px;
      color: $dark-text-color;
    }
    .product-description-tab-content {
      padding: 7px 3px 13px;
      font: $font-midheading;
      color: $color-grey-darken;
      p + p {
        margin-top: 24px;
        @media (max-width: $screen-xs-max) {
          margin-top: 10px;
        }
      }
    }
  }
}

#page .columns-container #columns .product-information .tab-content {
  margin: 0;
  @media (min-width: $screen-sm-min) {
    margin-top: 10px;
  }
}

ul#uploadable_files,
ul#text_fields {
  list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $base-border-color;
}

.customizationUploadLine {
  padding-bottom: 10px;
  label {
    display: block;
    vertical-align: top;
  }
  textarea {
    width: 50%;
    border: $main_border;
    color: $text-color;
  }
}

.customizationUploadBrowse {
  img {
    border: 3px solid $dark-border-color;
    margin: 0 10px 10px 0;
    padding: 5px;
    background: $light-background;
    + a {
      position: relative;
      vertical-align: top;
      img {
        height: auto;
        margin: 0;
        border: none;
        padding: 0;
        background: none;
      }
    }
  }
}

#customizedDatas {
  float: right;
}

.accessories_block {
  div ul li {
    a {
      display: inline-block;
    }
    &.s_title_block {
      a,
      span {
        font-weight: 700;
      }
    }
  }
}

.pb-left-column .zoomPad {
  float: none;
}

.addsharethisinner .stButton .stArrow {
  display: none !important;
}

#view_full_size {
  .zoomPreload {
    background-position: center center;
    text-indent: -5000px;
  }
}

#blockpack {
  ul.product_list {
    > li {
      @media only screen and (max-width: $screen-xs-max) {
        &.first-item-of-mobile-line {
          clear: left;
        }
        &.first-item-of-tablet-line {
          clear: none;
        }
      }
    }
  }
}

.page-product-box {
  margin-top: 20px;
  @media (min-width: $screen-sm-min) {
    margin-top: 48px;
  }
}

/*
* @subsection      Quick View Styles
*/
#product.content_only {
  .primary_block.row {
    margin: 0;
  }
  div {
    &.primary_block {
      margin-bottom: 0;
      padding: 22px 13px 28px;

      div {
        &.pb-left-column {
          padding: 15px 15px 0 15px;
          width: 59.8%;
          float: left;
          #views_block {
            top: 15px;
          }
          p.resetimg {
            margin-bottom: 0;
            padding-top: 0;
          }
          @media only screen and (max-width: 841px) {
            width: 400px;
            max-width: 400px;
          }
        }
        &.pb-right-column {
          padding: 20px 0 0 20px;
          margin-bottom: 0;
          max-width: 320px;
          #product_payment_logos {
            display: none;
          }
          @media only screen and (max-width: 800px) {
            max-width: 285px;
          }
          @media (min-width: 920px) {
            max-width: 350px;
            padding: 31px 10px 0 16px;
          }
          @media (min-width: 1030px) {
            max-width: 395px;
          }
          @media (min-width: $screen-md-min) {
            width: auto;
          }
          .product_comments_block_extra {
            padding-right: 0;
          }
          #availability_statut {
            margin-top: 17px;
            span {
              font: $font-midheading;
              font-weight: 400;
              font-style: italic;
              letter-spacing: 0.02em;
              padding: 10px 12px;
            }
          }
          #ShareDiv {
            position: absolute;
            bottom: 8px;
          }
          h1 {
            padding-bottom: 14px;
          }
          .box-info-product {
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 0;
          }
          .product-info-line {
            @media only screen and (max-width: 841px) {
              display: none;
            }
          }
          .box-info-product .box-cart-bottom {
            padding-bottom: 0;
            .buttons_bottom_block {
              @media only screen and (max-width: 841px) {
                display: none;
              }
            }
          }
          .box-info-product {
            .content_prices {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.box-info-product .box-cart-bottom img {
  width: auto;
}

div.primary_block div.pb-left-column {
  position: relative;

  .image_loader {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    content: '';
    z-index: 10;

    &:after {
      position: absolute;
      display: block;
      width: 44px;
      height: 44px;
      left: 50%;
      top: 50%;
      @include transform (translate(-50%, -50%));
      margin-left: -22px;
      margin-top: -22px;
      background: url("../img/ajax-loader.gif") no-repeat 0 0;
      content: '';
      z-index: 11;
    }
  }
}