@import "_theme_variables";
@import "_elements_variables";

/*******************************************************
Product list Styles
********************************************************/
/*
* @section      Product list Styles
* @description  This section holds specific style redeclarations for some
*               of common elements in page listing
*/
ul.product_list {
  position: relative;
  z-index: 1;
  .color-list-container {
    margin-bottom: 12px;
    ul {
      @include color-pick-list;
    }
  }
  > .layered-preloader {
    position: absolute;
    left: 50%;
    top: 100px;
    @include translate(-50%, 0);
    opacity: 0.7;
    width: 64px;
    height: 64px;
    background: url(../img/cat-loader.gif) no-repeat 0 0;
    img {
      display: none
    }

  }
  .product-image-container {
    text-align: center;
    position: relative;
    overflow: hidden;
    img {
      will-change: opacity;
      margin: 0 auto;
      &.replace-2x {
        z-index: 1;
        @include transform(scale(1));
        @include transition(all 0.4s ease);
        opacity: 1 !important;
      }
      &.hover-image {
        left: 0;
        position: absolute;
        top: 0;
        opacity: 0 !important;
        @include transform(scale(0) translateY(110%));
        @include transition(all 0.3s ease);
        width: 100%;
      }
    }
    &:hover img {
      &.replace-2x {
        @include transform(scale(0));
        z-index: -1;
        opacity: 0 !important;
      }
      &.hover-image {
        @include transform(scale(1) translateY(0));
        opacity: 1 !important;
      }
    }

    .product_img_link {
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba($light-background, 0.38);
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        @include transition(0.3s all ease);
      }
    }

    .quick-view {
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $primary-text-color;
      position: absolute;
      left: 50%;
      top: 105px;
      padding: 12px 10px;
      min-width: 130px;
      text-align: center;
      background: darken($light-background, 0.3921%);
      border-radius: $border-radius-base;
      overflow: hidden;
      will-change: transform;
      @include translate(-50%, -50%);
      @include box-shadow (0px 4px 35px 0px rgba(0, 0, 0, 0.06));
      @include transition(0.3s all ease);
      z-index: 3;
      &:before,
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0 0;
        position: absolute;
        @include transition(0.5s all ease);
        z-index: -1;
      }
      &:before {
        border-color: transparent transparent transparent darken($light-background, 5%);
        bottom: 0;
        left: 0;
      }

      &:after {
        border-color: transparent darken($light-background, 5%) transparent transparent;
        top: 0;
        right: 0;
      }

      &:hover {
        &:before {
          border-width: 165px 0 0 165px;
        }

        &:after {
          border-width: 0 165px 165px 0;
        }
      }
      span {
        white-space: nowrap;
      }
      @media (min-width: $screen-lg) {
        top: 90%;
        opacity: 0;
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
    .button-container {
      margin: 0;

      .ajax_add_to_cart_button,
      span.btn,
      .lnk_view {
        margin: 0 6px 10px 0;
      }
      .lnk_view {
        display: none;
      }
      .ajax_add_to_cart_button, .btn.customization {
        position: absolute;
        left: 50%;
        height: 46px;
        padding: 15px;
        min-width: 130px;
        margin: 0;
        @include translate(-50%, 0);
        @include transition(0.3s all ease);
        z-index: 3;
        @media (min-width: $screen-lg-min) {
          opacity: 0;
          @include translate(-50%, 2px);
          top: 150%;
        }
      }
    }
  }
  .comments_note {
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    .nb-comments {
      display: none;
    }
  }
  .functional-buttons {
    > div {
      font-size: 13px;
      letter-spacing: 0.02em;
      a, label {
        color: $primary-text-color;
        cursor: pointer;
        &:hover {
          color: $dark-text-color;
        }
      }
      a {
        display: inline-block;
        @include transition(0.3s all ease);
        &:before {
          @include addIcon('\f00c');
          display: none;
        }
        &.checked {
          &:before {
            display: inline-block;
          }
        }
      }
    }
  }
}

/*
* @section      Product list(Grid) Styles
*/
ul.product_list.grid {
  .color-list-container {
    margin-bottom: 0;
    ul {
      line-height: 1;
    }
  }
  > li {
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
      width: 50%;
      float: left;
    }
    @media (max-width: $screen-xs-min - 1) {
      &:nth-child(2n + 1) {
        clear: left;
      }
    }
    .product-container {
      background: $light-background;
      padding: 0;
      overflow: hidden;
      position: relative;
      @media (max-width: $screen-md-max) {
        padding-bottom: 29px;
        .color-list-container {
          display: none;
        }
      }
      .product-image-container {
        position: relative;
        @media (max-width: $screen-md-max) {
          position: static;
        }
        .product_img_link {
          display: block;
          @include product-image;
          img {
            -webkit-backface-visibility: hidden;
            @media (max-width: $screen-xs-max) {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
        .button-container {
          @media (max-width: $screen-md-max) {
            .ajax_add_to_cart_button, .btn.customization {
              bottom: 0;
              width: 100%;
              &.responsive-btn {
                background: none;
                padding: 0;
                width: 33.33%;
                left: 0;
                height: auto;
                min-width: 0;
                text-align: center;
                @include translate(0, 0);
                &:before {
                  display: inline-block;
                  position: static;
                  @include addFlIcon('\e04f', 21px);
                  border: none;
                  width: auto;
                  height: auto;
                  z-index: 1;
                  color: $base-text-color;
                }
                &:hover {
                  &:before {
                    color: $primary-text-color;
                  }
                }
                &:after {
                  display: none;
                }
                span {
                  display: none;
                }
              }
            }
            .btn.customization {
              &.responsive-btn {
                &:before {
                  content: '\e024';
                }
              }
            }
          }
        }
        @media (min-width: $screen-lg) {
          .btn + .quick-view {
            @include translate(-50%, -48px);
          }
        }
        .new-box,
        .sale-box {
          z-index: 3;
          @media (max-width: $screen-xs-min - 1) {
            span {
              padding: 0 6px;
              font-size: 8px;
            }
          }
        }
      }
      h5 {
        padding: 0 15px 7px 15px;
        margin-top: 6px;
        margin-bottom: 0;
        a {
          span.list-name {
            display: none;
          }
        }
      }
      .comments_note {
        text-align: center;
        .star_content {
          display: inline-block;
          margin: 0 0 0 0;
        }
      }
      .product-desc {
        display: none;
        span.list-desc {
          display: none;
        }
      }
      .hook-reviews, .availability {
        display: none;
      }
      .content_price {
        padding-bottom: 2px;
        line-height: 21px;
      }
      .old-price,
      .price,
      .price-percent-reduction {
        display: inline-block;
      }
      .product-flags {
        display: none;
      }
      .old-price {
        margin-right: 11px;
      }
      .price-percent-reduction {
        margin-left: 8px;
      }
      .right-block {
        padding: 10px;
        @media (max-width: $screen-xs-max) {
          padding-left: 0;
          padding-right: 0;
          h5 {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      .functional-buttons {
        > div {
          text-align: center;
        }
      }
    }
    .functional-buttons {
      @media (max-width: $screen-md-max) {
        height: 0;
      }
      > div {
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.42;
        @media (max-width: $screen-md-max) {
          display: inline-block;
          a {
            position: absolute;
            bottom: 0;
            width: 33.33%;
            text-align: center;
            font-size: 0;
            padding-bottom: 2px;
            &:before {
              display: inline-block;
              color: $base-text-color;
              @include transition(0.3s all ease);
              line-height: 1;
            }
            &:hover {
              &:before {
                color: $primary-text-color;
              }
            }
            &.addToWishlist, &.wishlist_button_list {
              left: 33.33%;
              &:before {
                @include addFlIcon('\e028', 21px);
              }
              &.checked {
              }
            }
            &.add_to_compare {
              right: 0;

              &.checked:before {
                color: $color-primary;
              }

              &:before {
                @include addFlIcon('\e052', 21px);
                @include rotate(90deg);
              }
            }
          }
        }
        @media (min-width: $screen-lg-min) {
          a {
            position: relative;
            opacity: 0;
            bottom: -20px;
          }
          &.compare {
            a {
              bottom: -30px;
            }
          }
        }
      }
    }
    @media (min-width: $screen-lg) {
      &.hovered {
        .product-container {
          .product-image-container {
            .ajax_add_to_cart_button, .btn.customization {
              opacity: 1;
              top: 50%;
            }
            .quick-view {
              opacity: 1;
              top: 50%;
            }
            .product_img_link {
              &:before {
                visibility: visible;
                opacity: 1;
              }
            }
          }
          .functional-buttons {
            > div {
              a {
                opacity: 1;
                bottom: 0;
              }
            }
          }
        }
      }
    }
    @media (min-width: $screen-md) {
      &.first-in-line {
        clear: left;
      }
    }
    @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
  }
}

/*
* @section      Product list(List) Styles
*/
ul.product_list.list {
  > li {
    .left-block {
      @media (min-width: $screen-md-min) {
        width: 26.5%;
      }
      @media (min-width: $screen-lg-min) {
        width: 22.5%;
      }
    }
    .product-container {
      padding: 0 0 40px;
    }
    .product-image-container {
      .quick-view {
        top: 50%;
        font-size: 11px;
        line-height: 1.3;
        min-width: 0;
        padding: 8px 10px;
        span {
          white-space: normal;
        }
        max-width: 100%;
      }
      .product_img_link {
        display: block;
        position: relative;
        @include product-image;
      }
      .content_price {
        display: none !important;
      }
      .button-container {
        .btn {
          display: none;
        }
      }
    }
    .product-flags {
      color: $base-text-color;
      margin: 5px 0 0;
      @media (max-width: $screen-sm-max) {
        display: none;
      }
      @media (min-width: $screen-md) {
        margin-top: -5px;
      }
      .discount {
        color: $color-warning;
      }
    }
    .color-list-container {
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
    h5 {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 7px;
      a {
        span.grid-name {
          display: none;
        }
      }
    }
    .product-desc {
      margin-bottom: 15px;
      font: $font-midheading;
      letter-spacing: 0;
      span.grid-desc {
        display: none;
      }
    }
    .center-block {
      @media (max-width: $screen-xs - 1) {
        .product-desc {
          display: none;
        }
      }
      @media (min-width: $screen-md-min) {
        width: 40%;
      }
      @media (min-width: $screen-lg-min) {
        width: 44%;
      }
      .comments_note {
        margin-bottom: 12px;
        @media only screen and (min-width: $screen-xs) {
          text-align: left;
        }
        .star_content {
          display: inline-block;
        }
      }
    }
    .right-block {
      @media (min-width: $screen-md-min) {
        width: 33.5%;
      }
      .right-block-content {
        position: relative;
        @media (min-width: $screen-md) {
          margin: 0;
          border-left: 1px solid $base-border-color;
          padding-left: 30px;
          padding-bottom: 16px;
        }
        .content_price {
          display: inline-block;
          padding-bottom: 6px;
          padding-right: 10px;
          @media (max-width: $screen-sm-max) {
            padding-bottom: 0;
          }
          @media (max-width: $screen-xs - 1) {
            padding-top: 8px;
            width: 100%;
          }
          @media (min-width: $screen-md-min) {
            float: left;
          }
          .price {
            display: inline-block;
            margin-top: -4px;
            margin-bottom: 5px;
            &.old-price {
              margin-right: 8px;
            }
          }
        }
        .hook-reviews {
          float: right;
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
        .specific_prices + .hook-reviews {
          @media (min-width: $screen-md-min) {
            float: left;
            clear: left;
          }
        }
        .availability {
          float: left;
          clear: left;
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
        .button-container {
          overflow: hidden;
          padding-top: 19px;
          padding-bottom: 0;
          width: 100%;

          @media (max-width: $screen-md) {
            min-height: 36px;
          }

          @media (max-width: $screen-sm-max) {
            padding-top: 11px;
          }
          .btn {
            width: 100%;
          }
          .quick-view, .lnk_view {
            display: none;
          }
          .ajax_add_to_cart_button, .btn.customization {
            @media (max-width: $screen-sm-max) {
              bottom: 0;
              width: 100%;
              &.responsive-btn {
                background: none;
                padding: 0;
                width: 33.33%;
                left: 0;
                height: auto;
                min-width: 0;
                text-align: left;
                @include translate(0, 0);
                &:before {
                  display: inline-block;
                  position: static;
                  @include addFlIcon('\e04f', 21px);
                  border: none;
                  width: auto;
                  height: auto;
                  z-index: 1;
                  color: $base-text-color;
                }
                &:hover {
                  &:before {
                    color: $primary-text-color;
                  }
                }
                &:after {
                  display: none;
                }
                span {
                  display: none;
                }
              }
            }
          }
        }
        .functional-buttons {
          float: right;
          text-align: right;
          > div {
            line-height: 1.01;
            font-size: 11px;
          }
          @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            float: left;
            clear: left;
            margin-top: 15px;
            text-align: left;
          }
          @media (max-width: $screen-sm-max) {
            height: 0;
            float: none;
            > div {
              display: inline-block;
              a {
                position: absolute;
                bottom: 0;
                width: 33.33%;
                text-align: left;
                font-size: 0;
                padding-bottom: 2px;
                &:before {
                  display: inline-block;
                  color: $base-text-color;
                  @include transition(0.3s all ease);
                  line-height: 1;
                }
                &:hover {
                  &:before {
                    color: $primary-text-color;
                  }
                }
                &.addToWishlist, &.wishlist_button_list {
                  left: 33.33%;
                  &:before {
                    @include addFlIcon('\e028', 21px);
                  }
                }
                &.add_to_compare {
                  right: 0;

                  &.checked:before {
                    color: $color-primary;
                  }

                  &:before {
                    @include addFlIcon('\e052', 21px);
                    @include rotate(90deg);
                  }
                }
              }
            }
          }
          a {
            cursor: pointer;
          }

          .compare {
            padding-top: 5px;
          }
        }
      }
    }
    @media (min-width: $screen-lg) {
      &:hover {
        .product-container {
          .product-image-container {
            .quick-view {
              opacity: 1;
              top: 50%;
            }
            .product_img_link {
              &:before {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.three-columns {
  ul.product_list.list {
    > li {
      .left-block {
        @media (min-width: $screen-sm-min) {
          width: 100%;
        }
        @media (min-width: $screen-md-min) {
          padding-left: 15%;
          padding-right: 15%;
        }
      }
      .center-block {
        @media (min-width: $screen-sm-min) {
          width: 100%;
          margin-top: 30px;
          text-align: center;
        }
      }
      .right-block {
        @media (min-width: $screen-sm-min) {
          width: 100%;
          margin-top: 5px;
          margin-bottom: 20px;
          text-align: center;
          .right-block-content {
            display: inline-block;
            border-left: none;
            padding-left: 0;
            min-width: 300px;
            max-width: 350px;
          }
        }
      }
    }
  }
}

.lang_en {
  ul.product_list.list {
    > li {
      .right-block {
        .right-block-content {
          .functional-buttons {
            > div {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

/*
* @section      Product list(Index page) Styles
*/
#index {
  .tab-content {
    .product_list {
      > li {
        animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
        -webkit-animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
      }
    }
  }

  ul.product_list.tab-pane {
    > li {
      padding-bottom: 10px;
      margin-bottom: 10px;
      .availability {
        display: none;
      }
      @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
        &.first-item-of-tablet-line {
          clear: none;
        }
        &.first-item-of-mobile-line {
          clear: left;
        }
      }
    }
  }
  ul.product_list.grid {
    > li {
      margin-bottom: 0;
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
      @media (max-width: $screen-md-max) {
        .product-container {
          padding-bottom: 55px;
        }
        .functional-buttons {
          display: none;
          height: 0;
        }
      }
    }
  }
}

.lang_ru,
.lang_de,
.lang_fr {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    @media (min-width: $screen-lg) {
      margin-top: 15px;
      float: left;
      clear: both;
    }
  }
}