@import '_theme_variables';

/*
* @section      Stores Page Styles
*/
#stores {
  #map {
    width: 100%;
    height: 447px;
    margin-bottom: 26px;
  }
  input#addressInput {
    display: inline-block;
    width: 269px;
  }
  .address-input {
    float: left;
    margin-right: 19px;
    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin: 0 0 20px 0;
    }
    label {
      margin-right: 5px;
    }
  }
  .radius-input {
    float: left;
    margin-right: 20px;
    label,
    .selector {
      display: inline-block;
    }

    label {
      margin-right: 10px;
    }

    #radiusSelect {
      width: 78px;
    }
  }
  .store-content {
    padding-bottom: 30px;

    .btn-default {
      margin-top: 6px;
    }
  }
  .store-content-select {
    .selector {
      visibility: hidden;
      display: none;
    }
    &.active {
      padding-top: 30px;
      margin-bottom: 30px;
      border-top: 1px solid $base-border-color;

      .selector {
        visibility: visible;
        display: block;
      }
    }
  }
  .store-title {
    margin-bottom: 16px;
  }
  label {
    font-weight: normal;
    color: $base-body-color;
  }
  #stores_loader {
    display: none;
    margin-left: 5px
  }
  #locationSelect {
    max-width: 290px;
    visibility: hidden;
  }
  #stores-table {
    display: none;
    tbody {
      td {
        padding: 20px;
        &.num {
          background: $table-background;
          width: 46px;

          @media only screen and (max-width: $screen-xs) {
            display: none;
          }
        }
        &.name {
          span {
            padding-left: 15px;
          }
          @media (max-width: $screen-xs-max) {
            img {
              display: none;
            }
          }
        }
      }
    }
    th {
      &.num {
        @media only screen and (max-width: $screen-xs) {
          display: none;
        }
      }
      @media only screen and (max-width: $screen-xs) {
        font-size: 10px;
      }
    }
  }
}

.simplifiedStores .logo {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.store-image {
  text-align: center;
  img {
    max-width: 100%;
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      width: 100%;
      min-width: 100px;
    }
  }
}