/* Special style for block cart*/
#left_column #cart_block, #right_column #cart_block {
}

#header #cart_block .title_block, #header #cart_block h4 {
    display: none;
}

#header #cart_block {
    z-index: 10;
    display: none;
    position: absolute;
    right: 0;
    top: 65px;
    height: auto;
    width: 200px;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 0 #C6C6C6;
    background: #eee
}

#cart_block.cart_block_hover {
    display: block
}

#cart_block .title_block span, #header #cart_block h4 {
    float: right;
    padding-left: 10px;
    text-transform: none;
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer
}

#cart_block .block_content {
    padding: 8px 8px 16px 8px;
}

#cart_block #cart_block_summary {
    display: none
}

#cart_block .quantity-formated {
    display: inline-block;
    padding-right: 2px;
    min-width: 18px;
    vertical-align: top;
}

#cart_block .cart_block_product_name {
    font-weight: bold
}

#cart_block .remove_link, #cart_block .deleteCustomizableProduct {
    float: right;
    display: inline-block;
    margin: 1px 0 0 5px;
    height: 12px;
    width: 12px
}

#cart_block .remove_link a, #cart_block .ajax_cart_block_remove_link {
    display: inline-block;
    height: 12px;
    width: 12px;
    background: url(img/icon/delete.gif) no-repeat 0 0
}

#cart_block .price {
    float: right
}

#cart_block #cart_block_list dl {
    padding-bottom: 10px
}

#cart_block #cart_block_list dt {
    padding: 4px 0
}

#cart_block #cart_block_list dt a {
    font-weight: bold;
    display: inline-block;
    max-width: 95px
}

#cart_block #cart_block_list dd {
    margin-left: 20px
}

#cart_block #cart-prices {
    padding: 10px 4px;
    line-height: 20px;
    font-weight: bold;
    border-top: 1px solid #999
}

#cart_block #cart_block_shipping_cost,
#cart_block #cart_block_total {
    float: right
}

#cart_block #cart_block_shipping_cost {
    font-weight: bold
}

#cart_block #cart-buttons .button_small {
    display: none;
}

#cart_block #cart-buttons #button_order_cart {
    float: right;
    padding-left: 20px
}

#cart_block #cart-buttons #button_order_cart span {
    position: absolute;
    top: -1px;
    left: -12px;
    display: block;
    height: 26px;
    width: 26px;
    background: url(img/icon/pict_add_cart.png) no-repeat 0 0
}

#cart_block table#vouchers {
    clear: both;
    width: 100%
}

#cart_block table#vouchers tr td {
    padding: 2px;
}

#cart_block table#vouchers tr td.quantity {
    margin-right: 5px;
    min-width: 18px
}

#cart_block table#vouchers tr td.delete {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    width: 15px;
}

#layer_cart {
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    padding: 4px;
    position: absolute;
    left: 0;
    clear: both;
    display: none;
    z-index: 99;
}

.layer_cart_overlay {
    background-color: #000;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 98;
    opacity: .50;
    -moz-opacity: .50;
    filter: alpha(opacity=50);
}

* html .layer_cart_overlay {
    filter: alpha(opacity=50);
    position: absolute;
    left: 0;
    margin-left: -160px;
}

#layer_cart .continue {
    cursor: pointer;
}

#layer_cart p {
    padding: 0px;
}

#blockcart_list {
    width: 232px;
    overflow: hidden;
}

#blockcart_list ul {
    display: block;
    height: 90px;
}

#blockcart_list li {
    list-style-type: none;
    float: left;
    width: 58px;
}