<div class="modal fade" id="modules_list_container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">{l s='Recommended Modules and Services'}</h3>
            </div>
            <div class="modal-body">
                <div id="modules_list_container_tab_modal" style="display:none;"></div>
                <div id="modules_list_loader"><i class="icon-refresh icon-spin"></i></div>
            </div>
        </div>
    </div>
</div>
