@import '../../../_theme_variables';
@import "../../../_elements_variables";

/* -------*--------------------------------------------------------------------------------------------------------
										 Social Sharing 
------------------------------------------------------------------------------------------------------------------- */
.btn.btn-facebook,
.btn.btn-twitter,
.btn.btn-google-plus,
.btn.btn-pinterest {
  border: none;
  margin-bottom: 3px;
  padding: 0;
  margin-right: 24px;
  font-size: 16px;
  &:before {
    color: $color-gray;
    @include transition(0.3s all ease);
  }
  background: none;
  &:hover, &:focus {
    &:before {
      color: $primary-text-color;
    }
  }
  span {
    display: none;
  }
  i {
    display: none;
  }
}

.socialsharing_product button {
  margin-bottom: 3px;
}