.top_menu {
    padding: 43px 15px 0;
    clear: both;
    float: none;
}

@media (max-width: 767px) {
    .top_menu {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 25%;
        padding-top: 33px;
        text-align: center;
    }

    .top_menu > * {
        text-align: left;
    }
}

.stickUpTop {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

.stickUpHolder {
    padding: 0;
    max-width: 100%;
}

@media only screen and (max-width: 1199px) {
    .isStuck .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.top_menu > ul, .top_menu .stickUpHolder > ul {
    padding: 0;
    text-align: center;
}

.top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
    display: inline-block;
}

.top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
    display: block;
    position: relative;
    color: #263238;
    font: 400 16px/22px "Arimo", sans-serif;
    letter-spacing: 0.04em;
    padding: 0 3px;
    text-transform: uppercase;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.top_menu > ul > li > a:after, .top_menu .stickUpHolder > ul > li > a:after {
    content: '';
    position: absolute;
    left: 3px;
    right: 3px;
    bottom: 0;
    height: 2px;
    background: #07a3e0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.top_menu > ul > li > a.sf-with-ul, .top_menu .stickUpHolder > ul > li > a.sf-with-ul {
    position: relative;
    padding-right: 22px;
}

.top_menu > ul > li > a.sf-with-ul:before, .top_menu .stickUpHolder > ul > li > a.sf-with-ul:before {
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.top_menu > ul > li:hover > a:after, .top_menu > ul > li.sfHover > a:after, .top_menu > ul > li.sfHoverForce > a:after, .top_menu > ul > li > a:hover:after, .top_menu .stickUpHolder > ul > li:hover > a:after, .top_menu .stickUpHolder > ul > li.sfHover > a:after, .top_menu .stickUpHolder > ul > li.sfHoverForce > a:after, .top_menu .stickUpHolder > ul > li > a:hover:after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.top_menu > ul > li:hover > a.sf-with-ul:before, .top_menu > ul > li.sfHover > a.sf-with-ul:before, .top_menu .stickUpHolder > ul > li:hover > a.sf-with-ul:before, .top_menu .stickUpHolder > ul > li.sfHover > a.sf-with-ul:before {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media (min-width: 768px) {
    .top_menu > ul > li:hover > span.menu-mobile-grover:before, .top_menu .stickUpHolder > ul > li:hover > span.menu-mobile-grover:before {
        color: #07a3e0;
    }

    .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul, .top_menu .stickUpHolder > ul > li ul.is-simplemenu, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul {
        display: none;
        width: 200px;
        text-align: left;
        top: -1px;
        right: -215px;
        position: absolute;
        padding: 15px;
        z-index: 99;
        background: #fff;
        -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
        -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    }

    .top_menu > ul > li > ul.is-simplemenu, .top_menu .stickUpHolder > ul > li > ul.is-simplemenu {
        right: auto;
        left: 0;
        top: 59px;
    }
}

@media only screen and (max-width: 767px) {
    .top_menu > ul > li, .top_menu .stickUpHolder > ul > li {
        width: 100%;
        float: none;
    }

    .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
        border-right: none;
    }
}

.top_menu > ul > li + li, .top_menu .stickUpHolder > ul > li + li {
    margin-left: 41px;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .top_menu > ul > li + li, .top_menu .stickUpHolder > ul > li + li {
        margin-left: 30px;
    }

    .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .top_menu > ul > li + li, .top_menu .stickUpHolder > ul > li + li {
        margin-left: 30px;
    }

    .top_menu > ul > li > a, .top_menu .stickUpHolder > ul > li > a {
        font-size: 11px;
    }
}

@media (min-width: 768px) {
    .top_menu ul.menu, .top_menu .stickUpHolder ul.menu {
        position: relative;
    }
}

.top_menu li a, .top_menu .stickUpHolder li a {
    position: relative;
}

.top_menu li.simple, .top_menu li li, .top_menu .stickUpHolder li.simple, .top_menu .stickUpHolder li li {
    position: relative;
}

.top_menu li li a, .top_menu .stickUpHolder li li a {
    display: inline-block;
    padding: 0;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #263238;
}

.top_menu li li a:hover, .top_menu .stickUpHolder li li a:hover {
    color: #07a3e0;
}

.top_menu li li + li, .top_menu .stickUpHolder li li + li {
    margin-top: 6px;
}

@media (min-width: 768px) {
    .top_menu li li a, .top_menu .stickUpHolder li li a {
        font-size: 14px;
        line-height: 1.7;
        font-weight: 400;
        color: #07a3e0;
        text-transform: none;
    }

    .top_menu li li a:hover, .top_menu .stickUpHolder li li a:hover {
        color: #263238;
    }

    .top_menu li li.sfHover > a, .top_menu li li.sfHoverForce > a, .top_menu .stickUpHolder li li.sfHover > a, .top_menu .stickUpHolder li li.sfHoverForce > a {
        color: #263238;
    }

    .top_menu li li + li, .top_menu .stickUpHolder li li + li {
        margin-top: 6px;
    }
}

.top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
    position: absolute;
    top: -2px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

@media only screen and (max-width: 767px) {
    .top_menu .menu_badge, .top_menu .stickUpHolder .menu_badge {
        right: auto;
        left: 5px;
    }
}

.top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
    width: 100%;
    padding: 0 42px;
    background: white;
    display: none;
    text-align: left;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
}

@media only screen and (min-width: 768px) {
    .top_menu .is-megamenu, .top_menu .stickUpHolder .is-megamenu {
        position: absolute;
        top: 37px;
        left: 0;
    }
}

@media (min-width: 768px) {
    .top_menu .is-megamenu .megamenu-row .megamenu-col, .top_menu .stickUpHolder .is-megamenu .megamenu-row .megamenu-col {
        width: 25%;
        padding-top: 31px;
        padding-bottom: 43px;
    }
}

@media (min-width: 1200px) {
    .top_menu .is-megamenu .megamenu-row .megamenu-col, .top_menu .stickUpHolder .is-megamenu .megamenu-row .megamenu-col {
        width: 20%;
    }

    .top_menu .is-megamenu .megamenu-row .megamenu-col:last-child, .top_menu .stickUpHolder .is-megamenu .megamenu-row .megamenu-col:last-child {
        width: 40%;
    }
}

.top_menu .is-megamenu .megamenu-row + .megamenu-row, .top_menu .stickUpHolder .is-megamenu .megamenu-row + .megamenu-row {
    border-top: 1px solid #ccc;
}

.top_menu .is-megamenu .megamenu-row-2, .top_menu .stickUpHolder .is-megamenu .megamenu-row-2 {
    background: #f8f8f8;
}

.top_menu .is-megamenu ul.content > li > a, .top_menu .stickUpHolder .is-megamenu ul.content > li > a {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #263238;
    margin-bottom: 15px;
}

.top_menu .is-megamenu ul.content > li > a:hover, .top_menu .stickUpHolder .is-megamenu ul.content > li > a:hover {
    color: #07a3e0;
}

.top_menu .is-megamenu ul.content > li + li, .top_menu .stickUpHolder .is-megamenu ul.content > li + li {
    margin-top: 27px;
}

@media (min-width: 768px) {
    .top_menu .is-megamenu ul.content ul, .top_menu .stickUpHolder .is-megamenu ul.content ul {
        opacity: 1 !important;
        display: block !important;
    }
}

.top_menu .is-megamenu .product-info, .top_menu .stickUpHolder .is-megamenu .product-info {
    text-align: center;
}

@media (min-width: 1200px) {
    .top_menu .is-megamenu .product-info, .top_menu .stickUpHolder .is-megamenu .product-info {
        padding-left: 55px;
        padding-right: 55px;
    }
}

.top_menu .is-megamenu .product-info .product-image a, .top_menu .stickUpHolder .is-megamenu .product-info .product-image a {
    max-width: 100%;
}

.top_menu .is-megamenu .product-info .product-name, .top_menu .stickUpHolder .is-megamenu .product-info .product-name {
    margin-top: 20px;
}

.top_menu .is-megamenu .product-info .product-name a, .top_menu .stickUpHolder .is-megamenu .product-info .product-name a {
    font: inherit;
    color: inherit;
}

.top_menu .is-megamenu .product-info .product-name a:hover, .top_menu .stickUpHolder .is-megamenu .product-info .product-name a:hover {
    color: #07a3e0;
}

.top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
    position: relative;
    cursor: pointer;
    display: inline-block;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.top_menu .menu-title:hover, .top_menu .stickUpHolder .menu-title:hover {
    color: #07a3e0;
}

.top_menu .menu-title:after, .top_menu .stickUpHolder .menu-title:after {
    font-family: "fl-outicons";
    content: "\e02e";
    display: inline-block;
    font-weight: normal;
    font-size: 28px;
    cursor: pointer;
    z-index: 1;
}

.top_menu .menu-title:before, .top_menu .stickUpHolder .menu-title:before {
    content: '';
    background: rgba(38, 50, 56, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    overflow: hidden;
    z-index: 10;
    cursor: default;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    visibility: hidden;
    opacity: 0;
}

.top_menu .menu-title .menu-close, .top_menu .stickUpHolder .menu-title .menu-close {
    display: block;
    visibility: hidden;
}

.top_menu .menu-title .menu-close:before, .top_menu .stickUpHolder .menu-title .menu-close:before {
    display: block;
    position: fixed;
    left: 286px;
    top: 50px;
    content: "\e00a";
    font-family: 'fl-free-chaos';
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    color: white;
    z-index: 11;
    cursor: pointer;
    opacity: 0;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    transition-property: color, opacity;
    -webkit-transition-delay: 0s, 0.6s;
    transition-delay: 0s, 0.6s;
}

.top_menu .menu-title .menu-close:hover:before, .top_menu .stickUpHolder .menu-title .menu-close:hover:before {
    color: #07a3e0;
}

.top_menu .menu-title.active:before, .top_menu .stickUpHolder .menu-title.active:before {
    visibility: visible;
    opacity: 1;
}

.top_menu .menu-title.active .menu-close, .top_menu .stickUpHolder .menu-title.active .menu-close {
    visibility: visible;
}

.top_menu .menu-title.active .menu-close:before, .top_menu .stickUpHolder .menu-title.active .menu-close:before {
    opacity: 1;
}

.top_menu .menu-title span, .top_menu .stickUpHolder .menu-title span {
    display: none;
}

@media only screen and (min-width: 768px) {
    .top_menu .menu-title, .top_menu .stickUpHolder .menu-title {
        display: none;
    }
}

.top_menu .menu-mobile-grover, .top_menu .stickUpHolder .menu-mobile-grover {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
    display: block;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 24px;
    cursor: pointer;
    color: #263238;
    z-index: 1;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media only screen and (min-width: 768px) {
    .top_menu .menu-mobile-grover:before, .top_menu .stickUpHolder .menu-mobile-grover:before {
        display: none;
    }
}

.top_menu .menu-mobile-grover #back-link, .top_menu .stickUpHolder .menu-mobile-grover #back-link {
    display: none;
}

@media (max-width: 767px) {
    .top_menu li, .top_menu .stickUpHolder li {
        position: relative;
        padding-right: 45px;
    }

    .top_menu > ul, .top_menu .stickUpHolder > ul {
        display: block;
        width: 270px;
        z-index: 10;
        position: fixed;
        left: -270px;
        top: 0;
        background: white;
        text-align: left;
        padding: 45px 13px;
        height: 100vh;
        overflow-y: scroll;
        -moz-transition: 0.7s left ease;
        -o-transition: 0.7s left ease;
        -webkit-transition: 0.7s left ease;
        transition: 0.7s left ease;
    }

    .top_menu > ul.active, .top_menu .stickUpHolder > ul.active {
        left: 0;
    }

    .top_menu > ul li, .top_menu .stickUpHolder > ul li {
        width: 100%;
    }

    .top_menu > ul li a, .top_menu .stickUpHolder > ul li a {
        display: inline-block;
        padding: 8px 15px;
    }

    .top_menu > ul li a:after, .top_menu .stickUpHolder > ul li a:after {
        display: none;
    }

    .top_menu > ul li a:hover, .top_menu .stickUpHolder > ul li a:hover {
        color: #07a3e0;
    }

    .top_menu > ul li + li, .top_menu .stickUpHolder > ul li + li {
        margin-left: 0;
        margin-top: 22px;
    }

    .top_menu > ul .is-megamenu, .top_menu > ul .is-simplemenu, .top_menu > ul .menu-mobile, .top_menu .stickUpHolder > ul .is-megamenu, .top_menu .stickUpHolder > ul .is-simplemenu, .top_menu .stickUpHolder > ul .menu-mobile {
        display: block;
        position: fixed;
        top: 100px;
        left: -100%;
        height: calc(100vh - 100px);
        width: 270px;
        padding: 2px 15px;
        background: white;
        overflow-y: scroll;
        -moz-transition: 0.5s left ease;
        -o-transition: 0.5s left ease;
        -webkit-transition: 0.5s left ease;
        transition: 0.5s left ease;
        box-shadow: none;
        z-index: 12;
    }

    .top_menu > ul .is-megamenu.active, .top_menu > ul .is-simplemenu.active, .top_menu > ul .menu-mobile.active, .top_menu .stickUpHolder > ul .is-megamenu.active, .top_menu .stickUpHolder > ul .is-simplemenu.active, .top_menu .stickUpHolder > ul .menu-mobile.active {
        left: 0;
    }

    .top_menu > ul .is-megamenu .menu-mobile-grover, .top_menu > ul .is-simplemenu .menu-mobile-grover, .top_menu > ul .menu-mobile .menu-mobile-grover, .top_menu .stickUpHolder > ul .is-megamenu .menu-mobile-grover, .top_menu .stickUpHolder > ul .is-simplemenu .menu-mobile-grover, .top_menu .stickUpHolder > ul .menu-mobile .menu-mobile-grover {
        top: 9px;
    }

    .top_menu > ul .is-megamenu ul.content > li > a, .top_menu > ul .is-simplemenu ul.content > li > a, .top_menu > ul .menu-mobile ul.content > li > a, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li > a, .top_menu .stickUpHolder > ul .is-simplemenu ul.content > li > a, .top_menu .stickUpHolder > ul .menu-mobile ul.content > li > a {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 17px;
    }

    .top_menu > ul .is-megamenu ul.content > li ul, .top_menu > ul .is-simplemenu ul.content > li ul, .top_menu > ul .menu-mobile ul.content > li ul, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li ul, .top_menu .stickUpHolder > ul .is-simplemenu ul.content > li ul, .top_menu .stickUpHolder > ul .menu-mobile ul.content > li ul {
        display: block;
        position: fixed;
        top: 100px;
        left: -100%;
        height: calc(100vh - 100px);
        width: 270px;
        padding: 2px 14px;
        background: white;
        overflow-y: scroll;
        -moz-transition: 0.5s left ease;
        -o-transition: 0.5s left ease;
        -webkit-transition: 0.5s left ease;
        transition: 0.5s left ease;
    }

    .top_menu > ul .is-megamenu ul.content > li ul.active, .top_menu > ul .is-simplemenu ul.content > li ul.active, .top_menu > ul .menu-mobile ul.content > li ul.active, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li ul.active, .top_menu .stickUpHolder > ul .is-simplemenu ul.content > li ul.active, .top_menu .stickUpHolder > ul .menu-mobile ul.content > li ul.active {
        left: 0;
    }

    .top_menu > ul .is-megamenu ul.content > li + li, .top_menu > ul .is-simplemenu ul.content > li + li, .top_menu > ul .menu-mobile ul.content > li + li, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li + li, .top_menu .stickUpHolder > ul .is-simplemenu ul.content > li + li, .top_menu .stickUpHolder > ul .menu-mobile ul.content > li + li {
        margin-top: 0;
    }

    .top_menu > ul .is-megamenu ul.content .product-info, .top_menu > ul .is-megamenu ul.content .megamenu_banner, .top_menu > ul .is-simplemenu ul.content .product-info, .top_menu > ul .is-simplemenu ul.content .megamenu_banner, .top_menu > ul .menu-mobile ul.content .product-info, .top_menu > ul .menu-mobile ul.content .megamenu_banner, .top_menu .stickUpHolder > ul .is-megamenu ul.content .product-info, .top_menu .stickUpHolder > ul .is-megamenu ul.content .megamenu_banner, .top_menu .stickUpHolder > ul .is-simplemenu ul.content .product-info, .top_menu .stickUpHolder > ul .is-simplemenu ul.content .megamenu_banner, .top_menu .stickUpHolder > ul .menu-mobile ul.content .product-info, .top_menu .stickUpHolder > ul .menu-mobile ul.content .megamenu_banner {
        display: none;
    }

    .top_menu > ul .is-megamenu ul.content > li.category ul li, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li.category ul li {
        padding-right: 15px;
    }

    .top_menu > ul .is-megamenu ul.content > li.category ul li a, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li.category ul li a {
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;
        padding: 0 15px;
        color: #07a3e0;
        text-transform: none;
    }

    .top_menu > ul .is-megamenu ul.content > li.category ul li a:hover, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li.category ul li a:hover {
        color: #263238;
    }

    .top_menu > ul .is-megamenu ul.content > li.category ul li + li, .top_menu .stickUpHolder > ul .is-megamenu ul.content > li.category ul li + li {
        margin-top: 11px;
    }

    .top_menu .menu-mobile-grover #back-link, .top_menu .stickUpHolder .menu-mobile-grover #back-link {
        display: block;
        position: fixed;
        top: 52px;
        left: -100%;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.04em;
        color: #5d5d5d;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 11;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
    }

    .top_menu .menu-mobile-grover #back-link:before, .top_menu .stickUpHolder .menu-mobile-grover #back-link:before {
        font-family: "FontAwesome";
        content: "\f104";
        display: inline-block;
        font-weight: normal;
        margin-right: 20px;
    }

    .top_menu .menu-mobile-grover #back-link:hover, .top_menu .stickUpHolder .menu-mobile-grover #back-link:hover {
        color: #07a3e0;
    }

    .top_menu .menu-mobile-grover #back-link:after, .top_menu .stickUpHolder .menu-mobile-grover #back-link:after {
        position: absolute;
        content: '';
        left: -29px;
        top: -52px;
        width: 270px;
        height: 100px;
        background: white;
        z-index: -1;
    }

    .top_menu .menu-mobile-grover:hover:before, .top_menu .stickUpHolder .menu-mobile-grover:hover:before {
        color: #07a3e0;
    }

    .top_menu .menu-mobile-grover.active #back-link, .top_menu .stickUpHolder .menu-mobile-grover.active #back-link {
        left: 29px;
    }
}

.red {
    background: #f00;
}

.menuvideowrapper {
    clear: both;
    float: none;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    width: 100%;
}

.menuvideowrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frontend-map {
    min-height: 200px;
}

/**** Left/Right column menu ****/
.left_column_menu .block_content li, .right_column_menu .block_content li {
    position: relative;
}

.left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
    display: none;
}

@media only screen and (min-width: 768px) {
    .left_column_menu .block_content li.simple ul, .right_column_menu .block_content li.simple ul {
        position: absolute;
        top: -1px;
        width: 200px;
        border: 1px solid #ccc;
        background: #fff;
        z-index: 999;
    }
}

@media only screen and (max-width: 767px) {
    .left_column_menu .block_content li.simple ul li, .right_column_menu .block_content li.simple ul li {
        border-top: 1px solid #ccc;
        position: relative;
    }

    .left_column_menu .block_content li.simple ul li a, .right_column_menu .block_content li.simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative;
    }

    .left_column_menu .block_content li.simple ul li li a, .right_column_menu .block_content li.simple ul li li a {
        padding-left: 25px;
    }
}

.left_column_menu .block_content > ul > li, .right_column_menu .block_content > ul > li {
    border-top: 1px solid #ccc;
    position: relative;
}

.left_column_menu .block_content > ul > li > a, .right_column_menu .block_content > ul > li > a {
    display: block;
    padding: 10px 0;
    position: relative;
}

.left_column_menu .block_content > ul > li:first-child, .right_column_menu .block_content > ul > li:first-child {
    border: none;
}

.left_column_menu .block_content span.menu_badge, .right_column_menu .block_content span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

.left_column_menu .block_content li.simple li a, .right_column_menu .block_content li.simple li a {
    padding: 4px 5px;
    display: block;
}

.left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
    display: none;
}

.left_column_menu .block_content div.is-megamenu ul, .right_column_menu .block_content div.is-megamenu ul {
    display: block !important;
    opacity: 1 !important;
}

.left_column_menu .block_content div.is-megamenu ul.content > li > a, .right_column_menu .block_content div.is-megamenu ul.content > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

.left_column_menu .block_content div.is-megamenu ul.content > li li, .right_column_menu .block_content div.is-megamenu ul.content > li li {
    padding-left: 5px;
}

@media only screen and (min-width: 768px) {
    .left_column_menu .block_content div.is-megamenu, .right_column_menu .block_content div.is-megamenu {
        position: absolute;
        top: 0;
        width: 600px;
        padding: 15px;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 999;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
    }

    .left_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .block_content div.is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left;
    }
}

.left_column_menu .block_content .menu-mobile-grover:after, .right_column_menu .block_content .menu-mobile-grover:after {
    position: absolute;
    right: 0;
    top: 12px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 15px;
    content: "\f107";
    font-family: 'FontAwesome';
    z-index: 1;
    cursor: pointer;
}

.left_column_menu .block_content .menu-mobile-grover.active:after, .right_column_menu .block_content .menu-mobile-grover.active:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.left_column_menu li.simple ul {
    right: -200px;
}

.right_column_menu li.simple ul {
    left: -200px;
}

.left_column_menu div.is-megamenu {
    right: -600px;
}

.right_column_menu div.is-megamenu {
    left: -600px;
}
