</div><!-- div id="sheet_step" --></div><!-- div id="sheets" -->

<div id="buttons">
    <?php if (!$this->isLastStep()): ?><?php if ($this->next_button): ?>
        <input id="btNext" class="button little" type="submit" name="submitNext" value="<?php echo $this->l('Next') ?>"/>
    <?php else: ?>
        <input id="btNext" class="button little disabled" type="submit" name="submitNext" value="<?php echo $this->l('Next') ?>" disabled="disabled"/>
    <?php endif; ?><?php endif; ?>

    <?php if (!$this->isFirstStep() && $this->previous_button): ?>
        <input id="btBack" class="button little" type="submit" name="submitPrevious" value="<?php echo $this->l('Back') ?>"/>
    <?php endif; ?>
</div></form>
<div id="phone_help">
    <?php echo sprintf($this->l('If you need some assistance, you can <a href="%1$s" onclick="return !window.open(this.href);">get tailored help</a> from our support team. <a href="%2$s" onclick="return !window.open(this.href);">The official documentation</a> is also here to guide you.'), $this->getTailoredHelp(), $this->getDocumentationLink()) ?>
</div></div><!-- div id="container" -->

<ul id="footer">
    <li>
        <a href="<?php echo $this->getForumLink() ?>" title="<?php echo $this->l('Official forum'); ?>" target="_blank"><?php echo $this->l('Official forum'); ?></a> |
    </li>
    <li><a href="http://www.prestashop.com" title="PrestaShop.com" target="_blank">PrestaShop.com</a> |</li>
    <li>
        <a href="<?php echo $this->getSupportLink() ?>" title="<?php echo $this->l('Support'); ?>" target="_blank"><?php echo $this->l('Support'); ?></a> |
    </li>
    <li>
        <a href="<?php echo $this->getDocumentationLink() ?>" title="<?php echo $this->l('Documentation'); ?>" target="_blank"><?php echo $this->l('Documentation'); ?></a> |
    </li>
    <li>
        <a href="https://www.prestashop.com/<?php echo $this->language->getLanguageIso() ?>/contact-us" title="<?php echo $this->l('Contact us'); ?>" target="_blank"><?php echo $this->l('Contact us'); ?></a> |
    </li>
    <li>&copy; 2007-<?php echo date('Y'); ?></li>
</ul>
<script type="text/javascript">
    if (typeof psuser_assistance != 'undefined') {
        var errors = new Array();
        $.each($('li.fail'), function (i, item) {
            errors.push($(this).text().trim());
        });
        psuser_assistance.setStep('install_<?php echo addslashes($this->step) ?>', {'error': errors});
        if (errors.length)
            $('#iframe_help').attr('src', $('#iframe_help').attr('src') + '&errors=' + encodeURI(errors.join(', ')));
    }
</script></body></html>
