.top_menu {
    padding: 0 15px;
    clear: both;
}

.top_menu > ul {
    padding: 0;
}

.top_menu > ul > li {
    float: left;
    margin-bottom: -3px;
}

.top_menu > ul > li > a {
    display: block;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-left: 0;
    border-bottom: 3px solid #e9e9e9;
    color: #484848;
    font: 600 18px/22px "Open Sans", sans-serif;
    padding: 17px 20px;
    text-transform: uppercase;
}

.top_menu > ul > li:hover > a, .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu > ul > li > a:hover {
    background: #333333;
    color: #fff;
    border-bottom-color: #666666;
}

.top_menu > ul > li:hover > span.menu-mobile-grover:before {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
        display: none;
        width: 200px;
        top: -1px;
        right: -200px;
        position: absolute;
        z-index: 99;
        border: 1px solid #ccc;
        background: #fff;
    }
}

@media only screen and (max-width: 767px) {
    .top_menu > ul > li ul.is-simplemenu, .top_menu > ul > li ul.is-simplemenu ul {
        background: #fff;
    }
}

.top_menu > ul > li > ul.is-simplemenu {
    right: auto;
    left: 0;
    top: 59px;
}

@media only screen and (max-width: 767px) {
    .top_menu > ul > li {
        width: 100%;
        float: none;
        position: relative;
    }

    .top_menu > ul > li > a {
        border-right: none;
    }
}

.top_menu .menu {
    position: relative;
    background: #F6F6F6;
    border-bottom: 3px solid #e9e9e9;
}

@media only screen and (max-width: 767px) {
    .top_menu .menu {
        display: none;
    }
}

.top_menu li a {
    position: relative;
}

.top_menu li.simple, .top_menu li li {
    position: relative;
}

.top_menu li li a {
    display: block;
    padding: 5px 10px;
}

.top_menu li li.sfHover > a, .top_menu li li:hover > a, .top_menu li li.sfHoverForce > a {
    color: #f00;
}

.top_menu .menu_badge {
    position: absolute;
    top: -2px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

.top_menu .is-megamenu {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0 15px;
    background: #fff;
    display: none;
    -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) {
    .top_menu .is-megamenu {
        position: absolute;
        top: 59px;
        left: 0;
    }
}

.top_menu .is-megamenu .megamenu-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.top_menu .is-megamenu .megamenu-row + .megamenu-row {
    border-top: 1px solid #ccc;
}

.top_menu .is-megamenu .megamenu-row-2 {
    background: #f8f8f8;
}

.top_menu .is-megamenu li li {
    padding-left: 10px;
}

.top_menu .is-megamenu ul.content > li > a {
    font: 600 18px/22px "Open Sans", sans-serif;
    color: #333333;
    text-transform: uppercase;
}

.top_menu .is-megamenu ul.content ul {
    opacity: 1 !important;
    display: block !important;
}

.top_menu .menu-title {
    position: relative;
    background: #F6F6F6;
    border-bottom: 3px solid #e9e9e9;
    padding: 17px 20px;
    font: 600 18px/22px "Open Sans", sans-serif;
    color: #484848;
    text-transform: uppercase;
    cursor: pointer;
}

.top_menu .menu-title:hover {
    background: #333333;
    color: #fff;
    border-bottom-color: #666666;
}

.top_menu .menu-title:after {
    position: absolute;
    content: "\f067";
    font-family: 'FontAwesome';
    height: 30px;
    width: 30px;
    font-size: 26px;
    top: 20px;
    right: 6px;
    cursor: pointer;
    z-index: 1;
}

.top_menu .menu-title.active:after {
    content: "\f068";
}

@media only screen and (min-width: 768px) {
    .top_menu .menu-title {
        display: none;
    }
}

.top_menu .menu-mobile-grover:before {
    position: absolute;
    content: "\f067";
    font-family: 'FontAwesome';
    height: 30px;
    width: 30px;
    font-size: 26px;
    top: 20px;
    right: 6px;
    cursor: pointer;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .top_menu .menu-mobile-grover:before {
        display: none;
    }
}

.top_menu .menu-mobile-grover.active:before {
    content: "\f068";
}

@media only screen and (max-width: 767px) {
    .top_menu .is-simplemenu li {
        border-top: 1px solid #ccc;
    }

    .top_menu .is-simplemenu li .menu-mobile-grover:before {
        top: 8px;
        right: 0;
        font-size: 18px;
    }

    .top_menu .is-simplemenu li a {
        display: block;
        font-size: 14px;
        padding: 8px 10px;
    }

    .top_menu .is-simplemenu li li a {
        padding-left: 20px;
    }

    .top_menu .is-simplemenu li li li a {
        padding-left: 30px;
    }

    .top_menu .is-simplemenu li li li li a {
        padding-left: 40px;
    }

    .top_menu li.simple ul {
        display: none;
    }

    .top_menu .megamenu-col.col-sm-3 {
        float: left;
        width: 50%;
    }

    .top_menu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left;
    }
}

@media only screen and (max-width: 480px) {
    .top_menu .megamenu-col.col-sm-3 {
        width: 100%;
    }
}

.red {
    background: #f00;
}

.menuvideowrapper {
    clear: both;
    float: none;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    width: 100%;
}

.menuvideowrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.frontend-map {
    min-height: 200px;
}

/**** Left/Right column menu ****/
.left_column_menu li, .right_column_menu li {
    position: relative;
}

.left_column_menu .simple ul, .right_column_menu .simple ul {
    display: none;
}

@media only screen and (min-width: 768px) {
    .left_column_menu .simple ul, .right_column_menu .simple ul {
        position: absolute;
        top: -1px;
        width: 200px;
        border: 1px solid #ccc;
        background: #fff;
        z-index: 999;
    }
}

@media only screen and (max-width: 767px) {
    .left_column_menu .simple ul li, .right_column_menu .simple ul li {
        border-top: 1px solid #ccc;
        position: relative;
    }

    .left_column_menu .simple ul li a, .right_column_menu .simple ul li a {
        display: block;
        padding: 10px 0 10px 15px;
        position: relative;
    }

    .left_column_menu .simple ul li li a, .right_column_menu .simple ul li li a {
        padding-left: 25px;
    }
}

.left_column_menu .menu > li, .right_column_menu .menu > li {
    border-top: 1px solid #ccc;
    position: relative;
}

.left_column_menu .menu > li > a, .right_column_menu .menu > li > a {
    display: block;
    padding: 10px 0;
    position: relative;
}

.left_column_menu .menu > li:first-child, .right_column_menu .menu > li:first-child {
    border: none;
}

.left_column_menu span.menu_badge, .right_column_menu span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
}

.left_column_menu .simple li a, .right_column_menu .simple li a {
    padding: 4px 5px;
    display: block;
}

.left_column_menu .is-megamenu, .right_column_menu .is-megamenu {
    display: none;
}

.left_column_menu .is-megamenu ul, .right_column_menu .is-megamenu ul {
    display: block !important;
    opacity: 1 !important;
}

.left_column_menu .is-megamenu ul.content > li > a, .right_column_menu .is-megamenu ul.content > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

.left_column_menu .is-megamenu ul.content > li li, .right_column_menu .is-megamenu ul.content > li li {
    padding-left: 5px;
}

@media only screen and (min-width: 768px) {
    .left_column_menu .is-megamenu, .right_column_menu .is-megamenu {
        position: absolute;
        top: 0;
        width: 600px;
        padding: 15px;
        background: #fff;
        border: 1px solid #ccc;
        z-index: 999;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .left_column_menu .is-megamenu .megamenu-col.col-sm-3, .right_column_menu .is-megamenu .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
    }

    .left_column_menu .is-megamenu .megamenu-col.col-sm-3.first-in-line-sm, .right_column_menu .is-megamenu .megamenu-col.col-sm-3.first-in-line-sm {
        clear: left;
    }
}

.left_column_menu .menu-mobile-grover:after, .right_column_menu .menu-mobile-grover:after {
    position: absolute;
    right: 0;
    top: 12px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 15px;
    content: "\f067";
    font-family: 'FontAwesome';
    z-index: 1;
    cursor: pointer;
}

.left_column_menu .menu-mobile-grover.active:after, .right_column_menu .menu-mobile-grover.active:after {
    content: "\f068";
}

.left_column_menu li.simple ul {
    right: -200px;
}

.right_column_menu li.simple ul {
    left: -200px;
}

.left_column_menu div.is-megamenu {
    right: -600px;
}

.right_column_menu div.is-megamenu {
    left: -600px;
}
