@import "../../../_theme_variables";

#tmhtmlcontent_topColumn {
  margin-top: 3px;
  @media (min-width: $screen-xs-min) {
    margin-top: 30px;
  }
  ul {
    li {
      margin-top: 20px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        width: 1px;
        height: 80%;
        background: #ebebeb;
        top: 16px;
        bottom: 5px;
        left: -1px;
        @media (max-width: $screen-lg) {
          display: none;
        }
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      @media (max-width: $screen-xs-min - 1) {
        width: 100%;
      }
      .item-html {
        text-align: center;
        letter-spacing: 0.02em;
        h4 {
          font-family: $font-primary;
          font-style: italic;
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 0;
        }
        h3 {
          font-size: 30px;
          font-weight: 400;
          line-height: 1.2;
          letter-spacing: 0.04em;
          color: $dark-text-color;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 4px;
        }
        a {
          font-size: 14px;
          color: $primary-text-color;
          &:hover {
            color: $dark-text-color;
          }
        }
        @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
          h4 {
            font-size: 16px;
          }
          h3 {
            font-size: 24px;
          }
        }
      }
    }
  }
}

#tmhtmlcontent_home {
  margin-top: 40px;
  overflow: hidden;

  @media (min-width: $screen-lg) { // min 1200px
    margin-top: 0;
  }
  ul {
    background: darken($light-background, 10%);
    margin: 0;
    li {
      .item-html {
        display: block;
        padding: 14% 10%;
        color: $dark-text-color;
        position: relative;
        @media (max-width: 579px) {
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($light-background, 0.5);
            z-index: -1;
          }
        }
        @media (min-width: 580px) {
          padding-left: 50%;
        }
        @media (min-width: $screen-sm-min) {
          padding: 11% 8% 13% 55%;
        }
        @media (min-width: $screen-lg-min) {
          padding: 176px 8% 184px 56%;
        }
        h4 {
          font-size: 18px;
          font-family: $font-primary;
          font-style: italic;
          line-height: 1.4;
          letter-spacing: 0;
          margin-bottom: 2px;
          will-change: transform;
        }
        h2 {
          font-size: 45px;
          font-weight: 400;
          letter-spacing: 0.04em;
          line-height: 1.3;
          margin-top: 0;
          margin-bottom: 38px;
          will-change: transform;
          small {
            display: block;
            font-size: 15px;
            line-height: 1.5;
            color: $dark-text-color;
            font-weight: 400;
            letter-spacing: 0.04em;
            text-transform: uppercase;
          }
        }
        @media (min-width: $screen-md-min) {
          h4 {
            font-size: 26px;
          }
          h2 {
            font-size: 76px;
            small {
              font-size: 24px;
            }
          }
        }
        a {
          display: inline-block;
          color: $light-text-color;
          background: $primary-background;
          position: relative;
          overflow: hidden;
          padding: 14px 20px;
          min-width: 170px;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          border-radius: $border-radius-base;
          text-align: center;
          will-change: transform;
          @include transition(0.5s all ease);
          z-index: 1;
          &:before,
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 0 0;
            position: absolute;
            @include transition(0.5s all ease);
            z-index: -1;
          }
          &:before {
            border-color: transparent transparent transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%);
            bottom: 0;
            left: 0;
          }
          &:after {
            border-color: transparent lighten(saturate(adjust_hue($primary-background, -0.0061633281972319764), 6.597243873542453%), 6.666666666666671%) transparent transparent;
            top: 0;
            right: 0;
          }
          &:hover {
            &:before {
              border-width: 170px 0 0 170px;
            }
            &:after {
              border-width: 0 170px 170px 0;
            }
          }
        }
      }
    }
  }
}