#new-products_block_right .block_content ul {
    margin-bottom: 15px;
}

#new-products_block_right .block_content ul li .product-content a {
    color: #263238;
}

#new-products_block_right .block_content ul li .product-content a:hover {
    color: #07a3e0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #new-products_block_right .block_content ul li + li {
        margin-top: 25px;
    }
}
