.shop-phone {
    float: left;
    padding: 5px 0 10px;
}

@media (max-width: 767px) {
    .shop-phone {
        display: none;
    }
}

.shop-phone i {
    font-size: 21px;
    line-height: 21px;
    color: #5d5d5d;
    padding-right: 7px;
}

.shop-phone strong {
    color: #5d5d5d;
}

.shop-phone a:hover {
    color: #5d5d5d;
}

#contact-link {
    float: right;
}

#contact-link a {
    border-left: 1px solid #1c2429;
    border-right: 1px solid #1c2429;
    padding: 10px 15px;
    position: relative;
    display: block;
    color: #5d5d5d;
    font-weight: bold;
    cursor: pointer;
    border-left: none;
}

#contact-link a:hover, #contact-link a.active {
    background: #1c2429;
}

@media (max-width: 767px) {
    #contact_block {
        margin-bottom: 20px;
    }
}

#contact_block .label {
    display: none;
}

#contact_block .block_content {
    color: #888888;
}

#contact_block p {
    margin-bottom: 4px;
}

#contact_block p.tel {
    font: 400 17px/21px "Arimo", sans-serif;
    color: #5d5d5d;
    margin-bottom: 6px;
}

#contact_block p.tel i {
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px;
}
