.sdsarticleCat .title_block:after, #sdsblogArticle .title_block:after, #articleComments .title_block:after, #articleRelated .title_block:after {
    display: none;
}

.sdsarticleCat .post-image, #sdsblogArticle .post-image, #articleComments .post-image, #articleRelated .post-image {
    display: block;
    position: relative;
    overflow: hidden;
}

.sdsarticleCat .post-image:before, #sdsblogArticle .post-image:before, #articleComments .post-image:before, #articleRelated .post-image:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-30deg, rgba(7, 163, 224, 0.27), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-30deg, rgba(7, 163, 224, 0.27), rgba(255, 255, 255, 0));
    background-image: linear-gradient(-30deg, rgba(7, 163, 224, 0.27), rgba(255, 255, 255, 0));
    opacity: 0;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
}

.sdsarticleCat .post-image img, #sdsblogArticle .post-image img, #articleComments .post-image img, #articleRelated .post-image img {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.sdsarticleCat .post-image:hover:before, #sdsblogArticle .post-image:hover:before, #articleComments .post-image:hover:before, #articleRelated .post-image:hover:before {
    opacity: 1;
}

/****************************** Blog blocks styles ********************************/
#latestComments .title_block, #blogPopular .title_block, #recent_article_smart_blog_block_left .title_block {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #latestComments .title_block, #blogPopular .title_block, #recent_article_smart_blog_block_left .title_block {
        margin-bottom: 15px;
    }
}

#latestComments ul li.last_item, #blogPopular ul li.last_item, #recent_article_smart_blog_block_left ul li.last_item {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#latestComments ul li a img, #blogPopular ul li a img, #recent_article_smart_blog_block_left ul li a img {
    display: none;
}

#blogPopular .info,
#recent_article_smart_blog_block_left .info,
#latestComments .info,
#articleRelated .info {
    display: block;
    font-style: italic;
    font-size: 12px;
}

#blogPopular#blogPopular .product-content {
    padding-top: 15px;
}

#blogPopular#blogPopular .product-content .info {
    font-size: 12px;
}

#blogPopular#blogPopular .product-content p {
    padding-top: 10px;
    font: normal 14px/24px "Merriweather", serif;
    color: #5d5d5d;
}

#blogPopular#blogPopular .product-content h5 > a.post-name {
    font: normal 16px/22px "Arimo", sans-serif;
}

#latestComments#latestComments .product-content {
    padding-top: 15px;
}

#latestComments#latestComments .product-content a {
    color: #5d5d5d;
    font-style: italic;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

#latestComments#latestComments .product-content a:hover {
    color: #263238;
}

#latestComments#latestComments .product-content span.author_comment {
    padding-top: 10px;
    display: block;
    color: #07a3e0;
    font: normal 14px/22px "Arimo", sans-serif;
}

/*************************** end Blog blocks styles *******************************/
/*************************** articles listing styles ******************************/
.title_block_exclusive {
    padding: 0 0 0 0;
    margin: 0 0 13px 0;
}

#sdsblogCategory {
    margin-bottom: 30px;
}

#sdsblogCategory .imageFeatured {
    float: left;
    margin: 0 20px 10px 0;
}

#smartblogcat {
    margin-bottom: 0;
    padding: 0;
}

#smartblogcat .sdsarticleCat {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    #smartblogcat .sdsarticleCat:nth-child(2n + 1) {
        clear: left;
    }
}

#smartblogcat .sdsarticleCat .title_block_exclusive {
    font: 400 24px/30px "Arimo", sans-serif;
}

#smartblogcat .sdsarticleCat .title_block_exclusive a {
    color: #263238;
}

#smartblogcat .sdsarticleCat .title_block_exclusive a:hover {
    color: #07a3e0;
}

#smartblogcat .sdsarticleCat .articleContent .post-image {
    display: block;
    margin-bottom: 30px;
}

#smartblogcat .sdsarticleCat .articleContent .post-image img {
    width: 100%;
}

#smartblogcat .sdsarticleCat .articleContent .sdsarticle-des {
    font: normal 14px/24px "Merriweather", serif;
    color: #5d5d5d;
    margin-bottom: 20px;
}

#smartblogcat .sdsarticleCat .articleContent .sdsarticle-des p {
    margin-bottom: 7px;
}

#smartblogcat .sdsarticleCat .articleContent .sdsarticle-des a.read-more {
    display: inline-block;
    position: relative;
    font-family: "Arimo", sans-serif;
    font-size: 14px;
    color: #07a3e0;
    text-decoration: none;
}

#smartblogcat .sdsarticleCat .articleContent .sdsarticle-des a.read-more:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    opacity: 0;
    height: 1px;
    background: #07a3e0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#smartblogcat .sdsarticleCat .articleContent .sdsarticle-des a.read-more:hover {
    color: #263238;
}

#smartblogcat .sdsarticleCat .articleContent .sdsarticle-des a.read-more:hover:before {
    opacity: 1;
}

.articleHeader {
    overflow: hidden;
    margin-bottom: 30px;
}

.articleHeader .postInfo {
    font-style: italic;
    font-size: 12px;
}

.articleHeader .postInfo > span {
    padding-right: 10px;
    padding-bottom: 3px;
    display: inline-block;
    font-style: italic;
    font-size: 12px;
}

.articleHeader .postInfo > span:first-child {
    padding-left: 10px;
}

.articleHeader .postInfo a {
    font-size: 12px;
    font-style: italic;
}

.articleHeader .postInfo a:hover {
    text-decoration: none;
}

a.read-more {
    text-decoration: underline;
}

a.read-more:hover {
    text-decoration: none;
}

.post-count {
    float: left;
    padding: 5px 0 0 0;
    font-size: 12px;
    font-style: italic;
}

/*********************** end articles listing styles ******************************/
/************************** article info styles ***********************************/
#sdsblogArticle h1.title_block_exclusive {
    color: #263238;
    font-weight: 600;
    padding-bottom: 15px;
}

#sdsblogArticle .post-image {
    display: block;
    margin-bottom: 30px;
}

#sdsblogArticle .post-image img {
    width: 100%;
}

#sdsblogArticle .sdsarticle-des {
    margin-bottom: 30px;
    font: normal 14px/24px "Merriweather", serif;
    color: #5d5d5d;
}

#sdsblogArticle .sdstags-update {
    margin-bottom: 30px;
}

#sdsblogArticle .block-addthis {
    margin-bottom: 30px;
}

@media (max-width: 479px) {
    #sdsblogArticle .addthis_default_style .addthis_counter {
        clear: left;
    }

    #sdsblogArticle .at-share-tbx-element a.at300b, #sdsblogArticle .at-share-tbx-element a.at300b {
        clear: left;
        display: block;
        margin-bottom: 10px;
        width: auto;
    }
}

/************************ end of article info styles ******************************/
#sdsblogArticle .attention img {
    margin: 0 10px;
}

/*************************************** Blog comments *****************************/
#comments #commentTitle {
    display: none;
}

#comments img.avatar {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

#comments li li .well {
    margin-top: 10px;
}

#respond {
    background: #fff;
}

#respond {
    background: #fff;
}

#respond h4#reply-title {
    font: 400 24px/30px "Arimo", sans-serif;
    text-transform: none;
    position: relative;
}

#respond h4#reply-title:after {
    display: none !important;
}

#respond h4#reply-title #cancel-comment-reply-link {
    font-size: 0;
}

#respond h4#reply-title #cancel-comment-reply-link:before {
    content: '\f00d';
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    margin-top: 1px;
}

#respond {
    padding-bottom: 100px;
    width: 66%;
}

@media (max-width: 1200px) {
    #respond {
        width: 100%;
    }
}

#respond #commentInput {
    background: #fff;
}

#respond #commentInput #commentform label {
    position: relative;
    display: inline-block;
    width: 48.4%;
    float: left;
    font-size: 14px;
}

#respond #commentInput #commentform label .form-control {
    height: 40px;
    padding-left: 15px;
}

#respond #commentInput #commentform label + label {
    margin-left: 3.2%;
}

@media (max-width: 1200px) {
    #respond #commentInput #commentform label + label {
        margin-left: 3%;
    }
}

@media (max-width: 479px) {
    #respond #commentInput #commentform label {
        width: 100%;
    }

    #respond #commentInput #commentform label + label {
        margin-left: 0;
        margin-top: 5px;
    }
}

#respond #commentInput #commentform label.textarea {
    width: 100%;
    margin-left: 0;
}

#respond #commentInput #commentform label.textarea .form-control {
    padding: 15px;
    min-height: 140px;
}

#respond #commentInput #commentform div.submit #submitComment.btn {
    margin-top: 25px;
    min-width: 170px;
    font-size: 13px;
    letter-spacing: 0.52px;
}

#respond #replyTitle {
    display: none;
}

#respond .smartblogcaptcha {
    width: 100px;
}

#respond .note {
    color: #888888;
    display: block;
    font-size: 10px;
}

#sdssearch_block_top {
    padding-top: 0;
}

#sdssearch_block_top #tmsearchbox, #sdssearch_block_top #searchbox {
    float: left;
    width: 100%;
    border: none;
    position: relative;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
}

#sdssearch_block_top #tmsearchbox .btn.button-search, #sdssearch_block_top #searchbox .btn.button-search {
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    padding: 0;
    border: none;
    color: #263238;
    background: none;
    line-height: 1;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#sdssearch_block_top #tmsearchbox .btn.button-search span, #sdssearch_block_top #searchbox .btn.button-search span {
    display: none;
}

#sdssearch_block_top #tmsearchbox .btn.button-search:before, #sdssearch_block_top #searchbox .btn.button-search:before {
    font-family: "fl-outicons";
    content: "\e032";
    display: inline-block;
    font-weight: normal;
    font-size: 28px;
}

#sdssearch_block_top #tmsearchbox .btn.button-search:hover, #sdssearch_block_top #searchbox .btn.button-search:hover {
    color: #07a3e0;
}

#sdssearch_block_top #tmsearchbox #tm_search_query, #sdssearch_block_top #tmsearchbox #search_query_top, #sdssearch_block_top #searchbox #tm_search_query, #sdssearch_block_top #searchbox #search_query_top {
    display: block;
    padding: 12px 15px 13px 57px;
    height: 50px;
    border: none;
    background: none;
}

#sdssearch_block_top #searchbox {
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
}

#sdssearch_block_top #searchbox .btn.button-search {
    left: 15px;
    color: #07a3e0;
}

#sdssearch_block_top #searchbox .btn.button-search:hover {
    color: #263238;
}

ul.commentList ul {
    padding-left: 98px;
}

@media (max-width: 1200px) {
    ul.commentList ul {
        padding-left: 15px;
    }
}

#comments .commentList .well {
    background: #fff;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

#comments .commentList .well .comment-content.box {
    background: white;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}

#comments .commentList .well .comment-content.box .box_aside {
    float: left;
}

#comments .commentList .well .comment-content.box .box_aside img.avatar {
    border: none;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow {
    overflow: hidden;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .name {
    color: #5d5d5d;
    padding-right: 20px;
    font-size: 16px;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .created {
    font-size: 12px;
    font-style: italic;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .created, #comments .commentList .well .comment-content.box .box_cnt__no_flow .name {
    margin-bottom: 8px;
    display: inline-block;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .content_comment {
    font: normal 14px/24px "Merriweather", serif;
    font-size: 16px;
    font-style: italic;
    color: #5d5d5d;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .reply {
    margin-top: 15px;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .reply .btn.comment-reply-link {
    font-size: 14px;
    line-height: 15px;
    color: #07a3e0;
    background: none;
    font-weight: 300;
    text-transform: none;
    padding-left: 0;
    padding-right: 0;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .reply .btn.comment-reply-link span.fa {
    display: inline-block;
    margin-right: 6px;
}

#comments .commentList .well .comment-content.box .box_cnt__no_flow .reply .btn.comment-reply-link:hover span, #comments .commentList .well .comment-content.box .box_cnt__no_flow .reply .btn.comment-reply-link:active span, #comments .commentList .well .comment-content.box .box_cnt__no_flow .reply .btn.comment-reply-link:focus span {
    color: #5d5d5d;
}

@media (max-width: 767px) {
    #comments .commentList .well {
        position: relative;
    }
}

#articleRelated {
    margin-bottom: 15px;
}

#articleRelated .block_content ul li p {
    font: normal 14px/24px "Merriweather", serif;
    color: #5d5d5d;
}

#articleRelated li {
    padding-bottom: 15px;
}

#articleRelated li .products-block-image {
    display: block;
    position: relative;
    background: white;
}

@media only screen and (min-width: 992px) {
    #articleRelated li.first-in-line {
        clear: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #articleRelated li.first-item-of-tablet-line {
        clear: left;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #articleRelated li {
        width: 50%;
        float: left;
        text-align: center;
    }

    #articleRelated li.first-item-of-mobile-line {
        clear: left;
    }
}

@media only screen and (max-width: 767px) {
    #articleRelated li .img-responsive {
        width: 100%;
    }
}

#articleRelated .products-block-image {
    margin-bottom: 10px;
    display: block;
}
