.category-block {
    margin-top: 70px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .category-block {
        margin-top: 54px;
    }
}

.category-block ul.product_list.grid > li {
    padding-left: 0;
    padding-right: 0;
}

.category-block ul.product_list.grid > li.first-in-line, .category-block ul.product_list.grid > li.first-item-of-mobile-line, .category-block ul.product_list.grid > li.first-item-of-tablet-line {
    clear: none !important;
}

.category-block .bx-viewport > ul {
    margin: 0;
}

.category-block .title_block {
    display: none;
}

.category-block .bx-controls-direction a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 10;
    background: none;
    margin-top: -12px;
}

.category-block .bx-controls-direction a:before {
    font-size: 33px;
    color: #263238;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.category-block .bx-controls-direction a:hover:before {
    color: #07a3e0;
}

.category-block .bx-controls-direction a.bx-prev {
    left: -9px;
}

.category-block .bx-controls-direction a.bx-prev:before {
    content: '\f104';
}

.category-block .bx-controls-direction a.bx-next {
    right: -9px;
}

.category-block .bx-controls-direction a.bx-next:before {
    content: '\f105';
}

.category-block .bx-pager {
    position: absolute;
    bottom: -10px;
    z-index: 10;
}

.category-block .bx-pager .bx-pager-item a {
    background: #5d5d5d;
}

.category-block .bx-pager .bx-pager-item a:hover, .category-block .bx-pager .bx-pager-item a.active {
    background: #07a3e0;
}
