/* Top hook CSS */
#htmlcontent_top {
    margin-bottom: 30px;
}

#htmlcontent_top ul li {
    margin-top: 6px;
}

@media (max-width: 479px) {
    #htmlcontent_top ul li {
        width: 100%;
    }
}

#htmlcontent_top ul li > div {
    display: block;
    padding-bottom: 79.64%;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1200px) and (max-width: 1239px) {
    #htmlcontent_top ul li > div {
        height: 202px;
    }
}

#htmlcontent_top ul li > div .item-img {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
}

#htmlcontent_top ul li > div .item-html {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.2;
    color: #263238;
    padding: 29px 38px;
}

@media (min-width: 992px) and (max-width: 1510px), (min-width: 480px) and (max-width: 767px) {
    #htmlcontent_top ul li > div .item-html {
        padding: 13px 20px;
    }
}

#htmlcontent_top ul li > div .item-html .block-center {
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

#htmlcontent_top ul li > div .item-html .white-text {
    color: white;
}

#htmlcontent_top ul li > div .item-html .white-text a {
    color: white;
}

#htmlcontent_top ul li > div .item-html h2 {
    font-size: 78px;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

#htmlcontent_top ul li > div .item-html h3 {
    font-size: 47px;
    font-weight: 400;
    margin-top: 13px;
    color: #263238;
}

#htmlcontent_top ul li > div .item-html h4 {
    font-size: 16px;
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.4;
    color: #263238;
}

#htmlcontent_top ul li > div .item-html p {
    font-size: 24px;
    font-family: "Merriweather", serif;
    font-style: italic;
    margin-bottom: 22px;
}

@media (min-width: 992px) and (max-width: 1849px), (min-width: 480px) and (max-width: 767px), (max-width: 479px) {
    #htmlcontent_top ul li > div .item-html p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #htmlcontent_top ul li > div .item-html h2 {
        font-size: 64px;
    }

    #htmlcontent_top ul li > div .item-html h3 {
        font-size: 32px;
    }

    #htmlcontent_top ul li > div .item-html h4 {
        font-size: 14px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #htmlcontent_top ul li > div .item-html h3 {
        font-size: 28px;
    }
}

@media (min-width: 480px) and (max-width: 500px) {
    #htmlcontent_top ul li > div .item-html h3 {
        font-size: 22px;
    }
}

#htmlcontent_top ul li > div .item-html a {
    display: inline-block;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #263238;
    padding-right: 14px;
    margin-top: 8px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#htmlcontent_top ul li > div .item-html a:before {
    font-family: "FontAwesome";
    content: "\f105";
    display: inline-block;
    font-weight: normal;
    position: absolute;
    top: -1px;
    right: 0;
    -moz-transition: 0.3s right ease;
    -o-transition: 0.3s right ease;
    -webkit-transition: 0.3s right ease;
    transition: 0.3s right ease;
}

#htmlcontent_top ul li > div .item-html a:hover:before {
    right: -5px;
}

#htmlcontent_top ul li.htmlcontent-item-4 > div .item-html h3,
#htmlcontent_top ul li.htmlcontent-item-4 > div .item-html h4 {
    color: white;
}

#htmlcontent_top ul li.htmlcontent-item-4 > div .item-html a {
    color: white;
}

@media (min-width: 1200px) {
    #htmlcontent_top ul {
        margin-top: -6px;
    }
}

/* Left hook CSS */
/* Right hook CSS */
/* Home hook CSS */
#htmlcontent_home ul {
    background: #cccccc;
    margin: 0;
}

#htmlcontent_home ul li .item-html {
    display: block;
    padding: 14% 10%;
    color: white;
    position: relative;
}

@media (max-width: 579px) {
    #htmlcontent_home ul li .item-html {
        color: white;
    }

    #htmlcontent_home ul li .item-html:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
        z-index: -1;
    }
}

@media (min-width: 580px) {
    #htmlcontent_home ul li .item-html {
        padding-left: 10%;
        padding-right: 45%;
    }
}

@media (min-width: 768px) {
    #htmlcontent_home ul li .item-html {
        padding: 11% 40% 13% 15%;
    }
}

@media (min-width: 1200px) {
    #htmlcontent_home ul li .item-html {
        padding: 188px 40% 201px 20%;
    }
}

#htmlcontent_home ul li .item-html h4 {
    font-size: 26px;
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 2px;
    color: #263238;
}

#htmlcontent_home ul li .item-html h2 {
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 38px;
    text-transform: uppercase;
    color: #263238;
}

@media (max-width: 479px) {
    #htmlcontent_home ul li .item-html h2 {
        font-size: 45px;
    }
}

#htmlcontent_home ul li .item-html h2 small {
    display: block;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-top: 10px;
    color: #263238;
}

@media (min-width: 992px) {
    #htmlcontent_home ul li .item-html h4 {
        font-size: 26px;
    }

    #htmlcontent_home ul li .item-html h2 {
        font-size: 52px;
    }

    #htmlcontent_home ul li .item-html h2 small {
        font-size: 24px;
    }
}

#htmlcontent_home ul li .item-html a {
    display: inline-block;
    color: white;
    background: #07a3e0;
    position: relative;
    overflow: hidden;
    padding: 14px 20px;
    min-width: 170px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 3px;
    text-align: center;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
}

#htmlcontent_home ul li .item-html a:before, #htmlcontent_home ul li .item-html a:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: -1;
}

#htmlcontent_home ul li .item-html a:before {
    border-color: transparent transparent transparent #0abaff;
    bottom: 0;
    left: 0;
}

#htmlcontent_home ul li .item-html a:after {
    border-color: transparent #0abaff transparent transparent;
    top: 0;
    right: 0;
}

#htmlcontent_home ul li .item-html a:hover:before {
    border-width: 170px 0 0 170px;
}

#htmlcontent_home ul li .item-html a:hover:after {
    border-width: 0 170px 170px 0;
}

/* Footer hook CSS */
