body a:hover {
    color: #f48b34;
}

@media (max-width: 767px) {
    body header .nav #nav-toggle:hover {
        color: #f48b34;
    }

    body header .nav #nav-toggle .nav-close:hover:before {
        color: #f48b34;
    }
}

body .block .title_block a:hover,
body .block h4 a:hover {
    color: #f48b34;
}

body .footer-container .bottom-footer a:hover {
    color: #f48b34;
}

body .footer-container #footer a {
    color: #f48b34;
}

body .footer-container #footer h4 a {
    color: #263238;
}

body .footer-container #footer h4 a:hover {
    color: #f48b34;
}

body .footer-container #footer #block_contact_infos ul li a[href^="tel:"]:hover {
    color: #f48b34;
}

body .jspDrag {
    background: #f48b34;
}

body a:hover, body a:focus, body a:active {
    color: #f48b34;
}

body .label.label-warning, body .label-success.label-warning, body .label-danger.label-warning, body .label-warning.label-warning {
    background: #f48b34;
}

body input[type=checkbox]:checked + label:after,
body input[type=checkbox]:checked + .label label:after {
    background-color: #f48b34;
}

body .product-name a:hover {
    color: #f48b34;
}

body a.product-name:hover {
    color: #f48b34;
}

body .new-label {
    background: #f48b34;
}

body #habla_window_div #habla_topbar_div {
    background: #f48b34 !important;
}

body #home-page-tabs > li a {
    color: #f48b34;
}

body #home-page-tabs > li a:after {
    background: #f48b34;
}

body .block .title_block,
body .block h4 a:hover {
    color: #f48b34;
}

body #left_column .block .block_content ul li a {
    color: #f48b34;
}

body .breadcrumb li a.home {
    color: #f48b34;
}

body .content_sortPagiBar .sortPagiBar .nbrItemPage #uniform-nb_item span:after {
    color: #f48b34;
}

body .content_sortPagiBar .display li.selected a i,
body .content_sortPagiBar .display_m li.selected a i {
    color: #f48b34;
}

body #page div.selector span:after {
    color: #f48b34;
}

body .bottom-pagination-content ul.pagination li > span:before, body .bottom-pagination-content ul.pagination li > a:before {
    background: #f48b34;
}

body .bottom-pagination-content ul.pagination li.pagination_previous > span, body .bottom-pagination-content ul.pagination li.pagination_previous > a, body .bottom-pagination-content ul.pagination li.pagination_next > span, body .bottom-pagination-content ul.pagination li.pagination_next > a {
    color: #f48b34;
}

body .bottom-pagination-content ul.pagination li.disabled > span, body .bottom-pagination-content ul.pagination li.disabled > a {
    color: #5d5d5d;
}

body .bottom-pagination-content .showall button {
    color: #f48b34;
}

body ul.step li.step_current span {
    text-shadow: 1px 1px #884107;
}

body #cart_summary tfoot td#total_price_container {
    color: #f48b34;
}

body table#cart_summary .gift-icon {
    background: #f48b34;
}

body #customizationForm span.action, body div.uploader span.action {
    background: #f48b34;
}

body #crossselling_list .bx-wrapper .bx-controls-direction a:hover:before,
body .accessories-block .block_content .bx-wrapper .bx-controls-direction a:hover:before,
body #productscategory_list .bx-wrapper .bx-controls-direction a:hover:before,
body .related-block .bx-wrapper .bx-controls-direction a:hover:before {
    color: #f48b34;
}

body .btn-default {
    background: #f48b34;
}

body .btn-default:hover {
    background: #fc9d4e;
}

body .btn-primary {
    color: #f48b34;
    border-color: #f48b34;
}

body .btn-primary:hover {
    background: #f48b34;
    border-color: #f48b34;
}

body .btn-primary:active, body .btn-primary:focus {
    border-color: #f7a764;
    background: #f7a764;
}

body .btn.ajax_add_to_cart_button, body .btn.ajax_add_to_cart_product_button, body .btn.customization {
    background: #f48b34;
}

body .btn.ajax_add_to_cart_button:before, body .btn.ajax_add_to_cart_product_button:before, body .btn.customization:before {
    border-color: transparent transparent transparent #fc9d4e;
}

body .btn.ajax_add_to_cart_button:after, body .btn.ajax_add_to_cart_product_button:after, body .btn.customization:after {
    border-color: transparent #fc9d4e transparent transparent;
}

body .content_scene_cat a.lnk_more {
    color: #f48b34;
}

body .content_scene_cat a.lnk_more:before {
    background: #f48b34;
}

body #subcategories ul li .subcategory-name:hover {
    color: #f48b34;
}

body#cms #center_column .list-accordion > li > h3:hover, body#cms #center_column .list-accordion > li > h3.active {
    color: #f48b34;
}

body#my-account ul.myaccount-link-list li a:hover {
    color: #f48b34;
}

body .pb-left-column #prev-img:before, body .pb-left-column #next-img:before {
    color: #f48b34;
}

body #view_scroll_left:hover:before,
body #view_scroll_right:hover:before {
    color: #f48b34;
}

body #usefull_link_block li a:hover {
    color: #f48b34;
}

body #usefull_link_block li a:hover:before {
    color: #f48b34;
}

body .pb-right-column .product-info-line #product_condition .editable {
    color: #f48b34;
}

body #attributes .attribute_list div.selector span:after {
    color: #f48b34;
}

body .product-information .product-info-tabs > li a {
    color: #f48b34;
}

body .product-information .product-info-tabs > li a:after {
    background: #f48b34;
}

body .product-information .tab-content .accordion:before {
    color: #f48b34;
}

body .product-information .tab-content .accordion a {
    color: #f48b34;
}

body .product-information .tab-content .accordion a:after {
    background: #f48b34;
}

body ul.product_list .product-image-container .quick-view {
    color: #f48b34;
}

body ul.product_list .functional-buttons > div a, body ul.product_list .functional-buttons > div label {
    color: #f48b34;
}

@media (max-width: 1199px) {
    body ul.product_list.grid > li .product-container .product-image-container .button-container .ajax_add_to_cart_button.responsive-btn:hover:before, body ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization.responsive-btn:hover:before {
        color: #f48b34;
    }
}

@media (max-width: 1199px) {
    body ul.product_list.grid > li .functional-buttons > div a:hover:before {
        color: #f48b34;
    }
}

@media (max-width: 991px) {
    body ul.product_list.list > li .right-block .right-block-content .button-container .ajax_add_to_cart_button.responsive-btn:hover:before, body ul.product_list.list > li .right-block .right-block-content .button-container .btn.customization.responsive-btn:hover:before {
        color: #f48b34;
    }
}

@media (max-width: 991px) {
    body ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a:hover:before {
        color: #f48b34;
    }
}

@media (max-width: 767px) {
    body #header .shopping_cart_block .shopping_cart > a:first-child:hover {
        color: #f48b34;
    }
}

body .shopping_cart > a:first-child:hover, body .shopping_cart > a:first-child:focus {
    color: #f48b34;
}

body .shopping_cart.active > a:first-child {
    color: #f48b34;
}

body .cart_block .cart_block_list dl a:hover {
    color: #f48b34;
}

body .cart_block .cart_block_list .remove_link a:hover,
body .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #f48b34;
}

body .cart_block .cart-buttons .btn:before {
    border-color: transparent transparent transparent #fc9d4e;
}

body .cart_block .cart-buttons .btn:after {
    border-color: transparent #fc9d4e transparent transparent;
}

body #layer_cart .layer_cart_cart .title .ajax_cart_quantity {
    color: #f48b34;
}

body #layer_cart .layer_cart_cart .button-container .btn {
    box-shadow: inset 0 0 0 2px #e5b0aa;
}

body #layer_cart .layer_cart_cart .button-container .btn:before {
    border-color: transparent transparent transparent #f48b34;
}

body #layer_cart .layer_cart_cart .button-container .btn:after {
    border-color: transparent #f48b34 transparent transparent;
}

body #layer_cart .layer_cart_cart .button-container .btn:hover {
    color: #f48b34;
}

body #layer_cart .layer_cart_cart .button-container .btn.continue {
    color: #f48b34;
}

body #layer_cart .cross:hover {
    color: #f48b34;
}

body #categories_block_left .block_content > ul li span.grower.OPEN:before, body #categories_block_left .block_content > ul li span.grower.CLOSE:before, body #left_column #categories_block_left .block_content > ul li span.grower.OPEN:before, body #left_column #categories_block_left .block_content > ul li span.grower.CLOSE:before {
    color: #f48b34;
}

body #categories_block_left .block_content > ul li a:hover, body #left_column #categories_block_left .block_content > ul li a:hover {
    color: #f48b34;
}

body #categories_block_left .block_content > ul li ul li a, body #left_column #categories_block_left .block_content > ul li ul li a {
    color: #f48b34;
}

body #currencies-block-top div.current:hover, body #currencies-block-top div.current:hover:after, body #currencies-block-top div.current.active, body #currencies-block-top div.current.active:after {
    color: #f48b34;
}

body #currencies-block-top ul li.selected, body #currencies-block-top ul li.selected a, body #currencies-block-top ul li a:hover, body #currencies-block-top ul li a:focus {
    color: #f48b34;
}

body #languages-block-top div.current:hover, body #languages-block-top div.current:hover:after, body #languages-block-top div.current.active, body #languages-block-top div.current.active:after {
    color: #f48b34;
}

body #languages-block-top ul li.selected, body #languages-block-top ul li.selected a, body #languages-block-top ul li a:hover, body #languages-block-top ul li a:focus {
    color: #f48b34;
}

body #layered_block_left #layered_form #enabled_filters ul li span {
    color: #f48b34;
}

body #layered_block_left #layered_form ul li a:hover {
    color: #f48b34;
}

body #layered_block_left #layered_form ul .layered_slider_container .ui-widget-content .ui-widget-header {
    background: #f48b34;
}

body #layered_block_left #layered_form ul .layered_slider_container .ui-widget-content .ui-state-default {
    background: #f48b34;
}

@media (max-width: 767px) {
    body #layered_block_left #filter-toggle {
        border: 2px solid #f48b34;
    }

    body #layered_block_left #filter-toggle:hover {
        background: #f48b34;
    }

    body #layered_block_left #filter-toggle .filter-close:hover:before {
        color: #f48b34;
    }
}

body #new-products_block_right .block_content ul li .product-content a {
    color: #263238;
}

body #new-products_block_right .block_content ul li .product-content a:hover {
    color: #f48b34;
}

body #manufacturers_list h3 a:hover,
body #suppliers_list h3 a:hover {
    color: #f48b34;
}

body #manufacturers_list .product-counter a:hover,
body #suppliers_list .product-counter a:hover {
    color: #f48b34;
}

body #footer #newsletter_block_left .form-group .btn-sm {
    background: #f48b34;
}

body #footer #newsletter_block_left .form-group .btn-sm:before {
    border-color: transparent transparent transparent #fc9d4e;
}

body #footer #newsletter_block_left .form-group .btn-sm:after {
    border-color: transparent #fc9d4e transparent transparent;
}

body ul#header_links li a:hover, body ul#header_links li a.active {
    color: #f48b34;
}

body #wishlist_button, body #wishlist_button_nopop {
    color: #f48b34;
}

body #wishlist_block .cart_block_product_name {
    color: #f48b34;
}

body #homepage-slider .bx-wrapper .bx-controls-direction a:hover {
    color: #f48b34;
}

body #homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
    color: #f48b34;
}

body .comments_advices a:hover {
    color: #f48b34;
}

body .comments_advices a:hover:before {
    color: #f48b34;
}

body #product_comments_block_tab div.comment .comment_details .usefulness_btn, body #product_comments_block_tab div.comment .comment_details .report_btn {
    color: #f48b34;
}

body .sdsarticleCat:before, body #sdsblogArticle:before, body #articleComments:before, body #articleRelated .post-image:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-30deg, rgba(244, 139, 52, 0.27), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-30deg, rgba(244, 139, 52, 0.27), rgba(255, 255, 255, 0));
    background-image: linear-gradient(-30deg, rgba(244, 139, 52, 0.27), rgba(255, 255, 255, 0));
}

body #latestComments#latestComments .product-content span.author_comment {
    color: #f48b34;
}

body #smartblogcat .sdsarticleCat .title_block_exclusive a:hover {
    color: #f48b34;
}

body #smartblogcat .sdsarticleCat .articleContent .sdsarticle-des a.read-more {
    color: #f48b34;
}

body #smartblogcat .sdsarticleCat .articleContent .sdsarticle-des a.read-more:before {
    background: #f48b34;
}

body #sdssearch_block_top #searchbox .btn.button-search {
    color: #f48b34;
}

body #comments .commentList .well .comment-content.box .box_cnt__no_flow .reply .btn.comment-reply-link {
    color: #f48b34;
}

body .blog-image a:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-30deg, rgba(244, 139, 52, 0.27), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-30deg, rgba(244, 139, 52, 0.27), rgba(255, 255, 255, 0));
    background-image: linear-gradient(-30deg, rgba(244, 139, 52, 0.27), rgba(255, 255, 255, 0));
}

body #homepage-blog .title_block a:hover {
    color: #f48b34;
}

body #homepage-blog .block_content h5 a:hover {
    color: #f48b34;
}

body #homepage-blog .block_content .read-more-link {
    color: #f48b34;
}

body #homepage-blog .block_content .read-more-link:before {
    background: #f48b34;
}

body #tags_blog_block_left .block_content a {
    border: 1px solid #f48b34;
    background: #f48b34;
}

body #tags_blog_block_left .block_content a:hover {
    color: #f48b34;
}

body .btn.btn-facebook:hover:before, body .btn.btn-facebook:focus:before,
body .btn.btn-twitter:hover:before,
body .btn.btn-twitter:focus:before,
body .btn.btn-google-plus:hover:before,
body .btn.btn-google-plus:focus:before,
body .btn.btn-pinterest:hover:before,
body .btn.btn-pinterest:focus:before {
    color: #f48b34;
}

body #htmlcontent_home ul li .item-html a {
    background: #f48b34;
}

body #htmlcontent_home ul li .item-html a:before {
    border-color: transparent transparent transparent #fc9d4e;
}

body #htmlcontent_home ul li .item-html a:after {
    border-color: transparent #fc9d4e transparent transparent;
}

body .category-block .bx-controls-direction a:hover:before {
    color: #f48b34;
}

body #header-login .header_user_info.current.active a, body #header-login .header_user_info.current a:hover {
    color: #f48b34;
}

body #header-login .btn {
    box-shadow: inset 0 0 0 2px #e5b0aa;
}

body #header-login .btn:before {
    border-color: transparent transparent transparent #f48b34;
}

body #header-login .btn:after {
    border-color: transparent #f48b34 transparent transparent;
}

body #header-login .btn:hover {
    color: #f48b34;
}

body #header-login .btn.create {
    color: #f48b34;
}

body #header-login-content a:not(.btn):hover, body #header-login-content a:focus:not(.btn) {
    color: #f48b34;
}

body .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active, body .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover {
    background: #f48b34;
}

body .tab-content .bx-wrapper .bx-controls .bx-controls-direction a:hover:before {
    color: #f48b34;
}

body #tmhtmlcontent_topColumn ul li .item-html a {
    color: #f48b34;
}

body #tmhtmlcontent_home ul li .item-html a {
    background: #f48b34;
}

body #tmhtmlcontent_home ul li .item-html a:before {
    border-color: transparent transparent transparent #fc9d4e;
}

body #tmhtmlcontent_home ul li .item-html a:after {
    border-color: transparent #fc9d4e transparent transparent;
}

body .top_menu > ul > li > a:after, body .top_menu .stickUpHolder > ul > li > a:after {
    background: #f48b34;
}

@media (min-width: 768px) {
    body .top_menu:hover > span.menu-mobile-grover:before, body .top_menu .stickUpHolder:hover > span.menu-mobile-grover:before {
        color: #f48b34;
    }
}

body .top_menu li li a:hover, body .top_menu .stickUpHolder li li a:hover {
    color: #f48b34;
}

@media (min-width: 768px) {
    body .top_menu li li a, body .top_menu .stickUpHolder li li a {
        color: #f48b34;
    }

    body .top_menu li li a:hover, body .top_menu .stickUpHolder li li a:hover {
        color: #263238;
    }
}

body .top_menu .is-megamenu ul.content > li > a:hover, body .top_menu .stickUpHolder .is-megamenu ul.content > li > a:hover {
    color: #f48b34;
}

body .top_menu .is-megamenu .product-info .product-name a:hover, body .top_menu .stickUpHolder .is-megamenu .product-info .product-name a:hover {
    color: #f48b34;
}

body .top_menu .menu-title:hover, body .top_menu .stickUpHolder .menu-title:hover {
    color: #f48b34;
}

body .top_menu .menu-title .menu-close:hover:before, body .top_menu .stickUpHolder .menu-title .menu-close:hover:before {
    color: #f48b34;
}

@media (max-width: 767px) {
    body .top_menu > ul li a:hover, body .top_menu .stickUpHolder > ul li a:hover {
        color: #f48b34;
    }

    body .top_menu > ul .is-megamenu ul.content > li.category ul li a, body .top_menu .stickUpHolder > ul .is-megamenu ul.content > li.category ul li a {
        color: #f48b34;
    }

    body .top_menu .menu-mobile-grover #back-link:hover, body .top_menu .stickUpHolder .menu-mobile-grover #back-link:hover {
        color: #f48b34;
    }

    body .top_menu .menu-mobile-grover:hover:before, body .top_menu .stickUpHolder .menu-mobile-grover:hover:before {
        color: #f48b34;
    }
}

body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn {
    background: #f48b34;
}

body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:before {
    border-color: transparent transparent transparent #fc9d4e;
}

body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .tmnewsletter-footer .btn:after {
    border-color: transparent #fc9d4e transparent transparent;
}

body .newsletter-overlay #newsletter_popup .tmnewsletter-inner .icon.tmnewsletter-close:hover {
    color: #f48b34;
}

body #headeraccount-popup .popup-box #popup-close:hover {
    color: #f48b34;
}

body .fancybox-wrap .fancybox-skin .fancybox-close:hover {
    color: #f48b34;
}

body #tm-products-slider .bx-wrapper .bx-controls .bx-controls-direction a:hover:before {
    color: #f48b34;
}

body #tmsearch #search-toggle:hover {
    color: #f48b34;
}

@media (max-width: 767px) {
    body #tmsearch #tmsearchbox .btn.button-search {
        color: #f48b34;
    }

    body #tmsearch #tmsearchbox .search-close:hover {
        color: #f48b34;
    }
}

body #tmsearch #tmsearchbox, body #tmsearch #searchbox .btn.button-search:hover {
    color: #f48b34;
}

body .instagram-widget .data a:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-30deg, rgba(244, 139, 52, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-30deg, rgba(244, 139, 52, 0.5), rgba(255, 255, 255, 0));
    background-image: linear-gradient(-30deg, rgba(244, 139, 52, 0.5), rgba(255, 255, 255, 0));
}

body .ui-to-top:hover {
    background: rgba(244, 139, 52, 0.3);
}

body .btn-default:active,
body .btn-default:focus {
    background: #f48b34;
}

body ul.step li.step_current {
    background: #f48b34;
    border-color: #f37d1c;
}

body ul.step li.step_current span:after {
    background: #f48b34;
    border-top: 1px solid #f37d1c;
    border-right: 1px solid #f37d1c;
}

body #categories_block_left .block_content > ul li a,
body #left_column #categories_block_left .block_content > ul li a {
    color: #f48b34;
}

body #categories_block_left .block_content > ul li a:hover,
body #left_column #categories_block_left .block_content > ul li a:hover {
    color: #263238;
}

body a.add_to_compare.checked:before {
    color: #263238;
}

body ul.product_list.grid > li .functional-buttons > div a.add_to_compare.checked:before,
body ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.add_to_compare.checked:before {
    color: #f48b34;
}
