<p class="install-required-msg">{$smartmodname} module needs <b>smarblog</b> module to be shown here. please install
    <b>smartblog</b> module</p>
<style>
    .install-required-msg {
        color: #ff0000;
        font-size: 14px;
        line-height: 16px;
    }
</style>