<!-- MODULE Loyalty -->
<li class="loyalty">
    <a href="{$link->getModuleLink('loyalty', 'default', ['process' => 'summary'], true)|escape:'html':'UTF-8'}" title="{l s='My loyalty points' mod='loyalty'}" rel="nofollow">
        <i class="fa fa-flag"></i> <span>{l s='My loyalty points' mod='loyalty'}</span> </a>
</li><!-- END : MODULE Loyalty -->