/*
Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
@import '_uniform._base';

/* INPUT & TEXTAREA */

/* ************************************************************************************************
		uniform
************************************************************************************************ */

#{$class-wrapper-element}#{$class-wrapper} input#{$class-input},
#{$class-wrapper-element}#{$class-wrapper} select#{$class-multiselect},
#{$class-wrapper-element}#{$class-wrapper} textarea#{$class-textarea} {
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: #777;
  border: solid 1px #d6d4d4;

  @include whenHover {
    @include box-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
    border-color: #cbcaca;
  }
}

/* PRESENTATION */

/* Buttons */

div#{$class-wrapper}#{$class-button} {
  span {
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  @include whenHover {
    span {
      color: #555;
    }
  }

  @include whenDisabled {
    span {
      color: #bbb;
    }
  }
}

/* Select */

#compare_shipping .form-group label {
  display: block
}

div#{$class-wrapper}#{$class-select} {
  font-size: 12px;

  span {
    color: #666;
    text-shadow: 0 1px 0 #fff;

  }

  select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  @include whenDisabled {
    span {
      color: #bbb;
    }
  }
}

.checker span input {
  margin: 0 !important
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin: 0 !important
}

.radio-inline, .checkbox-inline {
  cursor: default
}

/* Checker */
div#{$class-wrapper}#{$class-checkbox} {
  cursor: pointer;
  margin-right: 5px;
  span {
    position: relative;
    top: -2px;
  }
}

#layered_form div#{$class-checkbox} {
  display: inline

}

/* Radio */
div#{$class-wrapper}#{$class-radio} {
  margin-right: 3px;
  span {
    position: relative;
    top: -2px;
  }
}

/* Uploader */
div#{$class-wrapper}#{$class-upload} {
  span#{$class-action} {
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
  }

  span#{$class-filename} {
    color: #777;
    border: solid 1px #d6d4d4;
    font-size: 13px;
    background: #fbfbfb;
    margin-right: 2px;
  }

  @include whenDisabled {
    span#{$class-action} {
      color: #aaa;
    }

    span#{$class-filename} {
      border-color: #ddd;
      color: #aaa;
    }
  }
}

#{$class-wrapper-element}#{$class-wrapper} input#{$class-input} {
  &, &:focus {
    background-color: #fff;
  }
}
