@import 'compass';
@import "../../../../_theme_variables";
@import "_elements_variables";

$icon: '\f107';
$menu-main-font: 400 16px/22px $font-custom;

.top_menu {
  padding: 43px 15px 0;
  clear: both;
  float: none;
  @media (max-width: $screen-xs-max) {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    padding-top: 33px;
    text-align: center;
    > * {
      text-align: left;
    }
  }
}

.stickUpTop {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
}

.stickUpHolder {
  padding: 0;
  max-width: 100%;
}

@media only screen and (max-width: $screen-md-max) {
  .isStuck .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.top_menu, .top_menu .stickUpHolder {
  > ul {
    padding: 0;
    text-align: center;
    > li {
      display: inline-block;
      > a {
        display: block;
        position: relative;
        color: $dark-text-color;
        font: $menu-main-font;
        letter-spacing: 0.04em;
        padding: 0 3px;
        text-transform: uppercase;
        @include transition(color 0.4s);

        &:after {
          content: '';
          position: absolute;
          left: 3px;
          right: 3px;
          bottom: 0;
          height: 2px;
          background: $primary-background;
          -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
          -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
        }

        &.sf-with-ul {
          position: relative;
          padding-right: 22px;
          &:before {
            @include addIcon('\f107');
            font-size: 14px;
            position: absolute;
            top: 0;
            right: 0;
            @include transition(0.3s all ease);
          }
        }
      }

      &:hover > a, &.sfHover > a, &.sfHoverForce > a, > a:hover {
        &:after {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
          transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
          -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
        }
      }
      &:hover, &.sfHover {
        > a.sf-with-ul {
          &:before {
            @include rotate(180deg);
          }
        }
      }

      @media (min-width: $screen-sm-min) {
        &:hover {
          > span.menu-mobile-grover:before {
            color: $primary-text-color;
          }
        }
        ul.is-simplemenu, ul.is-simplemenu ul {
          display: none;
          width: 200px;
          text-align: left;
          top: -1px;
          right: -215px;
          position: absolute;
          padding: 15px;
          z-index: 99;
          background: #fff;
          @include box-shadow (0px 4px 35px 0px rgba(0, 0, 0, 0.06));
        }
        > ul.is-simplemenu {
          right: auto;
          left: 0;
          top: 59px;
        }
      }
      @media only screen and (max-width: $screen-xs-max) { // max 767px
        width: 100%;
        float: none;
        > a {
          border-right: none;
        }
      }
      & + li {
        margin-left: 41px;
      }
    }
    @media (min-width: $screen-sm-max) and (max-width: $screen-lg) {
      > li {
        & + li {
          margin-left: 30px;
        }
        > a {
          font-size: 11px;
        }
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      > li {
        & + li {
          margin-left: 30px;
        }
        > a {
          font-size: 11px;
        }
      }
    }
  }

  ul.menu {
    @media (min-width: $screen-sm-min) {
      position: relative;
    }
  }

  li {
    a {
      position: relative;
    }

    &.simple, li {
      position: relative;
    }
    li {
      a {
        display: inline-block;
        padding: 0;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $dark-text-color;
        &:hover {
          color: $primary-text-color;
        }
      }
      & + li {
        margin-top: 6px;
      }
      @media (min-width: $screen-sm-min) {
        a {
          font-size: 14px;
          line-height: 1.7;
          font-weight: 400;
          color: $primary-text-color;
          text-transform: none;
          &:hover {
            color: $dark-text-color;
          }
        }
        &.sfHover > a, &.sfHoverForce > a {
          color: $dark-text-color;
        }
        & + li {
          margin-top: 6px;
        }
      }
    }

  }

  .menu_badge {
    position: absolute;
    top: -2px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
    @media only screen and (max-width: $screen-xs-max) { // max 767px
      right: auto;
      left: 5px;
    }
  }

  .is-megamenu {
    width: 100%;
    padding: 0 42px;
    background: $light-background;
    display: none;
    text-align: left;
    @include box-shadow(0px 4px 35px 0px rgba(0, 0, 0, 0.06));
    @media only screen and (min-width: $screen-sm) { // min 768px
      position: absolute;
      top: 37px;
      left: 0;
    }
    .megamenu-row {
      .megamenu-col {
        @media (min-width: $screen-sm-min) {
          width: 25%;
          padding-top: 31px;
          padding-bottom: 43px;
        }
        @media (min-width: $screen-lg-min) {
          width: 20%;
          &:last-child {
            width: 40%;
          }
        }
      }

      + .megamenu-row {
        border-top: 1px solid #ccc;
      }
    }

    .megamenu-row-2 {
      background: #f8f8f8;
    }

    ul.content {
      > li {
        > a {
          font-size: 24px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: $dark-text-color;
          margin-bottom: 15px;
          &:hover {
            color: $primary-text-color;
          }
        }
        & + li {
          margin-top: 27px;
        }
      }
      @media (min-width: $screen-sm-min) {
        ul {
          opacity: 1 !important;
          display: block !important;
        }
      }
    }
    .product-info {
      text-align: center;
      @media (min-width: $screen-lg-min) {
        padding-left: 55px;
        padding-right: 55px;
      }
      .product-image {
        a {
          max-width: 100%;
        }
      }
      .product-name {
        margin-top: 20px;
        a {
          font: inherit;
          color: inherit;
          &:hover {
            color: $primary-text-color;
          }
        }
      }
    }
  }
  .menu-title {
    position: relative;
    cursor: pointer;
    display: inline-block;
    @include transition(0.3s all ease);
    &:hover {
      color: $primary-text-color;
    }
    &:after {
      @include addFlIcon('\e02e', 28px);
      cursor: pointer;
      z-index: 1;
    }
    &:before {
      content: '';
      @include popup-overlay-style;
      z-index: 10;
      cursor: default;
      @include transition(0.3s all ease);
      visibility: hidden;
      opacity: 0;
    }
    .menu-close {
      display: block;
      visibility: hidden;
      &:before {
        display: block;
        position: fixed;
        left: 286px;
        top: 50px;
        content: "\e00a";
        font-family: 'fl-free-chaos';
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
        font-style: normal;
        color: $light-text-color;
        z-index: 11;
        cursor: pointer;
        opacity: 0;
        @include transition(0.3s ease);
        transition-property: color, opacity;
        -webkit-transition-delay: 0s, 0.6s;
        transition-delay: 0s, 0.6s;
      }
      &:hover {
        &:before {
          color: $primary-text-color;
        }
      }
    }
    &.active {
      &:before {
        visibility: visible;
        opacity: 1;
      }
      .menu-close {
        visibility: visible;
        &:before {
          opacity: 1;
        }
      }
    }
    span {
      display: none;
    }
    @media only screen and (min-width: $screen-sm) { // min 768px
      display: none;
    }
  }

  .menu-mobile-grover {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    &:before {
      display: block;
      content: $icon;
      font-family: 'FontAwesome';
      font-size: 24px;
      cursor: pointer;
      color: $dark-text-color;
      z-index: 1;
      @include transition(0.3s all ease);
      @media only screen and (min-width: $screen-sm) { // min 768px
        display: none;
      }
    }
    #back-link {
      display: none;
    }
  }

  @media (max-width: $screen-xs-max) {
    li {
      position: relative;
      padding-right: 45px;
    }
    > ul {
      display: block;
      width: 270px;
      z-index: 10;
      position: fixed;
      left: -270px;
      top: 0;
      background: $light-background;
      text-align: left;
      padding: 45px 13px;
      height: 100vh;
      overflow-y: scroll;
      @include transition(0.7s left ease);
      &.active {
        left: 0;
      }
      li {
        width: 100%;
        a {
          display: inline-block;
          padding: 8px 15px;
          &:after {
            display: none;
          }
          &:hover {
            color: $primary-text-color;
          }
        }
        & + li {
          margin-left: 0;
          margin-top: 22px;
        }
      }
      .is-megamenu, .is-simplemenu, .menu-mobile {
        display: block;
        position: fixed;
        top: 100px;
        left: -100%;
        height: calc(100vh - 100px);
        width: 270px;
        padding: 2px 15px;
        background: $light-background;
        overflow-y: scroll;
        @include transition(0.5s left ease);
        box-shadow: none;
        z-index: 12;
        &.active {
          left: 0;
        }
        .menu-mobile-grover {
          top: 9px;
        }
        ul.content {
          > li {
            > a {
              font-size: 18px;
              font-weight: 700;
              text-transform: uppercase;
              margin-bottom: 17px;
            }
            ul {
              display: block;
              position: fixed;
              top: 100px;
              left: -100%;
              height: calc(100vh - 100px);
              width: 270px;
              padding: 2px 14px;
              background: $light-background;
              overflow-y: scroll;
              @include transition(0.5s left ease);
              &.active {
                left: 0;
              }
            }
            & + li {
              margin-top: 0;
            }
          }
          .product-info, .megamenu_banner {
            display: none;
          }
        }
      }
      .is-megamenu ul.content > li.category ul li {
        padding-right: 15px;
        a {
          font-size: 18px;
          line-height: 1.3;
          font-weight: 400;
          padding: 0 15px;
          color: $primary-text-color;
          text-transform: none;
          &:hover {
            color: $dark-text-color;
          }
        }
        & + li {
          margin-top: 11px;
        }
      }
    }
    .menu-mobile-grover {
      #back-link {
        display: block;
        position: fixed;
        top: 52px;
        left: -100%;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.04em;
        color: $base-text-color;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 11;
        @include transition(0.5s all ease);
        &:before {
          @include addIcon('\f104');
          margin-right: 20px;
        }
        &:hover {
          color: $primary-text-color;
        }
        &:after {
          position: absolute;
          content: '';
          left: -29px;
          top: -52px;
          width: 270px;
          height: 100px;
          background: $light-background;
          z-index: -1;
        }
      }
      &:hover {
        &:before {
          color: $primary-text-color;
        }
      }
      &.active {
        #back-link {
          left: 29px;
        }
      }
    }
  }
}

.red {
  background: #f00;
}

.menuvideowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%;
}

.menuvideowrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frontend-map {
  min-height: 200px;
}

/**** Left/Right column menu ****/
.left_column_menu .block_content, .right_column_menu .block_content {
  li {
    position: relative;
  }
  li.simple ul {
    display: none;
    @media only screen and (min-width: $screen-sm) { // min 768px
      position: absolute;
      top: -1px;
      width: 200px;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 999;
    }
    @media only screen and (max-width: $screen-xs-max) { // max 767px
      li {
        border-top: 1px solid #ccc;
        position: relative;
        a {
          display: block;
          padding: 10px 0 10px 15px;
          position: relative;
        }
        li {
          a {
            padding-left: 25px;
          }
        }
      }
    }
  }
  > ul > li {
    border-top: 1px solid #ccc;
    position: relative;
    > a {
      display: block;
      padding: 10px 0;
      position: relative;
    }
    &:first-child {
      border: none;
    }
  }
  span.menu_badge {
    font-size: 10px;
    display: inline-block;
    background: #f00;
    color: #fff;
    padding: 1px 5px 2px 5px;
    line-height: 12px;
    border-radius: 3px;
    margin-left: 10px;
  }
  li.simple li a {
    padding: 4px 5px;
    display: block;
  }
  div.is-megamenu {
    display: none;
    ul {
      display: block !important;
      opacity: 1 !important;
      &.content {
        > li {
          > a {
            font-weight: bold;
            text-transform: uppercase;
          }
          li {
            padding-left: 5px;
          }
        }
      }
    }
    @media only screen and (min-width: $screen-sm) { // min 768px
      position: absolute;
      top: 0;
      width: 600px;
      padding: 15px;
      background: #fff;
      border: 1px solid #ccc;
      z-index: 999;
    }
    @media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
      .megamenu-col.col-sm-3 {
        width: 50%;
        float: left;
        &.first-in-line-sm {
          clear: left;
        }
      }
    }
  }
  .menu-mobile-grover {
    &:after {
      position: absolute;
      right: 0;
      top: 12px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 15px;
      content: $icon;
      font-family: 'FontAwesome';
      z-index: 1;
      cursor: pointer;
    }
    &.active {
      &:after {
        @include rotate(180deg);
      }
    }
  }
}

.left_column_menu li.simple ul {
  right: -200px;
}

.right_column_menu li.simple ul {
  left: -200px;
}

.left_column_menu div.is-megamenu {
  right: -600px;
}

.right_column_menu div.is-megamenu {
  left: -600px;
}