/**************************************************************************
		        Style TM Homepage Products Carousel
**************************************************************************/
.tab-content > ul {
    display: none !important;
}

.tab-content .bx-wrapper {
    margin: 0 !important;
}

.tab-content .bx-wrapper #homepage-carousel {
    margin-bottom: 0;
    overflow: hidden;
}

.tab-content .bx-wrapper #homepage-carousel li {
    padding-left: 0 !important;
    padding-right: 0 !important;
    clear: none;
}

.tab-content .bx-wrapper .bx-controls a:before {
    font-family: 'FontAwesome';
}

.tab-content .bx-wrapper .bx-controls .bx-pager {
    padding: 0;
    overflow: hidden;
    bottom: -5px;
    z-index: 1;
}

.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
    text-align: center;
}

.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item + .bx-pager-item {
    margin-left: 10px;
}

.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
    display: inline-block;
    font-size: 0;
    text-indent: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    background: #5d5d5d;
}

.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active, .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover {
    background: #07a3e0;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction {
    float: left;
    overflow: hidden;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 10;
    background: none;
    margin-top: -12px;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a:before {
    font-size: 33px;
    color: #263238;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a:hover:before {
    color: #07a3e0;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
    left: -9px;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
    content: '\f104';
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
    right: -9px;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
    content: '\f105';
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item {
    float: left;
    margin-right: 0;
    text-align: center;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a {
    display: block;
    width: 17px;
    height: 17px;
    text-indent: 0;
    background: none;
    text-decoration: none;
    margin: 0;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-start:before {
    content: '\f04b';
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-stop:before {
    content: '\f04c';
}
