@import "../../../_theme_variables";
@import "../../../_elements_variables";
@import "../../../bootstrap_lib/mixins/_gradients";

.blog-image {
  margin-bottom: 15px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 24px;
  }
  a {
    display: block;
    position: relative;
    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      @include gradient-directional(rgba($primary-background, 0.27), rgba($light-background, 0), -30deg);
      opacity: 0;
      @include transition(0.5s all ease);
      z-index: 1;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    img {
      @media only screen and (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }
}

#homepage-blog {
  margin-top: 55px;
  margin-bottom: 18px;
  padding: 0;
  @media (min-width: $screen-md-min) {
    margin-top: 88px;
  }
  .title_block {
    margin-bottom: 28px;
    a {
      &:hover {
        color: $primary-text-color;
      }
    }
    &:after {
      display: none;
    }
  }
  .block_content {
    h5 {
      margin-bottom: 9px;
      a {
        line-height: (22 / 16);
        background-size: 100%, 20px;
        background-origin: content-box;
        @include transition(0.3s all ease);

        &:hover {
          color: $color-primary;
        }
      }
    }
    .post-descr {
      font: $font-midheading;
      letter-spacing: 0;
      margin-bottom: 15px;
    }
    .read-more-link {
      display: inline-block;
      position: relative;
      font-size: 14px;
      color: $primary-text-color;
      &:before {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        opacity: 0;
        height: 1px;
        background: $primary-background;
        @include transition(0.3s all ease);
      }
      &:hover {
        color: $dark-text-color;
        &:before {
          opacity: 1;
        }
      }
    }
  }
  li {
    margin-bottom: 30px;
    @media (min-width: $screen-md) { // min 991px
      &.first-in-line {
        clear: left;
      }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 480px max 991px
      &.first-item-of-tablet-line {
        clear: left;
      }
    }
    @media only screen and (max-width: $screen-xs-max) {
      &.first-item-of-mobile-line {
        clear: left;
      }
    }
  }
}