#categories_block_top {
    clear: both;
    position: relative;
    top: 30px;
}

#categories_block_top .sf-menu {
    position: relative;
}

#categories_block_top .sf-menu > li {
    position: static;
}

#categories_block_top .sf-menu > li > ul {
    width: 100%;
    top: 60px;
    margin: 0 20px;
}

#categories_block_top .sf-menu > li > ul > li {
    display: block;
    float: left;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
}

#categories_block_top .sf-menu > li > ul > .category_thumb {
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
}

#categories_block_top .sf-menu > li > ul > .category_thumb img {
    display: inline-block;
    width: 33%;
}

#categories_block_top .sf-menu > li h4 a {
    font-size: 1.1em;
}

#categories_block_top .sf-menu > li h4 a:before {
    display: none;
}

#categories_block_top .sf-menu > li .main-level-submenus {
    position: relative;
    display: block !important;
    visibility: visible !important;
    top: 0;
    background: none;
    box-shadow: none;
    padding: 0;
    left: 0;
}

#categories_block_top .sf-menu .category_thumb {
    display: none;
}

#categories_block_left, #left_column #categories_block_left {
    padding-top: 10px;
}

#categories_block_left .block_content > ul li, #left_column #categories_block_left .block_content > ul li {
    position: relative;
    padding: 0 25px 0 0;
}

#categories_block_left .block_content > ul li a, #left_column #categories_block_left .block_content > ul li a {
    color: #07a3e0;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#categories_block_left .block_content > ul li a:hover, #left_column #categories_block_left .block_content > ul li a:hover {
    color: #263238;
}

#categories_block_left .block_content > ul li span.grower, #left_column #categories_block_left .block_content > ul li span.grower {
    display: block;
    position: absolute;
    right: 18px;
    top: 8px;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 16px;
}

#categories_block_left .block_content > ul li span.grower.OPEN:before, #categories_block_left .block_content > ul li span.grower.CLOSE:before, #left_column #categories_block_left .block_content > ul li span.grower.OPEN:before, #left_column #categories_block_left .block_content > ul li span.grower.CLOSE:before {
    content: "\f106";
    display: block;
    vertical-align: middle;
    width: auto;
    height: auto;
    color: #07a3e0;
    line-height: 1;
    text-align: center;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#categories_block_left .block_content > ul li span.grower.OPEN:hover:before, #categories_block_left .block_content > ul li span.grower.CLOSE:hover:before, #left_column #categories_block_left .block_content > ul li span.grower.OPEN:hover:before, #left_column #categories_block_left .block_content > ul li span.grower.CLOSE:hover:before {
    color: #263238;
}

#categories_block_left .block_content > ul li span.grower.CLOSE:before, #left_column #categories_block_left .block_content > ul li span.grower.CLOSE:before {
    content: "\f107";
}

#categories_block_left .block_content > ul li ul, #left_column #categories_block_left .block_content > ul li ul {
    margin-top: 14px;
    margin-bottom: 19px;
    padding-left: 6px;
}

#categories_block_left .block_content > ul li ul li a, #left_column #categories_block_left .block_content > ul li ul li a {
    color: #07a3e0;
    font-size: 14px;
    padding: 2px;
}

#categories_block_left .block_content > ul li ul li span.grower, #left_column #categories_block_left .block_content > ul li ul li span.grower {
    top: 4px;
}

#categories_block_left .block_content > ul li ul li + li, #left_column #categories_block_left .block_content > ul li ul li + li {
    margin-top: 6px;
}

#categories_block_left .block_content > ul li + li, #left_column #categories_block_left .block_content > ul li + li {
    margin-top: 9px;
}
