/*social items styles*/
.socials-items {
    padding: 5px 15px 15px;
    border: 1px solid #ddd;
}

.socials-items .hook-title {
    background: #383f50;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 27px;
    margin: 10px 0 0 0;
}

.socials-items .well {
    margin: 10px 0;
}

.soc-settings-block {
    display: none;
}