.category-block ul.product_list.grid > li.first-in-line, .category-block ul.product_list.grid > li.first-item-of-mobile-line, .category-block ul.product_list.grid > li.first-item-of-tablet-line {
    clear: none !important;
}

.category-block .bx-viewport > ul {
    margin: 0;
}