/*
* @section   Categories Page Styles
*/
.content_scene_cat {
    background: #e8e8e8;
    line-height: 19px;
    margin: 0 0 26px 0;
    position: relative;
}

@media (max-width: 767px) {
    .content_scene_cat {
        display: none;
    }
}

.content_scene_cat .content_scene_cat_bg {
    padding: 0;
}

.content_scene_cat span.category-name {
    font: bold 34px/46px "Arimo", sans-serif;
    letter-spacing: 0.04em;
    color: #263238;
    margin-bottom: 12px;
    display: inline-block;
    text-transform: uppercase;
}

.content_scene_cat p {
    margin-bottom: 0;
}

.content_scene_cat .cat_desc {
    padding-top: 72px;
    padding-bottom: 81px;
}

.content_scene_cat .cat_desc p {
    font: normal 14px/24px "Merriweather", serif;
}

.content_scene_cat .category-parallax {
    height: 300px;
}

.content_scene_cat .category-image {
    position: relative;
}

.content_scene_cat .category-image .cat-preloader {
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    background: url("../img/cat-loader.gif") no-repeat center;
    opacity: 0.7;
}

.content_scene_cat .category-image-wrap {
    opacity: 0;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.content_scene_cat a.lnk_more {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #07a3e0;
    margin-top: 20px;
}

.content_scene_cat a.lnk_more:before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    opacity: 0;
    height: 1px;
    background: #07a3e0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.content_scene_cat a.lnk_more:hover {
    color: #263238;
}

.content_scene_cat a.lnk_more:hover:before {
    opacity: 1;
}

.content_scene_cat .content_scene {
    color: #5d5d5d;
}

.content_scene_cat .content_scene .cat_desc {
    padding-top: 20px;
}

.content_scene_cat .content_scene .cat_desc a {
    color: #5d5d5d;
}

.content_scene_cat .content_scene .cat_desc a:hover {
    color: #263238;
}

/*
* @subsection   Sub Categories Styles
*/
#subcategories {
    padding: 15px 0 0 0;
}

#subcategories p.subcategory-heading {
    font: 400 24px/30px "Arimo", sans-serif;
    font-size: 20px;
    color: #263238;
    margin: 0 0 10px 0;
}

#subcategories ul {
    margin: 0 0 50px -30px;
}

@media (max-width: 479px) {
    #subcategories ul {
        margin: 0;
        text-align: center;
    }
}

#subcategories ul li {
    float: left;
    width: 128px;
    margin: 0 0 13px 30px;
    text-align: center;
}

@media (max-width: 479px) {
    #subcategories ul li {
        width: 45%;
        float: none;
        margin: 0 1% 13px;
        display: inline-block;
        vertical-align: top;
    }
}

#subcategories ul li .subcategory-image {
    padding: 0 0 8px 0;
}

#subcategories ul li .subcategory-image a {
    display: block;
    position: relative;
    display: block;
    position: relative;
    background: white;
}

#subcategories ul li .subcategory-image a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.38);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#subcategories ul li .subcategory-image a img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

#subcategories ul li h5 {
    margin: 0;
    position: relative;
    top: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#subcategories ul li .subcategory-name {
    color: #263238;
}

#subcategories ul li .subcategory-name:hover {
    color: #07a3e0;
}

#subcategories ul li .cat_desc {
    display: none;
}

#subcategories ul li:hover .subcategory-image a:before {
    visibility: visible;
    opacity: 1;
}

#subcategories ul li:hover h5 {
    top: 5px;
}
