/*
* @section      Page Product Styles
*/
.primary_block {
    margin-bottom: 10px;
}

.product-heading-h5 {
    font: bold 18px/24px "Arimo", sans-serif;
}

.primary_block .pb-left-column img {
    max-width: 100%;
    height: auto;
}

/*
* @subsection     Left column in product block
*/
/* .pb-left-column ***************************************************************************** */
.pb-left-column {
    margin-bottom: 45px;
    position: relative;
    overflow: hidden;
}

@media (max-width: 479px) {
    .pb-left-column {
        margin-bottom: 15px;
    }
}

.pb-left-column #prev-img, .pb-left-column #next-img {
    display: block;
    position: absolute;
    top: 50%;
    padding: 17px 10px 20px 30px;
    text-align: center;
    z-index: 10;
    background: none;
    margin-top: -12px;
    cursor: pointer;
}

.pb-left-column #prev-img:before, .pb-left-column #next-img:before {
    display: block;
    font-size: 33px;
    font-family: "FontAwesome";
    color: #07a3e0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.pb-left-column #prev-img:hover:before, .pb-left-column #next-img:hover:before {
    color: #263238;
}

@media (min-width: 480px) {
    .pb-left-column #prev-img, .pb-left-column #next-img {
        display: none;
    }
}

.pb-left-column #prev-img {
    left: 5px;
    padding-left: 10px;
    padding-right: 30px;
}

.pb-left-column #prev-img:before {
    content: '\f104';
}

.pb-left-column #next-img {
    right: 5px;
}

.pb-left-column #next-img:before {
    content: '\f105';
}

.pb-left-column #image-block {
    position: relative;
    z-index: 1;
}

.pb-left-column #image-block img {
    width: 100%;
}

.pb-left-column #image-block #view_full_size {
    display: block;
    cursor: pointer;
}

.pb-left-column #image-block #view_full_size .span_link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -68px;
    display: block;
    padding: 10px 0;
    text-align: center;
    line-height: 22px;
    color: #5d5d5d;
    width: 136px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

.pb-left-column #image-block #view_full_size .span_link:after {
    font-family: "FontAwesome";
    color: #5d5d5d;
    font-size: 20px;
    line-height: 22px;
    content: "\f00e";
    font-weight: normal;
    margin: 0 0 0 4px;
}

.pb-left-column #image-block #view_full_size .span_link:hover:after {
    color: #5d5d5d;
}

.pb-left-column #image-block a.jqzoom div div img {
    width: auto;
    max-width: 10000px;
}

.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
    border: none;
}

.pb-left-column #image-block .zoomPad {
    z-index: auto !important;
}

.pb-left-column #image-block .new-box,
.pb-left-column #image-block .sale-box {
    z-index: 50002;
}

.pb-left-column #views_block {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 1;
}

@media (max-width: 479px) {
    .pb-left-column #image-block {
        margin-left: 0 !important;
    }

    .pb-left-column #views_block {
        visibility: hidden;
    }
}

#thumbs_list {
    overflow: hidden;
    width: 100%;
}

#thumbs_list ul#thumbs_list_frame {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    margin: -10px 0 0 0;
    width: 80px;
}

#thumbs_list li {
    float: left;
    width: 100%;
    cursor: pointer;
    margin-top: 30px;
    line-height: 0;
}

#thumbs_list li a {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (min-width: 480px) {
    #thumbs_list li a:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.38);
        z-index: 2;
        visibility: hidden;
        opacity: 0;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }

    #thumbs_list li a:hover:before, #thumbs_list li a.zoomThumbActive:before {
        visibility: visible;
        opacity: 1;
    }
}

#thumbs_list li img {
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.product_attributes {
    clear: left;
}

#view_scroll_left,
#view_scroll_right {
    display: inline-block;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: -33px;
    z-index: 1;
    text-align: center;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

#view_scroll_left:before,
#view_scroll_right:before {
    color: #263238;
    font-family: "FontAwesome";
    font-size: 25px;
    line-height: 30px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#view_scroll_left:hover:before,
#view_scroll_right:hover:before {
    color: #07a3e0;
}

#view_scroll_right {
    top: auto;
    bottom: -33px;
}

#view_scroll_right:before {
    content: "\f107";
}

#view_scroll_left:before {
    content: "\f106";
}

.resetimg {
    padding: 0 15px 0 0;
    position: absolute;
    right: 15px;
    bottom: 0px;
    margin-bottom: 5px;
    z-index: 1;
}

.resetimg #resetImages i {
    margin-right: 6px;
}

/*
* @subsection      Link list
*/
#usefull_link_block {
    overflow: hidden;
    margin-left: 6px;
}

#usefull_link_block li {
    float: left;
    padding: 0 15px;
    border-left: 1px solid whitesmoke;
    margin-bottom: 5px;
}

#usefull_link_block li:first-child {
    border-left: 0;
    padding-left: 0;
}

#usefull_link_block li a {
    color: #263238;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-left: 34px;
    line-height: 18px;
    display: inline-block;
}

#usefull_link_block li a:before {
    font-family: "FontAwesome";
    color: #263238;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 1px;
    font-weight: normal;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#usefull_link_block li a:hover {
    color: #07a3e0;
}

#usefull_link_block li a:hover:before {
    color: #07a3e0;
}

#usefull_link_block li.print a:before {
    content: "\f02f";
}

#usefull_link_block li.sendtofriend a:before {
    content: "\f003";
}

#usefull_link_block li#left_share_fb a:before {
    content: "\f09a";
}

#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
    cursor: pointer;
    position: relative;
}

#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
    font-family: "FontAwesome";
    color: #5d5d5d;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 12px;
    font-weight: normal;
    content: "\f08a";
}

#usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
    color: #263238;
}

#usefull_link_block li#favoriteproducts_block_extra_removed:before {
    content: "\f004";
}

.two-columns #usefull_link_block li {
    clear: left;
    border: none;
    padding-left: 0;
}

.two-columns #usefull_link_block li#favoriteproducts_block_extra_add, .two-columns #usefull_link_block li#favoriteproducts_block_extra_remove, .two-columns #usefull_link_block li#favoriteproducts_block_extra_added, .two-columns #usefull_link_block li#favoriteproducts_block_extra_removed {
    padding-left: 25px;
}

.two-columns #usefull_link_block li#favoriteproducts_block_extra_add:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_remove:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_added:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_removed:before {
    left: 1px;
}

/*
* @subsection      Right column in product block
*/
.pb-right-column .product-info-line {
    overflow: hidden;
    margin: 0 0 5px -47px;
    line-height: 24px;
}

.pb-right-column .product-info-line #product_reference, .pb-right-column .product-info-line #product_condition {
    font-family: "Merriweather", serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.02em;
}

@media (max-width: 479px) {
    .pb-right-column .product-info-line #product_reference, .pb-right-column .product-info-line #product_condition {
        float: left;
        clear: left;
    }
}

.pb-right-column .product-info-line #product_condition .editable {
    color: #07a3e0;
}

.pb-right-column .product-info-line > p {
    padding-left: 47px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
}

.pb-right-column .product-info-line > p label {
    margin: 0;
    font-weight: normal;
    color: #5d5d5d;
}

.pb-right-column #product_payment_logos {
    clear: left;
}

.pb-right-column #attributes {
    margin-bottom: 10px;
}

.pb-right-column #attributes .attribute_fieldset {
    margin-bottom: 15px;
}

@media (max-width: 991px) {
    .pb-right-column .mobile-hidden {
        display: none;
    }
}

.pb-right-column h1 {
    padding-bottom: 14px;
    color: #263238;
    margin: 0;
    font-size: 24px;
    line-height: 1.41667;
    letter-spacing: 0.02em;
}

.pb-right-column #short_description_block #short_description_content {
    padding: 0 0 10px;
    word-wrap: break-word;
}

.pb-right-column #short_description_block #short_description_content p {
    line-height: 18px;
}

.mobile-product-name {
    font-size: 34px;
    line-height: 1.29412;
    color: #263238;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 30px;
    display: none;
    padding: 0 15px;
}

@media (max-width: 991px) {
    .mobile-product-name {
        display: block;
    }
}

#product .pb-right-column {
    padding-top: 22px;
}

#product .pb-right-column h1 {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
}

#product .pb-left-column {
    width: 100%;
}

#product .pb-right-column {
    width: 100%;
}

@media (min-width: 992px) {
    #product .pb-left-column {
        width: 66.67%;
    }

    #product .pb-right-column {
        width: 33.33%;
    }
}

#product p#loyalty {
    padding: 17px 0 15px 35px;
    border-bottom: 1px solid whitesmoke;
    margin: 10px 0 0px;
    position: relative;
}

#product p#loyalty b {
    color: #5d5d5d;
}

#product p#loyalty:before {
    content: "\f024";
    font-family: "FontAwesome";
    color: #cfcccc;
    font-size: 26px;
    line-height: 28px;
    position: absolute;
    top: 16px;
    left: 0;
}

@media (min-width: 992px) {
    #product.three-columns .pb-left-column {
        width: 100%;
    }

    #product.three-columns .pb-right-column {
        width: 100%;
    }
}

#page .rte {
    word-wrap: break-word;
}

#page .rte p {
    margin-bottom: 0;
}

#attributes {
    margin-bottom: 30px;
}

#attributes fieldset {
    display: table;
    line-height: 45px;
}

#attributes fieldset label {
    display: table-cell;
    vertical-align: top;
    font-size: 14px;
    font-weight: normal;
    color: #263238;
    line-height: 1.2;
    min-width: 100px;
    padding-right: 15px;
    padding-top: 14px;
}

#attributes .attribute_list {
    display: table-cell;
    width: 100%;
}

#attributes .attribute_list .form-control option {
    background: white;
    color: #5d5d5d;
    padding: 3px 5px 3px 10px;
}

#attributes .attribute_list ul {
    clear: both;
}

#attributes .attribute_list ul li {
    position: relative;
    display: block;
    margin-top: 10px;
}

#attributes .attribute_list ul li label {
    padding-top: 0;
}

#attributes .attribute_list input.attribute_radio {
    float: left;
    margin-left: 3px;
}

#attributes .attribute_list div.selector {
    height: 45px;
    padding: 0 0 0 15px;
}

#attributes .attribute_list div.selector span {
    height: 43px;
    width: 100% !important;
}

#attributes .attribute_list div.selector span:after {
    content: '\f107';
    font-size: 14px;
    color: #07a3e0;
    border: none;
    background: none;
    width: auto;
    height: auto;
    line-height: 1;
    padding: 3px;
    top: 50%;
    right: 15px;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#attributes .attribute_list div.selector:hover span:after {
    color: #263238;
}

#attributes .attribute_list div.selector select {
    height: 45px;
    width: 100%;
}

#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
    float: none;
    display: inline-block;
}

#attributes .attribute_list #color_to_pick_list {
    list-style-type: none;
    margin: 0 -2px;
    padding-top: 11px;
    padding-left: 2px;
    line-height: 24px;
}

#attributes .attribute_list #color_to_pick_list li {
    display: inline-block;
    margin: 0 2px 4px;
    padding: 1px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    clear: none;
    width: auto;
    float: none;
    position: relative;
}

#attributes .attribute_list #color_to_pick_list li > a, #attributes .attribute_list #color_to_pick_list li > input {
    display: block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 0;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

#attributes .attribute_list #color_to_pick_list li > a:after, #attributes .attribute_list #color_to_pick_list li > input:after {
    display: block;
    position: absolute;
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#attributes .attribute_list #color_to_pick_list li > a.on:after, #attributes .attribute_list #color_to_pick_list li > a:hover:after, #attributes .attribute_list #color_to_pick_list li > input.on:after, #attributes .attribute_list #color_to_pick_list li > input:hover:after {
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
}

#attributes .attribute_list #color_to_pick_list li > a.on + label span, #attributes .attribute_list #color_to_pick_list li > a.on + input + label span, #attributes .attribute_list #color_to_pick_list li > input.on + label span, #attributes .attribute_list #color_to_pick_list li > input.on + input + label span {
    display: none;
}

#attributes .attribute_list #color_to_pick_list li > a.on + label a:before, #attributes .attribute_list #color_to_pick_list li > a.on + input + label a:before, #attributes .attribute_list #color_to_pick_list li > input.on + label a:before, #attributes .attribute_list #color_to_pick_list li > input.on + input + label a:before {
    font-family: "FontAwesome";
    content: "\f00c";
    display: inline-block;
    font-weight: normal;
    color: #fa505d;
}

#attributes .attribute_list #color_to_pick_list li.selected > a:after {
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
}

.box-cart-actions .buttons_bottom_block {
    display: flex;
    align-items: center;
    min-height: 45px;
}

.box-info-product .ajax_add_to_cart_product_button.added:before {
    content: "\f00c";
}

/*
* @subsection      Data sheet table
*/
.table-data-sheet, table.table-product-discounts {
    border: none;
    width: 100%;
    margin: 0 0 20px;
    border-collapse: separate;
    border-spacing: 2px;
}

.table-data-sheet tr, table.table-product-discounts tr {
    border: none;
}

.table-data-sheet tr td, table.table-product-discounts tr td {
    padding: 14px 19px 14px;
    color: #263238;
    font-size: 14px;
    background: #f5f9fa;
}

.table-data-sheet tr td:first-child, table.table-product-discounts tr td:first-child {
    background: #f2f7f9;
    border: none;
    width: 31.8%;
    font-weight: 700;
    color: #263238;
}

.table-data-sheet tr th, table.table-product-discounts tr th {
    color: #263238;
}

/*
* @subsection      Quantity wanted
*/
#quantity_wanted_p {
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

#quantity_wanted_p input {
    width: 50px;
    height: 45px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    float: left;
    border: 1px solid whitesmoke;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline-width: 0;
}

#quantity_wanted_p .btn {
    float: left;
    margin-left: 3px;
}

#quantity_wanted_p label {
    color: #263238;
    float: left;
    font-size: 14px;
    line-height: 45px;
    padding-right: 10px;
    min-width: 100px;
}

#add_to_cart_product_page_button {
    margin-top: 15px;
    margin-bottom: 29px;
}

#add_to_cart_product_page_button #add_to_cart {
    margin-bottom: 0;
}

#add_to_cart_product_page_button #add_to_cart .btn {
    width: 100%;
    padding: 18px 17px 16px;
    font-weight: 700;
    letter-spacing: 0.04em;
    max-width: 400px;
}

#add_to_cart_product_page_button #add_to_cart .btn:hover:before {
    border-width: 240px 0 0 254px;
}

#add_to_cart_product_page_button #add_to_cart .btn:hover:after {
    border-width: 0 240px 240px 0;
}

/*
* @subsection      Availability statut
*/
#availability_date_label {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
}

#availability_date {
    margin: 0;
}

#availability_date + #oosHook {
    margin-bottom: 15px;
}

#last_quantities, #availability_statut #availability_value.warning_inline {
    color: white;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    padding: 3px 8px 4px;
    background: #00b06c;
    border: 1px solid #004a2d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#last_quantities {
    background: #fa505d;
    border-color: #de0617;
    padding: 4px 8px 3px;
    position: relative;
    top: 1px;
}

#pQuantityAvailable {
    display: inline-block;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: 12px;
}

#pQuantityAvailable span#quantityAvailable {
    color: #5d5d5d;
}

@media (max-width: 479px) {
    #pQuantityAvailable {
        float: left;
        clear: left;
    }
}

#availability_statut #availability_value.warning_inline {
    background: #fa505d;
    border-color: #de0617;
    text-shadow: 1px 1px #de0617;
    margin: 0;
}

.box-info-product .content_prices {
    margin-bottom: 0;
    overflow: hidden;
    line-height: 30px;
}

@media (max-width: 479px) {
    .box-info-product .content_prices {
        margin-top: 30px;
        margin-bottom: 18px;
    }
}

.box-info-product .content_prices .old-price-info {
    float: right;
    padding-top: 3px;
    padding-left: 10px;
    margin-bottom: 0;
}

.box-info-product .content_prices #old_price, .box-info-product .content_prices #old_price .price, .box-info-product .content_prices #reduction_percent_display {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    vertical-align: top;
    margin-left: 8px;
}

.box-info-product .content_prices #old_price .price {
    margin-right: 5px;
}

.box-info-product .content_prices #reduction_percent_display {
    margin-top: 0;
    display: inline-block;
    font-size: 15px;
    margin-left: 0;
}

.box-info-product .content_prices .our_price_display {
    float: left;
    margin-bottom: 0;
}

.box-info-product .content_prices .our_price_display #our_price_display {
    font-size: 36px;
    color: #263238;
    letter-spacing: 0.02em;
}

.box-info-product .content_prices .discount {
    display: none;
}

.all-price-info {
    margin-bottom: 11px;
    overflow: hidden;
    *zoom: 1;
}

.all-price-info > p {
    display: inline-block;
    vertical-align: 0;
    margin-right: 5px;
    margin-bottom: 10px;
}

.all-price-info .tax-info {
    float: left;
    clear: left;
    line-height: 1;
}

#old_price .price {
    text-decoration: line-through;
    color: #cccccc;
    font: bold 18px/24px "Arimo", sans-serif;
}

#reduction_percent,
#reduction_amount {
    font: bold 18px/24px "Arimo", sans-serif;
    color: #263238;
}

#our_price_display {
    font: 400 24px/30px "Arimo", sans-serif;
    font-weight: 700;
    color: #263238;
}

#our_price_display.new-price {
    color: #fa505d;
}

/*
* @subsection      Online only
*/
.pb-right-column p.online_only {
    font-weight: 700;
    font-size: 13px;
    color: #f13340;
    text-align: left;
}

/*
* @subsection      Send to a Friend
*/
#send_friend_form {
    width: 555px;
    overflow: hidden;
}

@media (max-width: 767px) {
    #send_friend_form {
        width: 280px;
    }
}

#send_friend_form .product img {
    margin: 0 0 10px 0;
    border: 1px solid whitesmoke;
    max-width: 100%;
    height: auto;
}

#send_friend_form .product p {
    padding: 0;
    color: #5d5d5d;
}

#send_friend_form .product p .product_name {
    font-size: 12px;
    color: #263238;
}

#send_friend_form .form_container {
    padding: 10px 15px;
    border: 1px solid whitesmoke;
    background: white;
}

#send_friend_form .form_container p.intro_form {
    padding-bottom: 6px;
    font-weight: 700;
    font-size: 13px;
    color: #5d5d5d;
}

#send_friend_form .form_container p.txt_required {
    padding-bottom: 0;
    color: #5d5d5d;
}

#send_friend_form .form_container .text {
    padding-bottom: 10px;
}

#send_friend_form .form_container .text label {
    display: block;
    padding: 0;
    width: 100%;
    font-size: 12px;
}

#send_friend_form .form_container .text input {
    padding: 0 5px;
    height: 22px;
    width: 100%;
    border: 1px solid whitesmoke;
    font-size: 12px;
    color: #5d5d5d;
}

#send_friend_form .submit {
    margin-top: 20px;
    padding-bottom: 0;
    text-align: right;
}

/*
* @subsection      Personnalisaton
*/
.product-information {
    margin-bottom: 25px;
    margin-top: 61px;
}

@media (max-width: 767px) {
    .product-information {
        margin-top: 0;
    }
}

.product-information .product-info-tabs {
    padding-right: 0;
    position: relative;
    z-index: 2;
    font-size: 0;
}

@media (max-width: 767px) {
    .product-information .product-info-tabs {
        display: none;
    }
}

.product-information .product-info-tabs > li {
    margin: 0;
    margin-top: 5px;
    z-index: 2;
    font-size: 24px;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) and (max-width: 991px) {
    .product-information .product-info-tabs > li {
        font-size: 17px;
    }
}

.product-information .product-info-tabs > li a {
    padding: 3px 3px;
    color: #07a3e0;
    position: relative;
    border: none;
    background: none;
    outline: none;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.product-information .product-info-tabs > li a:after {
    content: '';
    position: absolute;
    left: 3px;
    right: 3px;
    bottom: 0;
    height: 1px;
    background: #07a3e0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.product-information .product-info-tabs > li a h3 {
    font: inherit;
    padding: 0;
    margin: 0;
    color: inherit;
    text-transform: none;
}

.product-information .product-info-tabs > li:hover a, .product-information .product-info-tabs > li.active a {
    color: #263238;
}

.product-information .product-info-tabs > li:hover a:after, .product-information .product-info-tabs > li.active a:after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    transition-timing-function: cubic-bezier(0, 1.54, 0.34, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

@media (min-width: 768px) {
    .product-information .product-info-tabs {
        margin-left: -32px;
    }

    .product-information .product-info-tabs > li {
        display: inline-block;
        margin-left: 32px;
    }
}

.product-information .tab-content {
    position: relative;
    z-index: 1;
    padding: 13px 0;
}

.product-information .tab-content > div {
    padding-bottom: 15px;
}

.product-information .tab-content .accordion {
    display: block;
    position: relative;
    font-size: 24px;
    padding: 5px 50px 5px 0;
    margin: 11px 0;
}

.product-information .tab-content .accordion:before {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: "FontAwesome";
    content: "\f107";
    display: inline-block;
    font-weight: normal;
    color: #07a3e0;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.product-information .tab-content .accordion a {
    display: inline-block;
    padding: 3px 3px;
    color: #07a3e0;
    position: relative;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.product-information .tab-content .accordion a:after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 1px;
    background: #07a3e0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.product-information .tab-content .accordion a h3 {
    font: inherit;
    padding: 0;
    margin: 0;
    color: inherit;
    text-transform: none;
}

.product-information .tab-content .accordion:hover:before {
    color: #263238;
}

.product-information .tab-content .accordion:hover a, .product-information .tab-content .accordion.active a {
    color: #263238;
}

.product-information .tab-content .accordion:hover a:after, .product-information .tab-content .accordion.active a:after {
    left: 3px;
    right: 3px;
}

.product-information .tab-content .accordion.active:before {
    content: '\f106';
}

@media (min-width: 768px) {
    .product-information .tab-content .accordion {
        display: none;
    }
}

.product-information .tab-content > .tab-pane {
    display: none;
    animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
    -webkit-animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
}

.product-information .tab-content > .tab-pane.active {
    display: block;
}

.product-information .tab-content .form-control {
    background: white;
}

.product-information .tab-content .video-name {
    font-size: 20px;
    color: #263238;
}

.product-information .tab-content .product-description-tab-content {
    padding: 7px 3px 13px;
    font: normal 14px/24px "Merriweather", serif;
    color: #5d5d5d;
}

.product-information .tab-content .product-description-tab-content p + p {
    margin-top: 24px;
}

@media (max-width: 767px) {
    .product-information .tab-content .product-description-tab-content p + p {
        margin-top: 10px;
    }
}

#page .columns-container #columns .product-information .tab-content {
    margin: 0;
}

@media (min-width: 768px) {
    #page .columns-container #columns .product-information .tab-content {
        margin-top: 10px;
    }
}

ul#uploadable_files,
ul#text_fields {
    list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}

.customizationUploadLine {
    padding-bottom: 10px;
}

.customizationUploadLine label {
    display: block;
    vertical-align: top;
}

.customizationUploadLine textarea {
    width: 50%;
    border: 1px solid whitesmoke;
    color: #333333;
}

.customizationUploadBrowse img {
    border: 3px solid #263238;
    margin: 0 10px 10px 0;
    padding: 5px;
    background: white;
}

.customizationUploadBrowse img + a {
    position: relative;
    vertical-align: top;
}

.customizationUploadBrowse img + a img {
    height: auto;
    margin: 0;
    border: none;
    padding: 0;
    background: none;
}

#customizedDatas {
    float: right;
}

.accessories_block div ul li a {
    display: inline-block;
}

.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
    font-weight: 700;
}

.pb-left-column .zoomPad {
    float: none;
}

.addsharethisinner .stButton .stArrow {
    display: none !important;
}

#view_full_size .zoomPreload {
    background-position: center center;
    text-indent: -5000px;
}

@media only screen and (max-width: 767px) {
    #blockpack ul.product_list > li.first-item-of-mobile-line {
        clear: left;
    }

    #blockpack ul.product_list > li.first-item-of-tablet-line {
        clear: none;
    }
}

.page-product-box {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .page-product-box {
        margin-top: 48px;
    }
}

/*
* @subsection      Quick View Styles
*/
#product.content_only .primary_block.row {
    margin: 0;
}

#product.content_only div.primary_block {
    margin-bottom: 0;
    padding: 22px 13px 28px;
}

#product.content_only div.primary_block div.pb-left-column {
    padding: 15px 15px 0 15px;
    width: 59.8%;
    float: left;
}

#product.content_only div.primary_block div.pb-left-column #views_block {
    top: 15px;
}

#product.content_only div.primary_block div.pb-left-column p.resetimg {
    margin-bottom: 0;
    padding-top: 0;
}

@media only screen and (max-width: 841px) {
    #product.content_only div.primary_block div.pb-left-column {
        width: 400px;
        max-width: 400px;
    }
}

#product.content_only div.primary_block div.pb-right-column {
    padding: 20px 0 0 20px;
    margin-bottom: 0;
    max-width: 320px;
}

#product.content_only div.primary_block div.pb-right-column #product_payment_logos {
    display: none;
}

@media only screen and (max-width: 800px) {
    #product.content_only div.primary_block div.pb-right-column {
        max-width: 285px;
    }
}

@media (min-width: 920px) {
    #product.content_only div.primary_block div.pb-right-column {
        max-width: 350px;
        padding: 31px 10px 0 16px;
    }
}

@media (min-width: 1030px) {
    #product.content_only div.primary_block div.pb-right-column {
        max-width: 395px;
    }
}

@media (min-width: 992px) {
    #product.content_only div.primary_block div.pb-right-column {
        width: auto;
    }
}

#product.content_only div.primary_block div.pb-right-column .product_comments_block_extra {
    padding-right: 0;
}

#product.content_only div.primary_block div.pb-right-column #availability_statut {
    margin-top: 17px;
}

#product.content_only div.primary_block div.pb-right-column #availability_statut span {
    font: normal 14px/24px "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.02em;
    padding: 10px 12px;
}

#product.content_only div.primary_block div.pb-right-column #ShareDiv {
    position: absolute;
    bottom: 8px;
}

#product.content_only div.primary_block div.pb-right-column h1 {
    padding-bottom: 14px;
}

#product.content_only div.primary_block div.pb-right-column .box-info-product {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 841px) {
    #product.content_only div.primary_block div.pb-right-column .product-info-line {
        display: none;
    }
}

#product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom {
    padding-bottom: 0;
}

@media only screen and (max-width: 841px) {
    #product.content_only div.primary_block div.pb-right-column .box-info-product .box-cart-bottom .buttons_bottom_block {
        display: none;
    }
}

#product.content_only div.primary_block div.pb-right-column .box-info-product .content_prices {
    border-bottom: none;
}

.box-info-product .box-cart-bottom img {
    width: auto;
}

div.primary_block div.pb-left-column {
    position: relative;
}

div.primary_block div.pb-left-column .image_loader {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    content: '';
    z-index: 10;
}

div.primary_block div.pb-left-column .image_loader:after {
    position: absolute;
    display: block;
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: -22px;
    margin-top: -22px;
    background: url("../img/ajax-loader.gif") no-repeat 0 0;
    content: '';
    z-index: 11;
}
