/*******************************************************
Product list Styles
********************************************************/
/*
* @section      Product list Styles
* @description  This section holds specific style redeclarations for some
*               of common elements in page listing
*/
ul.product_list {
    position: relative;
    z-index: 1;
}

ul.product_list .color-list-container {
    margin-bottom: 12px;
}

ul.product_list .color-list-container ul {
    list-style-type: none;
    margin: 0 -2px;
    padding-top: 11px;
    padding-left: 2px;
    line-height: 24px;
}

ul.product_list .color-list-container ul li {
    display: inline-block;
    margin: 0 2px 4px;
    padding: 1px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    clear: none;
    width: auto;
    float: none;
    position: relative;
}

ul.product_list .color-list-container ul li > a, ul.product_list .color-list-container ul li > input {
    display: block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 0;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

ul.product_list .color-list-container ul li > a:after, ul.product_list .color-list-container ul li > input:after {
    display: block;
    position: absolute;
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

ul.product_list .color-list-container ul li > a.on:after, ul.product_list .color-list-container ul li > a:hover:after, ul.product_list .color-list-container ul li > input.on:after, ul.product_list .color-list-container ul li > input:hover:after {
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
}

ul.product_list .color-list-container ul li > a.on + label span, ul.product_list .color-list-container ul li > a.on + input + label span, ul.product_list .color-list-container ul li > input.on + label span, ul.product_list .color-list-container ul li > input.on + input + label span {
    display: none;
}

ul.product_list .color-list-container ul li > a.on + label a:before, ul.product_list .color-list-container ul li > a.on + input + label a:before, ul.product_list .color-list-container ul li > input.on + label a:before, ul.product_list .color-list-container ul li > input.on + input + label a:before {
    font-family: "FontAwesome";
    content: "\f00c";
    display: inline-block;
    font-weight: normal;
    color: #fa505d;
}

ul.product_list .color-list-container ul li.selected > a:after {
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
}

ul.product_list > .layered-preloader {
    position: absolute;
    left: 50%;
    top: 100px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 0.7;
    width: 64px;
    height: 64px;
    background: url(../img/cat-loader.gif) no-repeat 0 0;
}

ul.product_list > .layered-preloader img {
    display: none;
}

ul.product_list .product-image-container {
    text-align: center;
    position: relative;
    overflow: hidden;
}

ul.product_list .product-image-container img {
    will-change: opacity;
    margin: 0 auto;
}

ul.product_list .product-image-container img.replace-2x {
    z-index: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1 !important;
}

ul.product_list .product-image-container img.hover-image {
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0 !important;
    -moz-transform: scale(0) translateY(110%);
    -ms-transform: scale(0) translateY(110%);
    -o-transform: scale(0) translateY(110%);
    -webkit-transform: scale(0) translateY(110%);
    transform: scale(0) translateY(110%);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
}

ul.product_list .product-image-container:hover img.replace-2x {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: -1;
    opacity: 0 !important;
}

ul.product_list .product-image-container:hover img.hover-image {
    -moz-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    -o-transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    opacity: 1 !important;
}

ul.product_list .product-image-container .product_img_link:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.38);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

ul.product_list .product-image-container .quick-view {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #07a3e0;
    position: absolute;
    left: 50%;
    top: 105px;
    padding: 12px 10px;
    min-width: 130px;
    text-align: center;
    background: #fefefe;
    border-radius: 3px;
    overflow: hidden;
    will-change: transform;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    z-index: 3;
}

ul.product_list .product-image-container .quick-view:before, ul.product_list .product-image-container .quick-view:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: -1;
}

ul.product_list .product-image-container .quick-view:before {
    border-color: transparent transparent transparent #f2f2f2;
    bottom: 0;
    left: 0;
}

ul.product_list .product-image-container .quick-view:after {
    border-color: transparent #f2f2f2 transparent transparent;
    top: 0;
    right: 0;
}

ul.product_list .product-image-container .quick-view:hover:before {
    border-width: 165px 0 0 165px;
}

ul.product_list .product-image-container .quick-view:hover:after {
    border-width: 0 165px 165px 0;
}

ul.product_list .product-image-container .quick-view span {
    white-space: nowrap;
}

@media (min-width: 1200px) {
    ul.product_list .product-image-container .quick-view {
        top: 90%;
        opacity: 0;
    }
}

@media (max-width: 767px) {
    ul.product_list .product-image-container .quick-view {
        display: none;
    }
}

ul.product_list .product-image-container .button-container {
    margin: 0;
}

ul.product_list .product-image-container .button-container .ajax_add_to_cart_button,
ul.product_list .product-image-container .button-container span.btn,
ul.product_list .product-image-container .button-container .lnk_view {
    margin: 0 6px 10px 0;
}

ul.product_list .product-image-container .button-container .lnk_view {
    display: none;
}

ul.product_list .product-image-container .button-container .ajax_add_to_cart_button, ul.product_list .product-image-container .button-container .btn.customization {
    position: absolute;
    left: 50%;
    height: 46px;
    padding: 15px;
    min-width: 130px;
    margin: 0;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    z-index: 3;
}

@media (min-width: 1200px) {
    ul.product_list .product-image-container .button-container .ajax_add_to_cart_button, ul.product_list .product-image-container .button-container .btn.customization {
        opacity: 0;
        -moz-transform: translate(-50%, 2px);
        -ms-transform: translate(-50%, 2px);
        -o-transform: translate(-50%, 2px);
        -webkit-transform: translate(-50%, 2px);
        transform: translate(-50%, 2px);
        top: 150%;
    }
}

ul.product_list .comments_note {
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
}

ul.product_list .comments_note .nb-comments {
    display: none;
}

ul.product_list .functional-buttons > div {
    font-size: 13px;
    letter-spacing: 0.02em;
}

ul.product_list .functional-buttons > div a, ul.product_list .functional-buttons > div label {
    color: #07a3e0;
    cursor: pointer;
}

ul.product_list .functional-buttons > div a:hover, ul.product_list .functional-buttons > div label:hover {
    color: #263238;
}

ul.product_list .functional-buttons > div a {
    display: inline-block;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

ul.product_list .functional-buttons > div a:before {
    font-family: "FontAwesome";
    content: "\f00c";
    display: inline-block;
    font-weight: normal;
    display: none;
}

ul.product_list .functional-buttons > div a.checked:before {
    display: inline-block;
}

/*
* @section      Product list(Grid) Styles
*/
ul.product_list.grid .color-list-container {
    margin-bottom: 0;
}

ul.product_list.grid .color-list-container ul {
    line-height: 1;
}

ul.product_list.grid > li {
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid > li {
        width: 50%;
        float: left;
    }
}

@media (max-width: 479px) {
    ul.product_list.grid > li:nth-child(2n + 1) {
        clear: left;
    }
}

ul.product_list.grid > li .product-container {
    background: white;
    padding: 0;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1199px) {
    ul.product_list.grid > li .product-container {
        padding-bottom: 29px;
    }

    ul.product_list.grid > li .product-container .color-list-container {
        display: none;
    }
}

ul.product_list.grid > li .product-container .product-image-container {
    position: relative;
}

@media (max-width: 1199px) {
    ul.product_list.grid > li .product-container .product-image-container {
        position: static;
    }
}

ul.product_list.grid > li .product-container .product-image-container .product_img_link {
    display: block;
    display: block;
    position: relative;
    background: white;
}

ul.product_list.grid > li .product-container .product-image-container .product_img_link img {
    -webkit-backface-visibility: hidden;
}

@media (max-width: 767px) {
    ul.product_list.grid > li .product-container .product-image-container .product_img_link img {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1199px) {
    ul.product_list.grid > li .product-container .product-image-container .button-container .ajax_add_to_cart_button, ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization {
        bottom: 0;
        width: 100%;
    }

    ul.product_list.grid > li .product-container .product-image-container .button-container .ajax_add_to_cart_button.responsive-btn, ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization.responsive-btn {
        background: none;
        padding: 0;
        width: 33.33%;
        left: 0;
        height: auto;
        min-width: 0;
        text-align: center;
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    ul.product_list.grid > li .product-container .product-image-container .button-container .ajax_add_to_cart_button.responsive-btn:before, ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization.responsive-btn:before {
        display: inline-block;
        position: static;
        font-family: "fl-outicons";
        content: "\e04f";
        display: inline-block;
        font-weight: normal;
        font-size: 21px;
        border: none;
        width: auto;
        height: auto;
        z-index: 1;
        color: #5d5d5d;
    }

    ul.product_list.grid > li .product-container .product-image-container .button-container .ajax_add_to_cart_button.responsive-btn:hover:before, ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization.responsive-btn:hover:before {
        color: #07a3e0;
    }

    ul.product_list.grid > li .product-container .product-image-container .button-container .ajax_add_to_cart_button.responsive-btn:after, ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization.responsive-btn:after {
        display: none;
    }

    ul.product_list.grid > li .product-container .product-image-container .button-container .ajax_add_to_cart_button.responsive-btn span, ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization.responsive-btn span {
        display: none;
    }

    ul.product_list.grid > li .product-container .product-image-container .button-container .btn.customization.responsive-btn:before {
        content: '\e024';
    }
}

@media (min-width: 1200px) {
    ul.product_list.grid > li .product-container .product-image-container .btn + .quick-view {
        -moz-transform: translate(-50%, -48px);
        -ms-transform: translate(-50%, -48px);
        -o-transform: translate(-50%, -48px);
        -webkit-transform: translate(-50%, -48px);
        transform: translate(-50%, -48px);
    }
}

ul.product_list.grid > li .product-container .product-image-container .new-box,
ul.product_list.grid > li .product-container .product-image-container .sale-box {
    z-index: 3;
}

@media (max-width: 479px) {
    ul.product_list.grid > li .product-container .product-image-container .new-box span,
    ul.product_list.grid > li .product-container .product-image-container .sale-box span {
        padding: 0 6px;
        font-size: 8px;
    }
}

ul.product_list.grid > li .product-container h5 {
    padding: 0 15px 7px 15px;
    margin-top: 6px;
    margin-bottom: 0;
}

ul.product_list.grid > li .product-container h5 a span.list-name {
    display: none;
}

ul.product_list.grid > li .product-container .comments_note {
    text-align: center;
}

ul.product_list.grid > li .product-container .comments_note .star_content {
    display: inline-block;
    margin: 0 0 0 0;
}

ul.product_list.grid > li .product-container .product-desc {
    display: none;
}

ul.product_list.grid > li .product-container .product-desc span.list-desc {
    display: none;
}

ul.product_list.grid > li .product-container .hook-reviews, ul.product_list.grid > li .product-container .availability {
    display: none;
}

ul.product_list.grid > li .product-container .content_price {
    padding-bottom: 2px;
    line-height: 21px;
}

ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction {
    display: inline-block;
}

ul.product_list.grid > li .product-container .product-flags {
    display: none;
}

ul.product_list.grid > li .product-container .old-price {
    margin-right: 11px;
}

ul.product_list.grid > li .product-container .price-percent-reduction {
    margin-left: 8px;
}

ul.product_list.grid > li .product-container .right-block {
    padding: 10px;
}

@media (max-width: 767px) {
    ul.product_list.grid > li .product-container .right-block {
        padding-left: 0;
        padding-right: 0;
    }

    ul.product_list.grid > li .product-container .right-block h5 {
        padding-left: 0;
        padding-right: 0;
    }
}

ul.product_list.grid > li .product-container .functional-buttons > div {
    text-align: center;
}

@media (max-width: 1199px) {
    ul.product_list.grid > li .functional-buttons {
        height: 0;
    }
}

ul.product_list.grid > li .functional-buttons > div {
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.42;
}

@media (max-width: 1199px) {
    ul.product_list.grid > li .functional-buttons > div {
        display: inline-block;
    }

    ul.product_list.grid > li .functional-buttons > div a {
        position: absolute;
        bottom: 0;
        width: 33.33%;
        text-align: center;
        font-size: 0;
        padding-bottom: 2px;
    }

    ul.product_list.grid > li .functional-buttons > div a:before {
        display: inline-block;
        color: #5d5d5d;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        line-height: 1;
    }

    ul.product_list.grid > li .functional-buttons > div a:hover:before {
        color: #07a3e0;
    }

    ul.product_list.grid > li .functional-buttons > div a.addToWishlist, ul.product_list.grid > li .functional-buttons > div a.wishlist_button_list {
        left: 33.33%;
    }

    ul.product_list.grid > li .functional-buttons > div a.addToWishlist:before, ul.product_list.grid > li .functional-buttons > div a.wishlist_button_list:before {
        font-family: "fl-outicons";
        content: "\e028";
        display: inline-block;
        font-weight: normal;
        font-size: 21px;
    }

    ul.product_list.grid > li .functional-buttons > div a.add_to_compare {
        right: 0;
    }

    ul.product_list.grid > li .functional-buttons > div a.add_to_compare.checked:before {
        color: #07a3e0;
    }

    ul.product_list.grid > li .functional-buttons > div a.add_to_compare:before {
        font-family: "fl-outicons";
        content: "\e052";
        display: inline-block;
        font-weight: normal;
        font-size: 21px;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@media (min-width: 1200px) {
    ul.product_list.grid > li .functional-buttons > div a {
        position: relative;
        opacity: 0;
        bottom: -20px;
    }

    ul.product_list.grid > li .functional-buttons > div.compare a {
        bottom: -30px;
    }
}

@media (min-width: 1200px) {
    ul.product_list.grid > li.hovered .product-container .product-image-container .ajax_add_to_cart_button, ul.product_list.grid > li.hovered .product-container .product-image-container .btn.customization {
        opacity: 1;
        top: 50%;
    }

    ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
        opacity: 1;
        top: 50%;
    }

    ul.product_list.grid > li.hovered .product-container .product-image-container .product_img_link:before {
        visibility: visible;
        opacity: 1;
    }

    ul.product_list.grid > li.hovered .product-container .functional-buttons > div a {
        opacity: 1;
        bottom: 0;
    }
}

@media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
        clear: left;
    }
}

@media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
        clear: left;
    }
}

/*
* @section      Product list(List) Styles
*/
@media (min-width: 992px) {
    ul.product_list.list > li .left-block {
        width: 26.5%;
    }
}

@media (min-width: 1200px) {
    ul.product_list.list > li .left-block {
        width: 22.5%;
    }
}

ul.product_list.list > li .product-container {
    padding: 0 0 40px;
}

ul.product_list.list > li .product-image-container .quick-view {
    top: 50%;
    font-size: 11px;
    line-height: 1.3;
    min-width: 0;
    padding: 8px 10px;
    max-width: 100%;
}

ul.product_list.list > li .product-image-container .quick-view span {
    white-space: normal;
}

ul.product_list.list > li .product-image-container .product_img_link {
    display: block;
    position: relative;
    display: block;
    position: relative;
    background: white;
}

ul.product_list.list > li .product-image-container .content_price {
    display: none !important;
}

ul.product_list.list > li .product-image-container .button-container .btn {
    display: none;
}

ul.product_list.list > li .product-flags {
    color: #5d5d5d;
    margin: 5px 0 0;
}

@media (max-width: 991px) {
    ul.product_list.list > li .product-flags {
        display: none;
    }
}

@media (min-width: 992px) {
    ul.product_list.list > li .product-flags {
        margin-top: -5px;
    }
}

ul.product_list.list > li .product-flags .discount {
    color: #fa505d;
}

@media (max-width: 991px) {
    ul.product_list.list > li .color-list-container {
        display: none;
    }
}

ul.product_list.list > li h5 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 7px;
}

ul.product_list.list > li h5 a span.grid-name {
    display: none;
}

ul.product_list.list > li .product-desc {
    margin-bottom: 15px;
    font: normal 14px/24px "Merriweather", serif;
    letter-spacing: 0;
}

ul.product_list.list > li .product-desc span.grid-desc {
    display: none;
}

@media (max-width: 479px) {
    ul.product_list.list > li .center-block .product-desc {
        display: none;
    }
}

@media (min-width: 992px) {
    ul.product_list.list > li .center-block {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    ul.product_list.list > li .center-block {
        width: 44%;
    }
}

ul.product_list.list > li .center-block .comments_note {
    margin-bottom: 12px;
}

@media only screen and (min-width: 480px) {
    ul.product_list.list > li .center-block .comments_note {
        text-align: left;
    }
}

ul.product_list.list > li .center-block .comments_note .star_content {
    display: inline-block;
}

@media (min-width: 992px) {
    ul.product_list.list > li .right-block {
        width: 33.5%;
    }
}

ul.product_list.list > li .right-block .right-block-content {
    position: relative;
}

@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content {
        margin: 0;
        border-left: 1px solid whitesmoke;
        padding-left: 30px;
        padding-bottom: 16px;
    }
}

ul.product_list.list > li .right-block .right-block-content .content_price {
    display: inline-block;
    padding-bottom: 6px;
    padding-right: 10px;
}

@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        padding-bottom: 0;
    }
}

@media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        padding-top: 8px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
        float: left;
    }
}

ul.product_list.list > li .right-block .right-block-content .content_price .price {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 5px;
}

ul.product_list.list > li .right-block .right-block-content .content_price .price.old-price {
    margin-right: 8px;
}

ul.product_list.list > li .right-block .right-block-content .hook-reviews {
    float: right;
}

@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .hook-reviews {
        display: none;
    }
}

@media (min-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content .specific_prices + .hook-reviews {
        float: left;
        clear: left;
    }
}

ul.product_list.list > li .right-block .right-block-content .availability {
    float: left;
    clear: left;
}

@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .availability {
        display: none;
    }
}

ul.product_list.list > li .right-block .right-block-content .button-container {
    overflow: hidden;
    padding-top: 19px;
    padding-bottom: 0;
    width: 100%;
}

@media (max-width: 992px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
        min-height: 36px;
    }
}

@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
        padding-top: 11px;
    }
}

ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    width: 100%;
}

ul.product_list.list > li .right-block .right-block-content .button-container .quick-view, ul.product_list.list > li .right-block .right-block-content .button-container .lnk_view {
    display: none;
}

@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .button-container .ajax_add_to_cart_button, ul.product_list.list > li .right-block .right-block-content .button-container .btn.customization {
        bottom: 0;
        width: 100%;
    }

    ul.product_list.list > li .right-block .right-block-content .button-container .ajax_add_to_cart_button.responsive-btn, ul.product_list.list > li .right-block .right-block-content .button-container .btn.customization.responsive-btn {
        background: none;
        padding: 0;
        width: 33.33%;
        left: 0;
        height: auto;
        min-width: 0;
        text-align: left;
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    ul.product_list.list > li .right-block .right-block-content .button-container .ajax_add_to_cart_button.responsive-btn:before, ul.product_list.list > li .right-block .right-block-content .button-container .btn.customization.responsive-btn:before {
        display: inline-block;
        position: static;
        font-family: "fl-outicons";
        content: "\e04f";
        display: inline-block;
        font-weight: normal;
        font-size: 21px;
        border: none;
        width: auto;
        height: auto;
        z-index: 1;
        color: #5d5d5d;
    }

    ul.product_list.list > li .right-block .right-block-content .button-container .ajax_add_to_cart_button.responsive-btn:hover:before, ul.product_list.list > li .right-block .right-block-content .button-container .btn.customization.responsive-btn:hover:before {
        color: #07a3e0;
    }

    ul.product_list.list > li .right-block .right-block-content .button-container .ajax_add_to_cart_button.responsive-btn:after, ul.product_list.list > li .right-block .right-block-content .button-container .btn.customization.responsive-btn:after {
        display: none;
    }

    ul.product_list.list > li .right-block .right-block-content .button-container .ajax_add_to_cart_button.responsive-btn span, ul.product_list.list > li .right-block .right-block-content .button-container .btn.customization.responsive-btn span {
        display: none;
    }
}

ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    float: right;
    text-align: right;
}

ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
    line-height: 1.01;
    font-size: 11px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        float: left;
        clear: left;
        margin-top: 15px;
        text-align: left;
    }
}

@media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        height: 0;
        float: none;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
        display: inline-block;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a {
        position: absolute;
        bottom: 0;
        width: 33.33%;
        text-align: left;
        font-size: 0;
        padding-bottom: 2px;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a:before {
        display: inline-block;
        color: #5d5d5d;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        line-height: 1;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a:hover:before {
        color: #07a3e0;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.addToWishlist, ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.wishlist_button_list {
        left: 33.33%;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.addToWishlist:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.wishlist_button_list:before {
        font-family: "fl-outicons";
        content: "\e028";
        display: inline-block;
        font-weight: normal;
        font-size: 21px;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.add_to_compare {
        right: 0;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.add_to_compare.checked:before {
        color: #07a3e0;
    }

    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div a.add_to_compare:before {
        font-family: "fl-outicons";
        content: "\e052";
        display: inline-block;
        font-weight: normal;
        font-size: 21px;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
    cursor: pointer;
}

ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
    padding-top: 5px;
}

@media (min-width: 1200px) {
    ul.product_list.list > li:hover .product-container .product-image-container .quick-view {
        opacity: 1;
        top: 50%;
    }

    ul.product_list.list > li:hover .product-container .product-image-container .product_img_link:before {
        visibility: visible;
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .three-columns ul.product_list.list > li .left-block {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .three-columns ul.product_list.list > li .left-block {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 768px) {
    .three-columns ul.product_list.list > li .center-block {
        width: 100%;
        margin-top: 30px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .three-columns ul.product_list.list > li .right-block {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: center;
    }

    .three-columns ul.product_list.list > li .right-block .right-block-content {
        display: inline-block;
        border-left: none;
        padding-left: 0;
        min-width: 300px;
        max-width: 350px;
    }
}

.lang_en ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
    font-size: 13px;
}

/*
* @section      Product list(Index page) Styles
*/
#index .tab-content .product_list > li {
    animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
    -webkit-animation: 0.5s ease-in-out 0s normal none 1 fadeIn;
}

#index ul.product_list.tab-pane > li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#index ul.product_list.tab-pane > li .availability {
    display: none;
}

@media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
        clear: none;
    }

    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
        clear: left;
    }
}

#index ul.product_list.grid > li {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #index ul.product_list.grid > li {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    #index ul.product_list.grid > li .product-container {
        padding-bottom: 55px;
    }

    #index ul.product_list.grid > li .functional-buttons {
        display: none;
        height: 0;
    }
}

@media (min-width: 1200px) {
    .lang_ru ul.product_list.list > li .right-block .right-block-content .functional-buttons,
    .lang_de ul.product_list.list > li .right-block .right-block-content .functional-buttons,
    .lang_fr ul.product_list.list > li .right-block .right-block-content .functional-buttons {
        margin-top: 15px;
        float: left;
        clear: both;
    }
}
