.new-item .button {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
    cursor: pointer;
}

.new-item .button i {
    margin-right: 10px;
    color: #090;
    font-size: 28px;
}

.new-item .item-container .button {
    float: right;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    vertical-align: bottom;
}

.new-item .item-container .button i {
    margin-right: 5px;
    font-size: 14px;
    color: #090;
}

.lang-tabs {
    position: relative;
    z-index: 99;
}

.lang-tabs li {
    border: 1px solid #f3f3f3;
    border-bottom: none;
    background: #FAFAFA;
    float: left;
    padding: 15px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
    cursor: pointer;
    margin-bottom: 0;
}

.lang-tabs li img {
    vertical-align: baseline;
    margin-right: 5px;
    margin-bottom: -2px;
}

.lang-tabs li.active {
    background: #f4f4f4;
    border: 1px solid #e9e9e9;
    border-bottom: none;
    padding-bottom: 16px;
}

.lang-items {
    position: relative;
    border: 1px solid #e9e9e9;
    padding: 0 14px 10px;
}

h4.hook-title {
    background: #383F50;
    color: white;
    font-weight: normal;
    font-size: 1.3em;
    padding: 5px 10px;
    margin: 20px 0 10px 0 !important;
    text-transform: capitalize;
    clear: both;
}

#items {
    padding-left: 0;
}

.item {
    color: #888;
    margin: 0 0 5px 0 !important;
    padding: 10px;
    border: 1px solid #e5e5e5;
    background: #fff;
    line-height: 25px;
    overflow: hidden;
    clear: both;
}

.item .item-order {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px
}

.item .icon-sort:before {
    margin-right: 10px;
    width: 25px;
    text-align: center;
    cursor: move;
    font-size: 18px;
    line-height: 25px;
}

.item .item-title {
    display: inline-block;
    font-size: 18px;
    color: #666;
}

.item .item-container {
    display: none;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    line-height: normal;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}

.new-item .item-container {
    display: none;
}

.item .image-display, .new-item .image-display {
    text-align: center;
}

.item .image-display img, .new-item .image-display img {
    max-width: 400px;
    max-height: 500px;
}

.item .item-html, .new-item .item-html {
    float: left;
}

.item .displayed_flag, .new-item .displayed_flag {
    margin: 0 0 0 10px;
}

.item .normal {
    font-weight: normal;
}