body {
    background: #1b1b1b;
}

.header-container, .columns-container {
    background: url(../img/bg-theme3.jpg) repeat 50% 0;
}

#header {
    background: url(../img/bg-theme3.jpg) repeat 50% 0;
}

#header #nav-row {
    background: #545454;
}

#header #nav-row .shop-phone {
    color: #fff;
    text-shadow: 0 1px #404040;
}

#header #nav-row .shop-phone i, #header #nav-row .shop-phone strong {
    color: #eac12d;
}

#header #currencies-block-top, #header #languages-block-top, #header #nav-row .header_user_info {
    border-color: #656565;
}

#header #currencies-block-top div.current, #header #languages-block-top div.current, #header #nav-row .header_user_info a {
    color: white;
}

#header #currencies-block-top div.current:hover, #header #currencies-block-top div.current.active, #header #languages-block-top div.current:hover, #header #languages-block-top div.current.active, #header #nav-row .header_user_info a:hover, #header #nav-row .header_user_info a.active {
    background: #2b2b2b;
    color: white;
}

#header #currencies-block-top div.current strong, #header #languages-block-top div.current strong {
    color: #eac12d;
}

#header #currencies-block-top div.current:hover, #header #currencies-block-top div.current.active, #header #languages-block-top div.current:hover, #header #languages-block-top div.current.active {
    background: #2b2b2b;
    color: white;
}

#header #currencies-block-top div.current:hover strong, #header #currencies-block-top div.current.active strong, #header #languages-block-top div.current:hover strong, #header #languages-block-top div.current.active strong {
    color: #fff;
}

#header #currencies-block-top ul, #header #languages-block-top ul {
    background: #e7e7e7;
}

#header #currencies-block-top ul li, #header #currencies-block-top ul li a, #header #currencies-block-top ul li > span, #header #languages-block-top ul li, #header #languages-block-top ul li a, #header #languages-block-top ul li > span {
    color: #333;
}

#header #currencies-block-top ul li.selected, #header #currencies-block-top ul li:hover a, #header #languages-block-top ul li.selected, #header #languages-block-top ul li:hover a {
    background: #bbbbbb;
}

#header #contact-link {
    border-color: #656565;
}

#header #contact-link a {
    color: white;
}

#header #contact-link a:hover, #header #contact-link a.active {
    background: #2b2b2b;
    color: white;
}

#header #currencies-block-top div.current:after, #header #languages-block-top div.current:after {
    color: white;
}

#header #search_block_top .btn.button-search {
    background: #eac12d;
}

#header #search_block_top .btn.button-search:hover {
    color: white;
    background: #2b2b2b;
}

#header #search_block_top #search_query_top {
    border-color: #dfd8ca;
    background: #fff;
    color: #686666;
}

#header #header_user #shopping_cart a {
    background: #eac12d;
    color: white;
}

#header #header_user #shopping_cart a:after {
    color: white;
}

#header #header_user #shopping_cart a:hover {
    color: white;
    background: #333333;
}

#header .sf-menu {
    background: #404040;
    border-bottom: 3px solid #404040;
}

#header .sf-menu > li {
    border-right: 1px solid #565656;
}

#header .sf-menu > li > a {
    border-bottom: 3px solid #404040;
    color: white;
}

#header .sf-menu > li.sfHover > a, #header .sf-menu > li > a:hover, #header .sf-menu > li.sfHoverForce > a {
    color: #fff;
    background: #eac12d;
    border-bottom-color: #eac12d;
}

ul.product_list.grid > li .product-container .product-image-container {
    border-color: #dfd8ca;
}

#home-page-tabs {
    background: none;
}

#home-page-tabs > li {
    border-color: #dfd8ca;
}

#home-page-tabs > li.active a, #home-page-tabs > li a:hover {
    background: #eac12d;
    color: white;
}

.new-label, .sale-label {
    background: #eac12d;
}

.new-label:before, .new-label:after, .sale-label:before, .sale-label:after {
    border-color: #eac12d transparent transparent transparent;
}

ul.product_list.grid > li .product-container {
    background: none;
}

ul.product_list.grid > li .product-container .product-image-container {
    background: white;
}

ul.product_list.grid > li .product-container .product-image-container .product_img_link {
    background: #f1e8e3;
}

ul.product_list.grid > li .product-container .product-image-container .product_img_link img {
    background: #f1e8e3;
}

.button.ajax_add_to_cart_button {
    border-color: #eac12d;
}

.button.ajax_add_to_cart_button span {
    filter: none;
    background: #eac12d;
    border-color: #eac12d;
}

.button.ajax_add_to_cart_button:hover {
    border-color: #b7b7b7;
}

.button.ajax_add_to_cart_button:hover span {
    border-color: #b7b7b7;
    background: #b7b7b7;
}

.price-percent-reduction {
    background: #eac12d;
    border-color: #eac12d;
}

.price, .price.product-price {
    color: #eac12d;
}

.old-price {
    color: #b1b0b0;
}

ul.product_list.grid > li .product-container:hover {
    background: #fff;
    -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.17);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.17);
}

#cmsinfo_block em {
    background: #eac12d;
    text-shadow: 0 1px #b29322;
}

#facebook_block, #cmsinfo_block {
    background: #e2e2e2;
}

#cmsinfo_block,
#cmsinfo_block > div + div {
    border-color: #d6d6d6;
}

.footer-container #footer #block_contact_infos > div ul li {
    color: #777;
}

.footer-container #footer #block_contact_infos > div ul li i {
    color: #908f8f;
}

#facebook_block h4, #cmsinfo_block h4,
#cmsinfo_block h3 {
    color: #191919;
}

#facebook_block p, #cmsinfo_block p {
    color: #757575;
}

.footer-container #footer #social_block {
    background: none;
    padding-bottom: 15px;
}

.footer-container {
    background: #191919;
}

@media (min-width: 768px) {
    .footer-container {
        background: url(../img/footer-bg3.gif) repeat-x;
    }
}

.footer-container #footer a {
    color: #777777;
}

.footer-container #footer #block_contact_infos,
.footer-container #footer .bottom-footer div {
    border-color: #515151;
}

#footer #newsletter_block_left .form-group .form-control {
    background: none;
    border-color: #515151;
}

#footer #newsletter_block_left .form-group .button-small {
    color: #908f8f;
}

#footer #newsletter_block_left .form-group .button-small:hover {
    color: #eac12d;
}

.footer-container #footer #social_block ul li a {
    color: #908f8f;
}

.footer-container #footer #social_block ul li a:hover {
    color: #eac12d;
}
