body {
    background: #333333;
}

.header-container, .columns-container {
    background: white;
}

#header {
    background: white;
}

#header #nav-row {
    background: #333333;
}

#header #nav-row .shop-phone {
    color: #777;
}

#header #nav-row .shop-phone i, #header #nav-row .shop-phone strong {
    color: #719f41;
}

#header #currencies-block-top, #header #languages-block-top, #header #nav-row .header_user_info {
    border-color: #515151;
}

#header #currencies-block-top ul li.selected, #header #currencies-block-top ul li.selected a, #header #currencies-block-top ul li a:hover, #header #languages-block-top ul li.selected, #header #languages-block-top ul li.selected a, #header #languages-block-top ul li a:hover, #header #nav-row .header_user_info ul li.selected, #header #nav-row .header_user_info ul li.selected a, #header #nav-row .header_user_info ul li a:hover {
    background: #719f41;
}

#header #currencies-block-top div.current, #header #languages-block-top div.current, #header #nav-row .header_user_info a {
    color: white;
}

#header #currencies-block-top div.current:hover, #header #currencies-block-top div.current.active, #header #languages-block-top div.current:hover, #header #languages-block-top div.current.active, #header #nav-row .header_user_info a:hover, #header #nav-row .header_user_info a.active {
    background: #719f41;
    color: white;
}

#header #currencies-block-top div.current strong, #header #languages-block-top div.current strong {
    color: #719f41;
}

#header #currencies-block-top div.current:after, #header #languages-block-top div.current:after {
    color: white;
}

#header #currencies-block-top div.current:hover strong, #header #currencies-block-top div.current:hover:after, #header #currencies-block-top div.current.active strong, #header #currencies-block-top div.current.active:after, #header #languages-block-top div.current:hover strong, #header #languages-block-top div.current:hover:after, #header #languages-block-top div.current.active strong, #header #languages-block-top div.current.active:after {
    color: white;
}

#header #contact-link {
    border-color: #515151;
}

#header #contact-link a {
    color: white;
}

#header #contact-link a:hover, #header #contact-link a.active {
    background: #719f41;
    color: white;
}

#header #search_block_top .btn.button-search {
    background: #719f41;
    text-shadow: 0 1px #567931;
}

#header #search_block_top .btn.button-search:hover {
    color: white;
    background: #333333;
    text-shadow: 0 1px #333;
}

#header #search_block_top #search_query_top {
    color: #686666;
}

#header #header_user #shopping_cart a {
    background: #719f41;
    color: white;
    text-shadow: 0 1px #567931;
}

#header #header_user #shopping_cart a:after {
    color: white;
}

#header #header_user #shopping_cart a:hover {
    color: white;
    text-shadow: 0 1px #333;
    background: #333333;
}

#header .sf-menu {
    background: #f6f6f6;
    border-bottom: 3px solid #e9e9e9;
}

#header .sf-menu > li {
    border-right: 1px solid #d6d4d4;
}

#header .sf-menu > li > a {
    border-bottom: 3px solid #e9e9e9;
}

#header .sf-menu > li.sfHover > a, #header .sf-menu > li > a:hover, #header .sf-menu > li.sfHoverForce > a {
    color: #fff;
    background: #719f41;
    border-bottom-color: #598b24;
}

#home-page-tabs {
    background: white;
}

#home-page-tabs > li.active a, #home-page-tabs > li a:hover {
    background: #719f41;
    color: white;
}

.alert-info {
    background-color: #719f41;
    border-color: #5F862F;
    color: white;
    font-weight: bold;
}

.new-label {
    background: #719f41;
}

.sale-label {
    background: #f13340;
}

.new-label:before, .new-label:after {
    border-color: #719f41 transparent transparent transparent;
}

.sale-label:before, .sale-label:after {
    border-color: #AD2B34 transparent transparent transparent;
}

ul.product_list.grid > li .product-container {
    background: white;
}

ul.product_list.grid > li .product-container .product-image-container {
    background: white;
}

ul.product_list.grid > li .product-container .product-image-container .product_img_link {
    background: white;
}

ul.product_list.grid > li .product-container .product-image-container .product_img_link img {
    background: white;
}

.price.product-price {
    color: #719f41;
}

.price-percent-reduction {
    background: #719f41;
    border-color: #719f41;
}

.button.ajax_add_to_cart_button {
    border-color: #719f41;
}

.button.ajax_add_to_cart_button span {
    filter: none;
    background: linear-gradient(to bottom, #6FB828 0%, #5F8E2F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #69C412;
}

.button.ajax_add_to_cart_button:hover {
    border-color: #333333;
}

.button.ajax_add_to_cart_button:hover span {
    background: #333333;
    border-color: #333333;
}

.box-info-product .exclusive {
    padding: 0;
    border-top: 1px solid #5F8C2F;
    border-right: 1px solid #5F862F;
    border-left: 1px solid #5F862F;
    border-bottom: 1px solid #4F762F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6FB828), color-stop(100%, #5F8E2F));
    background-image: -webkit-linear-gradient(#6FB828, #5F8E2F);
    background-image: -moz-linear-gradient(#6FB828, #5F8E2F);
    background-image: -o-linear-gradient(#6FB828, #5F8E2F);
    background-image: linear-gradient(#6FB828, #5F8E2F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6FB828', endColorstr='#5F8E2F', GradientType=0);
}

.box-info-product .exclusive:before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 25px;
    line-height: 47px;
    text-shadow: 0 1px #567931;
    content: "\f07a";
    z-index: 2;
    width: 51px;
    text-align: center;
    border: 1px solid #69C412;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

@media (max-width: 991px) {
    .box-info-product .exclusive:before {
        display: none;
    }
}

.box-info-product .exclusive.added:before {
    content: "\f00c";
}

.box-info-product .exclusive.added.disabled:before, .box-info-product .exclusive.disabled:before {
    content: "\f110";
    animation: 2s linear 0s normal none infinite spin;
    -webkit-animation: 2s linear 0s normal none infinite spin;
    -moz-animation: 2s linear 0s normal none infinite spin;
    border: none;
}

.box-info-product .exclusive:after {
    background: none repeat-y 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 51px;
    content: "";
    width: 1px;
    z-index: 2;
}

@media (max-width: 991px) {
    .box-info-product .exclusive:after {
        display: none;
    }
}

.box-info-product .exclusive span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border-top: 1px solid #69C412;
    border-right: 1px solid #69C412;
    border-left: 1px solid #69C412;
    border-bottom: 1px solid #69C412;
    text-shadow: 0 1px #567931;
    padding: 12px 36px 14px 60px;
    color: white;
    display: block !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 1199px) {
    .box-info-product .exclusive span {
        padding: 12px 22px 14px 55px;
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .box-info-product .exclusive span {
        padding: 8px 12px 10px;
        text-align: left;
    }
}

.box-info-product .exclusive:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5F8E2F), color-stop(100%, #6FB828));
    background-image: -webkit-linear-gradient(#5F8E2F, #6FB828);
    background-image: -moz-linear-gradient(#5F8E2F, #6FB828);
    background-image: -o-linear-gradient(#5F8E2F, #6FB828);
    background-image: linear-gradient(#5F8E2F, #6FB828);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5F8E2F', endColorstr='#6FB828', GradientType=0);
    background-position: 0 0;
}

#cmsinfo_block em {
    background: #719f41;
    text-shadow: 0 1px #567931;
}

#facebook_block, #cmsinfo_block {
    background: #e8e8e8;
}

#cmsinfo_block, #cmsinfo_block > div + div {
    border-color: #d0d0d0;
}

.footer-container #footer #social_block {
    background: #3f3f3f;
}

.footer-container {
    background: #3f3f3f;
}

@media (min-width: 768px) {
    .footer-container {
        background: url(../img/footer-bg.png) repeat-x;
    }
}

.footer-container #footer #social_block ul li a:hover {
    color: #719f41;
}

#footer #newsletter_block_left .form-group .form-control {
    background: #3f3f3f;
}

#footer #newsletter_block_left h4, .footer-container #footer #social_block h4 {
    color: white;
}

.footer-container #footer h4, .footer-container #footer h4 a {
    color: #719f41;
}

.footer-container #footer .bottom-footer {
    color: #719f41;
}

.footer-container #footer .bottom-footer a {
    color: #719f41;
}

.footer-container #footer .bottom-footer a:hover {
    color: white;
}
