@import '../../../_theme_variables';

#tags_blog_block_left {
  .block_content {
    a {
      display: inline-block;
      border: 1px solid $color-primary;
      float: left;
      font-size: 14px;
      margin: 0 3px 3px 0;
      padding: 6px 11px 7px;
      background: $primary-background;
      color: $color-light;
      @include border-radius($border-radius-base);
      text-transform: capitalize;
      &:hover {
        background: transparent;
        color: $color-primary;
      }
    }
  }
}