{foreach $list as $product}
<tr>
	<td style="border:1px solid #D6D4D4;">
		<table class="table">
			<tr>
				<td width="10">&nbsp;</td>
				<td>
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						{$product['reference']}
					</font>
				</td>
				<td width="10">&nbsp;</td>
			</tr>
		</table>
	</td>
	<td style="border:1px solid #D6D4D4;">
		<table class="table">
			<tr>
				<td width="10">&nbsp;</td>
				<td>
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						<strong>{$product['name']}</strong>
					</font>
				</td>
				<td width="10">&nbsp;</td>
			</tr>
		</table>
	</td>
	<td style="border:1px solid #D6D4D4;">
		<table class="table">
			<tr>
				<td width="10">&nbsp;</td>
				<td align="right">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						{$product['unit_price']}
					</font>
				</td>
				<td width="10">&nbsp;</td>
			</tr>
		</table>
	</td>
	<td style="border:1px solid #D6D4D4;">
		<table class="table">
			<tr>
				<td width="10">&nbsp;</td>
				<td align="right">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						{$product['quantity']}
					</font>
				</td>
				<td width="10">&nbsp;</td>
			</tr>
		</table>
	</td>
	<td style="border:1px solid #D6D4D4;">
		<table class="table">
			<tr>
				<td width="10">&nbsp;</td>
				<td align="right">
					<font size="2" face="Open-sans, sans-serif" color="#555454">
						{$product['price']}
					</font>
				</td>
				<td width="10">&nbsp;</td>
			</tr>
		</table>
	</td>
</tr>
    {foreach $product['customization'] as $customization}
        <tr>
            <td colspan="2" style="border:1px solid #D6D4D4;">
                <table class="table">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td>
                            <font size="2" face="Open-sans, sans-serif" color="#555454">
                                <strong>{$product['name']}</strong><br>
                                {$customization['customization_text']}
                            </font>
                        </td>
                        <td width="10">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td style="border:1px solid #D6D4D4;">
                <table class="table">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td align="right">
                            <font size="2" face="Open-sans, sans-serif" color="#555454">
                                {$product['unit_price']}
                            </font>
                        </td>
                        <td width="10">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td style="border:1px solid #D6D4D4;">
                <table class="table">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td align="right">
                            <font size="2" face="Open-sans, sans-serif" color="#555454">
                                {$customization['customization_quantity']}
                            </font>
                        </td>
                        <td width="10">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td style="border:1px solid #D6D4D4;">
                <table class="table">
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td align="right">
                            <font size="2" face="Open-sans, sans-serif" color="#555454">
                                {$customization['quantity']}
                            </font>
                        </td>
                        <td width="10">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    {/foreach}
{/foreach}