@import "../../_theme_variables";

/* block top links */
ul#header_links {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  li {
    text-transform: capitalize;
    padding: 0 30px 0 0;
    @media (min-width: $screen-md-min) {
      padding-right: 41px;
    }
    &:first-child {
      border: none;
    }
    a {
      color: $base-text-color;
      text-decoration: none;
      &:hover, &.active {
        color: $primary-text-color;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    li {
      margin-bottom: 7px;
      a {
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.02em;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    float: left;
    li {
      float: left;
    }
  }
}

/*block permanent links right and left columns*/
#permanent_links div {
  border-bottom: 1px dotted #eee
}

#permanent_links div a {
  display: block;
  padding: 7px 11px 5px 22px;
  background: url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links {
  clear: both;
  text-align: center;
  padding-bottom: 6px
}

ul#footer_links li {
  display: inline;
  padding: 0 10px
}
