// Avatar

@mixin avatar($size, $radius)
  height: $size
  width: $size
  display: inline-block
  text-align: center
  overflow: hidden
  -webkit-border-radius: $radius
  border-radius: $radius
  img
    width: 100%
    height: 100%
  i
    font-size: $size/3*2
    line-height: $size
