/**************************************************************************
		        Style TM Homepage Products Carousel
**************************************************************************/

.tab-content > ul {
    display: none !important;
}

.tab-content .bx-wrapper {
    margin: 0 !important;
}

.tab-content .bx-wrapper #homepage-carousel {
    overflow: hidden;
}

.tab-content .bx-wrapper #homepage-carousel li {
    padding-left: 0 !important;
    padding-right: 0 !important;
    clear: none;
}

.tab-content .bx-wrapper .bx-controls a:before {
    font-family: 'FontAwesome';
}

.tab-content .bx-wrapper .bx-controls .bx-pager {
    padding: 0;
    overflow: hidden;
}

.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
    float: left;
    text-align: center;
    margin-right: 3px;
}

.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active,
.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover {
    background: #777;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction {
    float: left;
    overflow: hidden;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a {
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 10;
    background: none;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
    content: '\f104';
}

.tab-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
    content: '\f105';
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item {
    float: left;
    margin-right: 0;
    text-align: center;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a {
    display: block;
    width: 17px;
    height: 17px;
    text-indent: 0;
    background: none;
    text-decoration: none;
    margin: 0;
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-start:before {
    content: '\f04b';
}

.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-stop:before {
    content: '\f04c';
}