/* Block new products */
#new-products_block_right ul {
    list-style-type: none;
}

#new-products_block_right li {
    float: left;
    margin-right: 20px;
    padding: 10px 0;
}

#new-products_block_right li.first {
    margin-left: 30px;
}

#new-products_block_right dl {
    list-style-type: none;
}

#new-products_block_right dt {
    padding: 10px 0 0 0;
    font-weight: bold;
    font-size: 12px;
    color: #333;
}

#new-products_block_right dd,
#new-products_block_right dd a {
    color: #666;
}

#new-products_block_right dd {
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #ccc;

}

#new-products_block_right dd.last_item {
    border: none;
}

#new-products_block_right dd a.lnk_more {
    padding-right: 10px;
    font-weight: bold;
    color: #0088cc;
    background: url(../img/arrow_right_1.png) no-repeat 100% 4px;
}

#new-products_block_right p {
    padding: 0;
    text-align: right;
}

#new-products_block_right p.title_block, #new-products_block_right h4 {
    padding: 6px 11px;
    text-align: left;
}

#new-products_block_right .button_large {
    padding: 0;
    border: none;
    background: none;
    color: #333;
}

#new-products_block_right .button_large:hover {
    text-decoration: underline
}
