@import "compass";

/**************************************************************************
		        Style TM Products Slider
**************************************************************************/

#tm-products-slider {
  clear: both;
  .bx-wrapper {
    margin: 0 auto;
    #product-slider {
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        overflow: hidden;
        padding: 15px 0;
        background: #f9f9f9;
        border: 1px solid #ccc;
        .on-sale {
          text-transform: uppercase;
          color: #f00;
          display: inline-block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        .product-name {
          margin: 0 0 20px 0;
        }
        .product-price {
          padding-bottom: 15px;
          font-size: 20px;
          color: #333;
        }
        .old-product-price {
          text-decoration: line-through;
          color: #bbb;
        }
        .product-price-reduction {
          color: #f00;
          border: 1px solid #f00;
          display: inline-block;
          padding: 2px 3px;
          font-style: italic;
        }
        .product-features {
          background: #fff;
          border: 1px solid #ccc;
          width: 300px;
          padding: 10px;
          margin-bottom: 10px;
          small {
            display: block;
            padding-bottom: 5px;
          }
        }
      }
    }
    .bx-controls {
      margin: 10px 0;
      overflow: hidden;
      .bx-pager {
        overflow: hidden;
        border: 1px solid #ccc;
        float: left;
        margin-right: 5px;
        position: static;
        padding: 0;
        width: auto;
        .bx-pager-item {
          float: left;
          .bx-pager-link {
            float: left;
            display: block;
            padding: 0;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            text-indent: 0;
            border-radius: 0;
            margin: 0;
            background: none;
            &.active,
            &:hover {
              color: #fff;
              background: #333;
              text-decoration: none;
            }
          }
        }
      }
      .bx-controls-direction {
        float: left;
        border: 1px solid #ccc;
        a {
          display: block;
          float: left;
          height: 20px;
          line-height: 20px;
          padding: 0 5px;
          position: static;
          margin: 0;
          background: none;
          text-indent: 0;
          &.bx-prev {
            border-right: 1px solid #ccc;
            &:before {
              content: '\f053';
              font-size: 10px;
            }
          }
          &.bx-next {
            &:before {
              content: '\f054';
              font-size: 10px;
            }
          }
          &:hover {
            background: #333;
            &:before {
              color: #fff;
            }
          }
        }
      }
      .bx-controls-auto {
        float: left;
        position: static;
        width: auto;
        .bx-controls-auto-item {
          float: left;
          a {
            display: block;
            width: 22px;
            height: 22px;
            text-align: center;
            background: none;
            text-indent: 0;
            margin: 0 auto;
            text-decoration: none;
            &:before {
              font-family: 'FontAwesome';
            }
            &.bx-start {
              &:before {
                content: '\f04b';
              }
            }
            &.bx-stop {
              &:before {
                content: '\f04c';
              }
            }
            &.active {
              color: #333;
            }
          }
        }
      }
    }
  }
}
