@import "../../../../_theme_variables";

.row.full-width {
  margin-left: auto;
  margin-right: auto;
}

.container.col-lg-12 {
  max-width: 1170px;
  float: none;
}

.row.container {
  margin-left: auto;
  margin-right: auto;
  > [class*='col-'] {
    padding: 0;
  }
}

.slider-wrapper {
  @media (min-width: $screen-lg-min) {
    #homepage-slider {
      #homeslider {
        padding-bottom: 56.84%;
        .homeslider-container {
          .homeslider-description {
            padding-bottom: 11px;
            max-width: none;
            width: 100%;
            padding-right: 350px;
            padding-left: 114px;

            @media (max-width: 1699px) {
              padding-right: 35%;
              h2 {
                font-size: 48px;
              }
            }
          }
        }
      }
      .bx-wrapper {
        .bx-viewport {
          padding-bottom: 56.84%;
          img {
            width: auto;
            height: 100%;
            max-width: none;
          }
        }
      }
      .bx-wrapper .bx-controls-direction a {
        top: 50%;
        left: 45px;
        &.bx-next {
          left: auto;
          right: 45px;
        }
        @include transform (translate(0, -50%));
      }
    }
  }
}

.row-gutter {
  &, .row {
    margin-left: -3px;
    margin-right: -3px;
    > [class*='col-'] {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.banner-wrapper {
  #htmlcontent_top {
    ul {
      li {
        .item-link {
          padding-bottom: 67.21%;
        }
      }
      @media (min-width: $screen-lg-min) {
        margin-top: 0;
        li {
          width: 25%;
        }
      }
    }
  }
}

.gray-background {
  background: darken($light-background, 4.3137%);
}

.offset-top {
  margin-top: 25px;
}

.home-blog-wrapper {
  #homepage-blog {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 16px;
    .title_block {
      margin-left: auto;
      margin-right: auto;
      @media (min-width: $screen-md-min) {
        max-width: 940px;
      }
      @media (min-width: $screen-lg-min) {
        max-width: 1170px;
      }
    }
    @media (min-width: $screen-lg-min) {
      .block_content {
        .blog-image {
          a {
            position: relative;
            padding-bottom: 38.87%;
            overflow: hidden;
            img {
              position: absolute;
              left: 50%;
              top: 50%;
              @include translate(-50%, -50%);
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}

.banner-background {
  @media (min-width: $screen-sm-min) {
    #tmhtmlcontent_home {
      .item-html {
        will-change: transform;
        &:before {
          content: '';
          position: absolute;
          top: -100px;
          right: 0;
          bottom: -100px;
          width: 50%;
          background: darken($light-background, 5.098%);
          z-index: -1;
          will-change: transform;
        }
      }
      .rd-parallax-layer[data-type="media"] {
        left: -8%;
        right: 8%;
      }
    }
  }
}

#footer {
  > .wrapper:first-child {
    border-bottom: 1px solid darken($color-light, 7.84%);
    padding-bottom: 23px;
    padding-top: 20px;
    @media (min-width: $screen-sm-min) {
      padding-bottom: 46px;
    }
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .col-sm-6:nth-child(2n+1) {
      clear: left;
    }
  }
}

#index {
  #footer {
    > .wrapper:first-child {
      padding-top: 0;
    }
    .border-top {
      position: relative;
      margin-top: 14px;
      padding-top: 24px;
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -50%;
        right: -50%;
        border-top: 1px solid darken($color-light, 7.84%);
      }
    }
  }
}

.row-slider-extra {
  #homepage-slider .bx-wrapper .bx-viewport {
    @media (min-width: $screen-lg) { // min 1200px
      max-height: 500px;
      padding-bottom: 26%;
      #homeslider .homeslider-container .homeslider-description {
        padding-bottom: 140px;
      }
    }
  }
}

.banner-row-extra {
  #htmlcontent_top ul li > div {
    padding-bottom: 70%
  }
}