@import "compass";
@import "theme_variables";

.shop-phone {
  float: left;
  padding: 5px 0 10px;
  line-height: 18px;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
  i {
    font-size: 21px;
    line-height: 21px;
    color: $light-text-color;
    padding-right: 7px;
  }
  strong {
    color: $light-text-color;
  }
  &.is_logged {
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
}

#contact-link {
  float: right;
  border-left: 1px solid #515151;
  @media (max-width: $screen-xs - 1) {
    text-align: center;
  }
  a {
    display: block;
    color: $light-text-color;
    font-weight: bold;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px;
    @media (max-width: $screen-xs - 1) {
      font-size: 11px;
      padding-left: 5px;
      padding-right: 5px;
    }
    &:hover, &.active {
      background: #2b2b2b;
    }
  }
  &.is_logged {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
}

#contact_block {
  @media (max-width: $screen-xs-max) { // max 767px
    margin-bottom: 20px;
  }
  .label {
    display: none
  }
  .block_content {
    color: #888888;
  }
  p {
    margin-bottom: 4px;
  }
  p.tel {
    font: 400 17px/21px $font-family;
    color: $base-text-color;
    margin-bottom: 6px;
    i {
      font-size: 25px;
      vertical-align: -2px;
      padding-right: 10px;
    }
  }
}
