/* Block newsletter */
#columns #newsletter_block_left .form-group {
    margin-bottom: 0;
}

#columns #newsletter_block_left .form-group .form-control {
    max-width: 100%;
    display: block;
    margin-right: 6px;
    margin-bottom: 10px;
}

#columns #newsletter_block_left .form-group.email-error .form-control {
    border-color: #f00;
}

#columns #newsletter_block_left .form-group.email-valid .form-control {
    border-color: #0C3;
}

#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
    text-align: left;
    padding: 1px 0 0 0;
    margin-bottom: -19px;
}

#columns #newsletter_block_left .success_inline {
    color: #00b06c;
}

#columns #newsletter_block_left .warning_inline {
    color: #fa505d;
}

/* Block newsletter footer */
#footer #newsletter_block_left {
    overflow: hidden;
    margin-top: 64px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #footer #newsletter_block_left {
        margin-top: 18px;
    }
}

#footer #newsletter_block_left h4 {
    margin-bottom: 16px;
}

#footer #newsletter_block_left h4:after {
    display: none;
}

#footer #newsletter_block_left p {
    font: normal 14px/24px "Merriweather", serif;
    letter-spacing: 0;
    margin-bottom: 16px;
}

#footer #newsletter_block_left .block_content {
    overflow: hidden;
    max-width: 500px;
}

#footer #newsletter_block_left .form-group {
    margin-bottom: 0;
    position: relative;
}

#footer #newsletter_block_left .form-group .form-control {
    height: 50px;
    line-height: 30px;
    background: none;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 5px 12px;
    display: block;
    text-align: center;
}

#footer #newsletter_block_left .form-group .btn-sm {
    display: block;
    color: white;
    background: #07a3e0;
    position: relative;
    overflow: hidden;
    padding: 17px 20px;
    margin-top: 4px;
    width: 100%;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border-radius: 3px;
    text-align: center;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: 1;
}

#footer #newsletter_block_left .form-group .btn-sm:before, #footer #newsletter_block_left .form-group .btn-sm:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    position: absolute;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    z-index: -1;
}

#footer #newsletter_block_left .form-group .btn-sm:before {
    border-color: transparent transparent transparent #0abaff;
    bottom: 0;
    left: 0;
}

#footer #newsletter_block_left .form-group .btn-sm:after {
    border-color: transparent #0abaff transparent transparent;
    top: 0;
    right: 0;
}

#footer #newsletter_block_left .form-group .btn-sm:hover:before {
    border-width: 290px 0 0 290px;
}

#footer #newsletter_block_left .form-group .btn-sm:hover:after {
    border-width: 0 290px 290px 0;
}

#footer #newsletter_block_left .warning_inline {
    display: block;
    color: #fa505d;
    font-size: 13px;
    line-height: 26px;
    clear: both;
}

@media (min-width: 1200px) {
    #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none;
    }
}

#footer #newsletter_block_left .form-group.email-error .form-control {
    border-color: #f00;
}

#footer #newsletter_block_left .form-group.email-valid .form-control {
    border-color: #0C3;
}

#newsletter_block_left p.alert {
    margin: 10px 0;
    padding-left: 35px;
}

#newsletter_block_left p.alert:before {
    display: none;
}

#newsletter_block_left p.alert .close {
    font-size: 21px;
    position: absolute;
    left: 10px;
    top: 13px;
    font-weight: normal;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    color: #fa505d;
}

#newsletter_block_left p.alert.alert-success .close {
    color: #00b06c;
}
