#left_column #layered_block_left .title_block:after {
    display: none;
}

#layered_block_left {
    margin-bottom: 16px;
}

#layered_block_left .title_block {
    margin-bottom: 18px;
    font-size: 24px;
}

#layered_block_left .title_block:after {
    display: none;
}

#layered_block_left #layered_form .layered_subtitle {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #263238;
}

#layered_block_left #layered_form #enabled_filters {
    padding: 24px 31px 14px 28px;
    margin-bottom: 35px;
    -moz-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
}

@media (max-width: 767px) {
    #layered_block_left #layered_form #enabled_filters {
        margin: -33px -28px 35px;
    }
}

#layered_block_left #layered_form #enabled_filters ul {
    padding: 9px 0;
}

#layered_block_left #layered_form #enabled_filters ul li {
    padding: 4px 0;
    font-size: 14px;
}

#layered_block_left #layered_form #enabled_filters ul li span {
    color: #07a3e0;
}

#layered_block_left #layered_form #enabled_filters ul li a {
    float: right;
    cursor: pointer;
    color: #fa505d;
}

#layered_block_left #layered_form #enabled_filters ul li a:hover {
    color: #263238;
}

#layered_block_left #layered_form .layered_filter {
    margin-top: 17px;
    overflow: hidden;
    margin-bottom: 15px;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group {
    list-style-type: none;
    margin: 0 -2px;
    padding-top: 11px;
    padding-left: 2px;
    line-height: 24px;
    padding-top: 19px;
    padding-left: 3px;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li {
    display: inline-block;
    margin: 0 2px 4px;
    padding: 1px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    clear: none;
    width: auto;
    float: none;
    position: relative;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input {
    display: block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 0;
    border: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a:after, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input:after {
    display: block;
    position: absolute;
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a.on:after, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a:hover:after, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input.on:after, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input:hover:after {
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a.on + label span, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a.on + input + label span, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input.on + label span, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input.on + input + label span {
    display: none;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a.on + label a:before, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > a.on + input + label a:before, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input.on + label a:before, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input.on + input + label a:before {
    font-family: "FontAwesome";
    content: "\f00c";
    display: inline-block;
    font-weight: normal;
    color: #fa505d;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li.selected > a:after {
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li {
    border-radius: 50%;
    padding: 0;
    position: relative;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li > input {
    z-index: 2;
    padding: 0;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li:after {
    display: block;
    position: absolute;
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    z-index: 1;
}

#layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li.on:after, #layered_block_left #layered_form .layered_filter .layered_filter_ul.color-group li:hover:after {
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
}

#layered_block_left #layered_form .layered_price {
    margin: 0 -30px;
}

#layered_block_left #layered_form .layered_price > * {
    padding-left: 30px;
    padding-right: 40px;
}

#layered_block_left #layered_form .layered_price ul li.layered_list {
    float: left;
    clear: left;
}

#layered_block_left #layered_form ul {
    clear: both;
    padding: 9px 0;
    margin: 0;
    max-height: 250px;
    outline: none;
}

#layered_block_left #layered_form ul li {
    padding: 3px 0;
    list-style-type: none;
    font-size: 14px;
}

#layered_block_left #layered_form ul li label {
    margin-bottom: 1px;
}

#layered_block_left #layered_form ul li a {
    font-size: 14px;
    color: inherit;
}

#layered_block_left #layered_form ul li a:hover {
    color: #07a3e0;
}

#layered_block_left #layered_form ul li.disabled {
    color: #666;
}

#layered_block_left #layered_form ul li.layered_list {
    display: block;
    cursor: pointer;
}

#layered_block_left #layered_form ul li.layered_list.layered_list_selected, #layered_block_left #layered_form ul li.layered_list:hover {
    font-weight: bold;
}

#layered_block_left #layered_form ul li .form-group {
    display: inline-block;
}

#layered_block_left #layered_form ul li .form-group.first-item {
    margin-right: 9px;
}

#layered_block_left #layered_form ul li .form-group .form-label {
    margin-right: 3px;
}

#layered_block_left #layered_form ul li .form-group .form-control {
    display: inline-block;
    width: 80px;
    height: 40px;
}

#layered_block_left #layered_form ul .selector {
    margin-bottom: 15px;
}

#layered_block_left #layered_form ul .layered_slider_container {
    position: relative;
    padding-bottom: 30px;
    margin: 18px 0 6px 10px;
    width: 89%;
}

#layered_block_left #layered_form ul .layered_slider_container .ui-widget-content {
    border: none;
    background: #eeeeee;
    height: 8px;
    border-radius: 2px;
}

#layered_block_left #layered_form ul .layered_slider_container .ui-widget-content .ui-widget-header {
    background: #07a3e0;
    border-radius: 2px;
}

#layered_block_left #layered_form ul .layered_slider_container .ui-widget-content .ui-state-default {
    border: 4px solid white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #07a3e0;
    -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.16);
}

#layered_block_left #layered_form ul .layered_slider_container .layered_slider {
    margin-top: 5px;
}

#layered_block_left #layered_form ul .layered_slider_container > span {
    display: inline-block;
    position: absolute;
    bottom: 0;
    background: white;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 14px;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

@media (max-width: 767px) {
    #layered_block_left #layered_form ul .layered_slider_container {
        padding-bottom: 40px;
    }

    #layered_block_left #layered_form ul .layered_slider_container .ui-widget-content .ui-state-default {
        width: 36px;
        height: 36px;
        border-width: 8px;
        top: -15px;
    }
}

#layered_block_left #layered_form .form-group {
    margin-top: 15px;
    margin-bottom: 0;
}

#layered_block_left #layered_form .form-group:first-child {
    margin-top: 0;
}

#layered_block_left #layered_form .form-group .form-label {
    display: inline-block;
    margin-bottom: 5px;
}

#layered_block_left #layered_form .hide-action {
    text-align: right;
    display: block;
    cursor: pointer;
}

#layered_block_left #layered_form .hide-action:hover {
    font-weight: bold;
}

#layered_block_left #layered_ajax_loader p {
    margin: 20px 0;
    text-align: center;
}

@media (min-width: 768px) {
    #layered_block_left #filter-toggle {
        display: none;
    }
}

@media (max-width: 767px) {
    #layered_block_left .title_block {
        display: none;
    }

    #layered_block_left #filter-toggle {
        display: inline-block;
        position: absolute;
        top: -14px;
        left: 10px;
        cursor: pointer;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        padding: 2px 15px;
        min-width: 135px;
        text-align: center;
        color: #263238;
        border: 2px solid #07a3e0;
        border-radius: 3px;
    }

    #layered_block_left #filter-toggle:hover {
        color: white;
        background: #07a3e0;
    }

    #layered_block_left #filter-toggle:after {
        content: '';
        background: rgba(38, 50, 56, 0.4);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 9999;
        overflow: hidden;
        cursor: default;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
        visibility: hidden;
        opacity: 0;
    }

    #layered_block_left #filter-toggle .filter-close {
        display: block;
        visibility: hidden;
    }

    #layered_block_left #filter-toggle .filter-close:before {
        display: block;
        position: fixed;
        left: 286px;
        top: 50px;
        content: "\e00a";
        font-family: 'fl-free-chaos';
        font-size: 18px;
        line-height: 1;
        font-weight: 400;
        font-style: normal;
        color: white;
        z-index: 99991;
        cursor: pointer;
        opacity: 0;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        transition-property: color, opacity;
        -webkit-transition-delay: 0s, 0.6s;
        transition-delay: 0s, 0.6s;
    }

    #layered_block_left #filter-toggle .filter-close:hover:before {
        color: #07a3e0;
    }

    #layered_block_left #filter-toggle.active:after {
        visibility: visible;
        opacity: 1;
    }

    #layered_block_left #filter-toggle.active .filter-close {
        visibility: visible;
    }

    #layered_block_left #filter-toggle.active .filter-close:before {
        opacity: 1;
    }

    #layered_block_left .block_content {
        display: block;
        width: 270px;
        z-index: 99999;
        position: fixed;
        left: -270px;
        top: 0;
        background: white;
        text-align: left;
        padding: 33px 28px;
        height: 100vh;
        overflow-y: scroll;
        -moz-transition: 0.7s left ease;
        -o-transition: 0.7s left ease;
        -webkit-transition: 0.7s left ease;
        transition: 0.7s left ease;
    }

    #layered_block_left .block_content.active {
        left: 0;
    }
}
