@import "../../../../_theme_variables";
@import "../../../../_header_modules_variables";
@import "../../../../_elements_variables";

#header-login {
  position: relative;
  @media (min-width: $screen-sm-min) {
    float: left;
  }
  .header_user_info {
    &.current {
      a {
        color: $hm-text-color-primary;
        @media (max-width: $screen-xs-max) {
          font-size: 18px;
          line-height: 1.3;
          letter-spacing: 0.02em;
        }
      }
      &.active a, a:hover {
        color: $primary-text-color;
      }
    }
  }
  .logout {
    overflow: hidden;
    padding-top: 10px;
    margin: 0;
  }
  .btn {
    width: 100%;
    padding: 17px 22px;
    background: none;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 2px lighten(desaturate(adjust_hue($color-primary, -20.915), 36.222%), 36.274%);
    @include transition(0.3s);

    &:before,
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      @include transition(0.3s);
      z-index: -1;
    }
    &:before {
      border-width: 165px 0 0 165px;
    }
    &:after {
      border-width: 0 165px 165px 0;
    }

    &:before {
      border-color: transparent transparent transparent $color-primary;
      bottom: 0;
      left: 0;
    }

    &:after {
      border-color: transparent $color-primary transparent transparent;
      top: 0;
      right: 0;
    }

    &:hover {
      color: $primary-text-color;
      &:before,
      &:after {
        border-width: 0 0 0 0;
      }
    }

    &.create {
      color: $primary-text-color;
      &:before,
      &:after {
        border-width: 0 0 0 0;
      }
      &:hover {
        color: $light-text-color;
        &:before {
          border-width: 165px 0 0 165px;
        }
        &:after {
          border-width: 0 165px 165px 0;
        }
      }
    }
  }
  .submit, .logout {
    margin-top: 10px;
    .btn {
      i {
        display: none;
      }
    }
  }
}

#header-login-content {
  @include hm-drop-down-box;
  right: 50%;
  @include translate(50%, 0);
  width: 270px;
  label {
    color: $hm-text-color-primary;
  }
  a:not(.btn):hover, a:focus:not(.btn) {
    color: $primary-text-color;
  }
  li ul li a i {
    display: none;
  }
  @media (max-width: $screen-xs-max) {
    position: static;
    width: auto;
    @include translate(0, 0);
    box-shadow: none;
    padding: 7px 0 10px 7px;
    li {
      padding: 0 3px;
      font-size: 16px;
      line-height: 1.3;
      & + li {
        margin-top: 10px;
      }
    }
    .btn {
      width: auto;
      padding: 10px 20px;
    }
  }
}

#create_header_account_error {
  padding: 8px;
  ol {
    margin-bottom: 0;
  }
}

#headeraccount-popup {
  display: none;
  animation: 0.2s ease-in-out 0s normal none 1 fadeIn;
  -webkit-animation: 0.2s ease-in-out 0s normal none 1 fadeIn;
  @include popup-overlay-style;
  .popup-box {
    @include popup-box-style;
    padding-top: 27px;
    margin: 0 auto;
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform (translate(-50%, -50%));
    text-align: center;
    .popup-body {
      padding: 20px 30px;
      border-bottom: 1px solid $base-border-color;
    }
    .popup-footer {
      padding: 29px 30px 20px;
    }
    h2 {
      padding: 0 30px;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0.08em;
      color: $dark-text-color;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .form-group {
      margin-bottom: 5px;
      .form-control {
        padding: 10px 15px;
        font-size: 14px;
        letter-spacing: 0.02em;
        text-align: center;
      }
    }
    #popup-close {
      @include popup-close-button;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}