<div class="separation"></div><span>{l s='Text do srovnávačů zboží'}:</span> <input type="text" size="40" name="zbozi_text" value="{if isset($product->zbozi_text)}{$product->zbozi_text}{/if}" />   <br />
<span>{l s='Heureka CPC'}:</span> <input type="text" size="10" name="heureka_cpc" value="{if isset($product->heureka_cpc)}{$product->heureka_cpc}{/if}" /> desetinny oddělené čárkou         <br />
<span>{l s='Zboží CPC'}:</span> <input type="text" size="10" name="max_cpc" value="{if isset($product->max_cpc)}{$product->max_cpc}{/if}" /> desetinny oddělené čárkou      <br />
<span>{l s='Zboží CPC Search'}:</span> <input type="text" size="10" name="max_cpc_search" value="{if isset($product->max_cpc_search)}{$product->max_cpc_search}{/if}" /> desetinny oddělené čárkou  <br />