@import "../../_theme_variables";
@import "../../_header_modules_variables";

#currencies-block-top {
  float: right;
  position: relative;
  @media (max-width: $screen-xs-max) {
    float: none;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    margin-top: 12px;
  }
  span.firstWord {
    display: none;
  }
  .cur-label {
    display: inline-block;
  }
  div.current {
    display: inline-block;
    color: $dark-text-color;
    @include transition(0.3s all ease);
    strong {
      font-weight: 400;
      margin-left: 7px;
      @include transition(0.3s all ease);
    }
    &:hover {
      cursor: pointer;
    }
    &:hover, &.active {
      &, &:after {
        color: $primary-text-color;
      }
    }
    &:after {
      @include hm-icon;
    }
    &.active {
      &:after {
        @include hm-icon-hover;
      }
    }
  }
  ul {
    @include hm-drop-down-box;
    li {
      &.selected, &.selected a, a:hover, a:focus {
        color: $primary-text-color;
      }
    }
    @media (max-width: $screen-xs-max) {
      position: static;
      width: auto;
      box-shadow: none;
      padding: 10px 20px 10px 7px;
      li {
        font-size: 16px;
      }
    }
  }
}