<p class="success">
    {l s='Thanks to your order, your sponsor %1$s %2$s will earn a voucher worth %3$d off when this order is confirmed.' sprintf=[$sponsor_firstname,$sponsor_lastname,$discount] mod='referralprogram'}
</p><br/>