#homegooglemap {
  #tmmap {
    width: 100%;
    height: 300px;
    .marker_content {
      width: 300px;
      .clearfix {
        margin-bottom: 5px;
      }
      .marker_logo {
        float: left;
        margin-right: 5px;
        width: 45%;
        height: auto;
      }
      b {
        display: block;
      }
      .description {
        width: 50%;
        float: left;
      }
      > p {
        font-size: 11px;
        margin-bottom: 5px;
        width: 50%;
        float: left;
        padding-right: 10px;
      }
    }
  }
}